[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% title = BLOCK %]Потвърждаване на изтриването на тип флаг '[% flag_type.name FILTER html %]'[% END %]

[% PROCESS global/header.html.tmpl
  title = title
  style_urls = ['skins/standard/admin.css']
  doc_section = "administering/flags.html#deleting-a-flag"
%]

<p>
  [% IF flag_type.flag_count %]
    Съществуват [% flag_type.flag_count %] флага от тип [% flag_type.name FILTER html %].
    Ако изтриете този тип, флаговете също ще бъдат изтрити.
  [% END %]

  Имайте впредвид, че вместо да изтривате типа можете да го
   <a href="editflagtypes.cgi?action=deactivate&amp;id=[% flag_type.id %]&amp;token=
           [%- token FILTER html %]">деактивирате</a>,
   като в този случай типа [% IF flag_type.flag_count %] и флагове му [% END %] ще останат
   в базата данни, но няма да се появяват в потребителския интерфейс на Bugzilla.
</p>

<p class="confirmation">
  Наистина ли желаете да изтриете този тип?
</p>

<p>
  <a href="editflagtypes.cgi?action=delete&amp;id=[% flag_type.id %]&amp;token=
           [%- token FILTER html %]">Да, изтриване</a>
  <a href="editflagtypes.cgi">Не, запазване</a>
</p>

[% PROCESS global/footer.html.tmpl %]
