[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% title = BLOCK %]
  Потвърждаване на промяна на групов контрол за продукта '[%- product.name FILTER html %]'
[% END %]

[% PROCESS global/header.html.tmpl title = title %]
[% FOREACH group = mandatory_groups %]
<P>
групата '[% group.name FILTER html %]' влияе на [% group.count %] 
[%+ terms.bugs %], за
които тя сега е задължителна и ще бъде добавена.
[% END %]

[% FOREACH group = na_groups %]
<P>
групата '[% group.name FILTER html %]' влияе на [% group.count %]&nbsp;
[% terms.bugs %], за които тя не е приложима вече и ще бъде
премахната.[% END %]
<form action="editproducts.cgi" method="post" >

  [% PROCESS "global/hidden-fields.html.tmpl" exclude="^Bugzilla_(login|password)$" %]

  <br>
     Натиснете "Продължаване", за да продължите с промените включвайки
     посочените горе. Ако не желаете тези промени използвайте "Назад", за да
     се върнете на предходната страница.
  <p>
    <input type="hidden" name="confirmed" value="confirmed">
    <input type="submit" id="update" value="Продължаване">
  </p>

</form>


[% PROCESS global/footer.html.tmpl %]
