[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Joel Peshkin <bugreport@peshkin.net>
  #%]

[% PROCESS global/variables.none.tmpl %]

[% title = BLOCK %]
    Редакция на групови контроли за [% product.name FILTER html %]
[% END %]
[% PROCESS global/header.html.tmpl 
   title = title 
%]

<form method="post" action="editproducts.cgi">
  <input type="hidden" name="action" value="updategroupcontrols">
  <input type="hidden" name="product" value="[% product.name FILTER html %]">
  <input type="hidden" name="token" value="[% token FILTER html %]">

  <table id="form" cellspacing="0" cellpadding="4" border="1">
    <tr bgcolor="#6666ff">
      <th>Група</th>
      <th>Въвеждане</th>
      <th>Контрол на членовете</th>
      <th>Друг контрол</th>
      <th>Редактиране</th>
      <th>editcomponents</th>
      <th>canconfirm</th>
      <th>editbugs</th>
      <th>[% terms.Bugs %]</th>
    </tr>
    [% FOREACH group = product.group_controls(1).values.sort("name") %]
      [% IF !group.group.isactive AND group.bug_count %]
        <tr bgcolor="#bbbbbb">
          <td>
            [% group.group.name FILTER html %]
          </td>
          <td align="center" colspan=7>
            Неразрешено
          </td>
          <td>
            [% group.bug_count FILTER html %]
          </td>
        <tr>
      [% ELSIF group.group.is_active %]
        <tr>
          <td>
            [% group.group.name FILTER html %]
          </td>
          <td>
            <input type=checkbox value=1 name=entry_[% group.id %]
            [% " checked=\"checked\"" IF group.entry %]>
          </td>
          <td>
            <select name="membercontrol_[% group.id %]">
              <option value=[% constants.CONTROLMAPNA %]
                [% " selected=\"selected\""
                  IF group.membercontrol == constants.CONTROLMAPNA %]
                >Неприложима
              </option>
              <option value=[% constants.CONTROLMAPSHOWN %]
                [% " selected=\"selected\""
                  IF group.membercontrol == constants.CONTROLMAPSHOWN %]
                >Показвана
              </option>
              <option value=[% constants.CONTROLMAPDEFAULT %]
                [% " selected=\"selected\""
                  IF group.membercontrol == constants.CONTROLMAPDEFAULT %]
                >Подразбрана
              </option>
              <option value=[% constants.CONTROLMAPMANDATORY %]
                [% " selected=\"selected\""
                  IF group.membercontrol == constants.CONTROLMAPMANDATORY %]
                >Задължителна
              </option>
            </select>
          </td>
          <td>
            <select name="othercontrol_[% group.id %]">
              <option value=[% constants.CONTROLMAPNA %]
                [% " selected=\"selected\""
                  IF group.othercontrol == constants.CONTROLMAPNA %]
                >Неприложима
              </option>
              <option value=[% constants.CONTROLMAPSHOWN %]
                [% " selected=\"selected\""
                  IF group.othercontrol == constants.CONTROLMAPSHOWN %]
                >Показвана
              </option>
              <option value=[% constants.CONTROLMAPDEFAULT %]
                [% " selected=\"selected\""
                  IF group.othercontrol == constants.CONTROLMAPDEFAULT %]
                >Подразбрана
              </option>
              <option value=[% constants.CONTROLMAPMANDATORY %]
                [% " selected=\"selected\""
                  IF group.othercontrol == constants.CONTROLMAPMANDATORY %]
                >Задължителна
              </option>
            </select>
          </td>
          <td>
            <input type=checkbox value=1 name=canedit_[% group.id %]
            [% " checked=\"checked\"" IF group.canedit %]>
          </td>
          <td>
            <input type=checkbox value=1 name=editcomponents_[% group.id %]
            [% " checked=\"checked\"" IF group.editcomponents %]>
          </td>
          <td>
            <input type=checkbox value=1 name=canconfirm_[% group.id %]
            [% " checked=\"checked\"" IF group.canconfirm %]>
          </td>
          <td>
            <input type=checkbox value=1 name=editbugs_[% group.id %]
            [% " checked=\"checked\"" IF group.editbugs %]>
          </td>
          <td>
            [% group.bug_count || 0 FILTER html %]
          </td>
        </tr>
      [% END %]
    [% END %]

  </table>
  <br>
  <input type=submit name="submit" value="Предаване">
  <br>
</form>


<p>
Тези настройки управляват взаимоотношенията на групите с този
продукт.
</p>
<p>
Ако някоя група има избрано <b>Въвеждане</b>, тогава този продукт ще
ограничи въвеждането на [% terms.bug %] само до тези потребители, които са
членове на всички групи със избрано въвеждане.
</p>
<p>
Ако някоя група има избрано <b>Редактиране</b>, тогава този продукт
ще бъде само за четене за всички потребители, които на са членове на всички
групи с избрано Редактиране. САМО потребители, които са членове на всички
групи Редактиране ще имат възможността да редактират. Това е допълнително
ограничение, което още повече ограничава какво може да бъде редактирано от потребителя.
</p>
<p>
Следващите настройки позволяват избирането на права на <b>база продукт</b>.
Това е удобен начин за задаване на права на някои потребители за някои продукти
само, без да им се дават общи права които биха засегнали всички
продукти:
</p>
<p>
Всяка група имаща избрано <b>editcomponents</b> позволява на потребителите
в нея да редактират всички страни на продукта включително съставни части,
важни събития и версии.
</p>
<p>
Всяка група имаща избрано <b>canconfirm</b> позволява на потребителите
в нея да потвърждават [% terms.bugs %] в продукта.
</p>
<p>
Всяка група имаща избрано <b>editbugs</b> позволява на потребителите в
в нея да редактират всички полета на [% terms.bugs %] в продукта.
</p>
<p>
Полетата <b>Контрол на членовете</b> и <b>Друг контрл</b>
указват кои [% terms.bugs %] ще бъдат поместени в
тази група съгласно следващите определения.</p>
</p>

<table border=1>
  <tr>
    <th>
      Контрол на членовете
    </th>
    <th>
      Друг контрол
    </th>
    <th>
      Тълкуване
    </th>
  </tr>
  <tr>
    <td>
      Неприложима
    </td>
    <td>
      Неприложима
    </td>
    <td>
      [% terms.Bugs %] в този продукт никога не се свързват с тази група.
    </td>
  </tr>
  <tr>
    <td>
      Показвана
    </td>
    <td>
      Неприложима
    </td>
    <td>
      [% terms.Bugs %] в този продукт имат разрешение да бъдат ограничени до
      тази група. Потребителите, които са член на групата ще имат
      възможност да поставят [% terms.bugs %] бъгове в нея.
    </td>
  </tr>
  <tr>
    <td>
      Показвана
    </td>
    <td>
      Покавана
    </td>
    <td>
      [% terms.Bugs %] в този продукт могат да бъдат поставяни в групата от
      всеки с разрешение да редкатира [% terms.abug %] дори да не е член на
      групата.
    </td>
  </tr>
  <tr>
    <td>
      Показвана
    </td>
    <td>
      Подразбираща се
    </td>
    <td>
      [% terms.Bugs %] в този продукт могат да бъдат поставяни в групата от всеки
      с разрешение да редкатира [% terms.abug %] дори и да не е член на
      групата. Тези които не са членове поставят [% terms.bugs %] в тази група по подразбиране.
    </td>
  </tr>
  <tr>
    <td>
      Показвана
    </td>
    <td>
      Задължителна
    </td>
    <td>
      [% terms.Bugs %] в този продукт имат разрешение да бъдат ограничени до
      групата. Потребителите които са членове на групата ще имат възможността да поставят [% terms.bugs %]
      в нея. Тези които не са членове ще бъдат принудени да ограничат [% terms.bugs %] до
      нея, когато първоначално въвеждат [% terms.bug %] в продукта.
    </td>
  </tr>
  <tr>
    <td>
      Подразбираща се
    </td>
    <td>
      Неприложима
    </td>
    <td>
      [% terms.Bugs %] в този продукт имат разрешение да бъдат ограничени до
      групата и се поставят в нея по подразбиране. Потребителите, които са
      членове на тази гупа ще могат да поставят [% terms.bugs %] в нея.
    </td>
  </tr>
  <tr>
    <td>
      Подразбираща се
    </td>
    <td>
      Подразбираща се
    </td>
    <td>
      [% terms.Bugs %] в този продукт имат разрешение да бъдат ограничени до
      групата и се поставят в нея по подразбиране. Потребителите, които са и членове
      ще могат да поставят [% terms.bugs %] в нея. Тези, които не са членове ще могат
      да ограничават [% terms.bugs %] до нея при въвеждане и ще го правят по подразбиране.
    </td>
  </tr>
  <tr>
    <td>
      Подразбираща се
    </td>
    <td>
      Задължителна
    </td>
    <td>
      [% terms.Bugs %] в този продукт имат разрешение да бъдат ограничени до
      групата и се поставят в нея по подразбиране.  Потребителите, които са членове на групата
      ще могат да поставят [% terms.bugs %] в нея. Тези, които не са членове ще бъдат принудени
      да поставят [% terms.bugs %] в нея при въвеждане.
    </td>
  </tr>
  <tr>
    <td>
      Задължителна
    </td>
    <td>
      Задължителна
    </td>
    <td>
      [% terms.Bugs %] в този продукт задължително са ограничени до тази
      група. На потребителите не се предоставя никакъв избор.
    </td>
  </tr>
</table>
<p>
Моля, имайте в предвид, че таблицата по-горе очертава единствените възможни комбинации
от стойности за полетата <b>Контрол на членовете</b> и <b>Друг контрол</b>.
Опитът да се подаде комбинация непосочена в таблицата (напр. Задължителна/Неприложима,
Подразбираща се/Показване, и т.н.) ще произведе съобщение за грешка.
</p>
[% PROCESS global/footer.html.tmpl %]

