[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # product: Bugzilla::Product object; the product.
  # changes: Hashref with changes made to the product group controls.
  #%]

[% title = BLOCK %]
    Обновяване на групов контрол за достъп за [% product.name FILTER html %]
[% END %]

[% PROCESS global/header.html.tmpl
  title = title
%]

[% IF changes._group_controls.now_na.size %]
  [% FOREACH g = changes._group_controls.now_na %]
    <p>
    Премахване на [% terms.bugs %] от групата '[% g.name FILTER html %]', която
    вече е неприложима за продукта<br>
    [% IF g.bug_count == 1 %]
      Един [% terms.bug %] премахнат.
    [% ELSE %]
      [% g.bug_count FILTER html %] [%+ terms.bugs %] премахнати.
    [% END %]
    </p>
  [% END %]
[% END %]

[% IF changes._group_controls.now_mandatory.size %]
  [% FOREACH g = changes._group_controls.now_mandatory %]
    <p>
    Добавяне на [% terms.bugs %] към групата '[% g.name FILTER html %]', която е 
    задължителна за продукта<br>
    [% IF g.bug_count == 1 %]
      Един [% terms.bug %] добавен.
    [% ELSE %]
      [% g.bug_count FILTER html %] [%+ terms.bugs %] добавени.
    [% END %]
    </p>
  [% END %]
[% END %]

<p>Обновяванията на групов контрол приключиха</p>

[% PROCESS admin/products/footer.html.tmpl %]

[% PROCESS global/footer.html.tmpl %]
