[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # settings:      a hash of hashes, keyed by setting name.
  #                Each hash contains:
  #                 is_enabled    - boolean
  #                 default_value - string (global default for this setting)
  #                 value         - string (user-defined preference)
  #                 is_default    - boolean (true if user has no preference)
  #%]

[% PROCESS global/header.html.tmpl
  title = "Подразбиращи се предпочитания"
  style_urls = ['skins/standard/admin.css']
%]

[% PROCESS "global/setting-descs.none.tmpl" %]

<p>
  Тази страница ви позволява да редактирате подразбиращите се стойности за предпочитанията. Подразбиращата се стойност показвана
  за всяко предпочитание ще бъде прилагана за всички потребители които не са избрали стойност сами
  и за всеки който не е влязъл в системата.
</p>

<div>
  Полето за отметка 'Разрешено' управлява достъпността на предпочитанието от потребителите:
  <ul>
    <li>Ако е отметнато, потребителите ще могат да избират сами стойност ако желаят.</li>
    <li>Ако не е отметнато, стойността по подразбиране автоматично ще бъде прилагана за всички.</li>
  </ul>
</div>

    <form id="settings" method="post" action="editsettings.cgi">
      <table id="admin_table">
        <tr class="column_header">
          <th>Текст</th>
          <th>Подразбираща се стойност</th>
          <th>Разрешено</th>
        </tr>

        [% FOREACH name = settings.keys %]
          [% checkbox_name = name _ '-enabled' %]
          <tr>
            <td>
              [% setting_descs.$name OR name FILTER html %]
            </td>
            <td>
              <select name="[% name FILTER html %]" id="[% name FILTER html %]">
                [% FOREACH x = settings.${name}.legal_values %]
                    <option value="[% x FILTER html %]"
                      [% " selected=\"selected\"" IF x == settings.${name}.default_value %]>
                      [% setting_descs.${x} OR x FILTER html %]
                    </option>
                [% END %]
              </select>
            </td>
            <td class="center">
              <input type="checkbox"
                name="[% checkbox_name FILTER html %]"
                id="[% checkbox_name FILTER html %]"
                [% " checked=\"checked\"" IF settings.${name}.is_enabled %]>
            </td>
          </tr>
        [% END %]
      </table>

    <input type="hidden" name="action" value="update">
    <input type="hidden" name="token" value="[% token FILTER html %]">
    <input type="submit" id="update" value="Предаване на промените">
  </form>

[% PROCESS global/footer.html.tmpl %]
