[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # product: Bugzilla::Product object; The product
  #
  # (classification fields available if Param('useclassification') is enabled:)
  #
  # classification: Bugzilla::Classification object; The classification 
  #                                                  the product is in
  #
  #%]

[% title = BLOCK %]Изтриване на продукт '[% product.name FILTER html %]'
[% END %]

[% PROCESS global/header.html.tmpl
  title = title
  style_urls = ['skins/standard/admin.css']
%]

<table border="1" cellpadding="4" cellspacing="0">
  <tr bgcolor="#6666FF">
    <th valign="top" align="left">Поле</th>
    <th valign="top" align="left">Стойност</th>
  </tr>

  [% IF Param('useclassification') %]
    <tr>
      <td>Класификация:</td>
      <td>[% classification.name FILTER html %]</td>
    </tr>
    <tr>
      <td>Описание на класификацията:</td>
      [%# descriptions are intentionally not filtered to allow html content %]
      <td>
        [% IF classification.description %]
          [% classification.description FILTER html_light %]
        [% ELSE %]
          <span style="color: red">липсва</span>
        [% END %]
      </td>
    </tr>
  [% END %]

  <tr>
    <td valign="top">Продукт:</td>
    <td valign="top">
      <a href="editproducts.cgi?product=[% product.name FILTER uri %]">
        [% product.name FILTER html %]
      </a>
    </td>
  </tr>
  <tr>
    <td valign="top">Описание:</td>
    [%# descriptions are intentionally not filtered to allow html content %]
    <td valign="top">
      [% IF product.description %]
        [% product.description FILTER html_light %]
      [% ELSE %]
        <span style="color: red">липсва</span>
      [% END %]
    </td>
  </tr>

  [% IF Param('usetargetmilestone') %]
    <tr>
      <td><abbr lang="en" title="Uniform Resource Locator">URL</abbr> на важно събитите:</td>
      <td>
        [% IF product.milestone_url %]
          <a href="[% product.milestone_url FILTER html %]">
            [%- product.milestone_url FILTER html %]
          </a>
        [% ELSE %]
          няма
        [% END %]
      </td>
    </tr>
  [% END %]

  <tr>
    <td>Затворен за [% terms.bugs %]:</td>
    <td>
      [% IF product.is_active %]
        затворен
      [% ELSE %]
        отворен
      [% END %]
    </td>
  </tr>

  <tr>
    <td>
      [% IF product.components.size > 0 %]
        <a href="editcomponents.cgi?product=[% product.name FILTER uri %]"
           title="Редактиране на съставните части на продукта '[% product.name FILTER html %]'">
          Съставни части:
        </a>
      [% ELSE %]
        Съставни части:
      [% END %]
    </td>
    <td>
      [% IF product.components.size > 0 %]
        <table>
          [% FOREACH c = product.components %]
            <tr>
              <th align="right">[% c.name FILTER html %]:</th>
              [%# descriptions are intentionally not filtered to allow html content %]
              <td>
                [% IF c.description %]
                  [% c.description FILTER html_light %]
                [% ELSE %]
                  <span style="color: red">липсва</span>
                [% END %]
              </td>
            </tr>
          [% END %]
        </table>
      [% ELSE %]
        липсва
      [% END %]
    </td>
  </tr>

  <tr>
    <td>
      [% IF product.versions.size > 0 %]
        <a href="editversions.cgi?product=[%- product.name FILTER uri %]">
          Версии:
        </a>
      [% ELSE %]
        Версии:
      [% END %]
    </td>
    <td>
      [% IF product.versions.size > 0 %]
        [% FOREACH v = product.versions %]
          [% v.name FILTER html %]<br>
        [% END %]
      [% ELSE %]
        none
      [% END %]
    </td>
  </tr>


  [% IF Param('usetargetmilestone') %]
    <tr>
      <td valign="top">
        [% IF product.milestones.size > 0 %]
          <a href="editmilestones.cgi?product=[%- product.name FILTER uri %]">
            Важни събития:
          </a>
        [% ELSE %]
          Важни събития:
        [% END %]
      </td>
      <td>
        [% IF product.milestones.size > 0 %]
          [% FOREACH m = product.milestones %]
            [% m.name FILTER html %]<br>
          [% END %]
        [% ELSE %]
          няма
        [% END %]
      </td>
    </tr>
  [% END %]

  <tr>
    <td>[% terms.Bugs %]:</td>
    <td>
      [% IF product.bug_count %]
        <a href="buglist.cgi?product=[% product.name FILTER uri %]"
           title="Списък от [% terms.bugs %] за продукт '[% product.name FILTER html %]'">
          [% product.bug_count FILTER html %]
        </a>
      [% ELSE %]
        няма
      [% END %]
    </td>
  </tr>
</table>

<h2>Потвърждаване</h2>

[% IF product.bug_count %]

  [% IF !Param("allowbugdeletion") %]

    <p class="confirmation">Съжалявам, има

    [% IF product.bug_count > 1 %]
      [% product.bug_count FILTER html %] [%+ terms.abug %]
    [% ELSE %]
      1 [% terms.bug %]
    [% END %]

    оставащ(и) за този продукт. Трябва да преназначите

    [% IF product.bug_count > 1 %]
       тези [% terms.bugs %]
    [% ELSE %]
       този [% terms.bug %]
    [% END %]

    на друг продукт преди да можете да изтриете този.</p>

  [% ELSE %]

    <table border="0" cellpadding="20" width="70%" bgcolor="red">
      <tr>
        <td>
          Има
          [% IF product.bug_count > 1 %]
            въведени [% product.bug_count FILTER html %] [%+ terms.abug %]
          [% ELSE %]
            въведен 1 [% terms.bug %]
          [% END %]
          за този продукт! Изтривайки го
          <b>ВСИЧКИ</b> съхранени [% terms.bugs %] и
          тяхната история също ще бъдат изтрити.
        </td>
      </tr>
    </table>

  [% END %]

[% END %]

[% Hook.process("confirmation") %]

[% IF product.bug_count == 0 || Param('allowbugdeletion') %]

  <p>Наистина ли желаете да изтриете този продукт?</p>

  <form method="post" action="editproducts.cgi">
    <input type="checkbox" id="delete_series" name="delete_series" value=1>
    <label for="delete_series">
      Изтриване на всички свързани редици (можете също така да ги изтриете по-късно, посещавайки
      <a href="chart.cgi?category=[% product.name FILTER html %]">страницата Нови Графики</a>.)
    </label><p>
    <input type="submit" id="delete" value="Да, изтриване">
    <input type="hidden" name="action" value="delete">
    <input type="hidden" name="product" value="[% product.name FILTER html %]">
    <input type="hidden" name="token" value="[% token FILTER html %]">
  </form>

[% END %]

[% PROCESS admin/products/footer.html.tmpl %]

[% PROCESS global/footer.html.tmpl %]
