[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): Tiago R. Mello <timello@async.com.br>
  #
  #%]

[% PROCESS global/header.html.tmpl
  title = 'Изтриване на продукт'
%]

[% IF nb_bugs %]
  Всички обръщения към изтритите [% terms.bugs %] бяха премахнати.
[% END %]

<p>
  Съставните части бяха изтрити.<br>
  Версиите бяха изтрити.<br>
  Важните събития бяха изтрити.
</p>

<p>
  Груповите контроли бяха изтрити.<br>
  Включенията и изключенията на флагове бяха изтрити.
</p>

<p>
  Продукта [% product FILTER html %] бе изтрит.
</p>

[% PROCESS admin/products/footer.html.tmpl
           no_edit_product_link = 1
%]

[% PROCESS global/footer.html.tmpl %]
