[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # original_bug_id: number; the bug number for the bug
  #   against which a bug is being duped
  # duplicate_bug_id: number; the bug number for the bug
  #   being duped
  # cclist_accessible: boolean; whether or not users on the cc: list
  #   of the original bug can access that bug.
  #%]

[% PROCESS global/header.html.tmpl title="Предупреждение за двойник" %]
[% orig_bug = "$terms.bug $original_bug_id"
     FILTER bug_link(original_bug_id) %]

<p>
  Когато маркира [% terms.bug %] като двойник, докладващия двойника
  нормално бива добавен към <abbr title="Точно Копие">ТК</abbr> списъка на първоначалния. Правата
  върху [% orig_bug FILTER none %] (първоначалния) в момента са зададени,
  така че докладчика нормално няма да го види.
</p>

<p>
  <b>Добавянето на докладчика към <abbr title="Точно Копие">ТК</abbr> списъка на [% orig_bug FILTER none %]
  [% IF cclist_accessible %]
    веднага ще
  [% ELSE %]
    може в бъдеще да
  [% END %]
  му позволи да виджда този [% terms.bug %].</b>
  Желаете ли да направите това?
</p>

<form method="post" action="process_bug.cgi">

[% PROCESS "global/hidden-fields.html.tmpl" exclude="^Bugzilla_(login|password)$" %]

<p>
  <input type="radio" name="confirm_add_duplicate" value="1">
    Да, добавяне на докладчика към <abbr title="Точно Копие">ТК</abbr> списъка на [% orig_bug FILTER none %]
</p>
<p>
  <input type="radio" name="confirm_add_duplicate" value="0" checked="checked">
    Не, не добавяй докладчика към <abbr title="Точно Копие">ТК</abbr> списъка на [% orig_bug FILTER none %]
</p>
<p>
  [% "Отхвърляне не промените, и връщане към terms.bug $duplicate_bug_id"
     FILTER bug_link(duplicate_bug_id) FILTER none %]
</p>
<p>
  <input type="submit" id="process" value="Предаване">
</p>

</form>

[% PROCESS global/footer.html.tmpl %]
