[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Myk Melez <myk@mozilla.org>
  #%]

[%# INTERFACE:
  # operations: array; bug activity since the user last displayed the bug form,
  #   used by bug/activity/table.html.tmpl to display recent changes that will
  #   be overwritten if the user submits these changes.  See that template
  #   for further documentation.
  # start_at: number; the comment at which show/comments.tmpl should begin
  #   displaying comments, either the index of the last comment (if the user
  #   entered a comment along with their change) or a number less than that
  #   (if they didn't), in which case no comments are displayed.
  # comments: array; all the comments on the bug.
  # bug_id: number; the ID of the bug being changed.
  #%]

[%# The global Bugzilla->cgi object is used to obtain form variable values. %]
[% USE Bugzilla %]
[% cgi = Bugzilla.cgi %]

[% PROCESS global/variables.none.tmpl %]

[% UNLESS header_done %]
  [% PROCESS bug/process/header.html.tmpl %]
[% END %]

<h1>Установено сблъскване във въздуха!</h1>

<p>
  Някой друг е направил промени по този [% terms.bug %] по същото време по
  което вие сте опитал. Направените промени са:
</p>

<p>
  [% PROCESS "bug/activity/table.html.tmpl" incomplete_data=0 %]
</p>

[% IF comments.size > start_at %]
<p>
  Добавен(и) коментар(и):
  <blockquote>
    [% PROCESS "bug/comments.html.tmpl" bug = { 'bug_id' => bug_id } %]
  </blockquote>
</p>
[% END %]

<p>
  Вашия коментар беше:<br>
  <blockquote><pre>[% cgi.param("comment") FILTER wrap_comment FILTER html %]</pre></blockquote>
</p>

<p>
Имате следните възможности:
</p>

<ul>
  <li>
    <form method="post" action="process_bug.cgi">
      [% PROCESS "global/hidden-fields.html.tmpl" exclude="^Bugzilla_(login|password)$" %]
      <input type="submit" value="Изпращане на промените въпреки това">
        Това ще предизвика презаписването на всички промени по-горе 
        [% "с изключение на добавените коментари" IF comments.size > start_at %].
    </form>
  </li>
  <li>
    <a href="show_bug.cgi?id=[% bug_id %]">Отхвърляне на промените ми,
      и връщане към [% terms.bug %] [%+ bug_id %]</a>
  </li>
</ul>

[% PROCESS global/footer.html.tmpl %]
