[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # product: object; the new product.
  # versions: array; versions for the new product.
  # components: array; components for the new product.
  # milestones: array; milestones for the new product.
  # defaults: hash; keys are names of fields, values are defaults for
  #   those fields
  #
  # verify_bug_groups: If groups need to be confirmed in addition to fields.
  #%]

[% PROCESS global/header.html.tmpl
  title = 'Проверка на подробности на нов продукт...'
  style_urls = ['skins/standard/buglist.css']
%]

<form action="process_bug.cgi" method="post">

[% SET exclude_items = ['version', 'component', 'target_milestone'] %]
[% IF verify_bug_groups %]
  [% exclude_items.push('groups', 'defined_groups') %]
[% END %]
[% Hook.process('exclude') %]

[% PROCESS "global/hidden-fields.html.tmpl"
     exclude = '^' _ exclude_items.join('|') _ '$' %]

<input type="hidden" name="confirm_product_change" value="1">
    
[%# Verify the version, component, and target milestone fields. %]
<h3>Проверка на версия, съставна част
  [%- ", целево събитие" 
      IF Param("usetargetmilestone")
         && bug.check_can_change_field('target_milestone', 0, 1) %]</h3>

<p>
[% IF Param("usetargetmilestone") 
   && bug.check_can_change_field('target_milestone', 0, 1) 
%]
  Премествате [% terms.bug %]а(овете) към продукта 
  <b>[% product.name FILTER html %]</b>,
  и полетата за версия, съставна част и/или целево събитие вече не са
  правилни. Моля, задайте правилни версия, съставна част и целево събитие сега:
[% ELSE %]
  Премествате [% terms.bug %]а(овете) към продукта 
  <b>[% product.name FILTER html %]</b>,
  и полетата за версия и съставна част вече не са правилни.
  Моля, задайте правилните версия и съставна част сега:
[% END %]
</p>

<table>
  <tr>
    <td>
      <b>Версия:</b><br>
      [% IF versions.size == 1 %]
        [% SET default_version = versions.0 %]
      [% ELSE %]
        [% SET default_version = defaults.version %]
      [% END %]
      [% PROCESS "global/select-menu.html.tmpl" 
                 name="version"
                 options=versions
                 default=default_version
                 size=10 %]
    </td>
    <td>
      <b>Съставна част:</b><br>
      [% IF components.size == 1 %]
        [% SET default_component = components.0 %]
      [% ELSE %]
        [% SET default_component = defaults.component %]
      [% END %]
      [% PROCESS "global/select-menu.html.tmpl"
                 name="component"
                 options=components
                 default=default_component
                 size=10 %]
    </td>
    [% IF Param("usetargetmilestone") 
          && bug.check_can_change_field('target_milestone', 0, 1) 
    %]
      <td>
        <b>Целево събитие:</b><br>
      [% PROCESS "global/select-menu.html.tmpl"
                 name="target_milestone"
                 options=milestones
                 default=defaults.milestone
                 size=10 %]
      </td>
    [% END %]
    [% Hook.process('field') %]
  </tr>
</table>

[% IF verify_bug_groups %]
  [% mandatory_groups = [] %]
  [% optional_groups = [] %]

  [% FOREACH gid = product.group_controls.keys %]
    [% group = product.group_controls.$gid %]
    [% NEXT UNLESS group.group.is_active %]

    [% IF group.membercontrol == constants.CONTROLMAPMANDATORY
          || (group.othercontrol ==  constants.CONTROLMAPMANDATORY && !user.in_group(group.group.name)) %]
      [% mandatory_groups.push(group) %]
    [% ELSIF (group.membercontrol != constants.CONTROLMAPNA && user.in_group(group.group.name))
              || group.othercontrol != constants.CONTROLMAPNA %]
      [% optional_groups.push(group) %]
    [% END %]
  [% END %]
  
  [% IF old_groups.size || optional_groups.size || mandatory_groups.size %]
    <h3>Проверка на [% terms.Bug %] група</h3>
  [% END %]
  
  [% IF old_groups.size %]
    <p>Следните групи не са законни за продукта '[% product.name FILTER html %]'
    или не ви е разрешено да ограничавте [% terms.bugs %] до тях</p>
    [%+ terms.Bugs %] вече няма да са ограничени до тези групи и може да станат
    публични ако не се приложи друга група:<br>
    [% FOREACH group = old_groups %]
      <input type="checkbox" id="group_[% group.id FILTER html %]"
             name="groups" disabled="disabled" value="[% group.name FILTER html %]">
      <label for="group_[% group.id FILTER html %]">
        [% group.name FILTER html %]: [% group.description FILTER html %]
      </label>
      <br>
    [% END %]
    </p>
  [% END %]


  [% IF optional_groups.size %]
    <p>Тези групи са незадължителни. Може да решите да ограничите [% terms.bugs %] до
    една или повече от следните групи:<br>
    [% IF multiple_bugs %]
      <script type="text/javascript">
        function turn_off(myself, id) {
            var other_checkbox = document.getElementById(id);
            if (myself.checked && other_checkbox) {
                other_checkbox.checked = false;
            }
        }
      </script>

      <table id="groups_edit_multiple">
        <tr>
          <th class="narrow_column">Премахване на [% terms.bugs %] от тази група</th>
          <th class="narrow_column">Добавяне на [% terms.bugs %] към тази група</th>
          <th>Група:</th>
        </tr>

        [% FOREACH group = optional_groups %]
        <tr>
          <td class="center">
            <input type="checkbox" name="defined_groups"
                   id="defined_group_[% group.group.id FILTER html %]"
                   value="[% group.group.name FILTER html %]"
                   [% IF cgi.param("defined_groups").contains(group.group.name) %] checked="checked"[% END %]
                   onchange="turn_off(this, 'group_[% group.group.id FILTER html %]')">
          </td>
          <td class="center">
            <input type="checkbox" name="groups"
                   id="group_[% group.group.id FILTER html %]"
                   value="[% group.group.name FILTER html %]"
                   [% IF cgi.param("groups").contains(group.group.name) %] checked="checked"[% END %]
                   onchange="turn_off(this, 'defined_group_[% group.group.id FILTER html %]')">
          </td>
          <td>
            [% group.group.description FILTER html %]
          </td>
        </tr>
        [% END %]
      </table>
    [% ELSE %]
      [% FOREACH group = optional_groups %]
        <input type="hidden" name="defined_groups"
               value="[% group.group.name FILTER html %]">
        <input type="checkbox" id="group_[% group.group.id FILTER html %]"
               name="groups"
               [% ' checked="checked"' IF ((group.membercontrol == constants.CONTROLMAPDEFAULT && user.in_group(group.group.name))
                   || (group.othercontrol == constants.CONTROLMAPDEFAULT && !user.in_group(group.group.name))
                   || cgi.param("groups").contains(group.group.name)) %]
               value="[% group.group.name FILTER html %]">
        <label for="group_[% group.group.id FILTER html %]">
          [% group.group.name FILTER html %]: [% group.group.description FILTER html %]
        </label>
        <br>
      [% END %]
    [% END %]
    </p>
  [% END %]

  [% IF mandatory_groups.size %]
    <p>Тези групи са задължителни и [% terms.bugs %] ще бъдат автоматично
    ограничени до тях:<br>
    [% FOREACH group = mandatory_groups %]
      <input type="checkbox" id="group_[% group.group.id FILTER html %]"
              checked="checked" disabled="disabled"
             name="groups" value="[% group.group.name FILTER html %]">
      <label for="group_[% group.group.id FILTER html %]">
        [% group.group.name FILTER html %]: [% group.group.description FILTER html %]
      </label>
      <br>
    [% END %]
    </p>
  [% END %]
[% END %]

<input type="submit" id="change_product" value="Предаване">

</form>
<hr>

[%# If 'id' is defined, then we are editing a single bug.
  # Else we are editing several bugs at once. %]

[% IF cgi.param('id') AND cgi.param('id').match('^\d+$') %]
  [% id = cgi.param('id') %]
  Отказ и връщане към [% "$terms.bug $id" FILTER bug_link(id) FILTER none %]
[% ELSE %]
  Отказ и връщане към <a href="buglist.cgi?regetlastlist=1">последните резултати от търсене</a>
[% END %]

[% PROCESS global/footer.html.tmpl %]
