[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Terry Weissman <terry@mozilla.org>
  #                 Gervase Markham <gerv@gerv.net>
  #%]

[% PROCESS global/variables.none.tmpl %]
[% INCLUDE global/header.html.tmpl title = "Voting" %]

<p>[% terms.Bugzilla %] има възможност за "гласуване". Всеки продукт позволява на потребителите да 
имат определен брой гласове. (Някои продукти може да не позволяват никакви, което значи 
че не можете да гласувате по нещата в тези продукти въобще.) С вашия глас, вие 
показвате кои [% terms.bugs %] смятате за най-важни и 
вижте желали да видите оправени. Имайте в предвид, че гласуването въобще не резултатно
като предоставянето на поправка от вас самите.</p>

<p>В зависимост от това как администратора е настроил съответния продукт,
може да имате възможност да гласувате повече от веднъж за един и същи [% terms.bug %].
Запомнете че имате ограничен брой гласове. Когато е разрешено тегловно 
гласуване и имате налични ограничен брой гласове, ще 
трябва да решите дали искате да разпределите гласовете си измежду голям 
брой [% terms.bugs %] показвайки минималния си интерес или да се съсредоточите 
върху няколко [% terms.abug %] показвайки силната си поддръжка за тях.
</p>

<p>Разглеждане на гласове:</p>

<ul>
  <li>Отидете на страницата за търсене. Направете нормална заявка, но въведете 1 в полето "Най-малко
  ___ гласа". Това ще ви покаже [% terms.bugs %] съвпадащи с заявката ви, които
  имат поне един глас.</li>
</ul>

<p>За да гласувате за [% terms.bug %]:</p>

<ul>
  <li>Извадете [% terms.abug %] за който става въпрос.</li>

  <li>Щракнете върху връзката "(гласуване)" която се намира отдясно на полетата
  "Значenie". (Ако няма такaва връзка, тогава гласуването може да не е разрешено в
  продукта на този [% terms.bug %].)</li>

  <li>Посочете колко гласа искате да дадете на този [% terms.bug %]. Тази страница 
  също показва колко гласа сте дали на други [% terms.bugs %], така че 
  можете да уравновесите гласовете си както е необходимо.</li>
</ul>

<p>Ще получите автоматично е-поща уведомяваща ви за всякакви промени случващи се
на [% terms.bugs %] за които гласувате.</p>

<p>По всяко време можете да преразгледате гласовете си с щракване върху връзката "<a href=
"page.cgi?id=voting/user.html">Мои гласове</a>" в дъното на страницата.</p>

[% INCLUDE global/footer.html.tmpl %]
