[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

<li>Проблем в bitbucket.org.</li>
<li>Искане за преглед в Review Board.</li>
<li>Проблем докладван в Rietveld инсталация.</li>
<li>Билет в RT инсталация.</li>
<li>Тема в getsatisfaction.com.</li>
<li>Б[% %]ъг в b[% %]ugs.php.net.</li>
<li>Проблем в Redmine инсталация.</li>
<li>Б[% %]ъг в Savane инсталация.</li>
