[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # release: a hash containing data about new releases, if any.
  #%]

[% PROCESS global/header.html.tmpl
   title = "$terms.Bugzilla Главна страница"
   header = "Главна страница" 
   header_addl_info = "версия $constants.BUGZILLA_VERSION"
%]

[% IF release %]
  <div id="new_release">
    [% IF release.data %]
      [% IF release.deprecated %]
        <p>Bugzilla [%+ release.deprecated FILTER html %] не се поддръжа
        вече. Силно ви насърчаваме да надградите, за да запазите
        системата си сигурна.</p>
      [% END %]

      <p>Нова Bugzilla версия ([% release.data.latest_ver FILTER html %])
      е достъпна от
      <a href="[% release.data.url FILTER html %]">[% release.data.url FILTER html %]</a>.<br>
      Дата на пускане: [% release.data.date FILTER html %]</p>

      <p class="notice">Това съобщение се показва само на влезлите потребители с административни права.
      Можете да настроите уведомяването от
      страницата <a href="editparams.cgi?section=general#upgrade_notification_desc">Параметри</a>.</p>
    [% ELSIF release.error == "cannot_download" %]
      <p>Отдалечения файл <a href="[% constants.REMOTE_FILE FILTER html %]">
      [%~ constants.REMOTE_FILE FILTER html %]</a> не може да изтеглен
      (причина: [% release.reason FILTER html %]).<br>
      Или отдалечения сървър е временно недостъпен или web сървъра ви няма достъп до
      до мрежата. Ако сте зад прокси, задайте правилно параметъра
      <a href="editparams.cgi?section=advanced#proxy_url_desc">proxy_url</a>.</p>
    [% ELSIF release.error == "no_write" %]
      <p>Локалния <abbr lang="en" title="eXstensible Markup Language">XML</abbr> файл '[% constants.LOCAL_FILE FILTER html %]' не може да бъде създаден
      (причина: [% release.reason FILTER html %]).<br>
      Моля уверете се, че web сървъра може да пише в тази папка.
    [% ELSIF release.error == "no_update" %]
      <p>Локалния <abbr lang="en" title="eXstensible Markup Language">XML</abbr> файл '[% constants.LOCAL_FILE FILTER html %]' не може да бъде обновен.
      Моля, уверете се, че web сървъра може да редактира този файл.</p>
    [% ELSIF release.error == "no_access" %]
      <p>Локалния <abbr lang="en" title="eXstensible Markup Language">XML</abbr> файл '[% constants.LOCAL_FILE FILTER html %]' не може да бъде прочетен.
      Моля, уверете се, че на този файл са зададени точните права.</p>
    [% ELSIF release.error == "corrupted" %]
      <p>Локалния <abbr lang="en" title="eXstensible Markup Language">XML</abbr> файл '[% constants.LOCAL_FILE FILTER html %]' има неправилен XML формат.
      Моля, изтрийте го и опитайте да отворите страницата отново.</p>
    [% ELSIF release.error == "unknown_parameter" %]
      <p>'[% Param("upgrade_notification") FILTER html %]' не е действителен параметър за
      уведомяване. Моля, проверете го в страницата
      <a href="editparams.cgi?section=general#upgrade_notification_desc">Параметри</a>.</p>
    [% END %]
  </div>
[% END %]

<div id="page-index">
  <h1 id="welcome"> Добре дошли в [% terms.Bugzilla %]</h1>
  <div class="intro">[% Hook.process('intro') %]</div>

  <div class="bz_common_actions">
    <ul>
      <li>
        <a id="enter_bug" href="enter_bug.cgi"><span>Въвеждане на [% terms.bug %]</span></a>
      </li>
      <li>
        <a id="query" href="query.cgi"><span>Търсене</span></a>
      </li>
      <li>
        <a id="account"
          [% IF user.id %]
            href="userprefs.cgi"><span>Потребителски предпочитания</span></a>
          [% ELSIF Param('createemailregexp') && user.authorizer.user_can_create_account %]
            href="createaccount.cgi"><span>Отваряне на нова сметка</span></a>
          [% ELSE %]
            href="?GoAheadAndLogIn=1"><span>Вход</span></a>
          [% END %]
      </li>
      <li>
        <a id="help" href="[% docs_urlbase FILTER html %]using/index.html"><span>Документация</span></a>
      </li>
    </ul>
  </div>

  <div>
    <form id="quicksearchForm" name="quicksearchForm" action="buglist.cgi">
      <input id="quicksearch_main" name="quicksearch" title="Бързо търсене" 
             placeholder="Enter [% terms.abug %] # or some search terms"
             autofocus required>
      <input id="find" type="submit" value="Бързо търсене">
      <a href="page.cgi?id=quicksearch.html" title="Помощ за бързо търсене">[?]</a>
    </form>

    <ul class="additional_links">
      [% Hook.process('additional_links') %]
    </ul>
  </div>

  <div id="common_queries">
    <h4>Обичайни запитвания:</h4>
    <ul>
      [% IF user.id %]
        <li>
          [% title = BLOCK %]Отворени [% terms.bugs %] назначени на мен[% END %]
          <a href="buglist.cgi?f1=assigned_to&amp;o1=equals&amp;v1=%25user%25&amp;resolution=---">
            [% title FILTER html %]</a> ([% assignee_count FILTER html %])
          <a href="buglist.cgi?f1=assigned_to&amp;o1=equals&amp;v1=%25user%25&amp;resolution=---&amp;ctype=atom&amp;title=[% title FILTER uri %]"
             class="rss">&nbsp;</a>
        </li>
        <li>
          [% title = BLOCK %]Отворени [% terms.bugs %] докладвани от мен[% END %]
          <a href="buglist.cgi?f1=reporter&amp;o1=equals&amp;v1=%25user%25&amp;resolution=---">
            [% title FILTER html %]</a> ([% reporter_count FILTER html %])
          <a href="buglist.cgi?f1=reporter&amp;o1=equals&amp;v1=%25user%25&amp;resolution=---&amp;ctype=atom&amp;title=[% title FILTER uri %]"
             class="rss">&nbsp;</a>
        </li>
        [% IF Bugzilla.has_flags %]
          <li>
            [% title = BLOCK %]Заявки отправени към мен[% END %]
            <a href="request.cgi?action=queue&amp;requestee=[% user.login FILTER uri %]&amp;group=type&amp;do_union=0">
              [% title FILTER html %]</a> ([% requestee_count FILTER html %])
            <a href="buglist.cgi?f1=requestees.login_name&amp;o1=equals&amp;v1=%25user%25&amp;ctype=atom&amp;title=[% title FILTER uri %]"
               class="rss">&nbsp;</a>
          </li>
        [% END %]
      [% END %]

      <li>
        [% terms.Bugs %] докладвани в
        <a href="buglist.cgi?chfield=%5BBug%20creation%5D&amp;chfieldfrom=24h">последните 24 часа</a>
        [% title = BLOCK %][% terms.Bugs %] докладвани в последните 24 часа[% END %]
        <a href="buglist.cgi?chfield=%5BBug%20creation%5D&amp;chfieldfrom=24h&amp;ctype=atom&amp;title=[% title FILTER uri %]"
           class="rss">&nbsp;</a>
        | <a href="buglist.cgi?chfield=%5BBug%20creation%5D&amp;chfieldfrom=7d">последните 7 дни</a>
        [% title = BLOCK %][% terms.Bugs %] докладвани в последните 7 дни[% END %]
        <a href="buglist.cgi?chfield=%5BBug%20creation%5D&amp;chfieldfrom=7d&amp;ctype=atom&amp;title=[% title FILTER uri %]"
           class="rss">&nbsp;</a>
      </li>
      <li>
        [% terms.Bugs %] променени в
        <a href="buglist.cgi?chfieldfrom=24h">последните 24 часа</a>
        [% title = BLOCK %][% terms.Bugs %] променени в последните 24 часа[% END %]
        <a href="buglist.cgi?chfieldfrom=24h&amp;ctype=atom&amp;title=[% title FILTER uri %]"
           class="rss">&nbsp;</a>
        | <a href="buglist.cgi?chfieldfrom=7d">последните 7 дни</a>
        [% title = BLOCK %][% terms.Bugs %] променени в последните 7 дни[% END %]
        <a href="buglist.cgi?chfieldfrom=7d&amp;ctype=atom&amp;title=[% title FILTER uri %]"
           class="rss">&nbsp;</a>
      </li>
    </ul>
  </div>

  <div class="outro">[% Hook.process('outro') %]</div>
</div>

[% PROCESS global/footer.html.tmpl %]
