[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): Frédéric Buclin <LpSolit@gmail.com>
  #%]

[%# INTERFACE:
  # none
  #%]

[% PROCESS global/variables.none.tmpl %]

[% title = BLOCK %]Добре дошли в [% terms.Bugzilla %][% END %]

[% PROCESS global/header.html.tmpl
   title = title
   header_addl_info = "версия $constants.BUGZILLA_VERSION"
   style_urls = [ 'skins/standard/index.css' ]
%]

<div id="welcome-admin">
  <p>Добре дошъл, [% user.identity FILTER html %].</p>

  <p>Виждате тази страница, защото някои от параметрите на ядрото все още не са зададени.
  Целта на тази страница е да ви информира за последните стъпки необходими за правилното
  настройването на инсталацията ви.</p>

  <p>Като администратор, имате достъп до всички административни страници, достъпни от
  връзката <a href="admin.cgi">Администрация</a>, видима в дъното на тази страница.
  Тази връзка ще бъдат винаги видима, на всички страници. От там, трябва да посетите поне
  страницата <a href="editparams.cgi">Параметри</a>, от където можете да зададете всички важни
  параметри на тази инсталацията; между другото:</p>

  <ul>
    <li><a href="editparams.cgi?section=core#urlbase_desc">urlbase</a>, което е адреса
    сочещ към тази инсталация и който ще бъде използван в писма (който е също
    причината да виждате тази страница: докато този параметър не е зададен, ще виждате тази
    страница оново и отново).</li>

    <li><a href="editparams.cgi?section=core#cookiepath_desc">cookiepath</a> е важен
    за вашия браузър, за да управлява бисквитките правилно.</li>

    <li><a href="editparams.cgi?section=general#maintainer_desc">maintainer</a>, човека
      отговорен за тази инсталация ако нещо се
      обърка.</li>
  </ul>

  <p>Също важни са следните параметри:</p>

  <ul>
    <li><a href="editparams.cgi?section=auth#requirelogin_desc">requirelogin</a>, ако е
    включен, ще защити вашата инсталация от потребители нямащи сметка в нея.
    С други думи, потребителите, които не са изрично удостоверени с правилна сметка,
    не могат да видя никакви данни. Това бихте искали ако желаете да запазите данните си лични.</li>

    <li><a href="editparams.cgi?section=auth#createemailregexp_desc">createemailregexp</a>
    определя на кои потребители е разрешено да създават сметка на тази инсталация. Ако е зададено
    на ".*" (по подразбиране), всеки е свободен да създаде своя сметка. Ако е зададено
    "@mycompany.com$", само на потребители имащи поща @mycompany.com ще бъде разрешено да
    създават сметка. Ако бъде оставено празно, потребителите няма да могат да създават сметки сами;
    амо администратор ще бъде способен да създава сметки за тях. Ако желаете частна
    инсталация, трябва абсолютно да зададете този параметър на с нещо различно от
    подразбиращото се.</li>

    <li><a href="editparams.cgi?section=mta#mail_delivery_method_desc">mail_delivery_method</a>
    определя метода използван за изпращане на поща, като sendmail или SMTP. Трябва да го зададете
    правилно за изпращане на поща.</li>
  </ul>

  <p>
    След като сте задали всичко това, ви препроъчваме да погледнете също и другите [% terms.Bugzilla %]
    параметри по някое време, така че да разберете какво правят и дали
    желаете да промените зададеното за тях за вашата инсталация.
  </p>
</div>

[% PROCESS global/footer.html.tmpl %]
