[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% IF san_tag == "voting_cache_rebuild_fix" %]
    <a href="sanitycheck.cgi?rebuild_vote_cache=1&amp;token=
       [%- issue_hash_token(['sanitycheck']) FILTER uri %]">Щракнете тук, за да
    изградите наново наличността с гласовете</a>

[% ELSIF san_tag == "voting_cache_alert" %]
    Лоша наличност с гласове за [% PROCESS bug_link bug_id = id %]

[% ELSIF san_tag == "voting_count_start" %]
    Проверка на налични бройки гласове.

[% ELSIF san_tag == "voting_count_alert" %]
    Грешна сума гласове за [% terms.bug %] [%+ id FILTER html %].

[% ELSIF san_tag == "voting_cache_rebuild_start" %]
    OK, сега се изгражда наново наличността с гласове.

[% ELSIF san_tag == "voting_cache_rebuild_end" %]
    Наличността с гласове беше изградена отново

[% END %]
