[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% IF error == "voting_no_open_bug_status" %]
    [% title = "$terms.ABug не може да бъде потвърден" %]
    Няма действителен преход от
    [%+ display_value("bug_status", "UNCONFIRMED") FILTER html %] към отворено състояние
[% END %]
