[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% IF error == "voting_must_be_nonnegative" %]
    [% title = "Гласовете трябва да са положителни" %]
    [% admindocslinks = {'voting.html' => 'Настройване на възможността за гласуване'} %]
    Използвайте само положителни числа за гласовете си за [% terms.bug %].

[% ELSIF error == "voting_product_illegal_votes" %]
    [% title = "Гласовете трябва да са положителни" %]
    [% admindocslinks = {'voting.html' => 'Настройване на възможността за гласуване'} %]
    '[% votes FILTER html %]' е недействителна стойност за полето
    <em>
    [% IF field == "votesperuser" %]
      Гласове на потребител
    [% ELSIF field == "maxvotesperbug" %]
      Максимум гласове за [% terms.bug %]
    [% ELSIF field == "votestoconfirm" %]
      Гласове за потвърждение
    [% END %]
    </em>, което трябва да съдържа положително число.

[% ELSIF error == "voting_too_many_votes_for_bug" %]
    [% title = "Недействителен глас" %]
    [% admindocslinks = {'voting.html' => 'Настройване на възможността за гласуване'} %]
    Можете да използвате най-много [% max FILTER html %] гласа за един
    [%+ terms.bug %] в
    продукта <tt>[% product FILTER html %]</tt>, но се опитвате да
    ползвате [% votes FILTER html %].

[% ELSIF error == "voting_too_many_votes_for_product" %]
    [% title = "Недействителен глас" %]
    [% admindocslinks = {'voting.html' => 'Настройване на възможността за гласуване'} %]
    Опитахте се да ползвате [% votes FILTER html %] гласа в
    продукта <tt>[% product FILTER html %]</tt>, което надхвърля максимума от
    [%+ max FILTER html %] гласа за него.

[% END %]
