[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # abuser: identity of the user who created the (invalid?) token.
  # token_action: the action the token was supposed to serve.
  # expected_action: the action the user was going to do.
  # script_name: the script generating this warning.
  # alternate_script: the suggested script to redirect the user to
  #                   if they decline submission.
  #%]

[% PROCESS global/header.html.tmpl
  title = "Съмнително действие"
%]

[% IF abuser %]
  <div class="throw_error">
    <p>Когато преглеждате административен формуляр в Bugzilla, на случаен принцип
    се създава и съхранява низ със термини както в базата данни така и в заредения формуляр,
    за да е сигурно, че заявените промени са направени в резултат на предаването на
    формуляр предоставен от Bugzilla. За съжаление, низа от термини използван в
    момента е неправилен, което значи, че изглежда не сте дошли от правилната страница.
    Беше използван следния низ:</p>

    [% IF token_action != expected_action %]
      <p>
        <span class="label">Записано&nbsp;действие:</span>
        [%+ token_action FILTER html %]
        <br>
        Това действие не съвпадна с очакваното ([% expected_action FILTER html %]).
      </p>
    [% END %]

    [% IF abuser != user.identity %]
      <p>
        <span class="label">Създаден&nbsp;от:</span>
        [%+ abuser FILTER html %]
        <br>
        Този низ не е създаден за вас. Възможно е някой да се
        опитва да ви изиграе!
      </p>
    [% END %]
  </div>

  <p>Моля, докладвайте този проблем на [% Param("maintainer") FILTER html %].</p>
[% ELSE %]
  <div class="throw_error">
    Изглежда не сте дошли от правилната страница (нямате правилен низ от термини за
    действие <em>[% expected_action FILTER html %]</em> при обработката на
    скрипта '[% script_name FILTER html %]'). Причината може да е една от следните:<br>
    <ul>
      <li>Щракнали сте върху бутона "Назад" на уеб браузър ви след като успешно сте
      изпратили промените, което като цяло не е добра идея (и е безобидна).</li>
      <li>Въвели сте <abbr lang="en" title="Uniform Resource Locator">URL</abbr>-то в адресната
      лента на уеб браузъра ви направо, което трябва да е безопасно.</li>
      <li>Цракнали сте върху препратка, която ви е пренасочила тук <b>без вашето съгласие</b>,
      като в този случай това е доста по критично действие.</li>
    </ul>
    Сигурни ли сте, че искате да изпратите промените все пак? Това може да доведе до
    неочаквани и нежелани последици.
  </div>

  <form name="check" id="check" method="post" action="[% script_name FILTER html %]">
    [% PROCESS "global/hidden-fields.html.tmpl"
               exclude="^(Bugzilla_login|Bugzilla_password)$" %]
    <input type="submit" id="confirm" value="Потвърждаване на промените">
  </form>
  <p>Или отхвърляне на промените и връщане към <a href="[% alternate_script FILTER html %]">
    [%- alternate_script FILTER html %]</a>.</p>
[% END %]

[% PROCESS global/footer.html.tmpl %]
