[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% PROCESS global/header.html.tmpl
   title = "Започване на сесия като друг потребител"
   style_urls = ['skins/standard/admin.css']
   doc_section = "useradmin.html#impersonatingusers"
 %]
 
[% DEFAULT target_login = "" %]

<p>
  Възможността <b>сесия като друг потребител</b> на [% terms.Bugzilla %] Ви позволява да се представите за
  някой друг за известно време. Докато сте в сесия като някой друг, всяко извършено от вас действие
  ще става от името на потребителя, за когото
  се представяте.
</p>

<p class="areyoureallyreallysure">
  Това е много мощна възможност; трябва да бъдете много внимателни при използването и&#x341;.
  Вашите действия може да бъдат записвани много по-внимателно от обикновено.
</p>

<form action="relogin.cgi" method="POST">
  <p>
    За да започнете,
    [% IF Param('usemenuforusers') %]
      изберете
    [% ELSE %]
      въведете името на
    [% END %]
    <label for="target_login"><u>п</u>отребителя, за когото искате да се представите:
    [% INCLUDE global/userselect.html.tmpl
       id => "target_login"
       name => "target_login"
       value => target_login_default
       accesskey => "п"
       size => 30
    %]
  </p>
  
  [% IF !Param('usemenuforusers') %]
    <p>
      Името трябва да бъде въведено точно.  Няма да бъде извършвано съвпадение.
    </p>
  [% END %]
  
  <p>
    След това, моля отделете време да обясните защо правите
    това:<br>
    <input type="text" id="reason" name="reason" size="80" maxlength="200"
           value="[% reason_default FILTER html %]">
  </p>
  
  <p>
    Съобщението, което въведете тук, ще бъде до потребителя, за когото се представяте по е-поща.
    Ако желаете можете да оставите празно, но те все пак ще знаят, че вие
    се представяте за тях.
  </p>
  
  [% IF user.authorizer.can_login %]
    <p>
      Накрая, въведете <label for="Bugzilla_password">вашата [% terms.Bugzilla %]
      парола:</label>:
      <input type="hidden" name="Bugzilla_login" value="[% user.login FILTER html %]">
      <input type="password" id="Bugzilla_password" name="Bugzilla_password" size="20">
      <input type="hidden" name="Bugzilla_login_token"
             value="[% login_request_token FILTER html %]">
      <br>
      Това се прави поради две причини.  Първо, за да намали
      шанса някой да нанесе големи щети използвайки сметката,
      с която вече сте влезли.  Второ, за да ви принуди да обмислите
       отново дали наистина имате нужда от използването на тази възможност.
    </p>
  [% END %]
  
  <p>
    Щракнете върху бутона, за да започнете сесия:
    <input type="submit" id="begin_sudo" value="Започване на сесия">
    <input type="hidden" name="action" value="begin-sudo">
    <input type="hidden" name="token" value="[% token FILTER html %]">
  </p>

</form>

[% PROCESS global/footer.html.tmpl %]
