[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Eli Goldberg <eli@prometheus-music.com>
  #                 Gervase Markham <gerv@gerv.net>
  #                 Vera Horiuchi
  #                 Claudius Gayle
  #                 Peter Mock
  #                 Chris Pratt
  #                 Tom Schutter
  #                 Chris Yeh
  #%]

[% PROCESS "global/field-descs.none.tmpl" %]

[% INCLUDE global/header.html.tmpl title = "Насоки за писане на $terms.bug" %] 

  <p>Сполучливите [% terms.bug %] доклади са с най-голяма вероятност да бъдат оправени. 
  Тези насоки обясняват как да пишете такива доклади.

<h3>Принципи</h3>

  <ul>
    <li>Бъдете точни</li>
    <li>Бъдете ясни - обяснете така, че другите да могат да възпроизведат [% terms.bug %]</li>
    <li>Един [% terms.bug %] за доклад</li>
    <li>Никой [% terms.bug %] не е достатъчно тривиален за докладване - 
    малки [% terms.bugs %] могат да крият големи [% terms.bugs %]</li>
    <li>Ясно разграничавайте факта от предположението</li>
  </ul>

<h3>Предварителни действия</h3>

<ol>
  <li>Възпроизведете [% terms.bug %] си използвайки скорошна версия на
  софтуера, за да проверите дали вече е бил оправен.
  </li>

  <li><a href="query.cgi?format=specific">Търсете</a> 
  [% terms.Bugzilla %], за да проверите дали [% terms.abug %] ви
  вече е бил докладван.</li>
</ol>

<h3>Докладване на нов [% terms.bug %]</h3>

<p>Ако сте успели да възпроизведете [% terms.abug %] в скорошна версия и 
не изглежда друг да го е докладвал, тогава:</p>

<ol>
 <li>Изберете 
 "<a href="enter_bug.cgi">Въвеждане на нов [% terms.bug %]</a>"</li>
 <li>Изберете продукта, в който сте открили [% terms.abug %]</li>
 <li>Попълнете формуляра. Ето малко помощ за разбирането му:</li>
</ol>

  <blockquote>
    <p><b>Съставна част:</b> В коя подчаст на софтуера той 
          съществува?<br>
    Задължително поле.
    Щракнете връху думата "Съставна част" за да видите описание на всяка 
    съставна част. Ако никоя не изглежда подходяща, потърсете съставната част "Обща".</p>

    <p><b><abbr title="Операционна система">ОС</abbr>:</b> На коя операционна система (ОС) сте го 
          намерили?
    (напр. Linux, Windows XP, Mac OS X.)<br>
    Ако знаете, че [% terms.abug %] се случва на повече от един тип 
    операционна система, изберете <em>[% display_value("op_sys", "All") FILTER html %]</em>. 
    Ако операционната ви система липсва, изберете <em>[% display_value("op_sys", "Other") FILTER html %]</em>.</p>

    <p><b>Разюме:</b> Как бихте описали [% terms.abug %], в 
    приблизително 60 или по-малко символа?<br>
     Доброто резюме трябва <b>бързо и уникално да се отъждествява с [% terms.bug %]
    доклада</b>. То трябва да обясни проблема, не предлаганото от вас решение.<br>
    <ul>
     <li>Добро: "<tt>Излизането от диалога Копиране на файл чупи 
     File Manager</tt>"</li>
     <li>Лошо: "<tt>Програмата се чупи</tt>"</li>
     <li>Лошо: "<tt>Браузъра трябва да работи с моя сайт</tt>"</li>
    </ul>
    
    <b>Описание:</b>
    Подробностите към доклада за проблема, включващи:</p>

    <blockquote>
      <p><b>Преглед:</b> По-подробно пренаписано
      резюме.</p>

      <blockquote>
<pre>
Избиране с влачене на която и да е страница чупи Mac версиите във функцията NSGetFactory.
</pre>
      </blockquote>

      <p><b>Стъпки за възпроизвеждане:</b> Сбити, лесни за следване стъпки които
      ще предизвикат [% terms.abug %]. Включете всякакви подоготвителни стъпки.</p>

      <blockquote>
<pre>
1) Посетете която и да е страница. (Аз използвах подразбиращата се примерна страница, 
resource:/res/samples/test0.html)

2) Изберете страницата с влачене. (По-точно, докато държите натиснат 
бутона на мишката, влачете показалеца надолу от която и да е 
точка в полето със съдържание на браузъра до дъното на 
това поле.)
</pre>
      </blockquote>

      <p><b>Действителни резултати:</b> Какво е направило приложението след изпълнение
      на тези стъпки.</p>

      <blockquote>
<pre>
Приложението се срина.
</pre>
      </blockquote>

      <p><b>Очаквани резултати:</b> Какво е трябвало да направи приложението
      ако [% terms.abug %] не съществува.</p>

      <blockquote>
<pre>
Прозореца трябва да се придвижи надолу. Съдържанието, през което се минава трябва да бъде изберано.
(Или най-малкото приложението не трябва да се срива.)
</pre>
      </blockquote>

      <p><b>Дата на версията &amp; платформа:</b> Дата и платформа на версията,
      в която за първи път сте срещнали [% terms.abug %].</p>

      <blockquote>
<pre>
Build 2006-08-10 on Mac OS 10.4.3
</pre>
      </blockquote>

      <p><b>Допълнителни версии и платформи:</b> Дали 
      [% terms.abug %] се случва на други платформи (или браузъри ако
      е подходящо).</p>

      <blockquote>
<pre>
Не се случва на Build 2006-08-10 върху Windows XP Home (Service Pack 2)
</pre>
      </blockquote>

      <p><b>Допълнителна информация:</b> Всяка друга полезна информация.
      <br><br>За [% terms.bugs %], предизвикващи срив:</p>

      <ul>
        <li><b>Windows:</b> Отбележете типа на срива и модула, в който
        приложението се е сринало (напр. access violation in apprunner.exe).</li>

        <li><b>Mac OS X:</b> Прикачете журнала от "Crash Reporter", който се появява
        след срив.
        Включете само секцията точно под счупената нишка, обикновено 
        озаглавена "Thread 0 Crashed". Моля не поставяйте целия журнал!</li>
      </ul>
    </blockquote>

  <p>Проверете още веднъж доклада си за грешки и пропуски, след това натиснете "Предаване".
  Вашия [% terms.bug %] доклад вече ще бъде в 
  базата данни на [% terms.Bugzilla %].<br>
  </p>
</blockquote>

[% INCLUDE global/footer.html.tmpl %]
