[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Eli Goldberg <eli@prometheus-music.com>
  #                 Gervase Markham <gerv@gerv.net>
  #                 Claudius Gayle
  #                 Peter Mock
  #                 Chris Pratt
  #                 Tom Schutter
  #                 Chris Yeh
  #%]
  
[% PROCESS global/variables.none.tmpl %] 
[% INCLUDE global/header.html.tmpl title = "Насоки за писане на $terms.bug" %] 

<h3>Защо трябва да прочетете това</h3>

<blockquote>
  <p>Казано просто, колкото по сполучливо докладвате [% terms.bug %], толкова по
  вероятно е някой инженер да го оправи.</p>

  <p>Тези напътствия са общо ръководство за обучение на новаци и
  средно напреднали докладчици на [% terms.bugs %] как да съставят сполучливи
  [% terms.bug %] доклади. Не всяко изречение може да бъде точно приложено
  към вашия софтуерен проект.</p>
</blockquote>

<h3>Как да пишете полезен [% terms.bug %] доклад</h3>

<blockquote>
  <p>Полезните [% terms.bug %] доклади са тези с които се стига до оправяне на [% terms.bugs %]. 
  Полезният [% terms.bug %] доклад нормално има две качества:</p>

  <ol>
    <li><b>Възпроизводим.</b> Ако инженер не може да види [% terms.abug %]
    за себе си, за да потвърди че съществува, той вероятно ще отбележи вашия [% terms.bug %]
    доклад "РАБОТИ ЗА МЕН" или "НЕДЕЙСТВИТЕЛЕН" и ще премине към
    следващия [% terms.bug %]. Всяка подробност, която дадете помага.<br>
    <br>
    </li>

    <li><b>Точно определен.</b> Колкото по-бързо инженера ограничи 
    [% terms.abug %] до определена област, толкова по-вероятно е той да го
    оправи целесъобразно. (Ако програмист или тестер трябва да декодира
    [% terms.abug %], той може да прекара повече време проклинайки подателя,
    вместо оправяйки проблема.)<br>
    <br>
    [ <a href="#tips" name="Anchor">Повече информация</a> ]</li>
  </ol>

  <p>Да кажем, че приложението кото пробвате е web търсачка. Установявате
  срив при посещаване на foo.com и желаете да напишете [% terms.bug %] доклад:</p>

  <blockquote>
    <p><b>ЛОШО:</b> "Търсачката ми се срина. Мисля, че беше на www.foo.com.
    Играя голф с Бил Гейтс, така че по-добре оправете този проблем или ще ви
    изпортя. Между другото иконката на бутона Назад изглежда като смачкан
    гризач. ГРОООЗНО. Страницата на баба ми е цялата объркана във вашата
    търсачка. Мерси за помоща."</p>

    <p><b>ДОБРО:</b> "Приложението се срива всеки път, когато посещавам
    www.foo.com, използвайки версията от 2002-02-25 на система с Windows 2000.
    Също така рестартирах в Linux, и възпроизведох проблема използвайки
    версията за Linux от 2002-02-24.</p>

    <p>Срив има отново всеки път при изчертаването на банера на Foo в
    началото на страницата. Прегледах кода на страницата и открих, че 
    следващата връзка към изображение винаги ще предизвиква срив в
    приложението докато атрибута "border=0" не бъде премахнат:</p>

    <p><tt>&lt;IMG SRC="http://www.foo.com/images/topics/topicfoos.gif"
    width="34" height="44" border="0" alt="Новини"&gt;</tt></p>
  </blockquote>
</blockquote>

<h3>Как да добавите вашия полезен [% terms.Bug %] доклад 
    в [% terms.Bugzilla %]:</h3>

<blockquote>
  <p>Преди да въведете вашия [% terms.bug %], използвайте
  <a href="query.cgi">страницата за търсене</a> на [% terms.Bugzilla %],
  за да установите дали проблема, който сте открили е познат, вече
  докладван [% terms.bug %]. Ако вашият [% terms.bug %] е 37-ия двойник на
  известен проблем, най-вероятно ще отегчите инженера. (Отегчените инженери
  оправят по-малко [% terms.bugs %].)</p>

  <p>След това, пресъздайте вашия [% terms.bug %] използвайки скорошна версия.
  Инженерите имат склонност да бъдат най-заинтересовани от проблеми засягащи
  базата код, върху която работят дейно. Все пак [% terms.abug %], който
  докладвате може веде да е оправен.</p>

  <p>Ако сте открили нов [% terms.bug %] използвайки скорошна версия,
  докладвайте го в [% terms.Bugzilla %]:</p>

  <ol>
    <li>От главната страница на [% terms.Bugzilla %], изберете
    "<a href="enter_bug.cgi">Въвеждане на нов [% terms.bug %]</a>".</li>

    <li>Изберете продукта, в който сте открили [% terms.abug %].</li>

    <li>Въведете вашия е-пощенски адрес, парола и натиснете бутона
    "Вход". (Ако все още нямате парола, оставете полето за парола празно и
    вместо това натиснете бутона "Създаване на нова [% terms.Bugzilla %] регистрация". Скоро ще
    получите писмо по е-поща с паролата ви.)</li>
  </ol>

  <p>Сега, попълнете формата. Ето всичко, което тя значи:</p>

  <p><b>Къде сте открили [% terms.abug %]?</b></p>

  <blockquote>
    <p><b>Продукт: В кой продукт сте открили [% terms.abug %]?</b><br>
     Вече сте указали това на предходната старница, така че не можете да го
     променяте тук.</p>

    <p><b>Версия: В коя версия на продукта сте открили [% terms.abug %]?</b><br>
     (Ако е приложимо)</p>

    <p><b>Съставна част: В коя съставна част съществува [% terms.abug %]?</b><br>
    [% terms.Bugzilla %] изисква да изберете съставна част, за да въведете
    [% terms.bug %]. (Не сте сигурни какво да изберете? Кликнете върху връзката
    Съставна част. Ще видите описание за всяка съставна част, което да ви
    помогне да направите най-добрия избор.)</p>

    <p><b><abbr title="Операционна Система">ОС</abbr>: На коя операционна
    система (ОС) открихте [% terms.abug %]?</b>
    (напр. Linux, Windows 2000, Mac OS 9.)<br>
    Ако знаете, че [% terms.bug %] се случва на всички операционни системи,
    изберете 'Всички'. В противен случай изберете операционната система на
    която сте открили [% terms.abug %] или  "Друга" ако вашата операционна
    система не е в списъка.</p>
  </blockquote>

  <p><b>Колко важен е [% terms.abug %]?</b></p>

  <blockquote>
    <p><b>Суровост: Колко вреден е [% terms.abug %]?</b><br>
     Този елемент по подразбиране е 'нормално'. Ако не сте сигурни каква
     суровост заслужава вашия [% terms.bug %], кликнете върху връзката
     Суровост. Ще видите описание за всеки клас суровост.<br>
    </p>
  </blockquote>

  <p><b>Кой ще работи по [% terms.abug %]?</b></p>

  <blockquote>
    <p><b>Назначен на: Кой инженер трябва да отговаря за оправянето на
    [% terms.abug %]?</b><br>
    [% terms.Bugzilla %] автоматично ще назначи [% terms.bug %]а на инженера
    по подразбиране при подаването на [% terms.bug %] доклада. Ако предпочитате
    направо да назначите [% terms.abug %] на някой друг, въведете електронния му
    пощенски адрес в това поле. (За да видите списъка на инженерите по подразбиране
    за всека съставна част, кликнете върху връзката Съставна част.)</p>

    <p><b><abbr title="Точно копие">ТК</abbr>: Кой друг трябва да получава съобщения
    по е-поща за промени по този [% terms.bug %]?</b><br>
    Посочете пълните е-пощенски адреси на други лица, които трябва да получават
    съобщения по е-поща при всяка промяна по [% terms.bug %] доклада. Можете да
    въведете колкото си искате адреси, разделени с интервал или запетая, но тези
    хора трябва да са регистрирани потребители на [% terms.Bugzilla %].</p>
  </blockquote>

  <p><b>Какво друго можете да кажете на инженера за [% terms.abug %]?</b></p>

  <blockquote>
    <p><b>Резюме:</b> <b>Как ще опишете [% terms.abug %], в 
    приблизително 60 или по-малко символа?</b><br>
    Доброто резюме трябва <b>бързо и уникално да се отъждествява с [% terms.bug %]
    доклада</b>. В противен случай инженера няма да може пълноценно да разпознае вашия
    [% terms.bug %] по неговото резюме и често няма да обръща внимание на вашия
    [% terms.bug %] доклад, когато преглежда бързо [% terms.bug %] списък от 10 страници.<br>
    <br>
    Полезно резюме може да бъде "<tt>Инсталацията на
    <abbr title="Personal Computer Memory Card International Association">PCMCIA</abbr>
    пропада на Tosh Tecra 780DVD w/ 3c589C</tt>". "<tt>Неуспех на софтуера</tt>" или
    "<tt>проблем с инсталация</tt>" са примери за лошо резюме.<br>
    <br>
     [ <a href="#summary">Повече информация</a> ]<br>
    <br>
     <b>Описание:</b><br>
     Моля, дайте подробен доклад на проблема в това поле. Получателите на
     [% terms.abug %] най-вероятно ще очакват следната информация:</p>

    <blockquote>
      <p><b>Общо описание:</b> По-подробно описание, допълващо резюмето.</p>

      <blockquote>
<pre>
Избор с влачене в която и да е страница води до срив на Mac версиите в интерфейса NSGetFactory
</pre>
      </blockquote>

      <p><b>Стъпки за възпроизвеждане:</b> Минимизирани, лесни за
      следване стъпки, които ще доведат до възникването на [% terms.abug %]. Включете всякакви
      специални подготвителни стъпки.</p>

      <blockquote>
<pre>
1) Отворете която и да е страница. (Аз използвах примерната страница по подразбиране 
resource:/res/samples/test0.html)

2) Изберете с влачене цялата страница. (По точно казано, докато държите
натиснат бутона на мишката, влачете я надолу от която и да е позиция
в областта със съдържание на търсачката до дъното на тази област.)                   
</pre>
      </blockquote>

      <p><b>Действителни резултати:</b> Какво е направило приложението
      след изпълнение на горните стъпки.</p>

      <blockquote>
<pre>
Приложението се срина. По-долу е прикачено копие на стека от MacsBug.
</pre>
      </blockquote>

      <p><b>Очаквани резултати:</b> Какво е трябвало да направи приложението
      ако [% terms.abug %] не съществува.</p>

      <blockquote>
<pre>
Прозореца трябва да се придвижи надолу. Съдържанието през което се минава
трябва да се избере. (Или най-малко приложението не трябва да се срива.)
</pre>
      </blockquote>

      <p><b>Дата на версията &amp; платформа:</b> Дата и платформа на версията,
      в която за пръви път сте срещнали [% terms.abug %].</p>

      <blockquote>
<pre>
Build 2002-03-15 за Mac OS 9.0
</pre>
      </blockquote>

      <p><b>Допълнителни версии и платформи:</b> Дали 
      [% terms.abug %] се случва на други платформи (или търсачки ако
      е подходящо).</p>

      <blockquote>
<pre>
- Също се получава на        
Mozilla (2002-03-15 build за Windows NT 4.0) 

- Не се случва на        
Mozilla (2002-03-15 build за Red Hat Linux; функцията не се поддържа)        
Internet Explorer 5.0 (версията, която идва с Windows NT 4.0)        
Netscape Communicator 4.5 (версията, която идва с Mac OS 9.0)
</pre>
      </blockquote>

      <p><b>Допълнителна информация:</b> Всяка друга помощна информация.
      За [% terms.bugs %] които прдизвикват срив:</p>

      <ul>
        <li><b>Win32:</b> ако получите Dr. Watson грешка, моля отбележете
        типа на срива и модула, в който приложението се е сринало.
        (напр. access violation in apprunner.exe)</li>

        <li><b>Mac OS:</b> ако използвате MacsBug, моля предоставете
        резултатите от <b>how</b> и <b>sc</b> полетата:</li>
      </ul>

      <blockquote>
<pre>
*** MACSBUG STACK CRAWL OF CRASH (Mac OS)
Calling chain using A6/R1 links 
Back chain  ISA  Caller 
00000000    PPC  0BA85E74   
03AEFD80    PPC  0B742248   
03AEFD30    PPC  0B50FDDC  NSGetFactory+027FC
PowerPC unmapped memory exception at 0B512BD0 NSGetFactory+055F0
</pre>
      </blockquote>
    </blockquote>
  </blockquote>

  <p>Готови сте!<br>
  <br>
  След като проверите въведената информация за възможни грешки, натиснете
  бутона "Изпращане" и вашия [% terms.bug %] доклад ще бъде вече в базата
  данни на [% terms.Bugzilla %].<br>
  </p>
</blockquote>
<hr>

<h3>Повече информация за писането на добри [% terms.Bugs %]</h3>

<blockquote>
  <p><b><a name="tips"></a> 1. Общи съвети за полезен [% terms.bug %] 
     доклад</b></p>

  <blockquote>
    <p><b>Използвайте ясна подредба, така че вашите [% terms.bug %] доклади да са
    лесни за преглеждане.</b> Потребителите на [% terms.bug %] доклада често имат нужда
    от непосредствен достъп до определни части от вашия [% terms.bug %]. Ако вашата
    инсталация на [% terms.Bugzilla %] поддържа [% terms.Bugzilla %] Помощник, използвайте го.</p>

    <p><b>Избягвайте хитроумията ако цената е яснота. </b>Никой няма да се смее
    на вашето забавно [% terms.bug %] заглавие в 3:00 часа сутринта, когато не може да
    си спомни как да намери [% terms.abug %] ви.</p>

    <p><b>Един [% terms.bug %] за доклад. </b>Напълно различни хора
    обикновенно оправят, проверяват и приоритизират различните [% terms.bugs %].
    Ако смесите няколко [% terms.bugs %] в един единствен доклад, правилните хора
    най-вероятно няма да открият вашите [% terms.bugs %] по уместен начин или въобще.
    Някои [% terms.bugs %] са също по-важни от други. Не е възможно
    да се приоритизира [% terms.bug %] доклад когато
    той съдържа четири различни проблема всеки от различна важност.</p>

    <p><b>Никой [% terms.bug %] не е твърде незначителен, за да се докладва. </b>Освен ако
    не четете изходния код не можете да видите истински софтуерни [% terms.bugs %], 
    като "висящ указател" (указател, който не сочи никъде) -- най вероятно ще забележите тяхната
    видима проява, като нарушение на раздела, когато приложението най-накрая рухне. Тежки програмни
    проблеми могат да се проявяват по привидно незначителен начин. Докладвайте ги
    въпреки това.<br>
    </p>
  </blockquote>

  <p><b><a name="summary"></a>2. Как и защо да пишем добри резюмета на [% terms.bug %]</b></p>

  <blockquote>
    <p><b>Желаете да направите добро първо впечатление на получателя
    на [% terms.abug %].</b> Точно както заглавие в Ню Йорк Таймс насочва
    читателите към съответна статия от десетки други, дали вашето [% terms.bug %]
    резюме предполага, че вашия [% terms.bug %] доклад си струва
    четенето сред десетки или хиляди други?</p>

    <p>Обратното, неясно резюме на [% terms.bug %] като <tt>проблем при
    инсталиране</tt> принуждава някой преглеждащ [% terms.bugs %] за инсталацията
    да губи време да отваря ващия [% terms.bug %], за да определи дали има значение.</p>

    <p><b>Вашия [% terms.bug %] често ще бъде търсен по резюмето му.</b> Също
    както намирате web страници с Google търсейки с ключови думи по интуиция,
    така други хора ще намират [% terms.bugs %] ви.
    Описателните [% terms.bug %] резюмета са естествено богати на ключови думи и
    по-лесни за намиране.</p>

    <p>Например, ще намерите [% terms.bug %] озаглавен "<tt>Влачене на икони
    от списъчния изглед в gnome-terminal не включва пътя</tt>" ако търсите с
    "списък", "terminal", или "път". Тези търсени ключови думи нямаше да намерят
    [% terms.bug %] озаглавен "<tt>Влаченето не икони не включва</tt>".</p>

    <p>Запитайте се, "Дали някой ще разбере моя [% terms.bug %] прочитайки само
    резюмето?" Ако отговора е положителен значи сте написали добро резюме.</p>

    <p><b>Не пишете заглавия като това:</b></p>

    <ol>
      <li>"Не мога да инсталирам" - Защо не можете да инсталирате? Какво се случва,
      когато се опитате да инсталирате?</li>

      <li>"Големи проблеми с производителността" - ...и те се случват когато
      правите какво?</li>

      <li>"Бутона "Обратно" не работи" - Никога? Като цяло?</li>
    </ol>

    <p><b>Добри заглавия на [% terms.bugs %]:</b></p>

    <ol>
      <li>"Инсталацията осъвременяваща до версия 1.0 се проваля ако пакета Mozilla M18 е наличен" -
      Обяснява проблема и контекста.</li>

      <li>"RPM 4 инсталатора се чупи ако е пуснат на Red Hat 6.2 (RPM 3)
      система" - Обяснява какво става и контекста.</li>
    </ol>
  </blockquote>
</blockquote>

[% INCLUDE global/footer.html.tmpl %]
