[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Terry Weissman <terry@mozilla.org>
  #                 Gervase Markham <gerv@gerv.net>
  #%]

[% PROCESS "global/field-descs.none.tmpl" %]
[% PROCESS global/header.html.tmpl 
  title = "Полета на $terms.bug" 
  style_urls = ['skins/standard/page.css']
%]

<p>Тази страница описва различните полета които виждате 
  по [% terms.abug %].</p>

<table class="field_value_explanation">
  <thead>
  <tr>
    <td id="bug_status">
      <h2>[% field_descs.bug_status FILTER upper FILTER html %]</h2>
    </td>

    <td id="resolution">
      <h2>[% field_descs.resolution FILTER upper FILTER html %]</h2>
    </td>
  </tr>

  <tr>
    <td>Полето [% field_descs.bug_status FILTER html %] показва
      текущото състояние на [% terms.abug %]. Само определени преходи в състоянието
      са разрешени.</td>

    <td>Полето [% field_descs.resolution FILTER html %] показва какво се
      е случило с [%+ terms.bug %].</td>
  </tr>
  </thead>

  <tbody>
  <tr class="header_row">
    <td colspan="2">Отворени [% terms.bugs %]</td>
  </tr>
  <tr>
    <td>
      <dl>
        <dt>
          [% display_value("bug_status", "UNCONFIRMED") FILTER html %]
        </dt>
        <dd>
          Този [% terms.bug %] е добавен наскоро към базата данни. 
          Никой не е потвърдил, че този [% terms.bug %] е истински. Потребителите
          имащи зададено "canconfirm" разрешение могат да потвърдят
          този [% terms.bug %], сменяийки състоянието му на 
          <b>[% display_value("bug_status", "CONFIRMED") FILTER html %]</b>. 
          Или той може да бъде направо разрешен и отбелязан
          <b>[% display_value("bug_status", "RESOLVED") FILTER html %]</b>.
        </dd>

        <dt>
          [% display_value("bug_status", "CONFIRMED") FILTER html %]
        </dt>
        <dd>
          Този [% terms.bug %] е истински и е бил добавен наскоро.
          [%+ terms.Bugs %] в това състояние стават 
          <b>[% display_value("bug_status", "IN_PROGRESS") FILTER html %]</b>
          когато някой работи по тях или биват решавани и отбелязвани
          <b>[% display_value("bug_status", "RESOLVED") FILTER html %]</b>.
        </dd>

        <dt>
          [% display_value("bug_status", "IN_PROGRESS") FILTER html %]
        </dt>
        <dd>
          Този [% terms.bug %] все още не е решен, но е назначен на
          правилния човек който работи по него. От тук
          [%+ terms.bugs %] могат да бъдат дадени на някой друг и да станат
          <b>[% display_value("bug_status", "CONFIRMED") FILTER html %]</b>, или
          решени и да станат 
          <b>[% display_value("bug_status", "RESOLVED") FILTER html %]</b>.
        </dd>
      </dl>
    </td>

    <td>
      Още няма решение. Всички [% terms.bugs %] които са в едно от
      тези "отворени" състояние все още нямат решение.
    </td>
  </tr>

  <tr class="header_row">
    <td colspan="2">Затворени [% terms.bugs %]</td>
  </tr>

  <tr>
    <td>
      <dl>
        <dt>
          [% display_value("bug_status", "RESOLVED") FILTER html %]
        </dt>
        <dd>
          Взето е решение и то чака проверка от качествения
          контрол. От тук [% terms.bugs %] са или отваряни отново и получават
          някакво отворено състояние или се потвърждават от кач. контрол и отбелязват
          <b>[% display_value("bug_status", "VERIFIED") FILTER html %]</b>.
        </dd>

        <dt>
          [% display_value("bug_status", "VERIFIED") FILTER html %]
        </dt>
        <dd>
          Качествения контрол е прегледал [% terms.abug %] и решението и 
          е съгласен, че е взето правилното решение. Това е
          крайното състояние за [% terms.bugs %].
        </dd>
      </dl>
    </td>

    <td>
      <dl>
        <dt>
          [% display_value("resolution", "FIXED") FILTER html %]
        </dt>
        <dd>
          Поправка за този [% terms.bug %] е влязла в дървото и е
          изпитана.
        </dd>

        <dt>
          [% display_value("resolution", "INVALID") FILTER html %]
        </dt>
        <dd>
          Описания проблем не е [% terms.bug %].
        </dd>

        <dt>
          [% display_value("resolution", "WONTFIX") FILTER html %]
        </dt>
        <dd>
          Описания проблем е [% terms.bug %], който никога няма да бъде 
          поправен.
        </dd>

        <dt>
         [% display_value("resolution", "DUPLICATE") FILTER html %]
        </dt>
        <dd>
          Проблема е двойник на съществуващ [% terms.bug %].
          Когато [% terms.bug %] бива отбелязван като
          <b>[% display_value("resolution", "DUPLICATE") FILTER html %]</b>,
          ще видите на коии [% terms.bugs %] той е двойник,
          непосредствено до решението му.
        </dd>

        <dt>
          [% display_value("resolution", "WORKSFORME") FILTER html %]
        </dt>
        <dd>
          Всички опити за възпроизвеждане на този [% terms.bug %] са безуспешни
          и четенето на кода не е довело до следи, защо се е стигнало до
          описаното поведение. Ако повече информация постъпи по-късно
          [%+ terms.abug %] може да бъде отворен отново.
        </dd>
      </dl>
    </td>
  </tr>
  </tbody>
</table>

<h2>Други полета</h2>

[% PROCESS "bug/field-help.none.tmpl" %]

[% SET field_help_map = {} %]
[% FOREACH field = bug_fields.keys %]
  [% SET field_desc = field_descs.$field %]
  [% field_help_map.$field_desc = { help  => help_html.$field, 
                                    field => field } %]
[% END %]

[%# These are fields that don't need to be documented, either because
  # they have docs somewhere else in the UI, or they don't show up on bugs. 
  # %]
[% SET skip_fields = [ 
  'days_elapsed', 
  'everconfirmed',
  'reporter_accessible',
  'cclist_accessible',
  'bug_group',
  'commenter',
  'owner_idle_time',
  'bug_status',
  'resolution',
] %]

<dl class="field_descriptions">
[% FOREACH field_desc = field_help_map.keys.sort %]
  [% SET field = field_help_map.${field_desc}.field %]
  [% SET field_object = bug_fields.$field %]

  [% NEXT IF field_object.obsolete %]
  [% NEXT IF !user.is_timetracker AND field_object.is_timetracking %]

  [% NEXT IF field == 'status_whiteboard' AND !Param('usestatuswhiteboard') %]
  [% NEXT IF field == 'target_milestone' AND !Param('usetargetmilestone') %]
  [% NEXT IF field == 'alias' AND !Param('usebugaliases') %]

  [%# For now we don't have help for attachment fields and so on. %]
  [% NEXT IF field.match('\.') %]

  [% NEXT IF skip_fields.contains(field) %]

  <dt id="[% field FILTER html %]">[% field_desc FILTER html %]</dt>
    <dd>
      [% SET help_text = field_help_map.${field_desc}.help %]
      [% help_text FILTER none %]
    </dd>
[% END %]
</dl>

[% PROCESS global/footer.html.tmpl %]
