[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% PROCESS global/header.html.tmpl 
  title = "Полета на $terms.bug" 
  bodyclasses = ['narrow_page']
%]

<p>Тази страница описва различните полета които виждате 
  по [% terms.abug %].</p>

<table class="field_value_explanation">
  <thead>
  <tr>
    <td id="bug_status">
      <h2>[% field_descs.bug_status FILTER upper FILTER html %]</h2>
    </td>

    <td id="resolution">
      <h2>[% field_descs.resolution FILTER upper FILTER html %]</h2>
    </td>
  </tr>

  <tr>
    <td>Полето [% field_descs.bug_status FILTER html %] показва
      текущото състояние на [% terms.abug %]. Само определени преходи в състоянието
      са разрешени.</td>

    <td>Полето [% field_descs.resolution FILTER html %] показва какво се
      е случило с [%+ terms.bug %].</td>
  </tr>
  </thead>

  <tbody>
  <tr class="header_row">
    <td colspan="2">Отворени [% terms.bugs %]</td>
  </tr>
  <tr>
    <td>
      <dl>
        <dt class="unconfirmed">
          [% display_value("bug_status", "UNCONFIRMED") FILTER html %]
        </dt>
        <dd class="unconfirmed">
          Този [% terms.bug %] е добавен наскоро към базата данни. 
          Никой не е потвърдил, че този [% terms.bug %] е истински. Потребителите
          имащи зададено "canconfirm" разрешение могат да потвърдят
          този [% terms.bug %], сменяийки състоянието му на 
          <b>[% display_value("bug_status", "CONFIRMED") FILTER html %]</b>. 
          Или той може да бъде направо разрешен и отбелязан
          <b>[% display_value("bug_status", "RESOLVED") FILTER html %]</b>.
        </dd>

        <dt class="confirmed">
          [% display_value("bug_status", "CONFIRMED") FILTER html %]
        </dt>
        <dd class="confirmed">
          Този [% terms.bug %] е истински и е бил добавен наскоро.
          [%+ terms.Bugs %] в това състояние стават 
          <b>[% display_value("bug_status", "IN_PROGRESS") FILTER html %]</b>
          когато някой работи по тях или биват решавани и отбелязвани
          <b>[% display_value("bug_status", "RESOLVED") FILTER html %]</b>.
        </dd>

        <dt class="in_progress">
          [% display_value("bug_status", "IN_PROGRESS") FILTER html %]
        </dt>
        <dd class="in_progress">
          Този [% terms.bug %] все още не е решен, но е назначен на
          правилния човек който работи по него. От тук
          [%+ terms.bugs %] могат да бъдат дадени на някой друг и да станат
          <b>[% display_value("bug_status", "CONFIRMED") FILTER html %]</b>, или
          решени и да станат 
          <b>[% display_value("bug_status", "RESOLVED") FILTER html %]</b>.
        </dd>
        
        [% Hook.process('open-status') %]
      </dl>
    </td>

    <td>
      Още няма решение. Всички [% terms.bugs %] които са в едно от
      тези "отворени" състояние все още нямат решение.
    </td>
  </tr>

  <tr class="header_row">
    <td colspan="2">Затворени [% terms.bugs %]</td>
  </tr>

  <tr>
    <td>
      <dl>
        <dt class="resolved">
          [% display_value("bug_status", "RESOLVED") FILTER html %]
        </dt>
        <dd class="resolved">
          Взето е решение и то чака проверка от качествения
          контрол. От тук [% terms.bugs %] са или отваряни отново и получават
          някакво отворено състояние или се потвърждават от кач. контрол и отбелязват
          <b>[% display_value("bug_status", "VERIFIED") FILTER html %]</b>.
        </dd>

        <dt class="verified">
          [% display_value("bug_status", "VERIFIED") FILTER html %]
        </dt>
        <dd class="verified">
          Качествения контрол е прегледал [% terms.abug %] и решението и 
          е съгласен, че е взето правилното решение. Това е
          крайното състояние за [% terms.bugs %].
        </dd>
        
        [% Hook.process('closed-status') %]
      </dl>
    </td>

    <td>
      <dl>
        <dt class="fixed">
          [% display_value("resolution", "FIXED") FILTER html %]
        </dt>
        <dd class="fixed">
          Поправка за този [% terms.bug %] е влязла в дървото и е
          изпитана.
        </dd>

        <dt class="invalid">
          [% display_value("resolution", "INVALID") FILTER html %]
        </dt>
        <dd class="invalid">
          Описания проблем не е [% terms.bug %].
        </dd>

        <dt class="wontfix">
          [% display_value("resolution", "WONTFIX") FILTER html %]
        </dt>
        <dd class="wontfix">
          Описания проблем е [% terms.bug %], който никога няма да бъде 
          поправен.
        </dd>

        <dt class="duplicate">
         [% display_value("resolution", "DUPLICATE") FILTER html %]
        </dt>
        <dd class="duplicate">
          Проблема е двойник на съществуващ [% terms.bug %].
          Когато [% terms.bug %] бива отбелязван като
          <b>[% display_value("resolution", "DUPLICATE") FILTER html %]</b>,
          ще видите на коии [% terms.bugs %] той е двойник,
          непосредствено до решението му.
        </dd>

        <dt class="worksforme">
          [% display_value("resolution", "WORKSFORME") FILTER html %]
        </dt>
        <dd class="worksforme">
          Всички опити за възпроизвеждане на този [% terms.bug %] са безуспешни
          и четенето на кода не е довело до следи, защо се е стигнало до
          описаното поведение. Ако повече информация постъпи по-късно
          [%+ terms.abug %] може да бъде отворен отново.
        </dd>
        
        [% Hook.process('resolution') %]
      </dl>
    </td>
  </tr>
  </tbody>
</table>

<h2>Други полета</h2>

[% SET field_help_map = {} %]
[% FOREACH field = bug_fields.keys %]
  [% SET field_desc = field_descs.$field %]
  [% field_help_map.$field_desc = { help  => help_html.$field, 
                                    field => field } %]
[% END %]

[%# This field is not a real one, but its label is visible in bugs. %]

[% field_help_map.Importance = { help  => help_html.importance,
                                 field => "importance" } %]

[%# These are fields that don't need to be documented, either because
  # they have docs somewhere else in the UI, or they don't show up on bugs. 
  # %]
[% SET skip_fields = [ 
  'days_elapsed', 
  'everconfirmed',
  'reporter_accessible',
  'cclist_accessible',
  'bug_group',
  'commenter',
  'owner_idle_time',
  'bug_status',
  'resolution',
] %]

<dl class="field_descriptions">
[% FOREACH field_desc = field_help_map.keys.sort %]
  [% SET field = field_help_map.${field_desc}.field %]
  [% SET field_object = bug_fields.$field %]

  [% NEXT IF field_object.obsolete %]
  [% NEXT IF !user.is_timetracker AND field_object.is_timetracking %]

  [% NEXT IF field == 'status_whiteboard' AND !Param('usestatuswhiteboard') %]
  [% NEXT IF field == 'target_milestone' AND !Param('usetargetmilestone') %]

  [%# For now we don't have help for attachment fields and so on. %]
  [% NEXT IF field.match('\.') %]

  [% NEXT IF skip_fields.contains(field) %]

  <dt id="[% field FILTER html %]">[% field_desc FILTER html %]</dt>
    <dd>
      [% field_help_map.${field_desc}.help FILTER html_light %]
    </dd>
[% END %]
</dl>

[% PROCESS global/footer.html.tmpl %]
