[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% INCLUDE global/header.html.tmpl title = "Правене на връзки в текст" %]

<p>
  Ако въведете някакъв текст тази форма ще го върне описан като стандартен 
  [% terms.Bugzilla %] коментар. Това значи, че действителни номера на [% terms.bugs %],
  <abbr lang="en" title="Uniform Resource Locator">URL</abbr>та, е-пощенски адреси и т.н. ще бъдат заменени с подобаващи <abbr lang="en" title="HyperText Markup Language">HTML</abbr> връзки.
</p>

<form action="page.cgi" method="post">
  [% INCLUDE global/textarea.html.tmpl
    name    = 'text'
    minrows = 20
    cols    = constants.COMMENT_COLS
  %]
  <br>
  <input type="hidden" name="id" value="linked.html">
  <input type="submit" id="linkify" value="Създаване на връзки">
</form>

[% INCLUDE global/footer.html.tmpl %]
