[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% SET title = "Bugzilla 5.0 Бележки към версията" %]
[% INCLUDE global/header.html.tmpl
  title = title
  bodyclasses = ['narrow_page']
%]

<h1>[% title FILTER html %]</h1>

<ul class="bz_toc">
  <li><a href="#introduction">Въведение</a></li>
  <li><a href="#point">Обновления в тази 5.0.x версия</a></li>
  <li><a href="#req">Минимални изисквания</a></li>
  <li><a href="#feat">Нови възможности и подобрения</a></li>
  <li><a href="#issues">Оставащия проблеми</a></li>
  <li><a href="#code_changes">Промени в кода които може да се отразят
    на персонализации и разширения</a></li>
  <li><a href="https://bugzilla.readthedocs.org/en/latest/installing/upgrading.html">
    Бележки по надграждането от предишна версия</a></li>
  <li><a href="http://www.bugzilla.org/releases/">Бележки към версията за предишни версии</a></li>
</ul>

<h2 id="introduction">Въведение</h2>

<p>Добре дошли в Bugzilla 5.0! Изминаха малко повече от две години от както пуснахме
  Bugzilla 4.4 през Май 2013. Тази нова основна версия идва с много нови възможности
  и подобрения по WebServices и производителността.</p>

<p>Ако надграждате, обезателно прочетете
  <a href="https://bugzilla.readthedocs.org/en/latest/installing/upgrading.html">
  Бележки по надграждането от предишна версия</a>. Ако надграждате от
  версия преди 4.4, обезателно прочетете бележките към изданието за всички
  <a href="http://www.bugzilla.org/releases/">предишни версии</a> между
  вашата версия и тази, <strong>особено секцията Надграждане от бележките към изданието
  на всяка версия</strong>.</p>

<h2 id="point">Обновления в тази 5.0.x версия</h2>

<h3>5.0.4</h3>

<p>Тази версия оправя един проблем със сигурността. Вижте
  <a href="https://www.bugzilla.org/security/4.4.12/">Бюлетина по сигурността</a>
  за подробности.</p>

<p>Тази версия съдържа също следните поправки на [% terms.bugs %]:</p>

<ul>
  <li><kbd>checksetup.pl</kbd> се проваляше да обнови формата за съхранение на графики при надграждане от пред-3.6 към 5.0.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1273846">[% terms.Bug %] 1273846</a>)</li>
  <li><kbd>editflagtypes.cgi</kbd> се чупеше когато са разрешени класификации и
    потребителя нямаше глобална <kbd>editcomponents</kbd> привилегия.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1310728">[% terms.Bug %] 1310728</a>)</li>
  <li>Модулът <kbd>File::Slurp</kbd> предизвикваше предупреждения с Perl 5.24.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1301887">[% terms.Bug %] 1301887</a>)</li>
  <li>Всички записи на време в колоната 'when' имаха правилната дата, но времето
    беше заковано на 00:00 при използване на Sqlite.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1303702">[% terms.Bug %] 1303702</a>)</li>
</ul>

<h3>5.0.3</h3>

<p>Тази версия оправя един проблем със сигурността. Вижте
  <a href="https://www.bugzilla.org/security/4.4.11/">Бюлетина по сигурността</a>
  за подробности.</p>

<p>Тази версия съдържа също следните поправки на [% terms.bugs %]:</p>

<ul>
  <li>Регресия в Bugzilla 5.0.2 причини невъзможност за изпращане на е-поща
    от <kbd>whine.pl</kbd> поради липсваща процедура.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1235395">[% terms.Bug %] 1235395</a>)</li>
  <li>Модула <kbd>Encode</kbd> промени начина по който кодира низове, предизвиквайки
    кодирането на адресите за електронна поща в е-писма изпращани от [%terms.Bugzilla %],
    предотвратявайки правилната им доставка до получатели.
    Вече кодираме заглавките на е-писмата правилно.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1246228">[% terms.Bug %] 1246228</a>)</li>
  <li>Поправка на допълнителни проблеми от ограничения в Strawberry Perl.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=987742">[% terms.Bug %] 987742</a> and
    <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1089448">[% terms.bug %] 1089448</a>)</li>
  <li>При изнасяне на бъг списък като <abbr title="Comma-separated values">CSV</abbr> файл, на полета започващи с
    "=", "+", "-" или "@" се поставя представка интервал, за да не предизвикат изпълнение на
    формула в Excel.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1259881">[% terms.Bug %] 1259881</a>)</li>
  <li>Разширение позволяващо контролирани от потребителя данни да се ползват като връзка в
    раздели може да предизвика <abbr title="Cross-site scripting">XSS</abbr> ако данните не са правилно почистени.
    [%+ terms. Bugzilla %] вече не разчита на разширението да извърши санитарната
    проверка. Чистите инсталации не са засегнати тъй като няма контролирани от потребителя раздели.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1250114">[% terms.Bug %] 1250114</a>)</li>
  <li>Разширения вече могат лесно да заменят иконата ползвана за
    страниците на [%+ terms.Bugzilla %].
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1250264">[% terms.Bug %] 1250264</a>)</li>
</ul>

<h3>5.0.2</h3>

<p>Тази версия оправя два проблема със сигурността. Вижте
  <a href="https://www.bugzilla.org/security/4.2.15/">Бюлетина по сигурността</a>
  за подробности.</p>

<p>Тази версия също съдържа поправки на следните [% terms.bugs %]:</p>

<ul>
  <li>mod_perl вече работи правилно с изключен mod_access_compat на 
    Apache 2.4. За да създадете наново <kbd>.htaccess</kbd> файловете, трябва първо
    да изтриете всички съществуващи в подпапките:
    <pre>find . -mindepth 2 -name .htaccess -exec rm -f {} \;</pre>
    Тогава трябва да пуснете <kbd>checksetup.pl</kbd> отново, за да ги създадете наново
    с правилния синтаксис.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1223790">[% terms.Bug %] 1223790</a>)</li>
  <li>Е-писма изпращани от [% terms.Bugzilla %] вече са правилно кодирани като UTF-8.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=714724">[% terms.Bug %] 714724</a>)</li>
  <li>Strawberry Perl вече се поддържа напълно под Windows.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1089448">[% terms.Bug %] 1089448</a>
    и <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=987742">[% terms.bug %] 987742</a>)</li>
  <li><abbr title="eXtensible Markup Language">XML</abbr>-<abbr title="Remote Procedure Call">RPC</abbr> <abbr title="Application Programming Interface">API</abbr> вече работи с <abbr title="Internet Information Services">IIS</abbr> под Windows.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=708252">[% terms.Bug %] 708252</a>)</li>
  <li>Някои заявки сега трябва да са по-бързи върху PostgreSQL.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1184431">[% terms.Bug %] 1184431</a>)</li>
</ul>

<h3>5.0.1</h3>

<p>Тази версия оправя един проблем със сигурността. Вижте
  <a href="https://www.bugzilla.org/security/4.2.14/">Бюлетина по сигурността</a>
  за подробности.</p>

<p>Тази версия също съдържа следните поправки на [% terms.bugs %]:</p>

<ul>
  <li>Потребители чиито имена за вход не са адрес за е-поща не могат да влязат в
    инсталации които ползват <abbr lang="en" title="Lightweight Directory Access Protocol">LDAP</abbr> за удостоверяване на потребители.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1179160">[% terms.Bug %] 1179160</a>)</li>
  <li>Ако задължително потребителско поле беше скрито, не беше възможно да се създава
    нов [% terms.bug %] или променя съществуващ.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1183398">[% terms.Bug %] 1183398</a>
    и <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1196969">[% terms.bug %] 1196969</a>)</li>
  <li>Потребител променящ името си за вход да сочи към несъществуващ е-пощенски адрес
    може да предизвика Bugzilla да спре работа, причинявайки отказ от услуга.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1194987">[% terms.Bug %] 1194987</a>)</li>
  <li>Е-писма създавани по време на транзакция караха PostgreSQL да спре да работи.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1186700">[% terms.Bug %] 1186700</a>)</li>
  <li>[% terms.Bugs %] съдържащи коментар с препратка към [% terms.bug %]
    идентификатор по-големи от 2^31 вече не могат да бъдат показвани при ползване на PostgreSQL.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1191937">[% terms.Bug %] 1191937</a>)</li>
  <li>Избирането на дата в "Сбор на времето" страницата беше счупено.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1181649">[% terms.Bug %] 1181649</a>)</li>
  <li>Ако <kbd>Test::Taint</kbd> или който и да е друг Perl модул необходим за използване на
    JSON-RPC API не беше инсталиран или беше твърде стар, потребителския интерфейс за етикиране на коментари беше
    показван въпреки това и можехте да слагате етикети на коментари, но етикетите не бяха постоянни
    (изгубваха се при презареждане на страницата). Сега потребителския интерфейс за етикиране на коментари не се показва
    въобще докато липсващите Perl модули са инсталирани и актуални.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1183227">[% terms.Bug %] 1183227</a>)</li>
  <li>Потребителски полета от тип <kbd>INTEGER</kbd> сега приемат отрицателни цели числа.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1198659">[% terms.Bug %] 1198659</a>)</li>
  <li>Под Windows, скрипта за инсталация <kbd>checksetup.pl</kbd> вече не
    пита за <abbr lang="en" title="Simple Mail Transfer Protocol">SMTP</abbr> сървър. Той може да бъде зададен след приключване на инсталацията.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1191255">[% terms.Bug %] 1191255</a>)</li>
</ul>

<h2 id="req">Минимални изисквания</h2>

<p>Всички изисквания които са нови спрямо 4.4 ще изглеждат
  <span class="req_new">така</span>.</p>

<ul>
  <li><a href="#req_perl">Perl</a></li>
  <li><a href="#req_mysql">За MySQL потребители</a></li>
  <li><a href="#req_pg">За PostgreSQL потребители</a></li>
  <li><a href="#req_oracle">За Oracle потребители</a></li>
  <li><a href="#req_sqlite">За SQLite потребители</a></li>
  <li><a href="#req_modules">Задължителни Perl модули</a></li>
  <li><a href="#req_optional_mod">Незадължителни Perl модули</a></li>
  <li><a href="#req_apache">Незадължителни Apache модули</a></li>
</ul>

<h3 id="req_perl">Perl</h3>

<p>Perl <span class="req_new">v5.10.1</span></p>

[% INCLUDE db_req db='mysql' %]

[% INCLUDE db_req db='pg' %]

[% INCLUDE db_req db='oracle' %]

[% INCLUDE db_req db='sqlite' %]

<h3 id="req_modules">Задължителни Perl модули</h3>

[% INCLUDE req_table reqs = REQUIRED_MODULES
                     new = ['File-Slurp','JSON-XS', 'Email-Sender']
                     updated = ['DateTime', 'DateTime-TimeZone',
                                'Template-Toolkit', 'URI'] %]

<h3 id="req_optional_mod">Незадължителни Perl модули</h3>

<p>Следните perl модули, ако са налични, разрешават различни
  възможности на Bugzilla:</p>

[% INCLUDE req_table reqs = OPTIONAL_MODULES
                     new  = ['Cache-Memcached','File-Copy-Recursive']
                     updated = ['Chart', 'Test-Taint']
                     include_feature = 1 %]

<h3 id="req_apache">Незадължителни Apache модули</h3>

<p>Ако използвате Apache като web сървър, Bugzilla може
  да се възползва от някои възможности на Apache ако имате следните Apache
  модули налични и разрешени.</p>

<ul>
  <li>mod_headers</li>
  <li>mod_expires</li>
  <li>mod_env</li>
</ul>

<p>На повечето системи (но не под Windows), <kbd>checksetup.pl</kbd> може да
  каже дали имате или не тези модули налични и ще ви
  каже.</p>


<h2 id="feat">Нови възможности и подобрения</h2>

<ul>
  <li><a href="#feat_webservices">Подобрени WebServices</a></li>
  <li><a href="#feat_caching_performance">Подобрено кеширане с използването на Memcached</a></li>
  <li><a href="#feat_comment_tags">Възможност за етикетиране на коментари към [% terms.bug %]</a></li>
  <li><a href="#feat_bug_groups">Подобрена проверка за принадлежност към [% terms.bug %] група</a></li>
  <li><a href="#feat_documentation">Подобрена документация за потребители и администратори</a></li>
  <li><a href="#feat_other">Други подобрения и промени</a></li>
</ul>

<h3 id="feat_webservices">Подобрени WebServices</h3>

<p>
  Тази версия има големи подобрения в WebServices интерфейса. Едно голямо
  допълнение е новия <abbr lang="en" title="Representational State Transfer">REST</abbr> подобна крайна точка заедно със съществуващите <abbr lang="en" title="eXtensible Markup Language">XML</abbr>-<abbr lang="en" title="Remote Procedure Call">RPC</abbr> и <abbr lang="en" title="JavaScript Object Notation">JSON</abbr>-<abbr lang="en" title="Remote Procedure Call">RPC</abbr>
  крайни точки. Това ще позволи достъп на клиентите до Bugzilla данни с използването на стандартни <abbr lang="en" title="HyperText Transfer Protocol">HTTP</abbr>
  извиквания за лесна разработка. <strong>Забележка:</strong> <abbr lang="en" title="eXtensible Markup Language">XML</abbr>-<abbr lang="en" title="Remote Procedure Call">RPC</abbr> и <abbr lang="en" title="JavaScript Object Notation">JSON</abbr>-<abbr lang="en" title="Remote Procedure Call">RPC</abbr> са
  обявени за остарели в полза на <abbr lang="en" title="Representational State Transfer">REST</abbr> и вероятно ще бъдат премахнати в Bugzilla версия 7.0.
</p>
<p>
  Също така беше добавена поддръжка за <abbr lang="en" title="Application Programming Interface">API</abbr> ключ, така че <abbr lang="en" title="Application Programming Interface">API</abbr> извикванията повече няма да трябва да ползват
  бисквитки или потребителско име и парола. Потребителите могат да създадат различен <abbr lang="en" title="Application Programming Interface">API</abbr> ключ за
  всяко приложение и да отнемат <abbr lang="en" title="Application Programming Interface">API</abbr> ключове които са били компрометирани или не са нужни
  повече. <abbr lang="en" title="Application Programming Interface">API</abbr> ключа просто ще бъде предаван на всяко извикване като удостоверение.
</p>
<p>
  Няколко метода бяха добавени, а съществуващите такива подобрени, за да позволят връщането на
  данни които не бяха налични преди като <kbd>Group.get</kbd>. <kbd>B[%%]ug.search</kbd>
  вече е толкова пълнофункционален колкото и потребителския интерфейс Разширено търсене позволявайки да бъдат изпълнявани
  същите търсения. Данни за приставките като флагове и други метаданни вече могат да бъдат
  обновявани през <abbr lang="en" title="Application Programming Interface">API</abbr>-то. Други WebService промени са описани
  <a href="#feat_webservices_other">отдолу</a>.
</p>

<h3 id="feat_caching_performance">Подобрено кеширане с използването на Memcached</h3>

<p>
  Bugzilla сега има възможността да се свърже с Memcached сървър работещ на
  същата машина или в мрежата, за да позволи бърз достъп до различни типове данни.
  Това намалява обема на обръщенията към базата от данни и може да подобри производителността. Други
  области също бяха подобрени, за да се възползват от кеширането в паметта за
  обекти, които се извличат няколко пъти по време на заявка, като потребителски данни, т.н.
</p>

<h3 id="feat_comment_tags">Възможност за етикетиране на коментари към [% terms.bug %]</h3>

<p>
  Потребителите могат да добавят етикети, видими за други потребители, към [% terms.bug %] коментари. Това
  им дава възможността за организиране на разговори в нишки, отбелязване на коментари като спам,
  отъждествяване на важни коментари, т.н. Потребителите могат да скриват коментари съдържащи определени
  етикети ако желаят. Полето за въвеждане на етикети също поддържа автоматично довършване, така че често
  използвани етикети да могат да бъдат избрани. Администраторите могат да направят коментари с определени етикети
  да бъдат автоматично скривани при преглед.
</p>

<h3 id="feat_bug_groups">Подобрена проверка за принадлежност към [% terms.bug %] група</h3>

<p>
  В миналото, Bugzilla ограничаваше тези които могат да преглеждат [% terms.bug %] до тези
  които са член на ВСИЧКИ групи в които е [% terms.abug %]. Което значи, че
  групите бяха проверявани с логическо И заедно. Това направи някои сценарии по контрол на достъпа относително
  сложни за осъществяване. Така че сега, Bugzilla по подразбиране (и може да бъде превключено,
  в съществуващи инсталации) е в режим при който [% terms.bug %] може да бъде прегледан от
  тези които са член на НЯКОЯ група в която е [% terms.abug %]. Което значи, че
  групите са проверявани с логическо ИЛИ заедно. Това дава повече гъвкавост в начина по който [% terms.bugs %]
  се правят частни за определени групи потребители.
</p>
<p>
  <strong>Забележка:</strong> Груповата принадлежност на [% terms.bugs %] и потребители
  не се променя въобще когато тази настройка е включена. Превключването от И към
  ИЛИ значи, че [% terms.bugs %] може да бъдет по-широко видими от преди.
  Отговорността е на администратора да се увери, че [% terms.bugs %] няма
  случайно да бъдат разкрити на грешните хора при промяна на тази настройка.
</p>

<h3 id="feat_documentation">Подобрена документация за потребители и администратори</h3>

<p>
  Стандартната документация предоставяна заедно с кода на Bugzilla беше
  пренаписана и подобрена с използването на reStructuredText формат. Това позволява
  документацията да бъде лесно публикувана на места като ReadTheDocs.org и може
  също да бъде лесно обръщана в различни формати като <abbr lang="en" title="HyperText Markup Language">HTML</abbr> и <abbr lang="en" title="Portable Document Format">PDF</abbr>.
  Нов раздел поветен на новото <abbr lang="en" title="Representational State Transfer">REST</abbr> WebService <abbr lang="en" title="Application Programming Interface">API</abbr> също беше добавен,
  значително подобрявайки старата WebService документация.
</p>

<h3 id="feat_other">Други подобрения и промени</h3>

<h4>Подобрения за потребители</h4>

<ul>
  <li><strong>[% terms.Bugs %]:</strong> Полето краен срок сега е видимо за потребители
    които не са в <kbd>timetracking</kbd> групата.</li>
  <li><strong>[% terms.Bugs %]:</strong> Сега има режим "Преглед" при
    създаване на нов коментар което ви позволява да видите как ще изглежда коментара
    преди да го предадете към базата с данни.</li>
  <li><strong>[% terms.Bugs %]:</strong> На докладчика сега е позволено да въвежда
    ключови думи по време на създаване на [% terms.bug %].</li>
  <li><strong>[% terms.Bugs %]:</strong> "Виж още" сега позволява интервали както и
    запетаи за разделяне на множество стойности.</li>
  <li><strong>[% terms.Bugs %]:</strong> Автоматичното създаване на връзки в коментари за [% terms.bug %]
    идентификатори и идентификатори на коментари беше подобрено.</li>
  <li><strong>[% terms.Bugs %]:</strong> [% terms.Bugs %] сега могат да имат множество
    назначени им псевдоними. Преди всеки [% terms.bug %] можеше да има само една единствена
    стойност. Също, псевдонимите сега са видими в заглавната лента на браузъра.</li>
  <li><strong>[% terms.Bugs %]:</strong> Потребителите сега могат да сменят флаговете на множество
    [%+ terms.bugs %] на веднъж използвайки формуляра за масова редакция.</li>
  <li><strong>Графики и доклади:</strong> <abbr lang="en" title="Unicode Transformation Format 8 bits">UTF-8</abbr> символи сега се показват
    правилно в "Нови графики" и графични доклади.</li>
  <li><strong>Графики и доклади:</strong> Потребителски полета с множествен избор сега са
    достъпни като избор за оси на доклад. Това ги прави използваеми за категоризация на
    [%+ terms.bugs %] в доклади.</li>
  <li><strong>Е-поща:</strong> Сега можете да изберете да не получавате никаква поща въобще
    за определен [% terms.bug %], дори да продължавате да имате роля по
    този [% terms.bug %] (напр. докладчик).</li>
  <li><strong>Е-поща:</strong> Когато добавяте или премахвате [% terms.bug %] като
    зависимост, резюмето на [% terms.abug %] се включва в уведомлението по
    е-поща.</li>
  <li><strong>Заявки:</strong> <kbd>request.cgi</kbd> сега може да извежда резултати в
    <abbr lang="en" title="Comma Separated Values">CSV</abbr> формат.</li>
  <li><strong>Заявки:</strong><kbd> X-Bugzilla-*</kbd> заглавките сега са включени
    в уведомления по е-поща за флагове.</li>
  <li><strong>Търсения:</strong> Някои полезни търсения бяха добавени към
    началната страница на Bugzilla.</li>
  <li><strong>Търсения:</strong> Бързо търсене сега позволява използването на оператори
    за сравнение като !=, >=, >, &lt;, т.н., в допълнение към търсенията за подниз.</li>
  <li><strong>Търсения:</strong> Стойности от "Блокира" и "Зависи от" сега могат да бъдат
    показвани като колони в [% terms.bug %] списък.</li>
  <li><strong>Търсения:</strong> Операторите за търсене "е празно" и "не е празно"
    бяха добавени към потребителския интерфейс Разширено търсене. Това позволява търсенето на празни
    и не празни стойности за определени полета.</li>
</ul>

<h4>Подобрения за администратори и разработчици</h4>

<ul>
  <li><strong>Администрация:</strong> Сега има <kbd>INTEGER</kbd> и
    <kbd>DATE</kbd> типове за потребителски полета.</li>
  <li><strong>Администрация:</strong> Файловите имена ползвани за съхранение на продуктови данни за
    "Стари графики" сега се основават на идентификатора на продукт, за предотвратяване на загуба на данни когато се сменя
    име на продукт.</li>
  <li><strong>Администрация:</strong> JavaScript и <abbr lang="en" title="Cascading Style Sheets">CSS</abbr> файлове сега се смаляват
    и съединяват за подобрения на производителността при зареждане на страници. Когато се правят промени,
    <kbd>checksetup.pl</kbd> трябва да бъде пуснат, за да пресъздаде обединените файлове.</li>
  <li><strong>[% terms.Bugs %]:</strong> Bugzilla сега пази следа за времето
    когато всеки потребител е посетил (това значи, заредил show_bug страницата в web браузър)
    всеки [% terms.bug %]. Това може да е полезно за табла или <abbr lang="en" title="Application Programming Interface">API</abbr> клиенти.</li>
  <li><strong>База данни:</strong> Текст който съдържаше допълнителни
    Уникод символи (извън <abbr lang="en" title="Basic Multilingual Plane">BMP</abbr>) беше отрязван при използване на MySQL като база данни.
    Това беше оправено за предотвратяване на загуба на данни.</li>
  <li><strong>База данни:</strong> <abbr lang="en" title="Secure Sockets Layer">SSL</abbr> връзки сега са възможни при ползване на
    MySQL като база данни.</li>
  <li><strong>База данни:</strong> За версия 8.x на PostgreSQL, <kbd>plpgsql</kbd>
    не беше винаги инсталиран по подразбиране и <kbd>checksetup.pl</kbd>
    създаваше грешка. Това беше оправено.</li>
  <li><strong>Разработка:</strong> Bugzilla сега е <abbr lang="en" title="HyperText Markup Language version 5">HTML5</abbr> съвместима. Като
    следствие, Internet Explorer 6 и 7 вече не се поддържат.</li>
  <li><strong>Е-поща:</strong> Създаването на е-поща първоначално се правеше преди
    създаването на задача в опашката. Сега това е забавено и се прави от
    <kbd>jobqueue.pl</kbd> точно преди изпращането на е-поща което може да подобри
    времето за отговор при обработка на промени по [% terms.bug %].</li>
  <li><strong>Е-поща:</strong> Когато администратор създаде нов потребител се
    праща е-поща до него.</li>
  <li><strong>Е-поща:</strong> За уведомления по е-поща за зависимости, се задава
    <kbd>X-B[%%]ugzilla-Type: dep_changed</kbd> заглавката.</li>
  <li><strong>Е-поща:</strong> <kbd>whine.pl</kbd> писма сега ползват
    <kbd>DEFAULT_COLUMN_LIST</kbd> (същите колони по подразбиране видими в страницата
    с бъг списък) вместо списък с колони закодиран в кода.</li>
  <li><strong>Сигурност:</strong> Поддръжка за по-големи стойности на
    <kbd>PASSWORD_SALT_LENGTH</kbd> без да се чупи съвместимостта със стари
    хешове.</li>
</ul>

<h4 id="feat_webservices_other">WebService промени</h4>

<ul>
  <li><kbd>B[%%]ug.search</kbd> сега позволява пълнофункционално търсене
    подобно на това което е възможно с използването на потребителския интерфейс Разширено търсене.</li>
  <li>Първична поддръжка за eTag заглавки беше добавена за всички WebServices,
    за да позволи по-добра мрежова производителност.</li>
  <li>Администраторите сега могат да сменят параметър прецеждащ всички е-пощенски
    адреси връщани в WebService извиквания подобно на прецеждането което
    се случва в web потребителския интерфейс.</li>
  <li>WebService извиквания сега поддържат ползването на <abbr lang="en" title="Application Programming Interface">API</abbr> ключове за удостоверяване.
    Потребителски имена и пароли остават поддържани.</li>
  <li>Недействителни или изтекли бисквитки за удостоверяване и белези сега изхвърлят
    грешки вместо да бъдат пренебрегвани безшумно. <kbd>User.valid_login</kbd>
    може да се ползва, за да се определи дали те са все още действащи или не.</li>
  <li>WebService извиквания които се използват за създаване и обновяване на [% terms.bugs %]
    и приставки сега поддържат задаването и обновяването на флагове.</li>
  <li><kbd>B[%%]ug.update_attachment</kbd> може да обнови метаданните на
    приставката както и нейните фалагове.</li>
  <li>Параметъра <kbd>product</kbd> на <kbd>B[%%]ug.possible_duplicates</kbd>
    беше преименуван на <kbd>products</kbd>.</li>
  <li>Някои полета включвани във връщаните данни за съвместимост които бяха
    отбелязани за премахване в тази версия вече ги няма.</li>
  <li><kbd>Group.get</kbd> беше добавен за получаване на информация за група и
    и членовете ѝ.</li>
  <li><kbd>FlagType.get</kbd> беше добавен за получаване на информация за действителни
    типове флаг за даден продукт и съставна част.</li>
  <li>Остарелите <kbd>B[%%]ug.get_bugs</kbd>, <kbd>B[%%]ug.get_history</kbd>
    и <kbd>Product.get_products</kbd> методи вече не се поддържат.
    Те бяха преименувани съответно на <kbd>B[%%]ug.get</kbd>, <kbd>B[%%]ug.history</kbd>
    и <kbd>Product.get</kbd>.</li>
</ul>

<h2 id="code_changes">Промени в кода които могат да засегнат персонализации и разширения</h2>

<ul>
  <li>Поддръжка на <abbr lang="en" title="Concurrent Versions System">CVS</abbr>, Bonsai и <abbr lang="en" title="Linux Cross Reference">LXR</abbr> беше напълно премахната при преглед на
    приставки. Това означава, че <kbd>cvsroot</kbd>, <kbd>cvsroot_get</kbd>,
    <kbd>bonsai_url</kbd>, <kbd>lxr_url</kbd> и <kbd>lxr_root</kbd> параметрите
    вече ги няма, какво и <kbd>cvsbin</kbd> от <kbd>localconfig</kbd>
    файла.</li>
  <li>Параметъра <kbd>docs_urlbase</kbd> беше премахнат. Ако документацията
    не е била подготвена локално, препратките "Помощ" и други препратки към документация
    ще пренасочват към <a href="https://bugzilla.readthedocs.org">bugzilla.readthedocs.org</a>
    автоматично.</li>
  <li>Параметъра <kbd>mostfreqthreshold</kbd> също беше премахнат.</li>
  <li>Всички разширения които определят нови публични WebService методи трябва да ги опишат
    в <kbd>PUBLIC_METHODS</kbd> константа. Методи които не са описани в нея
    няма да бъдат достъпни отдалечено.</li>
  <li><kbd>JSON::XS</kbd> се ползва сега вместо <kbd>Data::Dumper</kbd> за
    съхранение на конфигурационни стойности в <kbd>data/params</kbd>. Това трябва да
    подобри производителността при зареждане на файла.</li>
  <li>Нов тест беше добавен за проверка за служебни думи в <abbr lang="en" title="Structured Query Language">SQL</abbr> схема.</li>
  <li><kbd>Pod::Coverage</kbd> се ползва сега за подсигуряване, че подпрограмите са документирани.</li>
  <li>Bugzilla кода сега ползва <kbd>use parent</kbd> вместо <kbd>use base</kbd>
    на всички места където е приложимо.</li>
  <li>Нова кука именувана <kbd>cgi_headers</kbd> беше добавена, за да позволи
    персонализиране на връщаните <abbr lang="en" title="HyperText Transfer Protocol">HTTP</abbr> заглавки.</li>
  <li>Нова кука именувана <kbd>user_check_account_creation</kbd> беше добавена
    с цел вмъкването на допълнителни проверки преди приемане създаването на нова потребителска сметка.</li>
</ul>

[% INCLUDE global/footer.html.tmpl %]

[% BLOCK db_req %]
  [% SET m = DB_MODULE.$db %]
  <h3 id="req_[% db FILTER html %]">За [% m.name FILTER html %] потребители</h3>

  <ul>
    <li>[% m.name FILTER html %]
       [%+ '<span class="req_new">' IF db_new %]v[% m.db_version FILTER html %]
       [% '</span>' IF db_new %]
       </li>
    <li><strong>perl module:</strong>
      [%+ m.dbd.module FILTER html %]
      [%+ '<span class="req_new">' IF dbd_new %]v[% m.dbd.version FILTER html %]
      [% '</span>' IF dbd_new %]</li>
  </ul>
[% END %]


[% BLOCK req_table %]
  <table class="req_table">
    <tr>
      <th>Модул</th> <th>Версия</th>
      [% IF include_feature %]
        <th>Разрешава възможността</th>
      [% END %]
    </tr>
    [% FOREACH req = reqs %]
      <tr>
        <td [% ' class="req_new"' IF new.contains(req.package) %]>
          [%- req.module FILTER html %]</td>
        <td [% ' class="req_new"' IF updated.contains(req.package)
                                     OR new.contains(req.package) %]>
          [%- IF req.version == 0 %]
            (Всяка)
          [% ELSE %]
            [%- req.version FILTER html %]
          [% END %]
        </td>
        [% IF include_feature %]
          <td>[% req.feature.join(', ') FILTER html %]</td>
        [% END %]
      </tr>
    [% END %]
</table>
[% END %]
