[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Everything Solved.
  # Portions created by Everything Solved are Copyright (C) 2006
  # Everything Solved. All Rights Reserved.
  #
  # Contributor(s): Max Kanat-Alexander <mkanat@bugzilla.org>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  #%]

[% PROCESS global/variables.none.tmpl %]
[% SET title = "$terms.Bugzilla 4.2 Бележки към изданието" %]
[% INCLUDE global/header.html.tmpl 
  title = title
  style_urls = ['skins/standard/page.css'] 
%]

<h1>[% title FILTER html %]</h1>

<ul class="bz_toc">
  <li><a href="#v42_introduction">Въведение</a></li>
  <li><a href="#v42_point">Обновления в тази 4.2.x версия</a></li>
  <li><a href="#v42_req">Минимални изисквания</a></li>
  <li><a href="#v42_feat">Нови възможности и подобрения</a></li>
  <li><a href="#v42_issues">Оставащи проблеми</a></li>
  <li><a href="#v42_code_changes">Промени в кода които може да отразят
    на персонализации и разширения</a></li>
  <li><a href="#v42_previous">Бележки към версията за предишни версии</a></li>
</ul>

<h2 id="v42_introduction">Въведение</h2>

<p>Добре дошли в [% terms.Bugzilla %] 4.2! Измина почти година от както
  издадохме [% terms.Bugzilla %] 4.0 през Февруари 2011 и тази нова главна
  версия идва с няколко нови възможности и подобрения. Тя
  съдържа големи подобрения в търсене, поддръжка за SQLite, подобрени
  WebServices и много други подобрения.</p>

<p>Ако надграждате от версия преди 4.0 обезателно прочетете
  бележките към изданието за всички <a href="#v42_previous">предишни версии</a>
  между вашата версия и тази, <strong>особенно секцията Надграждане
  от бележките към изданието на всяка версия</strong>.</p>

<h2 id="v42_point">Обновления в тази 4.2.x версия</h2>

<h3>4.2.16</h3>

<p>Тази версия оправя два проблема със сигурността. Вижте
  <a href="https://www.bugzilla.org/security/4.2.15/">Бюлетина по сигурността</a>
  за подробности.</p>

<h3>4.2.15</h3>

<p>Тази версия оправя един проблем със сигурността. Вижте
  <a href="https://www.bugzilla.org/security/4.2.14/">Бюлетина по сигурността</a>
  за подробности.</p>

<p>Тази версия също съдържа следната поправка на [% terms.bug %]:</p>

<ul>
  <li>Пускането на запитване от Firefox пропадаше ако CGI 4.14 или по-нов беше инсталиран.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1175211">[% terms.Bug %] 1175211</a>)</li>
</ul>

<h3>4.2.14</h3>

<p>Тази версия съдържа следните поправки на [% terms.bugs %]:</p>

<ul>
  <li>На потребители които не са в insidergroup им беше невъзможно да определят дали някой
    определен потребител е направил  частен коментар в [% terms.bugs %].
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1151290">[% terms.Bug %] 1151290</a>)</li>
  <li>Поради регресия причинена от <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1090275">
    [% terms.bug %] 1090275</a>, WebService методите <kbd>B[%%]ug.get_bugs</kbd> и
    <kbd>B[%%]ug.get_history</kbd> вече не бяха разрешени.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1154099">[% terms.Bug %] 1154099</a>)</li>
  <li><kbd>B[%%]ug.update</kbd> понякога връщаше <kbd>cc_accessible</kbd>
    вместо <kbd>is_cc_accessible</kbd> as being changed.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1001846">[% terms.Bug %] 1001846</a>)</li>
  <li>Подтиснати предупреждения изхвърляни от CGI 4.05 и по-нов за "CGI::param извикван в списъчен контекст".
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1087400">[% terms.Bug %] 1087400</a>)</li>
</ul>

<h3>4.2.13</h3>

<p>Тази версия съдържа следната поправка на [% terms.bug %]:</p>

<ul>
  <li>Поправка на регресия причинена от <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1090275">
    [% terms.bug %] 1090275</a>, <kbd>JSON-RPC</kbd> API извиквания могат да се счупят в
    определени случаи, вместо да покажат правилното съобщене за грешка.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1124716">[% terms.Bug %] 1124716</a>)</li>
</ul>

<h3>4.2.12</h3>

<p>Тази версия оправя няколко проблема със сигурността. Вижте
  <a href="https://www.bugzilla.org/security/4.0.15/">Бюлетина по сигурността</a>
  за подробности.</p>

<p>В допълнение, следната важна поправка беше направена в тази версия:</p>

<ul>
  <li>Поправка на регресия причинена от CVE-2014-1571
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1064140">[% terms.bug %] 1064140</a>),
    коментари направени със задаването на флаг от страницата с подробности на приставка отново са
    включени в писмото уведомяващо за флага.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1082887">[% terms.Bug %] 1082887</a>)</li>
</ul>

<h3>4.2.11</h3>

<p>Тази версия оправя няколко проблема със сигурността. Вижте
  <a href="http://www.bugzilla.org/security/4.0.14/">Бюлетина по сигурността</a>
    за подробности.</p>

<h3>4.2.10</h3>

<p>Тази версия опрвя един проблем със сигурността. Вижте
  <a href="http://www.bugzilla.org/security/4.0.13/">Бюлетина по сигурността</a>
    за подробности.</p>

<h3>4.2.9</h3>

<p>Тази версия оправя една регресия въведена в [% terms.Bugzilla %] 4.2.8 с
  <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=968576">[% terms.bug %] 968576 свързан със сигурността</a>:
  <abbr lang="en" title="Uniform Resource Locator">URL</abbr>и в [% terms.bug %] коментари пак се показват правилно.
  (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=998323">[% terms.Bug %] 998323</a>)</p>

<h3>4.2.8</h3>

<p>Тази версия оправя един маловажен проблем със сигурността. Вижте
  <a href="http://www.bugzilla.org/security/4.0.11/">Бюлетина по сигурността</a>
  за подробности.</p>

<p>Допълнително в тази версия бяха оправени следните [% terms.bugs %]:</p>

<ul>
  <li><kbd>checksetup.pl</kbd> неправилно докладваше DBI 1.630 (1.63) като
    по-стар от 1.614, предотвратявайки приключване на надграждането.
    Ако все още използвате Perl 5.10.0 или по-стар, уверете се че имате
    <a href="http://search.cpan.org/~jpeacock/version/lib/version.pod">version</a>
    модула инсталиран преди да пускане на <kbd>checksetup.pl</kbd>.
    Ако ползвате Perl 5.10.1 или по-нов, този модул е вече наличен и
    няма нужда от специални действия.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=938300">[% terms.Bug %] 938300</a>)</li>
  <li><kbd>checksetup.pl</kbd> вече не пропада с "Invalid version format (non-numeric data)"
    когато Perl модул съдържа недействителен номер на версия.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=781672">[% terms.Bug %] 781672</a>)</li>
  <li>Променливата на средата PROJECT вече правилно се взема в предвид
    когато е разрешен mod_perl (тази променлива позволява няколко инсталации да
    споделят същия програмен код).
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=843457">[% terms.Bug %] 843457</a>)</li>
  <li>[% terms.Bugzilla %] повече не се чупи когато параметъра <kbd>shutdownhtml</kbd>
    е зададен и се ползва метод за удостоверяване без бисквитки.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=748095">[% terms.Bug %] 748095</a>)</li>
  <li>Формата за дата и час по подразбиране използван за SQLite беше оправен.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=938161">[% terms.Bug %] 938161</a>)</li>
</ul>

<h3>4.2.7</h3>

<p>Тази версия оправя няколко проблема със сигурността. Вижте
  <a href="http://www.bugzilla.org/security/4.0.10/">Бюлетина по сигурността</a>
  за подробности.</p>

<p>Допълнително в тази версия бяха оправени следните [% terms.bugs %]:</p>

<ul>
  <li>Internet Explorer 11 и базирани на KHTML търсачки като Konqueror вече могат
    да показват бъг списъци правилно.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=902515">[% terms.Bug %] 902515</a> и
    <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=914262">[% terms.bug %] 914262</a>)</li>
  <li>Когато параметъра <kbd>password_complexity</kbd> беше зададен с
    'letters_numbers_specialchars', бяха приемани пароли съдържащи само
    числа и специални символи . Сега вече е подсигурено, че има също и буква.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=897264">[% terms.Bug %] 897264</a>)</li>
  <li>Със сървъри на бази данни правещи нечувствителни към регистъра сравнения, като MySQL, белези
      и бисквитки за вход не бяха правилно потвърждавани тъй като регистъра беше пренебрегван.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=906745">[% terms.Bug %] 906745</a> и
    <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=907438">[% terms.bug %] 907438</a>)</li>
  <li>Всички заглавки свързани със сигурността (като X-Frame-Options) вече биват връщани при използване на XML-RPC.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=787328">[% terms.Bug %] 787328</a>)</li>
  <li>Oracle се чупеше при докладване на нов [% terms.bug %] ако потребителско поле със свободен текст
    не беше задължително и е оставено празно.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=919475">[% terms.Bug %] 919475</a>)</li>
  <li>Не беше възможно да се внесе [% terms.bugs %] с използване на <kbd>importxml.pl</kbd> с Oracle.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=848063">[% terms.Bug %] 848063</a>)</li>
</ul>

<h3>4.2.6</h3>

<p>Следните важни поправки/промени бяха направени в тази версия:</p>

<ul>
  <li>MySQL 5.6 вече се поддържа.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=852560">[% terms.Bug %] 852560</a>)</li>
  <li>Регресия въведена с [% terms.Bugzilla %] 4.2.4 караше Oracle да се чупи
    при инсталирането на [% terms.Bugzilla %] за първи път.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=858911">[% terms.Bug %] 858911</a>)</li>
  <li>Ако потребителско поле зависеше от продукт, съставна част или класификация,
    бита "задължително" беше пренебрегван при създаване на [% terms.bug %].
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=782210">[% terms.Bug %] 782210</a>)</li>
  <li>Заявки включващи флагове бяха счупени по няколко начина. Тези заявки
    бяха оправени.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=828344">[% terms.Bug %] 828344</a>)</li>
  <li>Табулирани доклади включващи празното решение не даваха правилна връзка към [% terms.bug %]
    броячи.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=212471">[% terms.Bug %] 212471</a>)</li>
  <li>WebService метода <kbd>B[%%]ug.search</kbd> връщаше всички видими
    [%+ terms.bugs %] при извикване без аргументи, пренебрегвайки
    параметрите <kbd>max_search_results</kbd> и <kbd>search_allow_no_criteria</kbd>.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=859118">[% terms.Bug %] 859118</a>)</li>
</ul>

<h3>4.2.5</h3>

<p>Тази версия оправя един проблем със сигурността. Вижте
  <a href="http://www.bugzilla.org/security/3.6.12/">Бюлетина по сигурността</a>
  за подробности.</p>

<p>В тази версия допълнително бяха направени следните важни поправки и 
  промени:</p>

<ul>
  <li>Заявките замесващи коментатори връщаха резултати бавно. Те
    бяха оптимизирани за по-добра производителност.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=818007">[% terms.Bug %] 818007</a>)</li>
  <li>Вече не е възможно да се създаде нов [% terms.bug %] с използване на спрени
    съставна част, целево събитие или версия. Тези недействителни стойности също така
    вече не са достъпни при местенето на [% terms.abug %] в друг продукт.
    ([% terms.Bugs %] <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=752946">752946</a>
    и <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=840824">840824</a>)</li>
  <li>Беше възможно да се създаде нов [% terms.bug %] без описание
    въпреки че работния поток на състоянията изискваше такова за  нов [% terms.bugs %].
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=818890">[% terms.Bug %] 818890</a>)</li>
  <li>Потребителски полета за множествен избор вече са достъпни в секцията "Търсене в историята на
    промените" на страницата "Разширено търсене".
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=839950">[% terms.Bug %] 839950</a>)</li>
  <li>Потребителско поле за избор можеше да получи отрязан списък със стойности ако една
    или повече от тях са спрени и видимостта им се
    управлява от друго поле.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=806809">[% terms.Bug %] 806809</a>)</li>
  <li>Предупреждения изхвърляни от Return::Value 1.666002 за този отхвърлен модул
    и които замърсяваха журнала за грешки на web сървъра вече са спрени.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=826678">[% terms.Bug %] 826678</a>)</li>
</ul>

<h3>4.2.4</h3>

<p>Тази версия оправя няколко проблема със сигурността. Вижте
  <a href="http://www.bugzilla.org/security/3.6.11/">Бюлетина по сигурността</a>
  за подробности.</p>

<p>В допълнение, бяха направени следните важни поправки/промени в тази
  версия:</p>

<ul>
  <li>Заявки включващи заместване на група с чупеха когато параметъра "usevisibilitygroups"
    беше разрешен. Също, CVE-2011-2979 не беше напълно оправен в
    [%+ terms.Bugzilla %] 4.1.3.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=788098">[% terms.Bug %] 788098</a>)</li>
  <li>Специални символи в имена на флагове не бяха правилно избягвани при показване на страницата "потвърждаване на
    потребителско съответствие". Администратор можеше  неволно да счупи показването на страницата
    ако име на флаг съдържаше символа  &lt; или &gt;, защото тези символи
    не бяха филтрирани.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=790215">[% terms.Bug %] 790215</a>)</li>
  <li>Вече предпазваме частни WebServices методи от това да бъдат извикани от външни
    приложения.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=793826">[% terms.Bug %] 793826</a>)</li>
  <li>PostgreSQL 9.2 изисква DBD::Pg 2.19.3.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=799721">[% terms.Bug %] 799721</a>)</li>
  <li>Oracle се сриваше когато правеше списъци с ключови думи или флагове.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=780053">[% terms.Bug %] 780053</a>)</li>
  <li>Oracle се сриваше когато се пишеха няколко прости думи в полето за Бързо търсене.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=804505">[% terms.Bug %] 804505</a>)</li>
  <li>[% terms.Bugs %] с решение ПРЕМЕСТЕН не можеха да бъдат редактирани повече.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=757935">[% terms.Bug %] 757935</a>)</li>
  <li>Редактирането на зависимости от страницата "Промяна на няколко [% terms.бugs %] едновременно"
    не работеше според очакваното. Идентификатори на [% terms.bugs %] бяха неправилно разбирани.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=790909">[% terms.Bug %] 790909</a>)</li>
  <li>Оста "Действителни часове" вече работи правилно в табулирани и графични доклади.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=794389">[% terms.Bug %] 794389</a>)</li>
  <li><kbd>checksetup.pl</kbd> не можеше да стартира ако разширението Гласуване беше
    разрешено на чисто нова инсталация и когато някои задължителни модули липсваха.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=652047">[% terms.Bug %] 652047</a>)</li>
  <li>[% terms.Bugzilla %] вече не се чупи при преглеждане на [% terms.abug %] когато
    се добавя потребителско поле.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=531243">[% terms.Bug %] 531243</a>)</li>
  <li>За подобрена сигурност, вече изпращаме заглавките "X-Content-Type-Options:&nbsp;nosniff"
    и "X-XSS-Protection:&nbsp;block" с всеки отговор.
    ([% terms.Bugs %] <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=671612">671612</a>
    и <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=680771">680771</a>)</li>
</ul>

<h3>4.2.3</h3>

<p>Тази версия оправя два проблема със сигурността. Вижте
  <a href="http://www.bugzilla.org/security/3.6.10/">Бюлетина по сигурността</a>
  за подробности.</p>

<p>В допълнение, бяха направени следните важни поправки/промени в тази
  версия:</p>

<ul>
  <li>Прикачването на файл към [% terms.abug %] беше счупено поради промяна в
    Perl 5.16.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=771100">[% terms.Bug %] 771100</a>)</li>
  <li>Регресия в [% terms.Bugzilla %] 4.2.2 караше Oracle да се чупи при
    показване на списък с бъгове.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=780028">[% terms.Bug %] 780028</a>)</li>
  <li>Беше възможно да се търси в историята по коментари и приставки които
    не можете да виждате (въпреки че тези частни коментари и приставки никога не се разкриват).
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=779709">[% terms.Bug %] 779709</a>)</li>
  <li>PostgreSQL бази данни могат да бъдат създадени с грешната кодова таблица дори
    при разрешен utf8 параметър.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=783786">[% terms.Bug %] 783786</a>)</li>
  <li>Хленчове по разписание можеха да бъдат изпратени в грешното време на Oracle.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=559539">[% terms.Bug %] 559539</a>)</li>
  <li>Белези вече не се включват в съхранени търсения.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=772953">[% terms.Bug %] 772953</a>)</li>
  <li>Администратор може неволно да счупи показването на списъци с бъгове ако описанието
    на потребителско поле съдържа символа &lt; или &gt;, защото тези символи
    не бяха филтрирани.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=785917">[% terms.Bug %] 785917</a>)</li>
  <li>Добавяне или премахване на колона в база данни в Oracle не обработваше правилно SERIAL
    колони.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=731156">[% terms.Bug %] 731156</a>)</li>
  <li>Второстепенна CSRF уязвимост в token.cgi даваше възможност за неупълномощени
    заявки за нулиране на парола по е-поща.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=706271">[% terms.Bug %] 706271</a>)</li>
</ul>

<h3>4.2.2</h3>

<p>Тази версия оправя два проблема със сигурността. Вижте
  <a href="http://www.bugzilla.org/security/3.6.9/">Бюлетина по сигурността</a>
  за подробности.</p>

<p>В допълнение, бяха направени следните важни поправки/промени в тази
  версия:</p>

<ul>
  <li>Регресия въведена в [% terms.Bugzilla %] 4.0 причиняваше някои имена за
    вход да бъдат пренебрегвани при въвеждането им в списък ТК на [% terms.bugs %].
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=756314">[% terms.Bug %] 756314</a>)</li>
  <li>Някои търсеня предизвикваха недействителни SQL заявки ако низове въведени от
    потребителя съдържаха непечатими символи в началото или края.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=760075">[% terms.Bug %] 760075</a>)</li>
  <li>Формата за автоматично завършване на ключови думи вече не избира автоматично
    първата ключова дума от списъка ако полето е правзно.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=764517">[% terms.Bug %] 764517</a>)</li>
  <li>Регресия в [% terms.Bugzilla %] 4.2 предотвратяваше възможността
    класификациите да бъдат използвани в графични и табулирани доклади в полето
    "Множество таблици".
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=753688">[% terms.Bug %] 753688</a>)</li>
  <li>Приставки създавани от скрипт <kbd>email_in.pl</kbd> бяха свързвани
    с грешния коментар.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=762785">[% terms.Bug %] 762785</a>)</li>
  <li>Много дълги списъци със зависимости вече могат да се преглеждат правилно.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=762783">[% terms.Bug %] 762783</a>)</li>
  <li>Ключови думи сега се показват правилно във формата за автоматично завършване, за да се предотврати
    всякаква XSS злоупотреба.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=754561">[% terms.Bug %] 754561</a>)</li>
  <li>Регресия введена в [% terms.Bugzilla %] 4.0rc2 с поправката на
    CVE-2011-0046 причиняваше връзката "Връщане на търсенето" повече да не работи правилно
    при възстановяването на изтрито съхранено търсене, защото на връзката ѝ липсваше
    дествителен белег.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=768870">[% terms.Bug %] 768870</a>)</li>
  <li>Две второстепенни CSRF уязвимости бяха оправени, които биха могли да позволят на нападател
    да промени подразбиращите ви се критерии за търсене страницата Разширено търсене.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=754672">[% terms.Bugs %] 754672</a>
    и <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=754673">754673</a>)</li>
</ul>

<h3>4.2.1</h3>

<p>Тази версия оправя два проблема със сигурността. Вижте
  <a href="http://www.bugzilla.org/security/3.6.8/">Бюлетина по сигурността</a>
  за подробности.</p>

<p>В допълнение, следните важни поправки/промени бяха направени в тази
  версия:</p>

<ul>
  <li>Поради регресия въведена при оправянето на CVE-2012-0453, ако XML-RPC
    клиент зададе кодовата таблица като част от Content-Type заглавката си, ние
    неправилно отхвърляхме заявката. Заглавката сега се разбира правилно.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=731219">[% terms.Bug %] 731219</a>)</li>
  <li>Уведомления по е-поща за промени в състояние на блокиращи бяха неправилно
    форматирани. Няколко парчета текст липсваха в писмата.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=731586">[% terms.Bug %] 731586</a>)</li>
  <li>Много [% terms.bugs %] свързани с търсещата система бяха оправени.
    (<a href="https://bugzilla.mozilla.org/buglist.cgi?bug_id=58179,715270,730984,731163,737436,745320">
    [% terms.Bugs %] 58179, 715270, 730984, 731163, 737436 и 745320</a>)</li>
  <li>При използването на кутията БързоТърсене, сложни заявки сега се разбират правилно.
    То се държи правилно и при използване на не-ASCII символи (като é, ä, ü, и т.н.).
    (<a href="https://bugzilla.mozilla.org/buglist.cgi?bug_id=554819,663377,730207">
    [% terms.Bugs %] 554819, 663377 и 730207</a>)</li>
  <li>Връзката 'вземам' под полето назначен сега работи правилно когато
    параметъра <kbd>usemenuforusers</kbd> е включен.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=734997">[% terms.Bug %] 734997</a>)</li>
  <li>Адреси в реда 'Общо' в дъното на таблични доклади бяха счупени
    когато JavaScript е разрешен и потребителски полета се ползват за вертикалната
    ос.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=731323">[% terms.Bug %] 731323</a>)</li>
  <li>Някои проблеми с производителността бяха оправени за инсталации с много
    продукти, съставни части или версии.
    (<a href="https://bugzilla.mozilla.org/buglist.cgi?bug_id=695514,731055">
    [% terms.Bugs %] 695514 и 731055</a>)</li>
  <li>Нова кука с име <kbd>buglist_column_joins</kbd> беше добавена, за да позволи
    разширения да променят хеша <kbd>Bugzilla::Search::COLUMN_JOINS</kbd>.
    Сега повече полета могат да бъдат показвани като колони в бъгсписъци, в допълнение
    с вече съществуващата <kbd>buglist_columns</kbd> кука.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=743991">[% terms.Bug %] 743991</a>)</li>
  <li>Нова кука с име <kbd>error_catch</kbd> беше добавена, за да позволи разширения
    да променят начина по който се изхвърлят грешки.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=745197">[% terms.Bug %] 745197</a>)</li>
  <li>Нова кука с име <kbd>admin_editusers_action</kbd> беше добавена, за да позволи
    разширения след минаването на <kbd>editusers.cgi</kbd>. Това си позволява да добавяте
    нови възможности към този скрипт много лесно.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=730794">[% terms.Bug %] 730794</a>)</li>
</ul>

<h2 id="v42_req">Минимални изисквания</h2>

<p>Всички изисквания които са нови спрямо 4.0.2 ще изглеждат
  <span class="req_new">така</span>.</p>

<ul>
  <li><a href="#v42_req_perl">Perl</a></li>
  <li><a href="#v42_req_mysql">За MySQL потребители</a></li>
  <li><a href="#v42_req_pg">За PostgreSQL потребители</a></li>
  <li><a href="#v42_req_oracle">За Oracle потребители</a></li>
  <li><a href="#v42_req_sqlite">За SQLite потребители</a></li>
  <li><a href="#v42_req_modules">Задължителни Perl модули</a></li>
  <li><a href="#v42_req_optional_mod">Незадължителни Perl модули</a></li>
  <li><a href="#v42_req_apache">Незадължителни Apache модули</a></li>
</ul>

<h3 id="v42_req_perl">Perl</h3>

<p>Perl v5.8.1</p>

[% INCLUDE db_req db='mysql' db_new => 1 dbd_new => 1 %]

[% INCLUDE db_req db='pg' db_new => 1 %]

[% INCLUDE db_req db='oracle' %]

[% INCLUDE db_req db='sqlite' %]

<h3 id="v42_req_modules">Задължителни Perl модули</h3>

[% INCLUDE req_table reqs = REQUIRED_MODULES
                     new = ['Math-Random-ISAAC']
                     updated = ['URI'] %]

<h3 id="v42_req_optional_mod">Незадължителни Perl модули</h3>

<p>Следните perl модули, ако са налични, разрешават различни
  възможности на [% terms.Bugzilla %]:</p>

[% INCLUDE req_table reqs = OPTIONAL_MODULES
                     new  = ['Encode', 'Encode-Detect']
                     updated = ['PatchReader', 'Apache-SizeLimit']
                     include_feature = 1 %]

<h3 id="v42_req_apache">Незадължителни Apache модули</h3>

<p>Ако използвате Apache като web сървър, [% terms.Bugzilla %] вече
  може да се възползва от някои възможности на Apache ако имате следните Apache
  модули налични и разрешени. Текущо,
  <a href="#v40_feat_js_css_update">определени [% terms.Bugzilla %] възможности</a>
  са разрешени само ако имате всички от следните модули налични
  и разрешени:</p>

<ul>
  <li>mod_headers</li>
  <li>mod_expires</li>
  <li>mod_env</li>
</ul>

<p>На повечето системи (но не под Windows), <kbd>checksetup.pl</kbd> може да
  каже дали имате или не тези модули налични и ще ви
  каже.</p>


<h2 id="v42_feat">Нови възможности и подобрения</h2>

<ul>
  <li><a href="#v42_feat_sqlite">Експериментална SQLite поддръжка</a></li>
  <li><a href="#v42_feat_attach">Създаване на приставка с пускане на текст в
    текстово поле</a></li>
  <li><a href="#v42_feat_email">HTML [% terms.Bug %]поща</a></li>
  <li><a href="#v42_feat_search">Подобрени системи за търсене</a></li>
  <li><a href="#v42_feat_product">Забраняване на стари съставни части, версии и важни събития</a></li>
  <li><a href="#v42_feat_custom">Показване на стойност на потребителско поле въз основа на множество
    стойности на друго поле</a></li>
  <li><a href="#v42_feat_audit">Одит на всички промени в [% terms.Bugzilla %]</a></li>
  <li><a href="#v42_feat_wai">Подобрения по достъпността</a></li>
  <li><a href="#v42_feat_other">Други подобрения и промени</a></li>
</ul>

<h3 id="v42_feat_sqlite">Експериментална SQLite поддръжка</h3>

<p>SQLite вече се поддържа от [% terms.Bugzilla %] и става четвъртата поддържана
  база данни в допълнение към MySQL, PostgreSQL и Oracle. SQLite поддръжката трябва да бъде смятана
  за експериментална поне до следващото основно издание.</p>

<p>Имайте предвид, че използването на SQLite се препоръчва само за малки инсталации. По-големи
  инсталации трябва да използват MySQL, PostgreSQL или Oracle.</p>

<h3 id="v42_feat_attach">Създаване на приставка с пускане на текст в текстово поле</h3>

<p>Вече можете да създадете нова приставка просто с пускането на някакъв текст в текстово
  поле, в допълнение към редовния процес на качване на приставки.</p>

<h3 id="v42_feat_email">HTML [% terms.Bug %]поща</h3>

<p>По подразбиране, [% terms.bug %]поща (уведомления по е-поща за промени по
  [%+ terms.bugs %]) вече се изпращат в <abbr lang="en" title="Hyper Text Markup Language">HTML</abbr> формат който е по-четим от
  стария текстов формат. Тези които предпочитат стария текстов формат все още могат да го изберат
  в Предпочитанията си, обаче.</p>

<h3 id="v42_feat_search">Подобрена система за търсене</h3>

<p>Секцията Персонализирано търсене в страницата Разширено търсене беше преработена,
  за да работи по по-сетивен начин. Изграждането на сложни заявки е по-лесно и води
  до по-значителни резултати, защото са построени с използването на по-сетивна логика.
  Някои усложнени заявки все още не могат да бъдат създавани, въпреки това.
  Нещата трябва да се подобрят в бъдещи издания.</p>

<h3 id="v42_feat_product">Забраняване на стари съставни части, версии и важни събития</h3>

<p>По-стари съставни части, версии и важни събития вече могат да се забраняват. [% terms.Bugs %]
  вече използващи ги не са засегнати, но тези стойности вече няма да са
  достъпни за нови [% terms.bugs %].</p>

<h3 id="v42_feat_custom">Показване на стойност на потребителско поле въз основа на множество стойности
  на друго поле</h3>

<p>Потребителско поле вече може да бъде показвано въз основа на множество стойности на друго поле.
  (Например, едно потребителско поле вече може да се появява в множество продукти.)
  По-рано можехте само да показвате потребителско поле въз основа на единична стойност от
  друго поле.</p>

<h3 id="v42_feat_audit">Одит на всички промени в [% terms.Bugzilla %]</h3>

<p>Повечето промени правени през административния интерфейс вече се записват в базата с данни,
  в таблица <kbd>audit_log</kbd>. Все още няма потребителски интерфейс за достъп до тази таблица,
  но разработчиците са свободни да създадат техни собствени инструменти за следене на промените в
  инсталациите им. Това е само първа стъпка, като подобрения се очакват в
  бъдещи издания.</p>

<h3 id="v42_feat_wai">Подобрения по достъпността</h3>

<p>Започна проект благодарение на Francisco Donalisio от IBM за правенето на
  [%+ terms.Bugzilla %] в съответствие с W3C Web Accessibility Initiative
  стандартите. Все още трябва да се свърши доста работа, но очакваме много
  по-добра съвместимост за следващото основно издание.</p>

<h3 id="v42_feat_other">Други подобрения и промени</h3>

<h4>Подобрения за потребители</h4>

<ul>
  <li><strong>[% terms.Bugs %]:</strong> Потребители без editbugs право вече
    не могат да премахват други потребители от списъка <abbr title="Точно копие">ТК</abbr> на [% terms.bugs %].</li>
  <li><strong>[% terms.Bugs %]:</strong> Вече са възможни локални идентификатори на [% terms.bug %] 
    в полето Виж още. Добавяне на такъв идентификатор ще добави също и обратна връзка в
    другия [% terms.bug %].</li>
  <li><strong>[% terms.Bugs %]:</strong> След промяна на [% terms.abug %] или
    приставка, адреса се сменя автоматично на <kbd>show_bug.cgi</kbd>
    вместо <kbd>post_bug.cgi</kbd>, <kbd>process_bug.cgi</kbd> или
    <kbd>attachment.cgi</kbd>, така че презареждането на страницата (например при
    рестартирането на браузъра) показва правилната страница. Тази възможност е поддържана
    от Firefox, Chrome и Safari, но не и от Internet Explorer 9.</li>
  <li><strong>[% terms.Bugs %]:</strong> Бездейни сметки вече не се
    показват в потребителски полета когато е разрешено автоматично завършване на потребители.</li>
  <li><strong>[% terms.Bugs %]:</strong> Автоматично завършване на потребители вече е много по-бързо
    на инсталации с много потребители.</li>
  <li><strong>[% terms.Bugs %]:</strong> Полето Виж още вече приема <abbr lang="en" title="Uniform Resource Locator">URL</abbr>-та
    сочещи към MantisBT, Trac, JIRA и sourceforge.net системите за следене на б[%%]ъгове.</li>
  <li><strong>[% terms.Bugs %]:</strong> Показването на [% terms.bug %] с много
    зависимости вече е много по-бързо.</li>
  <li><strong>Приставки:</strong> Кодирането на текстови полета може да се установи
    автоматично при качването им като приставки.</li>
  <li><strong>Приставки:</strong> Възможно е да се случи отвличане на щракване (Clickjacking) в страницата 
    с подробности на приставка ако потребител е прикачил специално оформен <abbr lang="en" title="Hyper Text Markup Language">HTML</abbr> файл. За да се справи с този 
    потенциален проблем, страницата с Подробности винаги показва изходния <abbr lang="en" title="Hyper Text Markup Language">HTML</abbr> код вместо това, а 
    потребителите могат да видят изчертаната страница с щракване върху Преглед.</li>
  <li><strong>Флагове:</strong> Смяната на изпълнителя на флаг вече не променя
    заявителя.</li>
  <li><strong>Доклади:</strong> Ако JavaScript е разрешен в web търсачката ви,
    табулираните доклади вече са подредими по всяка от показваните колони.</li>
  <li><strong>Графики на зависимост:</strong> Възможността <em>Показване на всеки [% terms.bug %] с
    системата със зависимости</em> беше премахната.</li>
  <li><strong>Търсения:</strong> Колоните показвани по подразбиране в
    [%+ terms.bug %] списъци се промениха. Следните колони вече се показвате по подразбиране
    освен ако не е указано друго:<br>
    <kbd>продукт | съставна част | назначен | състояние на [% terms.bug %] | решение |
    резюме на [%+ terms.bug %] | дата на последна промяна</kbd><br>
    Което означава, че колоните приоритет, суровост и операционна система вече не
    се показват по подразбиране.</li>
  <li><strong>Търсения:</strong> [% terms.Bug %] списъци вече ще показват
    първите 500 [% terms.abug %] по подразбиране. Все още е възможно да се покаже
    целия списък, въпреки това.</li>
  <li><strong>Търсения:</strong> При използване на относителни дати и времена, <kbd>-1w</kbd>
    вече е синоним за <kbd>-7d</kbd> и значи точно 7 дни. По-рано,
    <kbd>-1w</kbd> означаваше началото на седмицата, което объркваше някои потребители.
    Същото объркване съществуваше за <kbd>-1d</kbd> което беше различно от
    <kbd>-24h</kbd> и за <kbd>-1m</kbd> което беше различно от <kbd>-30d</kbd>.
    Сега ако наистина искате началото на деня, седмица или месец трябва да използвате
    <kbd>-1ds</kbd>, <kbd>-1ws</kbd> и <kbd>-1ms</kbd> съответно, където
    "s" означава "начало на". Тази промяна ще засегне съществуващи съхранени търсения използващи
    относителни дати.</li>
  <li><strong>Търсения:</strong> Ново <em>Включване на целия текст при изпълнението на бързи
    търсения</em> потребителско предпочитание беше добавено което позволява на потребители да включват
    или изключват коментари при ползването на бързи търсения.</li>
  <li><strong>Търсения:</strong> Вече е възможно да се търси за [% terms.bugs %]
    въз основа на лични тагове в секцията Персонализирано търсене в страницата Разширено
    търсене.</li>
  <li><strong>Е-пощенски уведомления: </strong> Датата и часа на коментари вече
    не се показват в заглавието на коментара в [% terms.bug%]поща. Тази информация
    вече е налична в заглавието на самото писмо.</li>
</ul>

<h4>Подобрения за администратори и разработчици</h4>

<ul>
  <li><strong>Инсталация:</strong> <kbd>checksetup.pl</kbd> вече е по-тих
    при създаването на нова база данни.</li>
  <li><strong>Сигурност:</strong> [% terms.Bugzilla %] 4.0 използва
    <kbd>Math::Random::Secure</kbd> за създаването на криптографски сигурни
    псевдослучайни числа, но се оказа, че инсталирането на този Perl модул от
    <abbr lang="en" title="Comprehensive Perl Archive Network">CPAN</abbr> създава доста грижи за някои хора поради множеството зависимости.
    Така че кода за създаване на случайни числа беше пренаписан да зависи само от <kbd>Math::Random::ISAAC</kbd>,
    който вече се използваше в предишни версии на [% terms.Bugzilla %].</li>
  <li><strong>Сигурност:</strong> <kbd>X-Frame-Options = SAMEORIGIN</kbd> вече се
    подава към всички заглавия на страници (освен при преглед на приставки, тъй като те може да са
    на различен сървър) за защита на потребители от рамкиране (framing) и в последствие възможни
    проблем с отвличане на щракване (clickjacking).</li>
  <li><strong>Конфигурация:</strong> Нов параметър <em>password_complexity</em>
    беше добавен (по подразбиране: no_constraints), който позволява на администратори да принуждават потребители
    да използват пароли с по-висока сложност, като комбинация от главни
    и малки букви, числа и специални символи или подмножество от тях.</li>
  <li><strong>Конфигурация:</strong> Нов параметър <em>search_allow_no_criteria</em>
    беше добавен (по подразбиране: включен), който позволява на администратори да забраняват заявки без
    критерии. Това е особено полезно за големи инсталации с няколко
    десетки или хиляди [% terms.bugs %] където връщане на всички [% terms.bugs %]
    няма много смисъл и би имало влияние върху производителността на базата с данни.</li>
  <li><strong>Конфигурация:</strong> Нов параметър <em>default_search_limit</em>
    беше добавен (по подразбиране: 500), който ограничава броя на [% terms.bugs %]
    показвани по подразбиране в [% terms.bug%]списък. Потребителя може да поиска да види по-длъг
    списък, въпреки това.</li>
  <li><strong>Конфигурация:</strong> Нов параметър <em>max_search_results</em>
    беше добавен (по подразбиране: 10000), който ограничава броя на [% terms.bugs %]
    които потребител може да поиска наведнъж в [% terms.bug%]списък. Това е твърдо ограничение и
    потребител не може да заобикаля тази стойност.</li>
  <li><strong>Конфигурация:</strong> Нов параметър <em>ajax_user_autocompletion</em>
    беше добавен (по подразбиране: включен), за да позволи на администратори да спират автоматичното завършване
    при писане на символи в полета за потребители. Този параметър трябва да се изключва само
    ако инсталацията ви не е способна да поддържа натоварването създавано от тази възможност.</li>
  <li><strong>Конфигурация:</strong> Куката <em>config_modify_panels</em> сега
    ви позволява да добавите допълнителни параметри към съществуващи панели с параметри.</li>
  <li><strong>Флагове:</strong> Потребители с локални editcomponents права сега могат
    да променят тип флагове за продукти които управляват.</li>
  <li><strong>Остроумия:</strong> Нова системна група <em>bz_quip_moderators</em> беше
    създадена за регулиране на остроумия. Досега, трябваше да бъдете в <em>admin</em>
    групата, за да правите това.</li>
  <li><kbd>importxml.pl</kbd> сега вмъква всеки коментар отделно във внасяния
    [%+ terms.bug %] вместо да съединява всички в един единствен коментар.</li>
  <li><kbd>email_in.pl</kbd> сега пренебрегва автоматично предоставени входящи съобщения (например
    всички тези "извън службата" писма).</li>
  <li>Нови куки в кода: email_in_before_parse, email_in_after_parse,
    install_filesystem, install_update_db_fielddefs, job_map, object_end_of_create,
    quicksearch_map, user_preferences.</li>
</ul>

<h4>WebService промени</h4>

<ul>
  <li>Два нови метода бяха добавени: <kbd>Product.create</kbd> и
    <kbd>Group.create</kbd>.</li>
  <li><kbd>B[%%]ug.update</kbd> вече не изхвърля грешка при синтактичен разбор на празен
    низ в <kbd>see_also</kbd>. Сега просто пренебрегва празната стойност.</li>
  <li><kbd>Product.get</kbd> сега също връща данни за класификацията към
    която принадлежи както и неговите съставни части, важни събития и версии. Той също
    връща <kbd>default_milestone</kbd> и <kbd>has_unconfirmed</kbd>
    свойствата.</li>
  <li>В <kbd>B[%%]ug.fields</kbd> свойството <kbd>sortkey</kbd> използвано в
    <kbd>values</kbd> беше преименувано на <kbd>sort_key</kbd>.</li>
  <li>В <kbd>B[%%]ug.attachments</kbd> и <kbd>B[%%]ug.add_attachment</kbd>,
    свойството <kbd>is_url</kbd> вече не съществува.</li>
</ul>


<h2 id="v42_issues">Висящи проблеми</h2>

<ul>
  <li><a href="https://bugzilla.mozilla.org/show_bug.cgi?id=89822">
    [%- terms.Bug %] 89822</a>: При промяна на няколко [% terms.аbugs %]
    едновременно, няма защита от "сблъскване във въздуха".</li>
  <li><a href="https://bugzilla.mozilla.org/show_bug.cgi?id=276230">
    [%- terms.Bug %] 276230</a>: Поддръжката за ограничаване на достъпа до
    определени Категории от Нови Графики не е завършена. Трябва да разглеждате
    <em>chartgroup</em> параметъра като единствения наличен механизъм.</li>
  <li><a href="https://bugzilla.mozilla.org/show_bug.cgi?id=584742">
    [%- terms.Bug %] 584742</a>: При преглед на [% terms.bug %], WebKit-основани
    търсачки могат автоматично да възстановят избраната стойност на поле, когато то
    има забранени стойности.</li>
</ul>


<h2 id="v42_code_changes">Промени в кода които може да отразят на персонализации и разширения</h2>

<ul>
  <li>Шаблона <kbd>email/newchangedmail.txt.tmpl</kbd> сега е напълно шаблонизиран,
    което означава, че таблицата с разлики показваща промени в [% terms.bug %] полета
    сега се създава като шаблон. Това означава, че [% terms.bug %]поща вече е
    напълно преводима.</li>
  <li>Куката bugmail_recipients беше променена да подава <kbd>diffs</kbd> с
    промените направени по [% terms.abug %], както и <kbd>users</kbd> включващ
    получатели на уведомлението по е-поща.</li>
  <li>YUI беше надграден до 2.9.0.</li>
  <li>Поради основно преработване на кода на <kbd>B[%%]ugzilla/Search.pm</kbd>, всяко
    персонализиране на този файл вероятно ще има нужда от пренаписване.</li>
  <li>Специфичния за [% terms.Bugzilla %] <kbd>url_quote</kbd> филтър използван в шаблони
    беше премахнат и заменен с <kbd>uri</kbd> филтъра от Template::Toolkit,
    тъй като те вече са подобни.</li>
  <li><kbd>long_list.cgi</kbd>, <kbd>showattachment.cgi</kbd> и <kbd>xml.cgi</kbd>
    бяха премахнати от програмния код. Както беше <a href="#v40_code_changes">обявено</a>
    в бележките към изданието на [% terms.Bugzilla %] 4.0, тези скриптове бяха омаловажени
    от [% terms.Bugzilla %] 2.19.</li>
  <li><kbd>sidebar.cgi</kbd> беше премахнат, защото основани на Gecko търсачки вече
    не поддържат отдалечен XUL, а и популярността е много ниска.</li>
  <li><kbd>contrib/yp_nomail.sh</kbd> беше премахнат. Този скрипт вече не е
    полезен след [% terms.Bugzilla %] 3.0.</li>
  <li><kbd>contrib/bugzilla_ldapsync.rb</kbd> беше премахнат. Този скрипт не
    работеше доста дълго време.</li>
</ul>


<h1 id="v42_previous">[% terms.Bugzilla %] 4.0 Бележки към версията</h1>

<ul class="bz_toc">
  <li><a href="#v40_introduction">Въведение</a></li>
  <li><a href="#v40_point">Обновления в тази 4.0.x версия</a></li>
  <li><a href="#v40_req">Минимални изисквания</a></li>
  <li><a href="#v40_feat">Нови възможности и подобрения</a></li>
  <li><a href="#v40_issues">Оставащи проблеми</a></li>
  <li><a href="#v40_upgrading">Бележки по надграждане от предишни версии</a></li>
  <li><a href="#v40_code_changes">Промени в кода които може да отразят
    на персонализации и разширения</a></li>
  <li><a href="#v40_previous">Бележки към версията за предишни версии</a></li>
</ul>

<h2 id="v40_introduction">Въведение</h2>

<p>Това е [% terms.Bugzilla %] 4.0! От 3.6 (предишната ни основна
  версия) извървяхме дълъг път и стигнахме по-далеч в сравнение с
  3.0 през 2007! От [% terms.Bugzilla %] 3.0 почти всеки основен потребителски
  интерфейс в [% terms.Bugzilla %] беше проектиран наново, WebServices се
  разви чудовищно, има страхотна нова система за Разширения и има
  стотици други нови възможности. С изцяло новото проектиране идващо
  специално в тази версия в сравнение с 3.6, почуствахме че е време да
  обявим тази версия 4.0.</p>

<p>Не само големите подобрения в WebService и потребителския интерфейс са нови в
  [%+ terms.Bugzilla %] 4.0&mdash;има много други вълнуващи нови възможности,
  включващи автоматично установяване на двойници, подобрена функционалност на потребителските
  полета, автоматично завършване за потребители, подобрения при търсене и много
  повече. Като цяло 4.0 е малко или много най-добрата версия на [% terms.Bugzilla %]
  която сме пускали някога.</p>

<p>Ако надграждате, обезателно прочетете <a href="#v40_upgrading">Бележки
  по надграждане от предишна версия</a>. Ако надграждате от версия
  преди 3.6, обезателно прочетете бележките към изданието за всички 
  <a href="#v40_previous">предишни версии</a> между вашата версия
  и тази, <strong>особено секцията Надграждане от
  бележките към изданието на всяка версия</strong>.</p>

<p>Бихме искали да благодарим на
  <a href="http://www.itasoftware.com/">ITA Software</a>,
  <a href="http://www.ibm.com/linux/ltc/"><abbr lang="en" title="International Business Machines">IBM</abbr> Линукс Технологичен Център</a>,
  и <a href="http://www.redhat.com/">Red Hat</a> за финансирането на разработката
  на определени възможности и подобрения в тази версия на
  [%+ terms.Bugzilla %].</p>

<h2 id="v40_point">Обновления в тази 4.0.x версия</h2>

<h3>4.0.2</h3>

<p>Тази версия поправя няколко проблема със сигурността. Вижте
  <a href="http://www.bugzilla.org/security/3.4.11/">Бюлетина по сигурността</a>
  за подробности.</p>

<p>В допълнение, бяха направени следните поправки/промени в тази
  версия:</p>

<ul>
  <li>WebService метода <kdb>B[% %]ug.create</kdb> вече хвърля грешка ако
    подадете име на група, което не съществува. В [% terms.Bugzilla %] 4.0 и 4.0.1,
    това име на група беше безшумно пренебрегвано, оставяйки [% terms.abug %] необезопасен
    ако не е приложена и друга група.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=653341">[% terms.Bug %] 653341</a>)</li>
  <li>Преместването на няколко [% terms.bugs %] наведнъж в друг продукт показваше
    същата страница за потвърждаване отново и отново, а промените никога не бяха предавани
    (регресия в 4.0).
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=663208">[% terms.Bug %] 663208</a>)</li>
  <li>Отбелязването на [% terms.bug %] като двойник сега работи в Internet Explorer 9.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=656769">[% terms.Bug %] 656769</a>)</li>
  <li><kdb>importxml.pl</kdb> вече не се срива когато внася ключови думи (регресия
    в 4.0).
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=657707">[% terms.Bug %] 657707</a>)</li>
  <li>Данни въведени при въвеждането на нов [% terms.bug %] могат да бъдат изгубени ако сте
    щракнали върху бутона "Назад" на вашата търсачка.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=652427">[% terms.Bug %] 652427</a>)</li>
  <li>WebServices методи ще връщат неопределени [% terms.bug %] полета като неопределени
    вместо като празен низ. Промяната е съгласувана с поведението
    на [%+ terms.Bugzilla %] 4.2.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=657561">[% terms.Bug %] 657561</a>)</li>
  <li>XML-RPC интерфейса вече работи с SOAP::Lite 0.711 и 0.712 под mod_perl.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=600810">[% terms.Bug %] 600810</a>)</li>
  <li>LWP 6.00 и по-нов изисква Perl 5.8.8 и по-нов. Когато инсталирате този модул
    използвайки <kdb>install-module.pl</kdb> на Perl инсталации по-стари от 5.8.8,
    ще бъде инсталиран LWP 5.837 вместо това.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=655912">[% terms.Bug %] 655912</a>)</li>
  <li>Показването на [% terms.bug %] доклад трябва да бъде значително по-бързо когато
    инсталацията ви има много потребителски полета.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=634812">[% terms.Bug %] 634812</a>)</li>
</ul>

<h3>4.0.1</h3>

<ul>
  <li>По време на инсталация, CPAN модула Math::Random::Secure щеше
    понякога да се провали да се инсталира правилно и даваше грешка за
    <kbd>Math::Random::Secure::irand</kbd>. Сега, когато се използва
    <kbd>install-module.pl</kbd> за инсталиране на Math::Random::Secure, това
    повече няма да се случва. Ако в момента имате този б[% %]ъг
    и ако той ви пречи да инсталирате 4.0, махнете Math::Random::Secure
    от вашата <kbd>lib/</kbd> папка, така:
    <p><kbd>rm -rf lib/Math/Random/Secure*</kbd></p>
    <p>(<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=646578">[% terms.Bug %] 646578</a>)</p></li>
  <li>Бутона "Запомняне на стойностите като отметваем шаблон" на
    страницата за въвеждане на [%+ terms.bug %], вече ще работи, дори когато някои задължителни полета
    са празни. 
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=640719">[% terms.Bug %] 640719</a>)</li>
  <li>Е-пощенските уведомления за зависимости и флагове имаха грешния
    времеви отпечатък.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=643910">[% terms.Bug %] 643910</a>
    и  (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=652165">[% terms.Bug %] 652165</a>)</li>
  <li>Вече можете да изберете "UTC" като действителна времева зона в Общи Preferences.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=646209">[% terms.Bug %] 646209</a>)</li>
  <li>Автоматичното засичане на двойници вече работи на PostgreSQL (въпреки че,
    не е такова високо качество като на други DB платформи). 
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=634144">[% terms.Bug %] 634144</a>)</li>
   <li>Автоматичното завършване за потребители вече работи дори ако използвате
     възможността "emailsuffix".
     (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=641519">[% terms.Bug %] 641519</a>)</li>
   <li>Javascript грешки при създаване на редици в Нови графики бяха
     поправени.
     (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=644285">[% terms.Bug %] 644285</a>)</li>
    <li>Страницата "Преглед на гласове" вече работи, за инсталации ползващия разширението
      Гласуване.
      (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=652381">[% terms.Bug %] 652381</a>)</li> 
</ul>

<h2 id="v40_req">Минимални изисквания</h2>

<p>Всички изисквания които са нови спрямо 3.6.3 ще изглеждат
  <span class="req_new">така</span>.</p>

<ul>
  <li><a href="#v40_req_perl">Perl</a></li>
  <li><a href="#v40_req_mysql">За MySQL потребители</a></li>
  <li><a href="#v40_req_pg">За PostgreSQL потребители</a></li>
  <li><a href="#v40_req_oracle">За Oracle потребители</a></li>
  <li><a href="#v40_req_modules">Задължителни Perl модули</a></li>
  <li><a href="#v40_req_optional_mod">Незадължителни Perl модули</a></li>
  <li><a href="#v40_req_apache">Незадължителни Apache модули</a></li>
</ul>

<h3 id="v40_req_perl">Perl</h3>

<p>Perl v5.8.1</p>
<h3 id="v40_req_mysql">За MySQL потребители</h3>

  <ul>
    <li>MySQL v4.1.2</li>
    <li><strong>perl module:</strong> DBD::mysql v4.00</li>
  </ul>

<h3 id="v40_req_pg">За PostgreSQL потребители</h3>

  <ul>
    <li>PostgreSQL v8.00.0000</li>
    <li><strong>perl module:</strong> DBD::Pg v1.45</li>
  </ul>

<h3 id="v40_req_oracle">За Oracle потребители</h3>

  <ul>
    <li>Oracle v10.02.0</li>
    <li><strong>perl module:</strong> DBD::Oracle v1.19</li>
  </ul>

<h3 id="v40_req_modules">Задължителни Perl Modules</h3>

  <table cellspacing="0" cellpadding="0" border="0" class="req_table">
    <tbody>
      <tr>
        <th>Модул</th><th>версия</th>
      </tr>
      <tr>
        <td>CGI</td>
        <td class="req_new">3.51</td>
      </tr>
      <tr>
        <td>Digest::SHA</td>
        <td>(Всяка)</td>
      </tr>
      <tr>
        <td>Date::Format</td>
        <td>2.21</td>
      </tr>
      <tr>
        <td>DateTime</td>
        <td>0.28</td>
      </tr>
      <tr>
        <td>DateTime::TimeZone</td>
        <td>0.71</td>
      </tr>
      <tr>
        <td>DBI</td>
        <td>1.41</td>
      </tr>
      <tr>
        <td>Template</td>
        <td>2.22</td>
      </tr>
      <tr>
        <td>Email::Send</td>
        <td>2.00</td>
      </tr>

      <tr>
        <td>Email::MIME</td>
        <td class="req_new">1.904</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>(Всяка)</td>
      </tr>
      <tr>
        <td class="req_new">List::MoreUtils</td>
        <td class="req_new">0.22</td>
      </tr>
    </tbody>
  </table>

<h3 id="v40_req_optional_mod">Незадължителни Perl модули</h3>

<p>Следните perl модули, ако са налични, разрешават различни
  възможности на [% terms.Bugzilla %]:</p>

  <table cellspacing="0" cellpadding="0" border="0" class="req_table">
    <tbody>
      <tr>
        <th>Модул</th><th>Версия</th><th>Разрешава</th>
      </tr>
      <tr>
        <td>GD</td>
        <td>1.20</td>
        <td>Графични доклади, Нови графики, Стари графики</td>
      </tr>
      <tr>
        <td>Chart::Lines</td>
        <td>2.1</td>
        <td>Нови графики, Стари графики</td>
      </tr>
      <tr>
        <td>Template::Plugin::GD::Image</td>
        <td>(Всяка)</td>
        <td>Графични доклади</td>
      </tr>
      <tr>
        <td>GD::Text</td>
        <td>(Всяка)</td>
        <td>Графични доклади</td>
      </tr>
      <tr>
        <td>GD::Graph</td>
        <td>(Всяка)</td>
        <td>Графични доклади</td>
      </tr>
      <tr>
        <td>MIME::Parser</td>
        <td>5.406</td>
        <td>Местене на [% terms.bugs %] между инсталации</td>
      </tr>
      <tr>
        <td>LWP::UserAgent</td>
        <td>(Всяка)</td>
        <td>Автоматични уведомления за обновления</td>
      </tr>
      <tr>
        <td>XML::Twig</td>
        <td>(Всяка)</td>
        <td>Местене на [% terms.bugs %] между инсталации, Автоматични уведомления
          за обновления</td>
      </tr>
      <tr>
        <td>PatchReader</td>
        <td>0.9.4</td>
        <td>Преглед на кръпки</td>
      </tr>
      <tr>
        <td>Net::LDAP</td>
        <td>(Вска)</td>
        <td><abbr lang="en" title="Lightweight Directory Access Protocol">LDAP</abbr> удостоверяване</td>
      </tr>
      <tr>
        <td>Authen::SASL</td>
        <td>(Всяка)</td>
        <td><abbr lang="en" title="Simple Mail Transfer Protocol">SMTP</abbr> удостоверяване</td>
      </tr>
      <tr>
        <td>Authen::Radius</td>
        <td>(Всяка)</td>
        <td><abbr lang="en" title="Remote Authentication Dial In User Service">RADIUS</abbr> удостоверяване</td>
      </tr>
      <tr>
        <td>SOAP::Lite</td>
        <td class="req_new">0.712</td>
        <td>Интерфейс <abbr lang="en" title="eXtensible Markup Language">XML</abbr>-<abbr lang="en" title="Remote Procedure Call">RPC</abbr></td>
      </tr>
      <tr>
        <td>JSON::RPC</td>
        <td>(Всяка)</td>
        <td>Интерфейс <abbr lang="en" title="JavaScript Object Notation">JSON</abbr>-<abbr lang="en" title="Remote Procedure Call">RPC</abbr></td>
      </tr>
      <tr>
        <td class="req_new">JSON::XS</td>
        <td class="req_new">2.0</td>
        <td>Прави <abbr lang="en" title="JavaScript Object Notation">JSON</abbr>-<abbr lang="en" title="Remote Procedure Call">RPC</abbr> по-бърз</td>
      </tr>
      <tr>
        <td>Test::Taint</td>
        <td>(Всяка)</td>
        <td>Интерфейс <abbr lang="en" title="JavaScript Object Notation">JSON</abbr>-<abbr lang="en" title="Remote Procedure Call">RPC</abbr>, Интерфейс <abbr lang="en" title="eXtensible Markup Language">XML</abbr>-<abbr lang="en" title="Remote Procedure Call">RPC</abbr></td>
      </tr>
      <tr>
        <td>HTML::Parser</td>
        <td>3.40</td>
        <td>Повече <abbr lang="en" title="Hyper Text Markup Language">HTML</abbr> в описания на Продукт/Група</td>
      </tr>
      <tr>
        <td>HTML::Scrubber</td>
        <td>(Всяка)</td>
        <td>Повече <abbr lang="en" title="Hyper Text Markup Language">HTML</abbr> в описания на Продукт/Група</td>
      </tr>
      <tr>
        <td>Email::MIME::Attachment::Stripper</td>
        <td>(Всяка)</td>
        <td>Входяща поща</td>
      </tr>
      <tr>
        <td>Email::Reply</td>
        <td>(Всяка)</td>
        <td>Входяща поща</td>
      </tr>
      <tr>
        <td>TheSchwartz</td>
        <td>(Всяка)</td>
        <td>Опашка с писма</td>
      </tr>
      <tr>
        <td>Daemon::Generic</td>
        <td>(Всяка)</td>
        <td>Опашка с писма</td>
      </tr>
      <tr>
        <td>mod_perl2</td>
        <td>1.999022</td>
        <td>mod_perl</td>
      </tr>
      <tr>
        <td>Apache2::SizeLimit</td>
        <td class="req_new">0.93</td>
        <td>mod_perl</td>
      </tr>
      <tr>
        <td class="req_new">Math::Random::Secure</td>
        <td class="req_new">0.05</td>
        <td>Подобрява сигурността на бисквитки и белези</td>
      </tr>
    </tbody>
  </table>

<h3 id="v40_req_apache">Незадължителни Apache модули</h3>

<p>Ако използвате Apache като web сървър, [% terms.Bugzilla %] вече
  може да се възползва от някои възможности на Apache ако имате следните Apache
  модули налични и разрешени. Текущо,
  <a href="#v40_feat_js_css_update">определени [% terms.Bugzilla %] възможности</a>
  са разрешени само ако имате всички от следните модули налични
  и разрешени:</p>

<ul>
  <li>mod_headers</li>
  <li>mod_expires</li>
  <li>mod_env</li>
</ul>

<p>На повечето системи (но не под Windows), <kbd>checksetup.pl</kbd> може да
  каже дали имате или не тези модули налични и ще ви
  каже.</p>

<h2 id="v40_feat">Нови възможности и подобрения</h2>

<ul>
  <li><a href="#v40_feat_dup">Автоматично установяване на двойници при попълване на
    [%+ terms.bugs %]</a></li>
  <li><a href="#v40_feat_search_ui">Нов потребителски интерфейс за Разширено търсене</a></li>
  <li><a href="#v40_feat_attach_ui">Нов потребителски интерфейс за подробности на приставка</a></li>
  <li><a href="#v40_feat_autocomplete">Автоматично завършване за потребители и
    ключови думи</a></li>
  <li><a href="#v40_feat_ui">Общи подобрения по използваемостта</a></li>
  <li><a href="#v40_feat_workflow">Нов подразбиращ се работен поток на състояния</a></li>
  <li><a href="#v40_feat_lists">"Последно търсне" вече помни множество
    търсения</a></li>
  <li><a href="#v40_feat_jsonp">Cross-Domain WebServices с <abbr lang="en" title="JavaScript Object Notation with Padding">JSONP</abbr></a></li>
  <li><a href="#v40_feat_ws">Големи WebService подобрения</a></li>
  <li><a href="#v40_feat_mandatory">Задължителни потребителски полета</a></li>
  <li><a href="#v40_feat_vot_ext">Гласуването е вече разширение</a></li>
  <li><a href="#v40_feat_js_css_update">Потребителите получават нов <abbr lang="en" title="Cascading Style Sheets">CSS</abbr> и Javascript
    автоматично</a></li>
  <li><a href="#v40_feat_hooks">Много нови куки</a></li>
  <li><a href="#v40_feat_apache_config">Нова настройка на Apache</a></li>
  <li><a href="#v40_feat_other">Други подобрения и промени</a></li>
</ul>

<h3 id="v40_feat_dup">Автоматично установяване на двойници при попълване на
  [%+ terms.bugs %]</h3>

<p>При попълване на [% terms.bug %], още щом започнете да пишете в полето
  Резюме, [% terms.Bugzilla %] ще предложи възможни двойници на
  [%+ terms.abug %] който попълвате.</p>

<p>За да работи тази възможност, всички предпоставки за <abbr lang="en" title="JavaScript Object Notation">JSON</abbr>-<abbr lang="en" title="Remote Procedure Call">RPC</abbr>
  поддръжка трябва да бъдат налични на вашата [% terms.Bugzilla %]. Тя ще бъде
  много по-бърза на инсталации работещи с mod_perl отколкото ще
  бъде на други инсталации.</p>

<h3 id="v40_feat_search_ui">Нов потребителски интерфейс за Разширено търсене</h3>

<p>Благодарение на работата по потребителския интерфейс на <a href="http://guy-pyrzak.blogspot.com/">Guy
  Pyrzak</a>, потребителския интерфейс на Разширено търсене беше проектиран изцяло наново.
  Сега е много опростен и далеч по достъпен за нови потребители, докато
  все пак запазва възможностите с които напредналите потребители са свикнали.</p>

<h3 id="v40_feat_attach_ui">Нов потребителски интерфейс за подробности на приставка</h3>

<p>Потребителския интерфейс използван за промяна на подробностите на приставка беше проектиран
  изцяло наново, позволяващ кутия с нормален размер да бъде ползвана
  при оставяне на бележки към коментари и позволяващ използването на почти цялата
  дължина на екрана при преглед на кода или промяна на приставката като
  коментар.</p>

<p>Благодарности на <a href="http://guy-pyrzak.blogspot.com/">Guy Pyrzak</a> за
  отличната му работа по това ново проектиране на потребителския интерфейс.</p>

<h3 id="v40_feat_autocomplete">Автоматично завършване за потребители и ключови думи</h3>

<p>Веднъж след като въведете поне три символа в което и да е поле което съдържа потребител
  (включително полетата [% field_descs.cc FILTER html %],
  [%+ field_descs.qa_contact FILTER html %] или
  [%+ field_descs.assigned_to FILTER html %]) ще се появи списък
  съдържащ всички потребители, чиито истински имена или потребителски имена съвпадат с написаното
  от вас. Вашата [% terms.Bugzilla %] трябва да има налични всички незадължителни Perl
  модули необходими за <abbr lang="en" title="JavaScript Object Notation">JSON</abbr>-<abbr lang="en" title="Remote Procedure Call">RPC</abbr> поддръжка, за да работи
  тази възможност. Също така тази възможност ще бъде <strong>много</strong>
  по-бърза на инсталации работещи под mod_perl отколкото ще бъде на
  други инсталации.</p>

<p>Има също така подобно автоматично завършване за полето Ключови думи. Автоматичното
  завършване за ключови думи не изисква <abbr lang="en" title="JavaScript Object Notation">JSON</abbr>-<abbr lang="en" title="Remote Procedure Call">RPC</abbr>.</p>

<h3 id="v40_feat_ui">Общи подобрения по използваемостта</h3>

<p>В допълнение към подобренията описани по-горе, бяха направени
  <strong>много</strong> подобрения по целия [% terms.Bugzilla %]
  потребителски интерфейс. За списък на определени подобрения които са по-значителни,
  вижте раздела <a href="#v40_feat_other">Други подобрения и промени</a>
  .</p>

<h3 id="v40_feat_workflow">Нов подразбиращ се работен поток на състояния</h3>

<p>За нови инсталации на [% terms.Bugzilla %], подразбиращия се набор от
  състояния вече ще бъде:</p>

<ul>
  <li>НЕПОТВЪРДЕН</li>
  <li>ПОТВЪРДЕН</li>
  <li>В РАЗВИТИЕ</li>
  <li>РЕШЕН</li>
  <li>ПРОВЕРЕН</li>
</ul>

<p>И състоянието НЕПОТВЪРДЕН ще бъде разрешено по подразбиране във всички продукти.</p>

<p>При надграждане, съществуващите инсталации няма да бъдат засегнати--ще запазите
  текущия си работен поток на състояния. Обаче, силно препоръчваме да
  да обновите съществуващия си работен поток до новия, използвайки специален инструмент
  който включихме, <kbd>contrib/convert-workflow.pl</kbd> и който можете
  да пуснете след като използвате <kbd>checksetup.pl</kbd>, за да надградите. Скриптовете
  <kbd>whineatnews.pl</kbd> и <kbd>bugzilla-submit</kbd> 
  най-вероятно няма да работят правилно ако продължите да ползвате стария работен поток
  (въпреки, че повечето други части на [% terms.Bugzilla %] ще продължат да работят
  нормално).</p>

<p>За повече информация относно работния поток и нашата обосновка за смяната
  му, вижте
  <a href="http://bugzillaupdate.wordpress.com/2010/07/06/bugzilla-4-0-has-a-new-default-status-workflow/">публикация
  в дневник за нея</a> и
  <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=486292">[% terms.abug %]
  където беше направена промяната</a>.</p>

<h3 id="v40_feat_lists">"Последно търсене" вече помни множество търсения</h3>

<p>Отгоре на всеки [% terms.bug %] в [% terms.Bugzilla %], има
  връзки изглеждащи така: "Първи", "Последен", "Предходен", "Следващ", и
  "Показване на последните резултати от търсене". В по-ранни версии на [% terms.Bugzilla %],
  ако направехте две отделни търсения в различни прозорци, тези връзки щяха да
  работят само за <em>последното</em> направено търсене. Сега, [% terms.Bugzilla %]
  ще "запомни" от кой резултат от търсене сте дошли и ще ви даде правилните
  "последни резултати от търсене" или "следващ [% terms.bug %]" от <em>този</em> списък,
  вместо винаги да ползва най-скорошното ви търсене.</p>

<p>Все още има някои ситуации където [% terms.Bugzilla %] ще трябва да
  "отгатне" през кое търсене се опитвате да се движите, но тя прави
  най-доброто, за да го направи правилно.</p>

<h3 id="v40_feat_jsonp">Cross-Domain WebServices с <abbr lang="en" title="JavaScript Object Notation with Padding">JSONP</abbr></h3>

<p>[% terms.Bugzilla %] вече поддържа правенето на WebService извиквания от
  друг домейн, в web бразузъра, благодарение на поддръжката на
  <a href="http://bob.pythonmac.org/archives/2005/12/05/remote-json-jsonp/">JSONP</a>.
  Това позволява на web "mash-ups" да използват [% terms.Bugzilla %] данни.
  При използване на <abbr lang="en" title="JavaScript Object Notation with Padding">JSONP</abbr>, можете да използвате функции които <em>получават</em> данни, 
  но не можете да извиквате функции които <em>променят</em> данни.</p>

<p>За повече подробности, вижте
  <a href="[% docs_urlbase FILTER html %]api/Bugzilla/WebService/Server/JSONRPC.html#JSONP">раздела
  <abbr lang="en" title="JavaScript Object Notation with Padding">JSONP</abbr></a> от документацията на <abbr lang="en" title="JavaScript Object Notation">JSON</abbr>-<abbr lang="en" title="Remote Procedure Call">RPC</abbr> WebService.</p>

<h3 id="v40_feat_ws">Големи WebService подобрения</h3>

<p>WebService беше разширен значително. Той вече трябва да
  може да прави всичко с [% terms.bugs %] което можете да правите през
  web интерфейса, включително обновяване на [% terms.bugs %], добавяне на приставки,
  в получаване на данни за приставки. За подробности, вижте
  раздела <a href="#v40_feat_ws_changes">WebService промени</a> от тези
  бележки по изданието.</p>

<h3 id="v40_feat_mandatory">Задължителни потребителски полета</h3>

<p>Вече можете да укажете, че определени потребителски полета са "задължителни",
  което означава, че те трябва да получат стойност при попълване на [% terms.bug %],
  и че никога след това не могат да бъдат празни.</p>

<h3 id="v40_feat_vot_ext">Гласуването е вече разширение</h3>

<p>Целия код за гласуване в [% terms.Bugzilla %] беше преместен
  в разширение наречено "Гласуване" в <kbd>extensions/Voting/</kbd>
  папката. За да го разрешите, трябва да премахнете файла <kbd>disabled</kbd>
  от тази папка и да пуснете <kbd>checksetup.pl</kbd>.</p>

<p>В бъдеща версия на [% terms.Bugzilla %], разширението Гласуване ще
  бъде преместено извън основния [% terms.Bugzilla %] код, така че търсим
  някой който има интерес в системата за Гласуване и би желал да я
  поддържа като отделно разширение. Има много заявки за подобрения
  които бяха направени по системата за Гласуване, а най-добрия начин те
  да бъдат отговорени е за някой да се изправи и да предложи да поддържа
  системата извън основния кода на [% terms.Bugzilla %].</p>

<h3 id="v40_feat_js_css_update">Потребителите получават нов <abbr lang="en" title="Cascading Style Sheets">CSS</abbr> и Javascript
  автоматично</h3>
  
<p>В предишни версии на [% terms.Bugzilla %], ако промените
  <abbr lang="en" title="Cascading Style Sheets">CSS</abbr> или Javascript файловете на [%+ terms.Bugzilla %], тогава всеки потребител на
  [%+ terms.Bugzilla %] ще трябваше да изчисти своята наличност в браузъра, за да получи
  обновените файлове. Сега, ако използвате Apache като web сървър и
  имате налични и разрешени <a href="#v40_req_apache">нездължителните Apache
  модули</a>, потребителите автоматично ще получават всяка нова версия на
  Javascript и <abbr lang="en" title="Cascading Style Sheets">CSS</abbr> на [%+ terms.Bugzilla %] без да се налага да трият
  наличността на бразуъра си.</p>

<p>Тази възможност също така дава леко ускоряване на производителността на
  [%+ terms.Bugzilla %] в някои случаи, така че препоръчваме всички
  администратори да инсталират и разрешат незадължителните Apache модули ако е възможно.</p>

<h3 id="v40_feat_hooks">Много нови куки</h3>

<p>Много нови куки бяха добавени за ползване от Разширенията,
  в [% terms.Bugzilla %] 4.0. Разширенията вече имат достъп и могат да променят
  почти всяка част от [% terms.Bugzilla %].</p>

<h3 id="v40_feat_apache_config">Нова настройка на Apache</h3>

<p>Ако [% terms.Bugzilla %] върви под Apache (както в повечето случаи),
  най-вероятно ще имате нужда от <strong>нова настройка на Apache</strong> 
  за тази версия на [% terms.Bugzilla %]. Вижте 
  раздела <a href="#v40_upgrading">Бележки по надграждане от предишна версия</a>
  за подробности.</p>

<h3 id="v40_feat_other">Други подобрения и промени</h3>

<h4>Подобрения за потребители</h4>

<ul>
  <li>Сега, навсякъде в [% terms.Bugzilla %] където можете да въведете дата,
    има приспособление Календар, където можете да изберете датата по
    календар.</li>
  <li>Големите картинки на началната страница бяха заменени с по-красиви
    такива, благодарение на Jon Pink от <a href="http://www.jpink.co.uk/">J.&nbsp;Pink&nbsp;Design</a>!</li>
  <li><strong>[% terms.Bugs %]:</strong> При попълване на [% terms.bugs %],
    вече ще бъдете предупреждавани ако забравите да попълните някое задължително поле,
    <em>преди</em> страницата да бъде подадена.</li>
  <li><strong>[% terms.Bugs %]:</strong> При попълване на [% terms.bug %],
    можете да движите мишката над всеки от етикетите на полетата върху страницата,
    за да получите кратко описание на това какво е и каква е целта
    му.</li>
  <li><strong>[% terms.Bugs %]:</strong> При добавяне на Отработени часове към [% terms.bug %],
    вече не се изисква оставянето на коментар.</li>
  <li><strong>[% terms.Bugs %]:</strong> Вече има потребителско предпочитание
    за това дали кутията за коментар да се появява над или под съществуващите
    коментари.</li>
  <li><strong>[% terms.Bugs %]:</strong> [% terms.Bugzilla %] вече ще
    изпраща е-поща за всеки коментар който отбелязвате като частен или
    не. (Предишни версии на [% terms.Bugzilla %] не изпращаха писма
    към потребителите за тази промяна.) Състоянието на коментарите правени частни
    също така вече се пази в историята на [% terms.abug %].</li>
  <li><strong>[% terms.Bugs %]:</strong> Кутията до "Добавяне на [% terms.bug %] URLта"
    в полето Виж още вече е скрита зад една връзка "(добавяне)", върху която
    трябва да щракнете, за да видите кутията.</li>
  
  <li><strong>Търсения:</strong> Вече можете правилно да търсите за стойности на полета
    съдържащи запетаи в името си, при използване на формуляра за Разширено търсене.</li>
  <li><strong>Търсения:</strong> Полето "URL" вече може да бъде показвано като колона
    в резултати от търсене.</li>
  <li><strong>Търсения:</strong> При преглеждане на резултат от търсене, вече можете
    да щракнете на полето Резюме на [% terms.abug %], за да посетите
    страницата за преглед на [%+ terms.bug %], в допълнение на възможността да щракнете върху
    номера на [%+ terms.bug %].</li>
  <li><strong>Търсения:</strong> Когато правите търсене използвайки кутията "quicksearch"
    в началото или дъното, тя още ще съдържа това което сте търсили
    при преглеждане на страницата с резултати от търсене.</li>
  <li><strong>Търсения:</strong> Потребителски полета с множествен избор вече могат да бъдат
    показвани като колони в резултати от търсене.</li>
  <li><strong>Търсения:</strong> Когато използвате Булеви карти (вече се казват
    "Персонализирано Търсене"), ако укажете едновременно критерий за приставка
    и критерий за флаг, тогава само [% terms.bugs %] които имат
    приставки с този флаг ще бъдат открити.</li>
  <li><strong>Търсения:</strong> Ако минете с мишката върху етикети на полета
    на страницата Разширено търсене, ще получите описание на това какво е
    полето.</li>
  <li><strong>Търсения:</strong> Когато търсите чрез съхранено търсене, ако
    случайно щракнете върху "Забравяне на търсене", вече има връзка за отмяна на операцията.</li>
  <li><strong>Търсения:</strong> При използване на Булеви Карти (казващите се вече
    "Персонално търсене"), можете да търсите за стойности "по-големи или равни на"
    или "по-малки или равни на" дадена стойност.</li>
  
  <li><strong>Флагове:</strong> Ако минете с мишката над името на
    потребител задал флаг когато преглеждате [% terms.abug %], можете да видите
    неговото пълно име и цяло потребителско име.</li>
  <li><strong>Флагове:</strong> Когато задавате флаг на [% terms.bug %],
    кутията за въвеждане на изпълнител вече не се появява докато не зададете флага
    на "?".</li>
  <li><strong>Флагове:</strong> На страницата "Мои заявки", [% terms.bugs %]
    които са ограничени до определени групи вече правилно имат картинката
    "padlock" до тях, за да покаже, че те може да съдържат поверителна
    информация.</li>
  
  <li>Когато използвате интерфейса за Доклади, вече можете да изберете много повече полета
    като X, Y или Z оси на доклад, включително потребителски полета.</li>
  <li>[% terms.Bugzilla %] вече предпазва
    Internet Explorer 8 и по-нов от опита да представя
    <kbd>text/plain</kbd> приставки като <abbr lang="en" title="Hyper Text Markup Language">HTML</abbr>.</li>
  <li>Ако получите писмо от Хленч, което е празно, то вече ще съдържа кратко
    съобщение обясняващо, че търсенето ви не е дало резултати.</li>
  <li><a href="page.cgi?id=fields.html">Страницата помощ за полета Page</a> вече
    съдържа обяснение за всяко отделно поле към
    [%+ terms.bug %] в [% terms.Bugzilla %].</li>
</ul>

<h4>Подобрения за администратори и разработчици</h4>

<ul>
  <li>Системата за местене на [% terms.bugs %] между инсталации беше
    преместена в разширение наречено <kbd>OldBugMove</kbd>. Тази система беше ползвана
    от много малко [% terms.Bugzilla %] инсталации--ако не сте сигурен
    дали я ползвате или не, значи не я ползвате. За да пуснете системата,
    трябва да премахнете файла <kbd>extensions/OldBugMove/disabled</kbd>
    и тогава да пуснете <kbd>checksetup.pl</kbd>. В бъдещи версии на [% terms.Bugzilla %],
    това разширение може да бъде извадено от основния [% terms.Bugzilla %] код,
    така че ако се интересувате от поддръжката му, уведомете ни.</li>
  <li><strong>Потребителски полета: </strong> Потребителските полета "[% terms.Bug %] №" могат
    да изразяват взаимоотношения между [% terms.bugs %], подобно на това как
    [%+ field_descs.blocked FILTER html %] и
    [%+ field_descs.dependson FILTER html %] полетата работят сега.</li>
  <li><strong>Потребителски полета:</strong> Вече можете да ограничавате видимостта
    потребителски полета и стойностите им до дадена Съставна част или
    Класификация.</li>
  <li>"Наличността с ключови думи" беше премахната. При промяна на ключови думи, вече
    няма да ви се налага да "изграждате наново наличността с ключови думи" след приключване.</li>
  <li>Пускането на <kbd>./collectstats.pl --regenerate</kbd> вече ще отнема
    минути или часове, вместо дни.</li>
  <li>Ако ползвате <kbd>email_in.pl</kbd>, той има два нови ключа,
    <kbd>--default</kbd> и <kbd>--override</kbd>, които ви позволяват да
    укажете определени подразбиращи се стойности или да замените указаните стойности за
    <kbd>@field</kbd> стойности пращани в писма. (Това също ви позволява да указвате
    подразбирания за всичко, така че хората да не трябва да определят каквито и да е стойности
    на полета при въвеждане на [% terms.bug %] по е-поща.)</li>
  <li><strong>Инсталация:</strong> Ако използвате локализирана версия на
    [%+ terms.Bugzilla %] и терминала ви не разбира Unicode,
    <kbd>checksetup.pl</kbd> вече ще се опитва да извежда съобщенията си в
    кодирането на терминала ви.</li>
  <li><strong>Инсталация:</strong> [% terms.Bugzilla %] вече няма нужда от празен
    <abbr lang="en" title="Cascading Style Sheets">CSS</abbr> "контейнер" в <kbd>skins/custom</kbd> папка и други
    папки. Когато обновите, <kbd>checksetup.pl</kbd> ще ги премахне.
    Това също значително намалява броя на <abbr lang="en" title="Hyper Text Transfer Protocol">HTTP</abbr> заявките необходими за
    зареждане на страница за първи път в [% terms.Bugzilla %].</li>
  <li><strong>Инсталация:</strong> За Windows потребители, [% terms.Bugzilla %]
    вече поддържа напълно Strawberry Perl.</li>
  <li><strong>Инсталация:</strong> Сега, когато <kbd>checksetup.pl</kbd>
    изхвърли грешка, тя ще бъде печатана в червен цвят, за да бъде
    очевидно, че нещо не е наред.</li>
  <li><strong>Инсталация:</strong> Някои действия на <kbd>checksetup.pl</kbd> бяха
    безмълвни в миналото. Сега, <kbd>checksetup.pl</kbd> ще печата съобщения за
    почти всичко което прави.</li>
  <li><strong>Инсталация:</strong> Процеса по добавянето на външни ключове
    към таблица вече е много по бърз. Това определено ще подобри скоростта
    по надграждане от [% terms.Bugzilla %] 3.4 или по-ранна.</li>
  <li>Ако ползвате <kbd>jobqueue.pl</kbd> и е-поща бъде много натоварена
    поради някаква причина, тези писма вече ще имат заглавка Date отразяваща
    времето в което е били <em>предвидено</em> да бъдат изпратени, вместо това в което в действителност са
    <em>били</em> изпратени.</li>
  <li><kbd>./jobqueue.pl install</kbd> вече работи на SuSE Linux.</li>
  <li>[% terms.Bugzilla %] вече върви много по-добре в Apache suexec режим
    отколкото преди. Като част от това, <kbd>checksetup.pl</kbd> задава
    много по-строги разрешения на всички файлове в [% terms.Bugzilla %]
    отколкото преди. В частност, всички файлове за които [% terms.Bugzilla %]
    не знае нищо няма да бъдат четими от web сървъра.</li>
  <li>Параметъра <kbd>sendmailnow</kbd> беше премахнат, тъй като
    не беше необходим за съвременни версии на Sendmail или други агенти за пренос на
    поща.</li>
  <li>Когато променяте потребител чрез панела за администриране на потребители, вече можете да
    видите дали те са в подразбиращия се <abbr title="Точно Копие">ТК</abbr> списък на някоя съставна част.</li>
  <li>За нови инсталации на [% terms.Bugzilla %], всички потребители ще
    могат да виждат и използват Хленч системата по подразбиране.</li>
  <li>Когато ползвате <abbr lang="en" title="Secure Socket Layer">SSL</abbr> с [% terms.Bugzilla %], вече можете да
    включите параметъра <kbd>strict_transport_security</kbd>, за да
    пращате
    <a href="https://developer.mozilla.org/en/Security/HTTP_Strict_Transport_Security">Strict-Transport-Security</a>
    заглавката с всяка <abbr lang="en" title="Hyper Text Transfer Protocol Secure">HTTPS</abbr> връзка, за допълнителна сигурност.</li>
  <li>Нови куки в кода (вижте документацията им в
    <a href="[% docs_urlbase FILTER html %]api/Bugzilla/Hook.html">Bugzilla::Hook</a>):
    bug_check_can_change_field, search_operator_field_override,
    bugmail_relationships, object_columns, object_update_columns,
    и object_validators. Куката colchange_columns беше премахната,
    тъй като вече не беше нужна (buglist_columns ще бъде ползвана за данни
    относно колоните които могат да присъства в [% terms.bug %] списък).</li>
  <li>Когато [% terms.Bugzilla %] изхвърля определени типове грешки, тя вече ще
    включва "обратно проследяване" за това къде точно в кода е възникнала
    грешката, за да помогне на администратори и разработчици да отстраняват проблеми.</li>
  <li>Вече има изпитание, <kbd>xt/search.t</kbd>, подсигуряващ, че цялата
    функционалност на <kbd>Bugzilla::Search</kbd> работи правилно.
    Ако настроите персонално функционалността на [% terms.Bugzilla %],
    може да искате да пуснете това изпитание, за да проверите правилността на промените си.
    Можете да видите повече информация за пускането на това изпитание с пускането на
    <kbd>perldoc xt/search.t</kbd> на командния ред.</li>
  <li>[% terms.Bugzilla %] вече праща
    <a href="https://developer.mozilla.org/en/the_x-frame-options_response_header"><code>X-Frame-Options: SAMEORIGIN</code></a> заглавката
    с всяка заявка за страница, за да предотврати "clickjacking" нападения. Забележете,
    че това предотвратява други домейни да показват [% terms.Bugzilla %]
    в <abbr lang="en" title="Hyper Text Markup Language">HTML</abbr> рамка.</li> 
</ul>

<h4 id="v40_feat_ws_changes">WebService промени</h4>

<ul>
  <li>Вече можете да викате някои <abbr lang="en" title="JavaScript Object Notation">JSON</abbr>-<abbr lang="en" title="Remote Procedure Call">RPC</abbr> методи използвайки <abbr lang="en" title="Hyper Text Transfer Protocol">HTTP</abbr> GET, в допълнение към
    ползването на <abbr lang="en" title="Hyper Text Transfer Protocol">HTTP</abbr> POST. Вижте 
    <a href="[% docs_urlbase FILTER html %]api/Bugzilla/WebService/Server/JSONRPC.html#Connecting_via_GET">документацията на
    <abbr lang="en" title="JavaScript Object Notation">JSON</abbr>-<abbr lang="en" title="Remote Procedure Call">RPC</abbr></a> за подробности.</li>
  <li>Вече можете да обновявате съществуващи [% terms.bugs %] използвайки
    <a href="[% docs_urlbase FILTER html %]api/Bugzilla/WebService/Bug.html#update">B[% %]ug.update</a>
    функцията.</li>
  <li>Вече можете да добавяте приставки към [% terms.bugs %] използвайки
    <a href="[% docs_urlbase FILTER html %]api/Bugzilla/WebService/Bug.html#add_attachment">B[% %]ug.add_attachment</a>
    функцията.</li>
  <li>Функцията <kbd>B[% %]ug.get</kbd> вече връща цялата информация за [% terms.abug %]
    освен коментари и приставки.</li>
  <li><kbd>B[% %]ug.get</kbd> вече не връща хеша <kbd>internals</kbd>.</li>
  <li>Функцията <kbd>B[% %]ug.attachments</kbd> вече също връща допълнителни данни за
    приставки.</li>
  <li>Следните функции вече поддържат параметри <kbd>include_fields</kbd>
    и <kbd>exclude_fields</kbd>: <kbd>B[% %]ug.get</kbd>,
    <kbd>B[% %]ug.search</kbd> и <kbd>B[% %]ug.attachments</kbd>. Също така,
    производителността от страна на сървъра на WebService в действителност е увеличена сега когато
    използвате тези параметри, тъй като [% terms.Bugzilla %] вече няма да
    получава данни от базата за полета които не сте поискали.</li>
  <li>Вече можете да отбелязвате първоначалното описание на [% terms.abug %] като
    частно когато попълвате [% terms.abug %] чрез <kbd>B[% %]ug.create</kbd>
    функцията.</li>
  <li>Вече можете да указвате групи в които да поставите [% terms.bug %] в
    <a href="[% docs_urlbase FILTER html %]api/Bugzilla/WebService/Bug.html#create">B[% %]ug.create</a>
    функцията. (Това също означава, че можете да указвате групи при попълването на
    [%+ terms.bug %] чрез email_in.pl.)</li>
  <li>Функцията <kbd>User.get</kbd> вече приема <kbd>groups</kbd>
    и <kbd>group_ids</kbd> аргументи, за да ограничи връщаните стойности само до
    потребители в указаните групи.</li>
  <li>Има нова, недокументирана B[% %]ug.possible_duplicates
    функция която помага за изпълняването на автоматичната система за установяване на
    двойници. Тъй като тази функция не е писана, нейния <abbr lang="en" title="Application Programming Interface">API</abbr> може да се промени
    между версиите на [% terms.Bugzilla %].</li>
  <li>Вече не можете да търсите използвайки параметър <kbd>votes</kbd> в
    <kbd>B[% %]ug.search</kbd>.</li>
  <li><kbd>B[% %]ug.attachments</kbd> вече връща описанието на приставката
    използвайки името "summary" вместо "description", за да бъде
    съвместима с факта, че [% terms.bug %] резюметата се наричат
    "summary". Стойността все още се връща <em>също</em> като "description",
    за обратна съвместимост, но тази съвместимост ще изчезне
    в [% terms.Bugzilla %] 5.0.</li>
  <li>Във връщаните стойности на различни <kbd>B[% %]ug</kbd> функции, авторът на
    коментари, [% terms.bugs %] и приставки вече се нарича "creator",
    вместо това понякога да бъде наричан "reporter", "author", или "attacher".
    Старите имена са запазени за обратна съвместимост и ще останат
    наоколо до [% terms.Bugzilla %] 5.0.</li>
</ul>

<h2 id="v40_issues">Оставащи проблеми</h2>

<ul>
  <li><a href="https://bugzilla.mozilla.org/show_bug.cgi?id=423439">
    [%- terms.Bug %] 423439</a>: Табулации в коментари ще бъдат обръщани
    на четири интервала, поради б<!-- -->ъг в Perl от Perl 5.8.8.</li>
  <li><a href="https://bugzilla.mozilla.org/show_bug.cgi?id=89822">
    [%- terms.Bug %] 89822</a>: При промяна на няколко [% terms.abug %] 
    едновременно, няма защита от  "сблъскване във въздуха".</li>
  <li><a href="https://bugzilla.mozilla.org/show_bug.cgi?id=276230">
    [%- terms.Bug %] 276230</a>: Поддръжката за ограничаване на достъп до 
    определени Категории на Нови графики не е завършена. Трябва да разглеждате 
    параметъра 'chartgroup' като единствения наличен механизъм.<br>
    Обаче, графики мигрирани от Стари графики ще бъдат ограничавани до 
    групите обозначени като ЗАДЪЛЖИТЕЛНИ за съответния Продукт.
    В момента няма начин да промените това ограничение, а 
    групиранията няма да бъдат обновени ако груповата настройка на 
    на Продукта се промени.</li>
</ul>

<h2 id="v40_upgrading">Бележки по надграждането от предишна версия</h2>

<h3>ВАЖНО: Промяна в настройката на Apache</h3>

<h4>mod_cgi</h4>

<p>Ако [% terms.Bugzilla %] върви под mod_cgi (това е най-често срещаната
  настройка, изискваща блок &lt;Directory&gt; в файла за настройка на
  Apache), ще трябва да обновите настройката на Apache за 
  [%+ terms.Bugzilla %]. В частност, следната линия в блока <kbd>&lt;Directory&gt;</kbd>
  на [% terms.Bugzilla %]:</p>

<blockquote><code>AllowOverride Limit</code></blockquote>

<p>трябва да стане:</p>

<blockquote><code>AllowOverride Limit FileInfo Indexes</code></blockquote>
 
<p>За пълни подробности относно това как да настроите Apache за [% terms.Bugzilla %],
  вижте раздела
  <a href="[% docs_urlbase FILTER html %]configuration.html#http-apache">Настройка</a>
  от наръчника на [% terms.Bugzilla %].</p>

<h4>mod_perl</h4>

<p>Ако вашата [% terms.Bugzilla %] работи под mod_perl, необходимата Apache
  настройка сега е по-проста. Линията която обичайно изглеждаше така:</p>

<blockquote><code>PerlSwitches -w -T -I/var/www/html/bugzilla 
    -I/var/www/html/bugzilla/lib</code></blockquote>

<p>Сега трябва да е само:</p>

<blockquote><code>PerlSwitches -w -T</code></blockquote>

<p>Линията <code>PerlConfigRequire</code> обаче трябва да остане същата.</p>

<h3>Нов .htaccess файл</h3>

<p>В предишните версии на [% terms.Bugzilla %], имаше файл
  в кореновата папка на [% terms.Bugzilla %] наречен ".htaccess" който беше
  създаван от <kbd>checksetup.pl</kbd>. Този файл вече се доставя с
  [%+ terms.Bugzilla %] вместо да бъде създаван по време на инсталация.</p>

<p>Ако обновявате чрез <abbr lang="en" title="Concurrent Versions System">CVS</abbr> или bzr, ще получите съобщения, че вашия съществуващ
  .htaccess е в конфликт с новия. Трябва да 
  <strong>премахнете съществуващия си .htaccess файл</strong> и да използвате новия
  вместо това. Продължвайки да използвате стария .htaccess файл ще доведе до това някой нови
  възможности на [% terms.Bugzilla %] да не работят правилно и също така доведе
  до проблеми със сигурността за вашата система в бъдеще.</p>

<h2 id="v40_code_changes">Промени в кода които могат да засегнат персонализации и
  разширения</h2>

<ul>
  <li>В Разширения, ако желаете да доставяте файлове на потребителя чрез web,
    те вече трябва да бъдат в <kbd>web/</kbd> подпапката на разширението ви.
    (Например <kbd>extensions/Foo/web/</kbd>). <kbd>checksetup.pl</kbd>
    задава права на разширенията много по-строго сега, и файлове на
    други места (като кореновата ви <kbd>extensions/Foo/</kbd> папка)
    вече няма да бъдат достъпни за [% terms.Bugzilla %] потребители през web
    под определени настройки.</li>
  <li>Предишни версии на [% terms.Bugzilla %] позволяваше поставянето на
    единичен файл в папката "skins", като цяла
    кожа. Това вече не е позволено и при надграждане <kbd>checksetup.pl</kbd>
    ще превърне всякакви такива кожи в папки с единствен
    <kbd>global.css</kbd> файл в тях.</li>
  <li>Когато обновявате [% terms.bugs %] вече трябва да ползвате
    <code>$bug-&gt;set_all</code> вместо отделните
    <kbd>set_</kbd> методи. В частност, <kbd>set_all</kbd> сега е
    <em>единствения</em> начин да се зададе продукта на [% terms.bug %]. Вижте
    <kbd>process_bug.cgi</kbd> като пример как <kbd>set_all</kbd>
    трябва да бъде ползван.</li>
  <li>Не трябва да вмъквате &lt;script&gt; маркер и &lt;link&gt; <abbr lang="en" title="Cascading Style Sheets">CSS</abbr> маркер
    в <abbr lang="en" title="Hyper Text Markup Language">HTML</abbr> повече, в Разширения или ваши персонализации. Вместо това,
    трябва да натъпкватe нови стойности в <kbd>style_urls</kbd> или
    <kbd>javascript_urls</kbd> параметрите. Ако трябва да вмъкнете ръчни
    маркери поради някаква причина уверете се, че викате "FILTER mtime" върху URL. (Потърсете
    други ползвания на "FILTER mtime" в шаблоните, за да видите как се
    ползва.)</li>
  <li>При извикване на <kbd>Bugzilla::BugMail::Send</kbd>, аргумента "changer"
    вече трябва да е <kbd>Bugzilla::User</kbd> обект, не просто
    име за вход. Аргументите "owner" и "qacontact" все още са
    просто имена за вход.</li>
  <li>Когато създавате нов подклас на Bugzilla::Object, вече не трябва
    да ползвате <kbd>UPDATE_VALIDATORS</kbd>. Също така в повечето случаи няма
    да има нужда да преодолявате <kbd>run_create_validators</kbd>. Вместо това,
    има нова константа наречена
    <a href="[% docs_urlbase FILTER html %]api/Bugzilla/Object.html#VALIDATOR_DEPENDENCIES">VALIDATOR_DEPENDENCIES</a>,
    която указва, че определени полета трябва да бъдат потвърдени преди други.
    Тогава, всички потвърждаващи получават всяка вече потвърдена стойност в хеш
    като техен четвърти аргумент, така че всеки потвърждаващ може да знае подадените
    стойности, когато обект бива създаван. За пример
    как да ползвате <kbd>VALIDATOR_DEPENDENCIES</kbd>, вижте
    <kbd>Bugzilla/Field.pm</kbd>.</li>
  <li>В предишни версии на [% terms.Bugzilla %], трябваше да викате
    <code>Bugzilla-&gt;template_inner("")</code> след всеки път когато
    сте извикали <kbd>template_inner</kbd> за определен език.
    Вече не е необходимо да правите това второ <kbd>template_inner</kbd>
    извикване.</li>
  <li><kbd>post_bug.cgi</kbd> в <kbd>Bugzilla::Bug-&gt;create</kbd> вече приемат
    <em>names</em> от групи вместо групови идентификатори.</li>
  <li>Bugzilla::Bugmail вече ползва Bugzilla::Bug обекти вътрешно вместо
    доста преки SQL.</li>
  <li>За изпращането на промени по [% terms.bugs %], вече има метод
    наречен <kbd>send_changes</kbd> който можете да викате на Bugzilla::Bug
    обекти. За пример на ползването му, вижте <kbd>process_bug.cgi</kbd>.</li>
  <li>Класа <kbd>Bugzilla::Search</kbd> беше произведен отново и вече
    трябва да е по-лесно да бъде персонализиран.</li>
  <li>Функцията <kbd>Bugzilla::Util::lsearch</kbd> я няма. Вместо това
    ползвайте <kbd>firstidx</kbd> от <kbd>List::MoreUtils</kbd>.</li>
  <li>[% terms.Bugzilla %] вече включва YUI 2.8.2.</li>
  <li><kbd>long_list.cgi</kbd>, <kbd>showattachment.cgi</kbd> и
    <kbd>xml.cgi</kbd> са отхвърлени скриптове които не се 
    ползват още от [% terms.Bugzilla %] 2.19. Тези скриптове ще бъдат премахнати в
    [%+ terms.Bugzilla %] 4.2.</li>
</ul>

<h2 id="v40_previous">Бележки към изданието за предходни версии</h2>

<p><a href="page.cgi?id=release-notes3.html">Бележки към изданието за
  [%+ terms.Bugzilla %] 3.x и по-ранна</a></p>

[% INCLUDE global/footer.html.tmpl %]

[% BLOCK db_req %]
  [% SET m = DB_MODULE.$db %]
  <h3 id="v42_req_[% db FILTER html %]">За [% m.name FILTER html %] потребители</h3>

  <ul>
    <li>[% m.name FILTER html %]
       [%+ '<span class="req_new">' IF db_new %]v[% m.db_version FILTER html %]
       [% '</span>' IF db_new %]
       </li>
    <li><strong>perl module:</strong>
      [%+ m.dbd.module FILTER html %] 
      [% '<span class="req_new">' IF dbd_new %]v[% m.dbd.version FILTER html %]
      [% '</span>' IF dbd_new %]</li>
  </ul>
[% END %]


[% BLOCK req_table %]
  <table class="req_table" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <th>Модул</th> <th>Версия</th>
      [% IF include_feature %]
        <th>Разрешава възможността</th>
      [% END %]
    </tr>
    [% FOREACH req = reqs %]
      <tr>
        <td [% ' class="req_new"' IF new.contains(req.package) %]>
          [%- req.module FILTER html %]</td> 
        <td [% ' class="req_new"' IF updated.contains(req.package) 
                                     OR new.contains(req.package) %]>
          [%- IF req.version == 0 %]
            (Всяка)
          [% ELSE %]
            [%- req.version FILTER html %]
          [% END %]
        </td>
        [% IF include_feature %] 
          <td>[% req.feature.join(', ') FILTER html %]</td>
        [% END %]
      </tr>
    [% END %]
</table>
[% END %]
