[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% INCLUDE global/header.html.tmpl title = "sudo: Представяне за друг потребител" %]

<p>
  [%+ terms.Bugzilla %] включва възможността един потребител да се представи за 
друг, в така наречената <i>сесия като друг потребител</i>, докато лицето 
представящо се за някой друг има съответните права.
</p>

<p>
  Докато тече сесия, [% terms.Bugzilla %] ще се държи така сякаш 
  потребителя които е представляван върши всичко.  Това е особено полезно за изпитване
  и за вършене на критична работа, когато представлявания потребител е недостъпен. 
  Представлявания потребител ще получи поща от [% terms.Bugzilla %] при 
  започване на сесията; друга поща не се изпраща.
</p>

<p>
  За да използвате тази възможност, трябва да сте член на подходящата група.  Групата 
  включва всички администратори по подразбиране.  На други потребители и членове на други 
  групи може да бъде даван достъп до тази възможност за всеки отделен случай.  За да 
  поискате достъп, свържете се поддържащия тази инсталация: 
  <a href="mailto:[% Param("maintainer") %]">
  [%- Param("maintainer") %]</a>.
</p>

<p>
  Ако желаете да се защитите срещу това някой да ви представя, трябва да се свържете с 
  поддържащия тази инсталация, за да се види дали е възможно.  Хора с 
  достъп до тази възможност са защитени автоматично.
</p>

<p id="message">
  [% IF user.in_group('bz_sudoers') %]
    Вие сте член на групата <b>bz_sudoers</b>.  Можете да използвате тази 
    възможност, за да представлявате други.
  [% ELSE %]
    Не сте член на подходящата група.  Не можете да използвате тази 
    възможност.
  [% END %]
  [% IF user.in_group('bz_sudo_protect') %]
    <br>
    Вие сте член на групата <b>bz_sudo_protect</b>.  Други хора няма  
    да могат да използват тази възможност, за да ви представляват.
  [% END %]
</p>

[% INCLUDE global/footer.html.tmpl %]
