[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 2005 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): A. Karl Kornel <karl@kornel.name>
  #%]

[% PROCESS global/variables.none.tmpl %]
[% INCLUDE global/header.html.tmpl title = "sudo: Представяне за друг потребител" %]

<p>
  [%+ terms.Bugzilla %] включва възможноста един потребител да се представи за 
друг, в така наречената <i>sudo сесия</i>, докато лицето 
представящо се за някой друг има съответните права.
</p>

<p>
  Докато тече сесия [% terms.Bugzilla %] ще се държи така сякаш 
  потребителя които е представляван върши всичко.  Това е особенно полезно за изпитване
  и за вършене на критична работа, когато представлявания потребител не е недостъпен. 
  Представлявания потребител ще получи поща от [% terms.Bugzilla %] при 
  започване на сесията; друга поща не се изпраща.
</p>

<p>
  За да използвате тази възможност, трябва да сте член на подходящата група.  Групата 
  включва всички администратори по подразбиране.  На други потребители и членове на други 
  груп може да бъде даван достъп до тази възможност за всеки отделен случай.  За да 
  поискате достъп, свържете се поддържащия тази инсталация: 
  <a href="mailto:[% Param("maintainer") %]">
  [%- Param("maintainer") %]</a>.
</p>

<p>
  Ако желаете да се защитие срещу това някой да ви представя, трябва да се свръжете с 
  поддържащия тази инсталация, за да се види дали е възможно.  Хора с 
  достъп до тази възможност са защитени автоматично.
</p>

<p id="message">
  [% IF user.groups.bz_sudoers %]
    Вие сте член на групата <b>bz_sudoers</b>.  Можете да използвате тази 
    възможност, за да представлявате други.
  [% ELSE %]
    Не сте член на подходящата група.  Не можете да използвате тази 
    възможност.
  [% END %]
  [% IF user.groups.bz_sudo_protect %]
    <br>
    Вие сте член на групата <b>bz_sudo_protect</b>.  Други хора няма  
    да могат да използват тази възможност, за да ви представляват.
  [% END %]
</p>

[% INCLUDE global/footer.html.tmpl %]
