[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Terry Weissman <terry@mozilla.org>
  #                 Gervase Markham <gerv@gerv.net>
  #%]

[% PROCESS global/variables.none.tmpl %]
[% INCLUDE global/header.html.tmpl title = "Гласуване" %]

<p>[% terms.Bugzilla %] има възможност за "гласуване". Всеки продукт разрешава
потребителите да имат известен брой от гласове. (Някои продукти може да не позволяват никакви, което значи,
че не можете да гласувате като цяло върху неща в тях.) С гласа си
показвате кои [% terms.bugs %] смятате за най-важините и
желаете да видите оправени. Забележете, че гласуването въобще не е толкова ефективно
от това да предоставите поправка сам.</p>

<p>В зависимост от това как администратора е оформил съответния продукт,
може да имате възможността да гласувате за един и същи [% terms.bug %] повече от веднъж.
Запомнете, че имате ограничен брой гласове. Когато е разрешено тегловно 
гласуване и имате на разположение ограничен брой гласове, ще тряба 
да решите дали искате да разпределите гласовете си между голям 
брой [% terms.bugs %] изразявайки минималния си интерес или да се концентрирате върху
малко [% terms.bugs %] изразявайки силния си интерес към тях.
</p>

<p>За да прегледате гласовете:</p>

<ul>
  <li>Отидете на страницата за запитвания. Направете нормално запитване, но въведете 1 в полето "Поне
  ___ глас(а)". Това ще покаже резултати, които съвпадат със запитването ви и
  имат поне един глас.</li>
</ul>

<p>За да гласувате за [% terms.bug %]:</p>

<ul>
  <li>Отидете на [% terms.abug %], за който става въпрос.</li>

  <li>Щракнете върху препратката "(гласувай)", която се появява точно над полето "Допълнителни коментари". (Ако такава препратка не
  се появи тогава гласуването може да не е разрешено в продукта на [% terms.abug %].)</li>

  <li>Посочете колко гласове желаете да дадете за този [% terms.bug %]. Тази
  страница също показва колко гласове сте дали за други [% terms.bugs %], така
  че можете да уравновесите вашите гласове както е необходимо.</li>
</ul>

<p>Автоматично ще получите поща, уведомяваща ви за всякакви промени появяващи
се по [% terms.bugs %]те за които сте гласували.</p>

<p>Можете да прегледате вашите гласове по всяко време като щракнете върху
препратката "<a href="votes.cgi?action=show_user">Мои гласувания</a>" в долната част на страницата.</p>

[% INCLUDE global/footer.html.tmpl %]
