[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # watchedusers: string.
  #               Comma-separated list of email addresses this user watches.
  # watchers:     array.
  #               Array of users watching this user's account.
  # excludeself:  boolean.
  #               True if user is not receiving self-generated mail.
  # <rolename>:   Multiple hashes, one for each rolename (e.g. assignee; see
  #               below), keyed by reasonname (e.g. comments; again, see
  #               below). The value is a boolean - true if the user is
  #               receiving mail for that reason when in that role.
  #%]

[%# If the user's bugmail has been disabled by admins, show a warning. %]
[% IF user.email_disabled %]
  <div class="warningmessages">
    Вашата [% terms.bug %]поща беше забранена от [% terms.Bugzilla %]
    администратора.  Моля, свържете се с [% Param('maintainer') %] за разрешаване на
    [%+ terms.bug %]писма.
  </div>
[% END %]

[% IF user.authorizer.can_change_email && Param('allowemailchange') %]
  <p>
    Ако желаете да смените е-пощенския си адрес <b>[% user.email FILTER html %]</b>
    на който [% terms.Bugzilla %] изпраща уведомления, щракенете страницата "Информация
    за сметка" отгоре.
  </p>
[% END %]

<p>
  Ако не желаете да получавате известие за "несъществени"
  промени по [% terms.bugs %], можете да използвате настройките по-долу, за да
  ограничите някои (или всички) известия.
</p>

<script type="text/javascript">
<!--
function SetCheckboxes(setting) {
  for (var count = 0; count < document.userprefsform.elements.length; count++) {
    var theinput = document.userprefsform.elements[count];
    if (theinput.type == "checkbox"
        && !theinput.disabled
        && !theinput.name.match("remove_ignored_bug"))
    {
      if (theinput.name.match("neg")) {
        theinput.checked = !setting;
      }
      else {
        theinput.checked = setting;
      }
    }
  }
}
// -->
</script>

<input type="button" value="Разрешаване на всичката поща" onclick="SetCheckboxes(true); return false;">
<input type="button" value="Спиране на всичката поща" onclick="SetCheckboxes(false); return false;">

<hr>

<h3>Общ избор</h3>

[% prefname = "email-$constants.REL_ANY-$constants.EVT_FLAG_REQUESTED" %]
<input type="checkbox" name="[% prefname %]" id="[% prefname %]" value="1"
       [%+ 'checked="checked"' IF user.mail_settings.${constants.REL_ANY}.${constants.EVT_FLAG_REQUESTED} %]>
<label for="[% prefname %]">Изпращане на поща, когато някой ми иска задаване на флаг</label>
<br>
[% prefname = "email-$constants.REL_ANY-$constants.EVT_REQUESTED_FLAG" %]
<input type="checkbox" name="[% prefname %]" id="[% prefname %]" value="1"
       [%+ 'checked="checked"' IF user.mail_settings.${constants.REL_ANY}.${constants.EVT_REQUESTED_FLAG} %]>
<label for="[% prefname %]">Изпращане на поща, когато някой зададе флаг който съм поискал</label>

[% IF user.is_global_watcher %]
  <p>
    Наблюдавате всички  [% terms.bugs %]. За премахването на тази ви роля, свържете се с
    <a href="mailto:[% Param("maintainer") %]">[% Param("maintainer") %]</a>.
  </p>
[% END %]

<hr>

<h3>Избор по поле/получател:</h3>

[% events = [
    { id = constants.EVT_ADDED_REMOVED,
      description = "Съм добавян или премахван от това си качество" },
    { id = constants.EVT_BUG_CREATED,
      description = "Създаден е нов $terms.bug" },
    { id = constants.EVT_OPENED_CLOSED,
      description = "$terms.ABug е разрешен или потвърден" },
    { id = constants.EVT_COMPONENT,
      description = "Продукт или съставна част се променят" },
    { id = constants.EVT_PROJ_MANAGEMENT,
      description = "Се променят приоритет, състояние, суровост или цел" },
    { id = constants.EVT_COMMENT,
      description = "Са добавени нови коментари" },
    { id = constants.EVT_ATTACHMENT,
      description = "Са добавени нови приставки" },
    { id = constants.EVT_ATTACHMENT_DATA,
      description = "Се променят подорбностите на приставка" },
    { id = constants.EVT_KEYWORD,
      description = "Се променя полето за ключови думи" },
    { id = constants.EVT_CC,
      description = "Полето ТК се промени" },
    { id = constants.EVT_DEPEND_BLOCK,
      description = "Дървото на зависимостите се промени" },
    { id = constants.EVT_OTHER,
      description = "Се промени всяко друго поле неспоменато горе" },
] %]

[% neg_events = [
    { id = constants.EVT_UNCONFIRMED,
      description = "$terms.ABug е в състояние НЕПОТВЪРДЕН" },
    { id = constants.EVT_CHANGED_BY_ME,
      description = "Промяната е направена от мен" },
] %]

[% relationships = [
    { id = constants.REL_ASSIGNEE,
      description = "Назначен" },
    { id = constants.REL_REPORTER,
      description = "Докладчик" },
    { id = constants.REL_CC,
      description = "Съм в ТК списъка" },
] %]

[% IF Param('useqacontact') %]
  [% relationships.push({ id = constants.REL_QA, 
                          description = "Качествен контрол" }) %]
[% END %]


[%# This is up here so that the "relationships" hook can modify it. %]
[% no_added_removed = [constants.REL_REPORTER] %]

[% Hook.process('relationships') %]

[% num_columns = relationships.size %]

<table id="email_prefs">
  <tr class="column_header">
    <th colspan="[% num_columns FILTER html %]">
      Когато връзката ми с този [% terms.bug %] e:
    </th>
    <th>Желая да получавам поща, когато:</th>
  </tr>

  <tr>
    [% FOREACH relationship = relationships %]
      <th class="role_header">[% relationship.description FILTER html %]</th>
    [% END %]
  </tr>

  [% FOREACH event = events %]  
    [% count = loop.count() %]
    <tr class="bz_row_[% count % 2 == 1 ? "odd" : "even" %]">
      [% FOREACH relationship = relationships %]
        <td class="center">
          <input type="checkbox" value="1"
                 name="email-[% relationship.id %]-[% event.id %]"
                 [%# The combinations don't always make sense; disable a couple %]
                 [% IF event.id == constants.EVT_ADDED_REMOVED
                       AND no_added_removed.contains(relationship.id) %]
                   disabled="disabled"
                 [% ELSIF user.mail_settings.${relationship.id}.${event.id} %]
                   checked="checked"
                 [% END %]>
        </td>
      [% END %]
      <td>
        [% event.description FILTER html %]
      </td>
    </tr>
  [% END %]

  <tr class="column_header">
    <th colspan="[% num_columns FILTER html %]">&nbsp;</th>
    <th>но не когато (отменя по-горното):</th>
  </tr>

  [% FOREACH event = neg_events %]  
    [% count = loop.count() %]
    <tr class="bz_row_[% count % 2 == 1 ? "odd" : "even" %]">
      [% FOREACH relationship = relationships %]
        <td class="center">
          <input type="checkbox" value="1"
                 name="neg-email-[% relationship.id %]-[% event.id %]"
                 [%+ 'checked="checked"' IF NOT user.mail_settings.${relationship.id}.${event.id} %]>
        </td>
      [% END %]
      <td>[% event.description FILTER html %]</td>
    </tr>
  [% END %]
</table>

<hr>

<b>Наблюдение над потребител</b>

<p>
Да наблюдавате потребители е като да стоите в техните обувки с
цел получаване на поща. Електронната поща се изпраща или не според <em>вашите</em>
настройки за <em>тяхната</em> връзка с [% terms.abug %] 
(напр. Назначен).
</p>

[% IF watchedusers.size %]
  <p>Наблюдавате всеки в следващия списък:</p>
  <p>
    <select id="watched_by_you" name="watched_by_you" multiple="multiple" size="5">
        [% FOREACH w = watchedusers %]
           <option value="[% w FILTER html %]">[% w FILTER html %]</option>
        [% END %]
    </select>
    <br>
    <input type="checkbox" id="remove_watched_users" name="remove_watched_users">
    <label for="remove_watched_users">Премахване на избраните потребители от списъка ми за наблюдение</label>
  </p>
[% ELSE %]
  <p>В момента не наблюдавате никой.</p>
[% END %]


<p id="new_watched_by_you">Добавяне на потребители към списъка ми за наблюдение (списък разделен със запетаи):
  [% INCLUDE global/userselect.html.tmpl
     id => "new_watchedusers"
     name => "new_watchedusers"
     value => ""
     size => 60
     multiple => 5
  %]
</p>

<p id="watching_you">Наблюдаващи ви потребители:<br>
  [% IF watchers.size %]
    [% FOREACH watcher = watchers %]
      [% watcher FILTER html %] <br>
    [% END %]
  [% ELSE %]
    <i>Никой</i>
  [% END %]
</p>

<hr>

<h3>Пренебрегване на [% terms.bugs %]</h3>

<p>
  Можете да укажете списък с [% terms.bugs %] за които не желаете никога да получавате
  каквито и да било уведомления по е-поща с добавяне на техните идентификатори като списък
  разделен със запетаи. Премахването на [% terms.bug %] с избирането му от текущия списък с пренебрегнати 
  ще разреши отново изпращането на уведомления по е-поща за [% terms.abug %].
</p>
[% IF user.bugs_ignored.size %]
  <p>
    В момента сте пренебрегнали:
    <table>
    [% FOREACH bug = user.bugs_ignored %]
      <tr>
        <td>
          <input type="checkbox" name="remove_ignored_bug_[% bug.id FILTER html %]" value="1">
        </td>
        <td><a href="[% urlbase FILTER html %]show_bug.cgi?id=[% bug.id FILTER uri %]">
          [% bug.id FILTER html %]</a>
        </td>
        <td>[% bug.status FILTER html %]</td>
        <td>
          [% IF user.can_see_bug(bug.id) %]
            - [% bug.summary FILTER html %]
          [% ELSE %]
            (частен)
          [% END %]
        </td>
      </tr>
    [% END %]
    </table>
  </p>
[% END %]

<p>
  Добавяне на [% terms.bugs %]:<br>
  <input type="text" id="add_ignored_bugs" 
         name="add_ignored_bugs" size="60">
</p>
