[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # has_bits: array of hashes. May be empty.
  #           name => Names of the permissions the user has.
  #           desc => Descriptions of the permissions the user has.
  # set_bits: array of hashes. May be empty.
  #           name => Names of the permissions the user can set for
  #           other people.
  #           desc => Descriptions of the permissions the user can set for
  #           other people.
  #%]

<table align="center">
  <tr>
    <td>
      [% IF has_bits.size %]
        Имате следните разрешаващи битове зададени на сметката ви:
        <table align="center">
          [% FOREACH bit_description = has_bits %]
            <tr>
              <td>[% bit_description.name FILTER html %]</td>
              <td>[% bit_description.desc FILTER html_light %]</td>
            </tr>
          [% END %]
        </table>

        [% FOREACH privs = ["editcomponents", "canconfirm", "editbugs"] %]
          [% SET products = ${"local_$privs"} %]
          [% IF products && products.size %]
            <br>
            <p>
              Също така имате локални '[% privs FILTER html %]' права
              за следните продукти:
            </p>
            <p>
              [% FOREACH product = products %]
                [% product.name FILTER html %]<br>
              [% END %]
            </p>
          [% END %]
        [% END %]

      [% ELSE %]
        Няма разрешаващи битове зададени на сметката ви.
      [% END %]

      [% IF user.in_group('editusers') %]
        <br>
        Имате права за редактиране на потребители.  Можете да давате или снемате
        всички разрешения на всички потребители.
      [% ELSIF set_bits.size %]
        <br>
        И можете да давате или снемате следните битове за
        <a href="editusers.cgi">други потребители</a>:
          <table align="center">
          [% FOREACH bit_description = set_bits %]
            <tr>
              <td>[% bit_description.name FILTER html %]</td>
              <td>[% bit_description.desc FILTER html_light %]</td>
            </tr>
          [% END %]
          </table>
      [% END %]

      [% IF user.in_group('bz_sudoers') %]
        <br>
        Член сте на групата <b>bz_sudoers</b>, така че можете да се 
        <a href="relogin.cgi?action=prepare-sudo">представите за някой друг</a>.
      [% END %]
    </td>
  </tr>
</table>
