[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # has_bits: array of hashes. May be empty.
  #           name => Names of the permissions the user has.
  #           desc => Descriptions of the permissions the user has.
  # set_bits: array of hashes. May be empty.
  #           name => Names of the permissions the user can set for
  #           other people.
  #           desc => Descriptions of the permissions the user can set for
  #           other people.
  #%]

    <div id="permissions">
      [% IF has_bits.size %]
        <p>Имате следните разрешаващи битове зададени на сметката ви:</p>

        <table>
          [% FOREACH bit_description = has_bits %]
            <tr>
              <td>[% bit_description.name FILTER html %]</td>
              <td>[% bit_description.desc FILTER html_light %]</td>
            </tr>
          [% END %]
        </table>

        [% FOREACH privs = ["editcomponents", "canconfirm", "editbugs"] %]
          [% SET products = ${"local_$privs"} %]
          [% IF products && products.size %]
            <p>
              Също така имате локални '[% privs FILTER html %]' права
              за следните продукти:
            </p>
            <ul>
              [% FOREACH product = products %]
                <li>[% product.name FILTER html %]</li>
              [% END %]
            </ul>
          [% END %]
        [% END %]

      [% ELSE %]
        <p>Няма разрешаващи битове зададени на сметката ви.</p>
      [% END %]

      [% IF user.in_group('editusers') %]
        <p>
          Имате права за редактиране на потребители. Можете да давате или снемате
          всички разрешения на всички потребители.
        </p>
      [% ELSIF set_bits.size %]
        <p>
          И можете да давате или снемате следните битове за
          <a href="editusers.cgi">други потребители</a>:
        </p>

        <table>
          [% FOREACH bit_description = set_bits %]
            <tr>
              <td>[% bit_description.name FILTER html %]</td>
              <td>[% bit_description.desc FILTER html_light %]</td>
            </tr>
          [% END %]
        </table>
      [% END %]

      [% IF user.in_group('bz_sudoers') %]
        <p>
          Член сте на групата <b>bz_sudoers</b>, така че можете да се 
          <a href="relogin.cgi?action=prepare-sudo">представите за някой друг</a>.
        </p>
      [% END %]
    </div>
