[% 
    setting_descs.product_chooser = "Избор на продукт за ползване при въвеждане на $terms.bugs",
    setting_descs.pretty = "Красив избор с обичайни продукти и икони",
    setting_descs.full   = "Пълен избор с всички продукти",
    setting_descs.small  = "Избор на продукт за мобилни устройства",
%]