[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% 
    setting_descs.product_chooser = "Избор на продукт за ползване при въвеждане на $terms.bugs",
    setting_descs.pretty = "Красив избор с обичайни продукти и икони",
    setting_descs.full   = "Пълен избор с всички продукти",
    setting_descs.small  = "Избор на продукт за мобилни устройства",
%]
