[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gavin Shelley <bugzilla@chimpychompy.org>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  #%]

[%# INTERFACE:
  # product: object; Bugzilla::Product object representing the product to
  #               which the version belongs.
  # version: object; Bugzilla::Version object representing the
  #                    version the user wants to delete.
  #%]

[% title = BLOCK %]Изтриване на версия на продукт '[% product.name FILTER html %]'
  [% END %]

[% PROCESS global/header.html.tmpl
  title = title
%]

<table border="1" cellpadding="4" cellspacing="0">
<tr bgcolor="#6666FF">
  <th valign="top" align="left">Поле</th>
  <th valign="top" align="left">Стойност</th>
</tr>
<tr>
  <td valign="top">Версия:</td>
  <td valign="top">[% version.name FILTER html %]</td>
</tr>
<tr>
  <td valign="top">Версия на продукт:</td>
  <td valign="top">[% product.name FILTER html %]</td>
</tr>
<tr>
  <td valign="top">[% terms.Bugs %]:</td>
  <td valign="top">
[% IF version.bug_count %]
  <a title="Списък на [% terms.bugs %] целящи версията '
           [%- version.name FILTER html %]'"
     href="buglist.cgi?version=[% version.name FILTER url_quote %]&amp;product=
          [%- product.name FILTER url_quote %]">
          [%- version.bug_count FILTER none %]</a>
[% ELSE %]
  Няма
[% END %]
  </td>
</tr>
</table>

<h2>Потвърждаване</h2>

[% IF version.bug_count %]
  <p>
  Съжалявам, има
  [% IF version.bug_count > 1 %] 
    [% version.bug_count FILTER none %] [%+ terms.abug %] 
  [% ELSE %]
    [% version.bug_count FILTER none %] [%+ terms.bug %] 
  [% END %]

  оставащ за тази версия. Трябва да преместите

  [% IF version.bug_count > 1 %]
     тези [% terms.bugs %] 
  [% ELSE %]
     този [% terms.bug %]
  [% END %]
  към друга версия преди да можете да изтриете тази.

[% ELSE %]

  <p>Наистина ли желаете да изтриете тази версия?</p>
  
  <form method="post" action="editversions.cgi">
    <input type="submit" id="delete" value="Да, изтриване">
    <input type="hidden" name="action" value="delete">
    <input type="hidden" name="product" value="[% product.name FILTER html %]">
    <input type="hidden" name="version" value="[% version.name FILTER html %]">
    <input type="hidden" name="token" value="[% token FILTER html %]">
  </form>

[% END %]

[% PROCESS admin/versions/footer.html.tmpl %]

[% PROCESS global/footer.html.tmpl %] 
