[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

From: [% Param('mailfrom') %]
To: [% Param('maintainer') %]
Subject: [[% terms.Bugzilla %]] Отключване на сметка: [% locked_user.login %] ([% address %])
X-Bugzilla-Type: admin

IP адреса [% address %] провали твърде много опити за вход (
[%- constants.MAX_LOGIN_ATTEMPTS +%]) за
сметката [% locked_user.login %]. 

Опитите за вход станаха в тези моменти:

[% FOREACH login = attempts %]
  [%+ login.login_time FILTER time %]
[% END %]

Този адрес ще може да влезе отново използвайки тази сметка в
[%+ unlock_at FILTER time %].
