[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

Content-Type: text/plain
From: [% Param('mailfrom') %]
To: [% user.email %]
Subject: [[% terms.Bugzilla %]] Вашата сметка [% user.login -%]
 се използва от друг
X-Bugzilla-Type: admin

    [%+ sudoer.identity %] използва възможноста 'sudo' за достъп
до [%+ terms.Bugzilla %] използвайки сметката ви.

[% IF reason %]
    [%+ sudoer.identity %] даде следната причина за това:

[% reason FILTER wrap_comment %]
[% ELSE %]
    [%+ sudoer.identity %] не даде причина за това.
[% END %]

    Ако смятате, че това действие е неуместно, моля свържете се с
[%+ Param("maintainer") %].  За повече информация относно тази възможност, 
посетете <[% urlbase %]page.cgi?id=sudo.html>.
