[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Emmanuel Seyman <eseyman@linagora.com>
  #%]

[% PROCESS global/variables.none.tmpl %]

From: [% Param('mailfrom') %]
To: [% to %]
Subject: [% terms.Bug %] [%+ bugid %] Някоки или всичките ви гласове бяха премахнати.
X-Bugzilla-Type: voteremoved

Някои или всичките ви гласове бяха премахнати от [% terms.bug %] [%+ bugid %].

Имахте [% votesold FILTER html %] [%+ IF votesold == 1 %]глас[% ELSE %]гласа[% END
%] за този [% terms.bug %], но [% votesremoved FILTER html %] бяха премахнати.

[% IF votesnew %]
Все още имате [% votesnew FILTER html %] [%+ IF votesnew == 1 %]глас[% ELSE %]гласа[% END %] за този [% terms.bug %].
[% ELSE %]
Нямате повече оставащи гласове за този [% terms.bug %].
[% END %]

Причина:
[% IF reason == "votes_bug_moved" %]
  Този [% terms.bug %] беше преместен в друг продукт.

[% ELSIF reason == "votes_too_many_per_bug" %]
  Правилата за гласуване на продукта са променени;
  имате твърде много гласове за един [% terms.bug %].

[% ELSIF reason == "votes_too_many_per_user" %]
  Правилата за гласуване на продукта са променени; имате
  твърде много гласове общо, така че всички гласове бяха премахнати.
[% END %]



[% urlbase %]show_bug.cgi?id=[% bugid %]

