[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

From: [% Param('mailfrom') %]
To: [% emailaddress %]
Subject: Заявка за смяна на парола в [% terms.Bugzilla %]
X-Bugzilla-Type: admin

Вие (или някой представящ се за вас) сте (е) заявил промяна на паролата Ви в 
[%+ terms.Bugzilla %]. За да завършите промяната, посетете следващата препратка:

[%+ urlbase %]token.cgi?t=[% token FILTER uri %]&a=cfmpw

Ако вие не сте лицето направило заявката или желаете да я отхвърлите,
посетете следващата препратка:

[%+ urlbase %]token.cgi?t=[% token FILTER uri %]&a=cxlpw

Ако не направите нищо, заявката ще изтече след [% constants.MAX_TOKEN_AGE %] дни
(на [% expiration_ts FILTER time("%e %B %Y в %H:%M %Z") %]) или когато
влезете успешно.
