[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% title = "Смяна на парола" %]
[% PROCESS global/header.html.tmpl %]
[% password_complexity = Param('password_complexity') %]
<p>
  За да смените паролата си, въведете нова парола два пъти:<br>
</p>
<ul>
  <li>Паролата трябва да бъде дълга най-малко [% constants.USER_PASSWORD_MIN_LENGTH FILTER none %] символа.</li>
  [% IF password_complexity == "mixed_letters" %] 
  <li>Паролата трябва да съдържа поне една ГЛАВНА и една малка буква.</li>
  [% ELSIF password_complexity == "letters_numbers" %] 
  <li>Паролата трябва да съдържа поне една ГЛАВНА и една малка буква и цифра.</li>
  [% ELSIF password_complexity == "letters_numbers_specialchars" %] 
  <li>Паролата трябва да съдържа поне една буква, цифра и специален символ.</li>
  [% END %]
</ul>

<form method="post" action="token.cgi">
  <input type="hidden" name="t" value="[% token FILTER html %]">
  <input type="hidden" name="a" value="chgpw">
  <table>
    <tr>
      <th>Нова парола:</th>
      <td>
        <input type="password" name="password" required>
      </td>
    </tr>
    
    <tr>
      <th>Нова парола отново:</th>
      <td>
        <input type="password" name="matchpassword" required>
      </td>
    </tr>
     
    <tr>
      <th>&nbsp;</th>
      <td>
        <input type="submit" id="update" value="Предаване" required>
      </td>
    </tr>
  </table>
</form>

[% PROCESS global/footer.html.tmpl %]
