[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): Max Kanat-Alexander <mkanat@bugzilla.org>
  #%]

[%# INTERFACE:
  # value: Bugzilla::Field::Choice; The field value being deleted.
  # value_count: number; The number of values available for this field.
  # field: object; the field the value is being deleted from.
  #%]

[% title = BLOCK %]
  Изтриване на стойност '[% value.name FILTER html %]' от полето
 '[% field.description FILTER html %]' ([% field.name FILTER html %])
[% END %]

[% PROCESS global/header.html.tmpl
  title = title
  style_urls = ['skins/standard/admin.css']
%]

<table border="1" cellpadding="4" cellspacing="0">
<tr bgcolor="#6666FF">
  <th valign="top" align="left">Поле</th>
  <th valign="top" align="left">Стойност</th>
</tr>
<tr>
  <td valign="top">Име на поле:</td>
  <td valign="top">[% field.description FILTER html %]</td>
</tr>
<tr>
  <td valign="top">Стойност на поле:</td>
  <td valign="top">[% value FILTER html %]</td>
</tr>
<tr>
  <td valign="top">[% terms.Bugs %]:</td>
  <td valign="top">
[% IF value.bug_count %]
  <a title="Списък на [% terms.bugs %] където '
            [%- field.description FILTER html %]' е '
            [%- value.name FILTER html %]'"
     href="buglist.cgi?[% field.name FILTER uri %]=
           [%- value.name FILTER uri %]">
   [%- value.bug_count FILTER html %]</a>
[% ELSE %]
  Няма
[% END %]
  </td>
</tr>
</table>

<h2>Потвърждаване</h2>

[% IF value.is_default || value.bug_count || (value_count == 1)
      || value.controls_visibility_of_fields.size
      || value.controlled_values_array.size 
%]

  <p>Съжалявам, но стойността '[% value.name FILTER html %]' не може да бъде изтрита
    от полето '[% field.description FILTER html %]' поради следната(ите) 
    причина(и):</p>

  <ul class="warningmessages">
    [% IF value.is_default %]
      <li>'[% value.name FILTER html %]' е стойността по подразбиране за
        полето '[% field.description FILTER html %]'.
        [% IF user.in_group('tweakparams') %]
          Трябва първо да <a href="editparams.cgi?section=bugfields">смените
          стойността по подразбиране</a> за него преди да можете да
          я изтриете.
        [% END %]
      </li>
    [% END %]

    [% IF value.bug_count %]
      <li>
        [% IF value.bug_count > 1 %]
          Съществуват [% value.bug_count FILTER html %] [%+ terms.abug %] 
          с тази стойност.
        [% ELSE %]
          Съществува 1 [% terms.bug %] с тази стойност.
        [% END %]
        Трябва да смените стойността на полето на
          <a title="Списък на [% terms.bugs %] където '
                    [%- field.description FILTER html %]' е '
                    [%- value.name FILTER html %]'"
             href="buglist.cgi?[% field.name FILTER uri %]=
                   [%- value.name FILTER uri %]">
            [% IF value.bug_count > 1 %]
              тези [% terms.bugs %] 
            [% ELSE %]
              този [% terms.bug %]
            [% END %]
          </a>
          с друга преди да можете да я изтриете.
      </li>
    [% END %]

    [% IF value_count == 1 %]
      <li>'[% value.name FILTER html %]' е последната стойност за
        '[%- field.description FILTER html %]', така че не може да бъде изтрита.
      </li>
    [% END %]

    [% IF value.controls_visibility_of_fields.size %]
      <li>Тази стойност контролира видимостта на следните полета:<br>
        [% FOREACH field = value.controls_visibility_of_fields %]
          <a href="editfields.cgi?action=edit&name=
                   [%- field.name FILTER uri %]">
            [%- field.description FILTER html %] 
            ([% field.name FILTER html %])</a><br>
        [% END %]
      </li>
    [% END %]

    [% IF value.controlled_values_array.size %]
      <li>Тази стойност контролира видимостта на следните стойности в
        други полета:<br>
       [% FOREACH field_name = value.controlled_values.keys %]
         [% FOREACH controlled = value.controlled_values.${field_name} %]
           <a href="editvalues.cgi?action=edit&field=
                    [%- controlled.field.name FILTER uri %]&value=
                    [%- controlled.name FILTER uri %]">
             [% controlled.field.description FILTER html %]
             ([% controlled.field.name FILTER html %]):
             [%+ controlled.name FILTER html %]</a><br>
         [% END %]
       [% END %]
      </li>
    [% END %]
  </ul>

[% ELSE %]

  <p>Наистина ли желаете да изтриете тази стойност?</p>

  <form method="post" action="editvalues.cgi">
    <input type="submit" value="Да, изтриване" id="delete">
    <input type="hidden" name="action" value="delete">
    <input type="hidden" name="field" value="[% field.name FILTER html %]">
    <input type="hidden" name="value" value="[% value.name FILTER html %]">
    <input type="hidden" name="token" value="[% token FILTER html %]">
  </form>

[% END %]

[% PROCESS admin/fieldvalues/footer.html.tmpl
  no_edit_link = 1
 +%]

[% PROCESS global/footer.html.tmpl %] 
