[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # comp: object; Bugzilla::Component object representing the component the
  #               user wants to delete.
  # product: object; Bugzilla::Product object representing the product to
  #               which the component belongs.
  #%]

[% title = BLOCK %]Изтриване на съставна част '[% comp.name FILTER html %]'
от продукта '[% product.name FILTER html %]'
  [% END %]

[% PROCESS global/header.html.tmpl
  title = title
  style_urls = ['skins/standard/admin.css']
%]

<table id="admin_table">
  <tr class="column_header">
    <th>Поле</th>
    <th>Стойност</th>
  </tr>
  <tr>
    <td>Съставна част</td>
    <td>[% comp.name FILTER html %]</td>
  </tr>
  <tr>
    <td>Описание на съставната част</td>
    <td>[% comp.description FILTER html_light %]</td>
  </tr>
  <tr>
    <td>Подразбиращ се назначен</td>
    <td>[% comp.default_assignee.login FILTER html %]</td>
  </tr>

  [% IF Param('useqacontact') %]
    <tr>
      <td>Подразбиращ се качествен контрол</td>
      <td>[% comp.default_qa_contact.login FILTER html %]</td>
    </tr>
  [% END %]

  <tr>
    <td>Съставна част на продукта</td>
    <td>[% product.name FILTER html %]</td>
  </tr>

  [% IF product.description %]
    <tr>
      <td>Описание на продукта</td>
      <td>[% product.description FILTER html_light %]</td>
    </tr>
  [% END %]

  [% IF Param('usetargetmilestone') %]
    <tr>
      <td><abbr lang="en" title="Uniform Resource Locator">URL</abbr> на важно събитите за продукта</td>
      <td>
        <a href="[% product.milestone_url FILTER html %]">
          [% product.milestone_url FILTER html %]</a>
      </td>
    </tr>
  [% END %]

  <tr>
    <td>Отворен за [% terms.bugs %]</td>
    <td>[% IF product.is_active && comp.isactive %]Да[% ELSE %]Не[% END %]</td>
  </tr>
  <tr>
    <td>[% terms.Bugs %]</td>
    <td>
      [% IF comp.bug_count %]
        <a title="Списък с [% terms.bugs %] за съставната част '[% comp.name FILTER html %]'"
           href="buglist.cgi?component=[% comp.name FILTER uri %]&amp;product=
                 [%- product.name FILTER uri %]">[% comp.bug_count %]</a>
      [% ELSE %]
        Няма
      [% END %]
    </td>
  </tr>
</table>

<h2>Потвърждаване</h2>

[% IF comp.bug_count %]

  [% IF !Param("allowbugdeletion") %]
    <p class="confirmation">
      Съжалявам, има
      [% IF comp.bug_count > 1 %]
        [% comp.bug_count %] [%+ terms.abug %]
      [% ELSE %]
        [% comp.bug_count %] [%+ terms.bug %]
      [% END %]
      останал(и) за този компонент. Трябва да преназначите 

      [% IF comp.bug_count > 1 %]
        тези [% terms.bugs %]
      [% ELSE %]
        този [% terms.bug %]
      [% END %]
      към друга съставна част преди да можете да изтриете тази.
    </p>
  [% ELSE %]
    <p class="confirmation">
      Има
      [% IF comp.bug_count > 1 %]
        въведени [% comp.bug_count %] [%+ terms.abug %]
      [% ELSE %]
        въведен [% terms.bug %]
      [% END %]
      за тази съставна част! Когато я изтриете,
      <b>ВСИЧКИ</b> съхранени [% terms.bugs %] и
      тяхната история също ще бъдат изтрити.
    </p>
  [% END %]

[% END %]

[% IF comp.bug_count == 0 || Param('allowbugdeletion') %]

  <p>Наистина ли желаете да изтриете тази съставна част?</p>
  
  <form method="post" action="editcomponents.cgi">
  <input type="submit" id="delete" value="Да, изтриване">
  <input type="hidden" name="action" value="delete">
  <input type="hidden" name="product" value="[% product.name FILTER html %]">
  <input type="hidden" name="component" value="[% comp.name FILTER html %]">
  <input type="hidden" name="token" value="[% token FILTER html %]">
  </form>

[% END %]

[% PROCESS admin/components/footer.html.tmpl %]

[% PROCESS global/footer.html.tmpl %] 
