[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # none
  #%]

[% javascript = BLOCK %]
  [% INCLUDE "admin/custom_fields/cf-js.js.tmpl" %]
[% END %]

[% PROCESS global/header.html.tmpl
           title = "Добавяне на ново потребителско поле"
           onload = "document.getElementById('new_bugmail').disabled = true;"
           javascript_urls = [ 'js/util.js' ]
           doc_section = "administering/custom-fields.html#adding-custom-fields"
           style_urls = ['skins/standard/admin.css']
%]

[%# set initial editability of fields such as Reverse Relationship Description %]
<script type="text/javascript">
  YAHOO.util.Event.onDOMReady(function() {onChangeType(document.getElementById('type'))});
</script>

<p>
  Добавянето на потребителски полета може да направи външния вид на Bugzilla много
  сложен. Много администратори незапознати с Bugzilla започват
  да добавят много потребителски полета и след това потребителите им се оплакват, че външния вид
  е "твърде сложен". Моля, помислете внимателно преди добавянето на каквото и да е потребителско поле.
  Вероятно случая е, че Bugzilla вече прави това от което се нуждаете,
  и просто не сте разрешили правилния набор възможности.
</p>

<ul>
  <li>Имената на потребителските полета започват с "cf_" за разлика от
      стандартните полета. Ако пропуснете "cf_" в началото на името представката
      ще бъде добавена за вас.</li>
  <li>Описанията са много кратък низ описващ полето и ще бъдат
      използвани като етикет за него в потребителския интерфейс.</li>
</ul>

<form id="add_field" action="editfields.cgi" method="GET">
  [% PROCESS "admin/custom_fields/edit-common.html.tmpl" %]

  <input type="hidden" name="action" value="new">
  <input type="hidden" name="token" value="[% token FILTER html %]">
  <input type="submit" id="create" value="Създаване">
</form>

<p>
  <a href="editfields.cgi">Обратно към списъка със съществуващите потребителски полета</a>
</p>

[% PROCESS global/footer.html.tmpl %]
