[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% series_name = BLOCK %]
  [% series.category FILTER html %] /
  [%+ series.subcategory FILTER html %] /
  [%+ series.name FILTER html %]
[% END %]

[% PROCESS global/header.html.tmpl title = "Изтриване на редица"
                                   style_urls = ['skins/standard/admin.css'] %]

<p>
  Ще премахнете напълно редица <b>[% series_name FILTER none %]</b>
  от базата с данни. Всички данни свързани с тази редица ще бъдат безвъзвратно изтрити.
</p>
<p>
  [% IF series.creator %]
    Редицата е била създадена от <a href="mailto:[% series.creator.email FILTER html %]">
    [% series.creator.email FILTER html %]</a>
  [% ELSE %]
    Редицата е била създадена автоматично от [% terms.Bugzilla %]
  [% END %]

  [% IF series.public %]
    и е общодостъпна.
  [% ELSIF series.creator %]
    и е видима само от него.
  [% ELSE %]
    и не може да бъде преглеждана от всеки.
  [% END %]
</p>

<p class="areyoureallyreallysure">Сигурни ли сте, че искате да изтриете редицата?</p>

<p>
  <a href="chart.cgi?action=delete&amp;series_id=[% series.series_id FILTER html %]&amp;token=
           [%- issue_hash_token([series.id, series.name]) FILTER uri %]">Да, изтриване</a> |
  <a href="chart.cgi">Не, връщане към страницата с графики</a>
</p>

[% PROCESS global/footer.html.tmpl %]
