[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # sortby: string. the column on which we are sorting the buglist.
  # reverse: boolean. True if we are reversing the current sort.
  # maxrows: integer. Max number of rows to display.
  # changedsince: integer. The number of days ago for the changedsince column.
  # openonly: boolean. True if we are only showing open bugs.
  # product: array of strings. The set of products we check for dups.
  #
  # Additionally, you need to fulfill the interface to
  # duplicates-table.html.tmpl.
  #%]

[% IF product.size %]
  [% title = BLOCK %]
    Най-често докладвани [% terms.bugs %] за 
    [%+ product.join(', ') FILTER html %]
  [% END %]
[% ELSE %]
  [% title = "Най-често докладвани $terms.bugs" %]
[% END%]

[% PROCESS global/header.html.tmpl title = title %]

<p>
  <a href="#explanation">Какви са тези данни?</a>
  <br>
  <a href="#params">Промяна на параметри</a>
</p>

[% PROCESS "reports/duplicates-table.html.tmpl" %]

[%# *** Parameters *** %]

[% bug_ids_string = bug_ids.join(',') %]

<h3 id="params">Промяна на параметри</h3>

<form method="get" action="duplicates.cgi">
  <input type="hidden" name="sortby" value="[% sortby FILTER html %]">
  <input type="hidden" name="reverse" value="[% reverse FILTER html %]">
  <input type="hidden" name="bug_id" value="[% bug_ids_string FILTER html %]">
  <table>
    <tr>
      <td>Ограничаване до продукти:</td>
      <td>
        [% INCLUDE "global/product-select.html.tmpl"
          id       => "product"
          name     => "product"
          multiple => 5
          value    => product
        %]
      </td>
    </tr>

    <tr>
      <td>При подреждане или ограничаване, се работи с:</td>
      <td>
        <input type="radio" name="sortvisible" id="entirelist" value="0"
          [% ' checked="checked"' IF NOT sortvisible %]>
        <label for="entirelist">
          целия списък
        </label>
        <br>
        <input type="radio" name="sortvisible" id="visiblelist" value="1"
          [% ' checked="checked"' IF sortvisible %]>
        <label for="visiblelist">
          видимия в момента списък
        </label>
      </td>
     </tr>

    <tr>
      <td><label for="maxrows">Максимален брой редове:</label></td>
      <td>
        <input size="4" name="maxrows" id="maxrows" 
               value="[% maxrows FILTER html %]">
      </td>
    </tr>

    <tr>
      <td>
        <label for="changedsince">Има промени в последните:</label>
      </td>
      <td>
        <input size="4" name="changedsince" id="changedsince"
               value="[% changedsince FILTER html %]"> дни
      </td>
    </tr>

    <tr>
      <td>
        <label for="openonly">
          Само отворени [% terms.bugs %]:
        </label>
      </td>
      <td>
        <input type="checkbox" name="openonly" id="openonly" value="1"
          [% ' checked="checked"' IF openonly %]>
      </td>
    </tr>

  </table>

  <input type="submit" id="change" value="Промяна">
</form>

<form method="post" action="buglist.cgi">
  <input type="hidden" name="bug_id" value="[% bug_ids_string FILTER html %]">
  Или само представяне като <input type="submit" id="list" 
                                value="[% terms.bug %] списък">.
  (Забележка: реда може да не е същия.)
</form>

<hr>

<h3 id="explanation">
  Какво са "Най-често докладваните [% terms.bugs %]"?
</h3>

<p>
  Страницата на най-често докладваните [% terms.bugs %] дава списък на познатите отворени 
  [% terms.bugs %], които са докладвани най-често,
  като се смята броя на преките и непреки двойници на [% terms.bugs %]те.
  Информацията се предоставя, за да спомогне в намаляването
  на количеството на [% terms.bugs %] двойници въвеждани в [% terms.Bugzilla %],
  което спестява време на инженерите по осигуряване на качеството, които трябва да подредят
  [%+ terms.bugs %]те.
</p>

<b>Как да използвам този списък?</b>

<ul>
  <li>Прегледайте списъка на най-честите [% terms.bugs %].</li>
  <li>Ако проблема ви е описан:</li>

  <ul>
    <li>Щракнете върху номера на [% terms.abug %], за да се уверите, че сте открили
      същия [% terms.bug %] и коментирайте ако разполагате с допълнителна информация
      или продължете с изпитването на продукта.
    </li>
  </ul>

  <li>Ако проблема ви не е описан:</li>

  <ul>
    <li><a href="query.cgi">Опитайте да откриете подобен [% terms.bug %]</a>,
      който вече е въведен.</li>
    <li>Ако откриете вашия [% terms.bug %] в [% terms.Bugzilla %],
      чувствайте се свободни да сложите в коментар всички нови или допълнителни данни, които може да имате.</li>
    <li>Ако досега не сте могли да откриете вашия проблем документиран в 
      [%+ terms.Bugzilla %],
      <a href="enter_bug.cgi">въведете нов [% terms.bug %]</a>.</li>
  </ul>
</ul>

[% PROCESS global/footer.html.tmpl %]
