[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # This template has no interface. It's a list of the available report
  # types in Bugzilla.
  #%]

[% PROCESS global/header.html.tmpl
  title = "Кухнята на докладите и графиките"
  doc_section = "reporting.html"
  style_urls = ['skins/standard/reports.css']
%]

<p>
  [% terms.Bugzilla %] ви позволява да преглеждате и следите състоянието на базата
  данни с [% terms.bugs %] по всички вълнуващи начини.
</p>

<h2>Текущо състояние</h2>

<ul>
  <li id="report_search">
    <strong><a href="query.cgi">Търсене</a></strong> -
    прави списък на множество от [% terms.bugs %].
  </li>
  <li id="report_tabular">
    <strong>
      <a href="query.cgi?format=report-table">Табулирани доклади</a>
    </strong> -
    таблици изброяващи [% terms.bugs %] в 1, 2 или 3 измерения, като <abbr lang="en" title="Hyper Text Markup Language">HTML</abbr> или <abbr lang="en" title="Comma Separated Values">CSV</abbr>.
  </li>
  [% IF feature_enabled('graphical_reports') %]
    <li id="report_graphical">
      <strong>
        <a href="query.cgi?format=report-graph">Графични доклади</a>
      </strong> -
      графики "линия", "лента" и "пита".
    </li>
  [% END %]
  <li id="report_duplicates">
    <strong><a href="duplicates.cgi">Двойници</a></strong> -
    списък с най-често докладваните [% terms.bugs %].
  </li>
  [% Hook.process('current_state') %]
</ul>

[% IF feature_enabled('new_charts') OR feature_enabled('old_charts') %]
  <h2>Промяна във времето</h2>

  <ul>
    [% IF feature_enabled('old_charts') %]
      <li id="old_charts">
        <strong><a href="reports.cgi">Стари графики</a></strong> - 
        изчертава състоянието и/или решението на [% terms.bugs %] във
        времето, за всеки продукт във вашата база данни.
      </li>
    [% END %]
    [% IF feature_enabled('new_charts') AND user.in_group(Param("chartgroup")) %]
      <li id="new_charts">
        <strong><a href="chart.cgi">Нови графики</a></strong> - 
        изчертава всяко произволно търсене във времето. Много по-мощно.
      </li>
    [% END %]
  </ul>
[% END %]

[% Hook.process('end') %]

[% PROCESS global/footer.html.tmpl %]
