[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #                 Christine Begle <cbegle@mozilla.org>
  #%]

[%# INTERFACE:
  # This template has the same interface as create.html.tmpl
  #%]

[% PROCESS global/variables.none.tmpl %]

[% USE Bugzilla %]
[% cgi = Bugzilla.cgi %]

[% PROCESS global/header.html.tmpl
   title = "Въвеждане на $terms.bug"
   onload = "PutDescription()"
   style = "#somebugs { width: 100%; height: 500px }"
 %]

<p>
  <font color="red">
    Този шаблон е използван от mozilla.org - той, заедно с
    comment-guided.txt.tmpl шаблона, който форматира данните подадени чрез
    формуляра в този шаблон, са включени като демонстрация на това какво е
    възможно да се направи със собственоръчно направени шаблони като цяло и собственоръчно направени [% terms.bug %]
    шаблони в частност. Тъй като голяма част от текста няма да е приложим,
    ще трябва да фо промените
    ако желаете да го използвате във вашата [% terms.Bugzilla %] инсталация.
  </font>
</p>

[% tablecolour = "#FFFFCC" %]

[%# This script displays the descriptions for selected components. %]
<script type="text/javascript">
var descriptions = [
[% FOREACH c = product.components %]
  '[% c.description FILTER js %]',
[% END %]
];

function PutDescription() {
    if ((document.getElementById) && (document.body.innerHTML)) {
        var componentIndex = document.getElementById('component').selectedIndex;
        if (componentIndex != -1) {
            var description = document.getElementById('description');
            description.innerHTML = descriptions[componentIndex];
        }
    }
}
</script>

<h3 id="step1">Стъпка 1 от 3 - докладван ли е вашия [% terms.bug %]?</h3>

<p>
  <font color="red">Моля, не пропускайте тази стъпка - половината от всички
  подадени [% terms.bugs %] са
  вече докладвани.</font>
    Проверете двата списъка от често докладвани [% terms.bugs %]:
</p>

[%# Include other products if sensible %]
[% IF product.name == "Firefox" %]
  [% productstring = "product=Mozilla%20Application%20Suite&amp;product=Firefox" %]
[% ELSIF product.name == "Thunderbird" %]
  [% productstring = "product=Mozilla%20Application%20Suite&amp;product=Thunderbird" %]
[% ELSE %]
  [% productstring = BLOCK %]product=[% product.name FILTER url_quote %][% END %]
[% END %]

<p>
    <a href="duplicates.cgi?[% productstring %]&amp;format=simple" target="somebugs">100-те най-докладвани за всички времена</a> (заредено първоначално) |
    <a href="duplicates.cgi?[% productstring %]&amp;format=simple&amp;sortby=delta&amp;reverse=1&amp;maxrows=100&amp;changedsince=14" target="somebugs">Горещи в последните две седмици</a>
</p>

<iframe name="somebugs" id="somebugs"
  style="border: 2px black solid"
  src="duplicates.cgi?[% productstring %]&amp;format=simple">
</iframe>

<p>
    Ако [% terms.bug %] не е там, търсете в [% terms.Bugzilla %] с въвеждането
    на няколко ключови думи имащи общо с [% terms.abug %] в тази кутия.
    Например: <tt><b>pop3 mail</b></tt> или <tt><b>copy paste</b></tt>.
    Резултатите ще се покажат по-горе.
  </p>

[%# All bugs opened inside the past six months %]
  <form action="buglist.cgi" method="get" target="somebugs">
    <input type="hidden" name="format" value="simple">
    <input type="hidden" name="order" value="relevance desc">
    <input type="hidden" name="bug_status" value="__all__">
    <input type="hidden" name="product" value="[% product.name FILTER html %]">
    [% IF product.name == "Firefox" OR 
          product.name == "Thunderbird" OR 
          product.name == "Mozilla Application Suite" OR
          product.name == "Camino" %]
      <input type="hidden" name="product" value="Core">
      <input type="hidden" name="product" value="Toolkit">
      <input type="hidden" name="product" value="PSM">
      <input type="hidden" name="product" value="NSPR">
      <input type="hidden" name="product" value="NSS">
    [% END %]      
    <input type="hidden" name="chfieldfrom" value="-6m">
    <input type="hidden" name="chfieldto" value="Now">
    <input type="hidden" name="chfield" value="[Bug creation]">
    <input type="text" name="content" size="40">
    <input type="submit" id="search" value="Търсене">
  </form>

<p>
  Разгледайте резултатите от търсенето. Ако получите съобщението
  <tt><b>[% terms.zeroSearchResults %]</b></tt>, тогава [% terms.Bugzilla %]
  не е открила [% terms.bugs %] които
  съвпадат. Проверете за правописни грешки или опитайте по-малко или различни ключови думи.
  Ако откриете [% terms.bug %], който изглежда като вашия, моля добавете
  полезна допълнителна информация за него, вместо да отваряте нов.
</p>


<h3 id="step2">Стъпка 2 от 3 - дайте информация</h3>

<p>
  Ако сте опитали да търсите няколко пъти и [% terms.bug %] наистина не е
  докладван, кажете ни за него.
</p>

<form method="post" action="post_bug.cgi">
  <input type="hidden" name="format" value="guided">
  <input type="hidden" name="assigned_to" value="">
  <input type="hidden" name="priority"
         value="[% default.priority FILTER html %]">
  <input type="hidden" name="version"
         value="[% default.version FILTER html %]">
  <input type="hidden" name="token" value="[% token FILTER html %]">

<table valign="top" cellpadding="5" cellspacing="5" border="0">

  <tr bgcolor="[% tablecolour %]">
    <td align="right" valign="top">
      <b>Продукт</b>
    </td>
    <td valign="top">
      <input type="hidden" name="product" value="[% product.name FILTER html %]">
      [% product.name FILTER html %]
    </td>
  </tr>

  <tr>
    <td align="right" valign="top">
      <b>Съставна част</b>
    </td>
    <td valign="top">
      <table border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td valign="top">
            <select name="component" id="component"
                    size="5" onchange="PutDescription()">
              [% IF NOT default.component_ %]
                [%# Various b.m.o. products have a "General" component,
                    which is a useful default. %]
                [% default.component_ = "Обща" %]
              [% END %]
              [% FOREACH c = product.components %]
                <option value="[% c.name FILTER html %]"
                  [% " selected=\"selected\"" IF c.name == default.component_ %]>
                  [% c.name FILTER html %]
                </option>
              [% END %]
            </select>
          </td>
          <td valign="top" width="100%">
              <div id="description" style="color: green; margin-left: 10px;
                                           height: 5em; overflow: auto;">
                <script type="text/javascript">
                  if ((document.getElementById) && (document.body.innerHTML)) {
                    document.write("\
                    Изберете съставна част, за да видите описанието ѝ тук.");
                  }
                </script>
              </div>
          </td>
        </tr>
      </table>
      
      <p>
        Областа където се появява проблема.
        За да изберете правилната съставна част, можете да използвате същата като на
        подобни [% terms.bugs %], които сте открили при търсенето или да прочетете пълния списък от
        <a target="_blank" href="describecomponents.cgi?product=
            [% product FILTER url_quote %]">описания на
        съставни части</a> (отваря се в нов прозорец) ако имате нужа от помощна информация.
      </p>
    </td>
  </tr>

  [%# We override rep_platform and op_sys for simplicity. The values chosen
      are based on which are most common in the b.m.o database %]
  [% rep_platform = [ "PC", "Macintosh", "Всички", "Друга" ] %]

  <tr bgcolor="[% tablecolour %]">
    <td align="right" valign="top">
      <b>Машинна платформа</b>
    </td>
    <td valign="top">
      [% PROCESS select sel = 'rep_platform' %]
    </td>
  </tr>

  [% op_sys = [ "Windows 2000", "Windows XP", "Windows Vista", "Windows 7",
                "Mac OS X", "Linux", "Всички", "Друга" ] %]

  <tr>
    <td align="right" valign="top">
      <b>Операционна система</b>
    </td>
    <td valign="top">
      [% PROCESS select sel = 'op_sys' %]
    </td>
  </tr>

  [% IF product.name.match("Firefox|Camino|Mozilla Application Suite") %]
    [% matches = cgi.user_agent('Gecko/(\d+)') %]
    [% buildid = cgi.user_agent() IF matches %]
  [% END %]
  
  [%# Accept URL parameter build ID for non-browser products %]
  [% IF cgi.param("buildid") %]
    [% buildid = cgi.param("buildid") %]
  [% END %]

  <tr bgcolor="[% tablecolour %]">
    <td align="right" valign="top">
      <b>Идентификатор на версия</b>
    </td>
    <td valign="top">
      <input type="text" size="80" name="buildid" value="[% buildid FILTER html %]">
      <p>
        По този начин се определя точната версия на продукта, който използвате.
        Ако полето по-горе е празно или знаете, че е неправилно, копирайте
        текста с версията от менюто Помощ |
        Относно на продукта (за браузърите той ще започва с "Mozilla/5.0...").
        Ако продукта не може да се пусне просто въведете пълния <abbr lang="en" title="Uniform Resource Locator">URL</abbr>, от
        който сте го свалили.
      </p>
    </td>
  </tr>

  <tr>
    <td align="right" valign="top">
      <b>URL</b>
    </td>
    <td valign="top">
      <input type="text" size="80" name="bug_file_loc" value="http://">
      <p>
        URL показващ проблема, който виждате (незадължително).<br>
        <b>ВАЖНО</b>: ако проблемa е със счупена web страници, тряба да
        докладвате на
        <a href="https://bugzilla.mozilla.org/page.cgi?id=broken-website.html">a different way</a>.
      </p>
   </td>
  </tr>

  <tr bgcolor="[% tablecolour %]">
    <td align="right" valign="top">
      <b>Резюме</b>
    </td>
    <td valign="top">
      <input type="text" size="80" name="short_desc" id="short_desc" 
             maxlength="255" spellcheck="true">
      <p>
        Изречение, което описва накратко проблема.
        Моля, бъдете описателни и използвайте много ключови думи.
      </p>
      <p>
        <tt>
          <font color="#990000">Лош пример</font>: пощата се счупи
        </tt>
        <br>
        <tt>
          <font color="#009900">Добър пример</font>:
          срив при затваряне на прозореца за поща, докато се прави проверка за нова POP поща
        </tt>
      </p>
    </td>
  </tr>

  <tr>
    <td align="right" valign="top">
      <b>Подробности</b>
    </td>
    <td valign="top">
      [% INCLUDE global/textarea.html.tmpl
        name    = 'comment'
        minrows = 6
        cols    = constants.COMMENT_COLS
      %]
      <p>
        Разширение на резюмето. Моля, бъдете
        възможно най-конкретни относно това което е неправилно.
      </p>
      <p>
        <tt>
          <font color="#990000">Лош пример</font>: Mozilla се срина.
          Да го духате!
        </tt>
        <br>
        <tt>
          <font color="#009900">Добър пример</font>: След срив, който
          стана когато подреждах в Управлението на отметките,<br> всичките ми
          папки с отметки от най-високо ниво, започващи с буквите от Q до Z вече
          не са налични.
        </tt>
      </p>
    </td>
  </tr>

  <tr bgcolor="[% tablecolour %]">
    <td align="right" valign="top">
      <b>Възпроизводимост</b>
    </td>
    <td valign="top">
      <select name="reproducible">
        <option name="AlwaysReproducible" value="Always">
          Случва се винаги.
        </option>
        <option name="Sometimes" value="Sometimes">
          Случва се понякога, но не винаги.
        </option>
        <option name="DidntTry" value="Didn't try">
          Не е опитвано възпроизвеждане.
        </option>
        <option name="NotReproducible" value="Couldn't Reproduce">
          Опит за възпроизвеждане, без резултат.
        </option>
      </select>
    </td>
  </tr>

  <tr>
    <td align="right" valign="top">
      <b>Стъпки за възпроизвеждане</b>
    </td>
    <td valign="top">
      [% INCLUDE global/textarea.html.tmpl
        name           = 'reproduce_steps'
        minrows        = 4
        cols           = constants.COMMENT_COLS
        defaultcontent = "1.\n2.\n3."
      %]
      <p>
        Опишете как да бъде възпроизведен проблема, стъпка по
        стъпка. Включете всички подготвителни стъпки.
      </p>
    </td>
  </tr>

  <tr bgcolor="[% tablecolour %]">
    <td valign="top" align="right">
      <b>Действителни резултати</b>
    </td>
    <td valign="top">
      [% INCLUDE global/textarea.html.tmpl
        name    = 'actual_results'
        minrows = 4
        cols    = constants.COMMENT_COLS
      %]
      <p>
        Какво се случи след като сте изпълнили стъпките по-горе?
      </p>
    </td>
  </tr>

  <tr>
    <td valign="top" align="right">
      <b>Очаквани резултати</b>
    </td>
    <td valign="top">
      [% INCLUDE global/textarea.html.tmpl
        name    = 'expected_results'
        minrows = 4
        cols    = constants.COMMENT_COLS
      %]
      <p>
        Какво е трябвало да направи програмата вместо това?
      </p>
    </td>
  </tr>

  <tr bgcolor="[% tablecolour %]">
    <td valign="top" align="right">
      <b>Допълнителна информация</b>
    </td>
    <td valign="top">
      [% INCLUDE global/textarea.html.tmpl
        name    = 'additional_info'
        minrows = 8
        cols    = constants.COMMENT_COLS
      %]
      <p>
        Добавете всяка допълнителна инофмация, която смятате че е от
        значение за този [% terms.bug %], като използваната <b>тема</b>
        (дали [% terms.abug %] продължава да се случва
        със стандартната тема?),
        <b><a href="http://kb.mozillazine.org/Quality_Feedback_Agent">Talkback идентификатор на срив</b> или специална
        информация относто <b>конфигурацията на вашия компютър</b>. Всяка информация
        по-дълга от няколко реда, като <b>трасиране на стека</b> или <b><abbr lang="en" title="HyperText Markup Language">HTML</abbr>
        опитна постановка</b>, трябва да бъде добавяна с
        изпозлването на връзката "Добавяне на приставка" на [% terms.abug %] след
        като е въведен. Ако смятате, че е от значение, моля също включете
        конфигурацията на построението получавана с написването на <tt>about:buildconfig</tt>
        в <abbr lang="en" title="Uniform Resource Locator">URL</abbr> лентата.
        <br>
        <br>
        Ако докладвате срив, отбележете модула в
        в който приложението се е счупило (напр., <tt>Application Violation in
        gkhtml.dll</tt>).
      </p>
    </td>
  </tr>

  <tr>
    <td valign="top" align="right">
      <b>Суровост</b>
    </td>
    <td valign="top">
      <select name="bug_severity">
        <option name="critical" value="critical">
          Критична: Програмата се срива, зависва или причинява
          загуба на данни.
        </option>
        <option name="major" value="major">
          Важна: Важна възможност не работи.
        </option>
        <option name="normal" value="normal" selected="selected">
          Нормална: Това е [% terms.abug %], който трябва да бъде оправен.
        </option>
        <option name="minor" value="minor">
          Неважна: Леки загуби на функционалност и съществува заобикаляне на проблема.
        </option>
        <option name="trivial" value="trivial">
          Обикновенна: Козметичен проблем, като неправилно изписана дума или
          неподравнен текст.
        </option>
        <option name="enhancement" value="enhancement">
          Подобряване: Заявка за нова възможност или подбрение.
        </option>
      </select>
      <p>
        Показва колко сериозен е проблема или дали [% terms.abug %] ви е
        заявка за нова функционалност.
      </p>
    </td>
  </tr>

  [% Hook.process('form') %]
</table>


<h3 id="step3">Стъпка 3 от 3 - предаване на [% terms.bug %] доклада</h3>

<p>
  <input type="submit" id="report" value="    Предаване на [% terms.bug %] доклад    "
   onclick="if (this.form.comment.value == '')
   { alert('Моля, въведете подробности относто този [% terms.bug %].');
     this.form.comment.focus();
     return false; } return true;">
</p>

<p>
  Това е! Благодаря много. Ще бъдете уведомени по електронна поща за
  напредъка по оправянето на вашия [% terms.bug %]. 

<p>  
  Моля, имайте в предвид,
  че получаваме много [% terms.bug %] доклади - може да отнеме известно време
  докато стигнем до вашия. Можете да подпомогнете процеса като се уверите, че
  [%+ terms.abug %] ви е
  пълен и лесен за разбиране и чрез бързото отговаряне на евентуални въпроси,
  пристигащи по е-поща.
</p>

    </form>

[% PROCESS global/footer.html.tmpl %]

[%############################################################################%]
[%# Block for SELECT fields                                                  #%]
[%############################################################################%]

[% BLOCK select %]
  <select name="[% sel %]">
    [%- IF default.$sel %]
      <option value="[% default.$sel FILTER html %]" selected="selected">
        [% default.$sel FILTER html -%]
      </option>
    [% END %]
    [%- FOREACH x = $sel %]
      [% NEXT IF x == default.$sel %]
      <option value="[% x FILTER html %]">
        [% x FILTER html -%]
      </option>
    [%- END %]
  </select>
[% END %]
