[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # url: URL to a pre-filled bug entry form.
  # short_desc: Bug summary as entered in the form.
  #%]

[% PROCESS global/header.html.tmpl
  title = "Отметките са ваши приятели"
  header = "Шаблона изграден"
%]

<p>
  Можете да отметнете тази връзка:
  &ldquo;<a href="enter_bug.cgi?[% url FILTER html %]">
  [% IF short_desc %]
    [% short_desc FILTER html %]
  [% ELSE %]
    шаблон за въвеждане на [% terms.Bug %]
  [% END %]</a>&rdquo;.
  Тази отметка ще извика страницата <em>Въвеждане на [% terms.bug %]</em> с
  начални стойности в полетата както поискахте.
</p>

[% PROCESS global/footer.html.tmpl %]
