[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s):     John Vandenberg <zeroj@null.net>
  #%]

[% PROCESS global/variables.none.tmpl %]

From: [% Param('mailfrom') %]
To: [% emailaddress %]
Subject: [% terms.Bugzilla %] Заявка за смяна на електронен пощенски адрес
X-Bugzilla-Type: admin

[%+ terms.Bugzilla %] получи заявка за смяна на електронния пощенски адрес
за сметката [% oldemailaddress %] на вашия адрес.

За да потрвърдите промяната, посетете следващата препратка:

[%+ urlbase %]token.cgi?t=[% token FILTER url_quote %]&a=cfmem

Ако вие не сте лицето направило заявката или желаете да я отхвърлите,
посетете следващата препратка:

[%+ urlbase %]token.cgi?t=[% token FILTER url_quote %]&a=cxlem

Ако не направите нищо, заявката ще изтече след [% constants.MAX_TOKEN_AGE %] дни
(на [% expiration_ts FILTER time("%e %B %Y в %H:%M %Z") %]).
