[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

From: [% Param('mailfrom') %]
To: [% newemailaddress %]
Subject: [% terms.Bugzilla %] Заявка за смяна на електронен пощенски адрес
X-Bugzilla-Type: admin

[%+ terms.Bugzilla %] получи заявка за смяна на електронния пощенски адрес
за сметката [% user.email %] на вашия адрес.

За да потвърдите промяната, посетете следващата препратка:

[%+ urlbase %]token.cgi?t=[% token FILTER uri %]&a=cfmem

Ако вие не сте лицето направило заявката или желаете да я отхвърлите,
посетете следващата препратка:

[%+ urlbase %]token.cgi?t=[% token FILTER uri %]&a=cxlem

Ако не направите нищо, заявката ще изтече след [% constants.MAX_TOKEN_AGE %] дни
(на [% expiration_ts FILTER time("%e %B %Y в %H:%M %Z") %]).
