[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # token: string. The token to be used in the user account creation.
  # email: email address of the user account.
  # expiration_ts: expiration date of the token.
  #%]

[% title = BLOCK %]Създаване на нова сметка за '[% email FILTER html %]'[% END %]
[% PROCESS "global/header.html.tmpl"
           title = title
           onload = "document.forms['confirm_account_form'].realname.focus();" %]

<p>
  За да създадете сметката си, трябва да въведете парола във формуляра отдолу.
  Пощенския ви адрес и Истинско име (ако е указано) ще бъдат показвани с
  промените, които правите.
</p>

<form id="confirm_account_form" method="post" action="token.cgi">
  <input type="hidden" name="t" value="[% token FILTER html %]">
  <input type="hidden" name="a" value="confirm_new_account">
  <table>
    <tr>
      <th align="right">Е-пощенски адрес:</th>
      <td>[% email FILTER html %]</td>
    </tr>
    <tr>
      <th align="right"><small><i>(НЕЗАДЪЛЖИТЕЛНО)</i></small> <label for="realname">Истинско име</label>:</th>
      <td><input type="text" id="realname" name="realname" value=""></td>
    </tr>
    <tr>
      <th align="right"><label for="passwd1">Въвеждане на парола</label>:</th>
      <td>
        <input type="password" id="passwd1" name="passwd1" value="">
        (минимум [% constants.USER_PASSWORD_MIN_LENGTH FILTER none %] символа)
      </td>
    </tr>
    <tr>
      <th align="right"><label for="passwd2">Повторно въвеждане на парола</label>:</th>
      <td><input type="password" id="passwd2" name="passwd2" value=""></td>
    </tr>
    <tr>
      <th align="right">&nbsp;</th>
      <td><input type="submit" id="confirm" value="Създаване"></td>
    </tr>
  </table>
</form>

<p>
  Сметката няма да бъде създадена ако този формуляр не е попълнен до
  <u>[% expiration_ts FILTER time("%e %B %Y в %H:%M %Z") %]</u>.
</p>

<p>
  Ако не желаете да създавате сметка с този пощенски адрес щракнете върху
  бутона за отказ отдолу и информацията за вас ще бъде забравена.
</p>

<form id="cancel_account_form" method="post" action="token.cgi">
  <input type="hidden" name="t" value="[% token FILTER html %]">
  <input type="hidden" name="a" value="cancel_new_account">
  <input type="submit" id="confirm" value="Отказ от сметката">
</form>

[% PROCESS global/footer.html.tmpl %]
