[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # token: random string used to authenticate the transaction.
  # expiration_ts: expiration date of the token.
  # email: email address of the new account.
  #%]

From: [% Param('mailfrom') %]
To: [% email %]
Subject: [% terms.Bugzilla %]: потвърждаване създаването на сметка
X-Bugzilla-Type: admin

[%+ terms.Bugzilla %] получи заявка за създаване на потребителска сметка
използваща вашия е-пощенския адрес ([% email %]).

За да продължите създаването на сметка, използвайки този е-пощенски адрес, посетете
следващата препратка до [%expiration_ts FILTER time("%e %B %Y в %H:%M %Z") %]:

[%+ urlbase %]token.cgi?t=[% token FILTER uri %]&a=request_new_account

Ако не сте получили това писмо преди [% expiration_ts FILTER time("%e %B %Y в %H:%M %Z") %] или
ако желаете да създадете сметка използвайки различен е-пощенски адрес можете да започнете
отново, като отидете на:

[%+ urlbase %]createaccount.cgi

[% IF Param('createemailregexp') == '.*' && Param('emailsuffix') == '' %]
ЗАБЕЛЕЖКА ЗА ПОВЕРИТЕЛНОСТТА: [% terms.Bugzilla %] е отворена система за следене на [% terms.bugs %]. Дейността по повечето
[%+ terms.bugs %], включително е-пощенски адреси, ще бъде видима за публиката. Препоръчваме
използването на втора сметка или безплатна web е-пощенска услуга (като Gmail, Yahoo,
Hotmail, или подобни) за предотвратяване получаването на нежелана поща на основния Ви е-пощенски адрес.
[% END %]

Ако не желаете да създадете сметка, или ако тази заявка е направена пради
грешка не правете нищо или посетете следващата връзка:

[%+ urlbase %]token.cgi?t=[% token FILTER uri %]&a=cancel_new_account

Ако връзките отгоре не работят, или ако имате каквито и да било други проблеми свързани с
вашата сметка, моля свържете се с администацията на [% Param('maintainer') %].
