[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]
[%
   title = "Административни политики"
   desc = "Настройка на политика за сметки"
%]

[% param_descs = {
  allowbugdeletion => "Страниците за редакция на продукти, съставни части и версии могат да изтриват " _
                      "всички свързани $terms.bugs, когато се изтрива продукт (или съставна част или " _
                      "версия). Тъй като това е доста страшна идея, трябва да включите тази " _
                      "възможност преди каквито и да било такива изтривания да се случат някога.",

  allowemailchange => "Потребителите могат да променят собствения си е-пощенски адрес през предпочитанията. " _
                      "Имайте в предвид, че промяната се потвърждава чрез изпращане на електронна поща до двата адреса, така че " _
                      "включването на тази възможност няма да позволи на потребителите да използват недействителен адрес.",

  allowuserdeletion => "Страниците за редакция на хора Ви дават възможността да изтривате потребителски сметки. " _
                       "Bugzilla ще покаже предупреждение в случай, че ще влезете в несъгласуваности " _
                       "преди да направите това, но такива изтривания остават някак страшни. " _
                       "Така че трябва да включите тази възможност преди каквито и да било такива изтривания " _
                       "да се случат някога."

  last_visit_keep_days => "Това задава броя на дните в които $terms.Bugzilla ще " _
                          "помни кога потребители са посещавали определени ${terms.bugs}."}
%]
