[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Miller <justdave@bugzilla.org>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  #%]
[%
   title = "Удостоверяване на потребители"
   desc = "Настройка на политики за удостоверяване"
%]

[% param_descs = {
  auth_env_id => "Променливата на средата, използвана от външна система за удостоверяване, " _
                 "съхраняваща уникален идентификатор за всеки потребител. Оставете празно " _
                 "ако няма такава или ако този метод на удостоверяване " _
                 "не се използва.",

  auth_env_email => "Променливата на средата, използвана от външна система за удостоверяване, " _
                    "съхраняваща е-пощенския адрес на всеки потребител. Това е задължително " _
                    "поле за удостоверяване чрез обкръжението. Оставете празно " _
                    "ако нямате намерение да използвате този способ.",

  auth_env_realname => "Променливата на средата, използвана от външна система за удостоверяване, " _
                       "съхраняваща истинското име на потребителя. Оставете празно ако " _
                       "няма такава или ако този метод на удостоверяване няма да бъде " _
                       "използван.",

  user_info_class => "Механизъм(ми), който(които) да бъдат използвани за събиране на информацията за вход за потребителя.
                      Може да бъде избран повече от един. Ако първия не върне нищо,
                      се опитва втория и така нататък.<br>
                      Типовете са:
                      <dl>
                        <dt><abbr lang=\"en\" title=\"Common Gateway Interface\">CGI</abbr></dt>
                        <dd>
                          Пита за потребителско име и парола чрез <abbr lang=\"en\" title=\"Common Gateway Interface\">CGI</abbr> формуляр.
                        </dd>
                        <dt>Обкръжение</dt>
                        <dd>
                          Информация за предварително удостоверен потребител се подава в системните
                          променливи на средата.
                        </dd>
                      </dl>",

  user_verify_class => "Механизъм(ми), който(които) да бъдат използвани за проверка (удостоверяване) на информацията
                        събрана с user_info_class.
                        Може да бъде избран повече от един. Ако първия не може да намери
                        потребителя се опитва втория и така нататък.<br>
                        Типовете са:
                        <dl>
                          <dt><abbr title\"База Данни\">БД</abbr></dt>
                          <dd>
                            Вграденото удостоверяване в ${terms.Bugzilla}. Това е най-честия
                            избор.
                          </dd>
                          <dt><abbr lang=\"en\" title=\"Lightweight Directory Access Protocol\">LDAP</abbr></dt>
                          <dd>
                            <abbr lang=\"en\" title=\"Lightweight Directory Access Protocol\">LDAP</abbr> удостоверяване, чрез <abbr lang=\"en\" title=\"Lightweight Directory Access Protocol\">LDAP</abbr> сървър. Този метод е
                            експериментален; моля вижте документацията на $terms.Bugzilla за повече
                            информация. Използването на този метод изисква задаването на допълнителни параметри
                            по-горе.
                          </dd>
                        </dl>",

  rememberlogin => "Контролира управлението на сесийните бисквитки
                    <ul>
                      <li>
                        включени - Сесийните бисквитки никога не изтичат (потребителя трябва да влезе само
                        веднъж за всяки браузър).
                      </li>
                      <li>
                        изключени - Сесийните бисквитки траят до края на потребителската сесия (потребителя
                        ще трябва да влиза при всяко пускане на браузъра).
                      </li>
                      <li>
                        По подразбиране включено/По подразбиране изключено - Подразбиращо поведение, както е описано
                        по-горе, но потребителя може да избере дали $terms.Bugzilla ще запомни неговите
                        данни за вход или не.
                      </li>
                    </ul>",

  loginnetmask => "Броя от битове за мрежовата маска използвана ако потребител избере да " _
                  "позволи вход за повече от един <abbr lang=\"en\" title=\"Internet Protocol\">IP</abbr> адрес. Задаването " _
                  "на 32 като стойност забранява тази възможност.<br> " _
                  "Имайте в предвид, че разрешаването и може да намали сигурността на системата Ви.",

  requirelogin => "Ако тази възможност е включена целия достъп до системата след " _
                  "началната страница ще изисква вход. Няма да бъдат допускани " _
                  "анонимни потребители.",

  emailregexp => "Този параметър определя регулярния израз, който да бъде използван за правилен е-пощенски адрес. По " _
                 "подразбиране се прави опит за съвпадение с напълно квалифицирани е-пощенски адреси . Друга " _
                 "популярна стойност, която се слага тук е <tt>^[^@]+$</tt>, което значи " _
                 "'локални потребители, @ не е позволена.'",

  emailregexpdesc => "Този текст описва на Английски какви типове правилни адреси " _
                     "са позволени от параметъра <tt>emailregexp</tt>.",

  emailsuffix => "Това е низ, който да бъде добавян към всеки е-пощенски адрес, когато всъщност " _
                 "се изпраща поща до него. Това е полезно ако сте променили " _
                 "параметъра <tt>emailregexp</tt>, така че да позволява само локални потребителски имена, " _
                 "но желаете пощата да бъде доставяна до например username@my.local.hostname.",

  createemailregexp => "Параметъра определя регулярен израз, който да бъде използван за е-пощенски адреси на които " _
                       "е разрешено да се саморегистрират използвайки възможността 'Нова регистрация'. Стойността " _
                       "по подразбиране (.*) разрешава регистрирането на всеки е-пощенски адрес съвпадащ с " _
                       "emailregexp. Ако този параметър е оставен празен на потребителите " _
                       "няма да е разрешено да създават техни собствени регистрации и всички регистрации " _
                       "ще трябва да бъдат създавани от администратор." }
%]
