[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]
[%
   title = "Политики за промяна на $terms.bug"
   desc = "Настройка на политки за промяна на $terms.bug"
%]

[% accept_status = display_value('bug_status', 'IN_PROGRESS') FILTER html %]

[% param_descs = {
  duplicate_or_move_bug_status => "Когато $terms.abug е обозначен като двойник на някой друг " _
                                  "или е преместен в друга инсталация, да се ползва това състояние на ${terms.bug}."

  letsubmitterchoosepriority => "Ако това е включено, тогава хората предаващи $terms.bugs могат " _
                                "да избират начален приоритет за тях. " _
                                "Ако е изключено, тогава всички $terms.bugs първоначално имат подразбриращия се " _
                                "приоритет избран по-долу.",

  letsubmitterchoosemilestone => "Ако това е включено, тогава хората предаващи $terms.bugs могат " _
                                 "да избират Целевото Събитие за тях. " _
                                 "Ако е изключено, тогава всички $terms.bugs първоначално имат подразбиращото се " _
                                 "събитие за продукта, за който са въвеждани.",

  musthavemilestoneonaccept => 
    "Ако използвате ${field_descs.target_milestone}, желаете ли да направите задължително"
    _ " задаването на събитие, за да може потребителя да смени"
    _ " състоянието на ${terms.abug} на ${accept_status}?",

  commentonchange_resolution => "Ако тази възможност е включена, потребителя трябва да въведе кратък " _
                                "коментар ако решение на $terms.abug се промени.",

  commentonduplicate => "Ако тази възможност е включена, потребителя трябва да въведе кратък коментар ако " _
                        "$terms.abug е отбелязан като двойник.",

  noresolveonopenblockers => "Да не се позволява разрешаването на $terms.bugs като оправени " _
                             "ако имат неразрешени зависимости." }
%]
