[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Miller <justdave@bugzilla.org>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  #%]
[%
   title = "Полета на $terms.bugs"
   desc = "Избор на полета, които да бъдат показвани"
%]

[% param_descs = {
  useclassification => "Ако това е включено, $terms.Bugzilla ще свърже всеки продукт с " _
                       "определена класификация. Но трябва да имате 'editclassification' " _
                       "разрешено, за да редактирате класификации.",

  showallproducts => "Ако това е включено и useclassification е зададено, $terms.Bugzilla ще добави " _
                     "връзка 'Всички' в страницата 'Нов $terms.Bug' за списък на всички налични продукти.",

  usetargetmilestone => "Желаете ли да използвате полето Целево Събитие?",

  useqacontact => "Желаете ли да използвате полето Качествен Контрол?",

  usestatuswhiteboard => "Желаете ли да използвате полето бяла дъска на състоянието?",

  usevotes => "Желаете ли да позволите на потребителите да гласуват за ${terms.bugs}? Имайте в предвид, " _
              "че за да бъде ефективно това, ще трябва да промените максимума на " _
              "позволените гласове в продукт да не бъде нулев от " _
              "<a href=\"editproducts.cgi\">страницата за редакция на продукт</a>.",

  usebugaliases => "Желаете ли да използвате псевдоними, които Ви позволяват да задавате " _
                   "лесни за помнене имена на $terms.bugs за обръщение към тях?",

  defaultpriority => "Това е приоритета, който ще бъде задаван на нови ${terms.bugs}.",

  defaultseverity => "Това е суровоста, която ще бъде задаване на нови ${terms.bugs}.",

  defaultplatform => "Това е платформата предварително избрана във формата за въвеждане " _
                     "на ${terms.bug}.<br> " _
                     "Можете да оставите празно: " _
                     "Тогава $terms.Bugzilla ще използва платформата, на която " _
                     "браузъра докладва, че се изпълнява по подразбиране.",

  defaultopsys => "Това е операционната система предварително избрана във формата за въвеждане " _
                  "на $terms.abug .<br> " _
                  "Можете да оставите празно: " _
                  "Тогава $terms.Bugzilla ще използва операционната система, на която " _
                  "браузъра докладва, че се изпълнява по подразбиране." }
%]
