[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]
[%
   title = "Полета на $terms.bugs"
   desc = "Избор на полета, които да бъдат показвани"
%]

[% param_descs = {
  useclassification => "Ако това е включено, $terms.Bugzilla ще свърже всеки продукт с " _
                       "определена класификация. Но трябва да имате 'editclassification' " _
                       "разрешено, за да редактирате класификации.",

  usetargetmilestone => "Желаете ли да използвате полето Целево Събитие?",

  useqacontact => "Желаете ли да използвате полето Качествен Контрол?",

  usestatuswhiteboard => "Желаете ли да използвате полето бяла дъска?",

  use_see_also => 
    "Желаете ли да използвате полето Виж още? То ви позволява да се позовете на"
    _ " $terms.bugs в други инсталации. Дори да го забраните,"
    _ " $terms.bug връзките (URLs) вече зададени на $terms.bugs ще"
    _ " продължават да се показват и могат да бъдат премахвани.",

  defaultpriority => "Това е приоритета, който ще бъде задаван на нови ${terms.bugs}.",

  defaultseverity => "Това е суровоста, която ще бъде задаване на нови ${terms.bugs}.",

  defaultplatform => "Това е платформата предварително избрана във формата за въвеждане " _
                     "на ${terms.bug}.<br> " _
                     "Можете да оставите празно: " _
                     "Тогава $terms.Bugzilla ще използва платформата, на която " _
                     "браузъра докладва, че се изпълнява по подразбиране.",

  defaultopsys => "Това е операционната система предварително избрана във формата за въвеждане " _
                  "на $terms.abug .<br> " _
                  "Можете да оставите празно: " _
                  "Тогава $terms.Bugzilla ще използва операционната система, на която " _
                  "браузъра докладва, че се изпълнява по подразбиране." }
%]
