[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% 
   title = "Задължителни настройки"
   desc = "Задължителни настройки за правилна работа на ${terms.Bugzilla}"
%]

[% param_descs = {
  urlbase => "<abbr lang=\"en\" title=\"Uniform Resource Locator\">URL</abbr>-то, което е обща първоначална водеща част на всички $terms.Bugzilla " _
             "<abbr lang=\"en\" title=\"Uniform Resource Locator\">URL</abbr>-та.",

  sslbase => "<abbr lang=\"en\" title=\"Uniform Resource Locator\">URL</abbr>-то, което е обща първоначална водеща част на всички <abbr lang=\"en\" title=\"Hyper Text Transfer Protocol Secure\">HTTPS</abbr> " _
             "(<abbr lang=\"en\" title=\"Secure Socket Layer\">SSL</abbr>) $terms.Bugzilla <abbr lang=\"en\" title=\"Uniform Resource Locator\">URL</abbr>-та.",

  ssl_redirect => 
    "Когато е разрешено, $terms.Bugzilla ще подсигури достъпа до всяка"
    _ " страница по SSL, с пренасочване на всяка обикновенна <abbr lang=\"en\" title=\"Hyper Text Transfer Protocol\">HTTP</abbr> заявка към <abbr lang=\"en\" title=\"Hyper Text Transfer Protocol Secure\">HTTPS</abbr>"
    _ " използвайки <tt>sslbase</tt> параметъра. Също, когато това е разрешено,"
    _ " $terms.Bugzilla ще изпраща навън връзки използвайки <tt>sslbase</tt> е е-поща"
    _ " вместо <tt>urlbase</tt>.",

  cookiepath => "Път, относителен спрямо корена на web документите, до който да бъдат ограничени " _
                "бисквитките на ${terms.Bugzilla}. Нормално това е <abbr lang=\"en\" title=\"Uniform Resource Identificator\">URI</abbr> частта на вашия базов <abbr lang=\"en\" title=\"Uniform Resource Locator\">URL</abbr>. " _
                "Започва с / (единична наклонена на дясно черта). Например, ако " _
                "$terms.Bugzilla обслужва от 'http://www.somedomain.com/bugzilla/', задайте " _
                "този параметър като /bugzilla/. Задаването му като / ще позволи " _
                "на всички сайтове от този сървър или виртуален хост да четат " _
                "бисквитките на ${terms.Bugzilla}.",
} %]
