[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Miller <justdave@bugzilla.org>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  #%]

[% 
   title = "Задължителни настройки"
   desc = "Задължителни настройки за правилна работа на ${terms.Bugzilla}" 
%]

[% param_descs = {
  maintainer => "Електронния пощенски адрес на лицето, което поддържа тази инсталация " _
                "на ${terms.Bugzilla}.",

  urlbase => "<abbr lang=\"en\" title=\"Uniform Resource Locator\">URL</abbr>-то, което е обща първоначална водеща част на всички $terms.Bugzilla " _
             "<abbr lang=\"en\" title=\"Uniform Resource Locator\">URL</abbr>-та.",

  sslbase => "<abbr lang=\"en\" title=\"Uniform Resource Locator\">URL</abbr>-то, което е обща първоначална водеща част на всички <abbr lang=\"en\" title=\"Hyper Text Transfer Protocol over Secure Socet Layer\">HTTPS</abr> " _
             "(<abbr lang=\"en\" title=\"Secure Socket Layer\">SSL</abbr>) $terms.Bugzilla <abbr lang=\"en\" title=\"Uniform Resource Locator\">URL</abbr>-та.",

  ssl => "Управлява, кога $terms.Bugzilla трябва да налага използването на <abbr lang=\"en\" title=\"Hyper Text Transfer Protocol over Secure Socet Layer\">HTTPS</abr> в сесиите " _
         "чрез използването на <tt>sslbase</tt>.",

  cookiedomain => "Областта за бисквитките на ${terms.Bugzilla}. Нормално празно. " _
                  "Ако вашата страница се намира на 'www.foo.com', задаването на параметъра като " _
                  "'.foo.com' ще позволи достъп също и на 'bar.foo.com' до " _
                  "бисквитките на ${terms.Bugzilla}. Това е полезно ако имате повече от " _
                  "едно име на хост сочещо към един и същи web сървър и желаете те " _
                  "да споделят бисквитките на ${terms.Bugzilla}.",

  cookiepath => "Път, относителен спрямо корена на web документите, до който да бъдат ограничени " _
                "бисквитките на ${terms.Bugzilla}. Нормално това е <abbr lang=\"en\" title=\"Uniform Resource Identificator\">URI</abbr> частта на вашия базов <abbr lang=\"en\" title=\"Uniform Resource Locator\">URL</abbr>. " _
                "Започва с / (единична наклонена на дясно черта). Например, ако " _
                "$terms.Bugzilla обслужва от 'http://www.somedomain.com/bugzilla/', задайте " _
                "този параметър като /bugzilla/. Задаването му като / ще позволи " _
                "на всички сайтове от този сървър или виртуален хост да четат " _
                "бисквитките на ${terms.Bugzilla}.",

  timezone => "Времевата зона в която сървъра Ви за бази данни живее. Ако е празени низ, " _
              "тогава времевата зона няма да бъде показвана с времевите разпечатки.",

  utf8 => "Използване на UTF-8 (Уникод) кодиране за всичкия текст в ${terms.Bugzilla}. Новите " _
          "инсталации трябва да разрешат този параметър, за да предотвратят проблеми с кодирането на " _
          "знаците. Съществуващите бази данни трябва да разрешат параметъра само след като " _
          "данните бъдат обърнати от съществуващи наследствени кодирания " _
          "към UTF-8.",

  shutdownhtml => "Ако това поле не е празно, тогава $terms.Bugzilla ще бъде напълно " _
                  "забранена и този текст ще бъде показван вместо всички " _
                  "страници на ${terms.Bugzilla}." }
%]
