[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Miller <justdave@bugzilla.org>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  #%]
[%
   title = "Графики на зависимостите"
   desc = "Незадължителни настройки за графикиране на зависимости"
%]

[% param_descs = {
  webdotbase => "Възможно е показването на графики на зависими ${terms.bugs}.
                 Можете да зададете този параметър на едно от следните:
                 <ul>
                   <li>
                     Пълен файлов път до 'dot' (част от <a href=\"http://www.graphviz.org\">GraphViz</a>),
                     ще създава графиките локално.
                   </li>
                   <li>
                     <abbr lang=\"en\" title=\"Uniform Resource Locator\">URL</abbr>
                     представка сочеща към инсталация на <a href=\"http://www.research.att.com/~north/cgi-bin/webdot.cgi\">webdot
                     пакета</a>, ще създава графиките отдалечено.
                   </li>
                   <li>
                     Ако полето е празно графиките на зависимостите няма да бъдат достъпни.
                   </li>
                 </ul>
                 Стойността по подразбиране е публично достъпен webdot сървър.
                 Ако я промените убедете се, че този webdot сървър може да чете
                 файлове от вашата webdot папка. На Apache правите това като
                 редактирате .htaccess файла, за други системи необходимите
                 мерки може да са различни. Можете да пуснете checksetup.pl,
                 за да създадете наново .htaccess ако е бил загубен."}
%]
