[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]
[%
   title = "Графики"
   desc = "Незадължителни настройки за създаване на графики"
%]

[% param_descs = {
  webdotbase => "Възможно е показването на графики на зависими ${terms.bugs}.
                 Можете да зададете този параметър на едно от следните:
                 <ul>
                   <li>
                     Пълен файлов път до 'dot' (част от
                     <a href=\"http://www.graphviz.org\">GraphViz</a>) ще
                     създава графиките локално.
                   </li>
                   <li>
                     <abbr lang=\"en\" title=\"Uniform Resource Locator\">URL</abbr>
                     представка сочеща към инсталация на <a href=\"http://www.research.att.com/~north/cgi-bin/webdot.cgi\">webdot
                     пакета</a>, ще създава графиките отдалечено.
                   </li>
                   <li>
                     Ако полето е празно графиките на зависимостите няма да бъдат достъпни.
                   </li>
                 </ul>
                 Стойността по подразбиране е публично достъпен webdot сървър. Ако я промените
                 уверете се, че този webdot сървър може да чете файлове от вашата
                 webdot папка. На Apache правите това като редактирате .htaccess файла,
                 за други системи необходимите мерки може да са различни. Можете да пуснете <kbd>checksetup.pl</kbd>,
                 за да създадете наново .htaccess ако е бил загубен.",

  font_file => "Можете да укажете пълния път до файл с TrueType или OpenType шрифт, който ще " _
               "бъде ползван за показване на текст (етикети, легенди, ...) в диаграми и графични доклади. " _
               "За поддръжка на възможно най-много езици препоръчваме да укажете шрифт " _
               "като <a href=\"http://unifoundry.com/unifont.html\">Unifont</a>, " _
               "който поддържа всички печатими символи в Основната Многоезична Равнина. " _
               "Ако оставите този параметър празен, ще се ползва шрифт по подразбиране, но " _
               "неговата поддръжка е ограничена само до Английски символи и така други символи " _
               "ще бъдат показвани неправилно.",
  }
%]
