[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% 
   title = "Общи"
   desc = "Разнообразни общи настройки, които са незадължителни." 
%]

[% param_descs = {
  maintainer => 
    "Електронния пощенски адрес на лицето, което поддържа тази инсталация "
    _ " на Bugzilla.",

  utf8 => 
    "Използване на <abbr lang=\"en\" title=\"The Unicode Transformation Format\">UTF</abbr>-8 (Уникод) кодиране за всичкия текст в Bugzilla. Новите"
    _ " инсталации трябва да разрешат този параметър, за да предотвратят проблеми с кодирането на"
    _ " знаците. <strong>Съществуващите бази данни трябва да разрешат параметъра"
    _ " само след като данните бъдат обърнати от съществуващи наследствени"
    _ " кодирания към <abbr lang=\"en\" title=\"The Unicode Transformation Format\">UTF</abbr>-8 с използването на"
    _ " скрипта <kbd>contrib/recode.pl</kbd></strong>."
    _ " <p>Обърнете внимание, че ако включите параметъра от &quot;off&quot; на"
    _ " трябва да пуснете отново <kbd>checksetup.pl</kbd> непосредствено"
    _ " след това.</p>",

  shutdownhtml => 
    "Ако това поле не е празно, тогава Bugzilla ще бъде напълно"
    _ " забранена и този текст ще бъде показван вместо всички"
    _ " $terms.Bugzilla страници.",

  announcehtml => 
    "Ако полето не е празно, Bugzilla ще"
    _ " показва това което е в него отгоре на всяка"
    _ " <abbr lang=\"en\" title=\"Hyper Text Markup Language\">HTML</abbr> страница. <abbr lang=\"en\" title=\"Hyper Text Markup Language\">HTML</abbr> кода, който поставите в това поле, не е обвит или"
    _ " вмъкнат в нищо. Може да желате да го обвиете вътре в"
    _ "<code>&lt;div&gt;</code>. Дайте на div <em>id=\"message\"</em>, за да получите"
    _ " зелен текст вътре в червена кутия или <em>class=\"bz_private\"</em> за"
    _ " тъмно червено на червен фон.  Всичко зададено в "
    _ " <code>skins/standard/global.css</code> или <code>skins/custom/global.css</code>"
    _ " ще работи.  За да получите центриран текст, използвайте <em>class=\"center\"</em>.",

  upgrade_notification => 
    "Bugzilla може да ви уведоми когато е налична нова версия."
    _ " Уведомлението ще се появи на началната страница на $terms.Bugzilla,"
    _ " само за администратори."
    _ " <ul><li>'development_snapshot' уведомява ви за последната "
    _ " версия в ствола (т.е. версия за разработчици), която е пусната.</li>"
    _ " <li>'latest_stable_release' уведомява ви за най-скорошната"
    _ "  версия налична от най-последния стабилен клон. Клона"
    _ " може да бъде различен от клона на който е основана инсталацията ви.</li>"
    _ " <li>'stable_branch_release' уведомява ви само за нови версии"
    _ " отговарящи на клона на който е основана инсталацията ви."
    _ " Ако ползвате кандидат версия, ще получите уведомление"
    _ " също така за по-нови кандидат версии.</li>"
    _ " <li>'disabled' никога няма да ви уведомява за нови версии и няма"
    _ " да осъществава връзка към отдалечен сървър.</li></ul>"
    _ " <p>Имайтре в предвид, че ако Bugzilla сървъра ви изисква прокси за"
    _ " достъп до Интернет, може също да ви се наложи да зададете параметъра <var>proxy_url</var>"
    _ " в раздела За напреднали.</p>",
} %]
