[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]
[%
   title = "Групова сигурност"
   desc = "Как ще се използват групите за сигурност"
%]

[% param_descs = {
  makeproductgroups => "Ако това е включено, Bugzilla ще свърже $terms.bug група " _
                       "с всеки продукт в базата данни и ще го използва за търсене на ${terms.bugs}.",

  chartgroup => "Името на групата от потребители, които могат да използват възможността 'Нови графики' " _
                "Администраторите трябва да подсигурят системата, така че дефинициите на " _
                "публичните категории и редове да не разкрият поверителна информация, " _
                "преди да разрешат това за несигурна публика. Ако е оставено празно, " _
                "потребителите няма да могат да използват Нови графики.",

  insidergroup => "Името на групата от потребители, които могат да виждат/променят частните " _
                  "коментари и приставки.",

  timetrackinggroup => "Името на групата от потребители, които могат да виждат/променят информацията " _
                       "за следене на изразходваното времето.",

  querysharegroup => "Името на групата потребители, които могат да споделят техните " _
                     "съхранени търсения с други потребители.",

  comment_taggers_group => "Името на групата от потребители които могат да отбелязват коментари." _
                           " Оставянето празно забранява отбелязването на коментари.",

  debug_group => "Името на групата потребители, които могат да виждат действителната " _
                 "<abbr lang=\"en\" title=\"Structured Query Language\">SQL</abbr> заявка създавана при преглед на $terms.bug списъци или доклади.",

  usevisibilitygroups => "Искате ли да ограничите видимостта над потребителите до членовете " _
                         "определени групи?",

  strict_isolation => "Да не се разрешава на потребителите да бъдат назначавани, " _
                      "да стават качествен контрол на, " _
                      "да бъдат добавяни в <abbr title=\"Точно копие\">ТК</abbr> списъка, " _
                      "или да правят или премахват зависимости " _
                      "включващи всеки бъг, който е в продукт, върху който " _
                      "на потребителя е забранено да редактира.",

 or_groups => "Определяне на видимостта на $terms.bug който е в няколко " _
              "групи. Ако това е включено (препоръчително), потребителя трябва да " _
              "бъде член само на една от групите на ${terms.abug}, за да го  " _
              "вижда. Ако е изключено, потребителя трябва да бъде член на всички " _
              "групи на ${terms.abug}. Имайте в предвид, че във всеки случай ако " _
              "потребителя има роля по $terms.abug (напр. докладчик) това също " _
              "може да повлияе на правата му."
 }
%]
