[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Miller <justdave@bugzilla.org>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  #%]
[%
   title = "Групова сигурност"
   desc = "Как ще се използват групите за сигурност"
%]

[% param_descs = {
  makeproductgroups => "Ако това е включено, $terms.Bugzilla ще свърже $terms.bug група " _
                       "с всеки продукт в базата данни и ще го използва за търсене на ${terms.bugs}.",

  chartgroup => "Името на групата от потребители, които могат да използват възможността 'Нови графики' " _
                "Администраторите трябва да подсигурят системата, така че дефинициите на " _
                "публичните категории и редове да не разкрият поверителна информация, " _
                "преди да разрешат това за несигурна публика. Ако е оставено празно, " _
                "потребителите няма да могат да използват Нови графики.",

  insidergroup => "Името на групата от потребители, които могат да виждат/променят частните " _
                  "коментари и приставки.",

  timetrackinggroup => "Името на групата от потребители, които могат да виждат/променят информацията " _
                       "за следене на изразходваното времето.",

  querysharegroup => "Името на групата потребители, които могат да споделят техните " _
                     "съхранени търсения с други потребители.",

  usevisibilitygroups => "Искате ли да ограничите видимостта над потребителите до членовете " _
                         "определени групи?",
  
  strict_isolation => "Да не се разрешава на потребителите да бъдат назначавани, " _
                      "да стават качествен контрол на, " _
                      "да бъдат добавяни в <abbr title=\"Точно копие\">ТК</abbr> списъка, " _
                      "или да правят или премахват зависимости " _
                      "включващи всеки бъг, който е в продукт, върху който " _
                      "на потребителя е забранено да редактира.", 

 }
%]
