[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Miller <justdave@bugzilla.org>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  #%]
[%
   title = "Локализация"
   desc = "Определяне на езиците достъпни за потребителите"
%]

[%# Get the list of available languages %]
[% available_languages = "unknown" %]
[% FOREACH param = params %]
  [% IF param.name == "languages" %]
    [% available_languages = param.extra_desc.available_languages FILTER html %]
  [% END %]
[% END %]

[% param_descs = {
  languages => "Разделен със запетайки списък от RFC 1766 езикови етикети. Установяващи " _
               "езиците в които искате изхода на $terms.Bugzilla" _
               "да бъде показван. Имайте в предвид, че трябва да инсталирате съответните " _
               "езикови пакети преди да добавите езика към този параметър. Използвния " _
               "език ще бъде този от списъка с най-високо тегловно число в " _
               "потребителското Accept-Language заглавие.<br> " _
               "Налични езици: $available_languages" ,

  defaultlanguage => "Езика на потребителския интерфейс, който $terms.Bugzilla ще използва в случай, че " _
                     "не бъде намерен подходящ език в потребителското Accept-Language заглавие." }
%]
