[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]
[%
   title = "LDAP"
   desc = "Настройте първо това преди избора на LDAP като метод за удостоверяване"
%]

[% param_descs = {
  LDAPserver => "Името (и незадължително порта) на вашия <abbr lang=\"en\" title=\"Lightweight Directory Access Protocol\">LDAP</abbr> сървър " _
                "(напр. ldap.company.com или ldap.company.com:номерпорт). " _
                "<abbr lang=\"en\" title=\"Uniform Resource Identifier\">URI</abbr> синтаксис също може да се използва, като "_
                "ldaps://ldap.company.com (за сигурна връзка) или " _
                "ldapi://%2fvar%2flib%2fldap_sock (за базирана на гнездо " _
                "локална връзка. Множество имена на хостове или адреси могат да бъдат разделени " _
                "с запетая; всеки ще бъде опитан подред докато бъде установена " _
                "връзка.",

  LDAPstarttls => "Дали да се изисква кодирана комуникация веднъж след като" _
                 "е осъществена <abbr lang=\"en\" title=\"Lightweight Directory Access Protocol\">LDAP</abbr> връзка със сървъра.",

  LDAPbinddn => "Ако вашия <abbr lang=\"en\" title=\"Lightweight Directory Access Protocol\">LDAP</abbr> сървър изисква да използвате потребителско име (binddn) и парола " _
                "вместо да позволява анонимно свързване, въведете ги тук " _
                "(напр. cn=default,cn=<потребител>:<парола>). " _
                "Оставете празно за нормалния случай на анонимно свързване.",

  LDAPBaseDN => "BaseDN срещу който да се удостоверяват потребителите " _
                "(напр. ou=People,o=Company).",

  LDAPuidattribute => "Името на атрибута съдържащ името за вход на потребителя.",

  LDAPmailattribute => "Името на атрибута на потребител във вашата директория, съдържащ " _
                       "електронния му пощенски адрес, който да бъде " _
                       "използван като Bugzilla потребителско име. Ако параметъра " _
                       "е празен, Bugzilla ще използва LDAP потребителското име"_
                       " като Bugzilla такова. В този случай можете да" _
                       " зададете параметъра \"emailsuffix\" също.",

  LDAPfilter => "<abbr lang=\"en\" title=\"Lightweight Directory Access Protocol\">LDAP</abbr> филтър, който заедно с <var>LDAPuidattribute</var> служи за " _
                "ограничаване на списъка от действителни потребители." }
%]
