[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]
[%
   title = "Електронна поща"
   desc = "Как ще бъде доставяна изходящата поща?"
%]

[% param_descs = {
  mail_delivery_method => "Определя как се изпраща поща или дали се изпраща изобщо.<br>
                           <ul>
                             <li>
                               'SMTP' означава да се използва <abbr lang=\"en\" title=\"Simple Mail Transfer Protocol\">SMTP</abbr> протокол за разговор с отдалечен
                               пощенски сървър.
                             </li>
                             <li>
                               'Sendmail' означава да се използва sendmail-съвместим <abbr lang=\"en\" title=\"Mail Transfer Agent\">MTA</abbr>
                               инсталиран на Bugzilla машината.
                               Трябва да инсталирате заместител на sendmail предоставян от трета страна ако
                               желаете да използвате sendmail под Windows.
                             </li>
                             <li>
                               'Test' е полезно за отстраняване на проблеми: цялата поща се съхранява
                               в 'data/mailer.testfile' вместо да бъде изпращана.
                             </li>
                             <li>
                               'None' ще забрани напълно пощата. Bugzilla продължава
                               да действа сякаш изпраща поща, но нищо не се изпраща или
                               съхранява.
                             </li>
                           </ul>",

  mailfrom => "Е-пощенския адрес на пощенския демон на ${terms.Bugzilla}.  Някои е-пощенски системи " _
              "изискват това да бъде действителен е-пощенски адрес.",

  use_mailer_queue => "В големи Bugzilla инсталации, обновяването на"
    _ " $terms.bugs може да бъде много бавно, защото Bugzilla изпраща цялата"
    _ " поща наведнъж. Ако разрешите този параметър, Bugzilla ще"
    _ " нарежда на опашка цялата поща и тогава ще я изпраща във фонов режим. Това изисква"
    _ " да сте инсталирали определени Perl модули (както е указано от"
    _ " <kbd>checksetup.pl</kbd> за тази възможност) и да сте"
    _ " пуснали <code>jobqueue.pl</code> демона (иначе вашата поща"
    _ " няма да бъде изпратена). Това засяга цялата поща изпращана от Bugzilla,"
    _ " не само за обновяване на ${terms.bug}.",

  smtpserver => "Адреса на <abbr lang=\"en\" title=\"Simple Mail Transfer Protocol\">SMTP</abbr> сървъра с незадължителен номер на порт (ако се <abbr lang=\"en\" title=\"Simple Mail Transfer Protocol\">SMTP</abbr>",
                " за доставяне на поща). напр. example.com or example.com:1234",

  smtp_username => "Потребителското име което да се подаде на <abbr lang=\"en\" title=\"Simple Mail Transfer Protocol\">SMTP</abbr> сървъра за <abbr lang=\"en\" title=\"Simple Mail Transfer Protocol\">SMTP</abbr> удостоверяване. " _
                   "Оставете това поле празно, ако <abbr lang=\"en\" title=\"Simple Mail Transfer Protocol\">SMTP</abbr> сървъра ви не изисква удостоверяване.",

  smtp_password => "Паролата която да се подаде на <abbr lang=\"en\" title=\"Simple Mail Transfer Protocol\">SMTP</abbr> сървъра за <abbr lang=\"en\" title=\"Simple Mail Transfer Protocol\">SMTP</abbr> удостоверяване. " _
                   "Това поле няма ефект ако параметъра smtp_username е оставен празен.",

  smtp_ssl => "Разрешена <abbr lang=\"en\" title=\"Secure Socket Layer\">SSL</abbr> поддръжка за <abbr lang=\"en\" title=\"Simple Mail Transfer Protocol\">SMTP</abbr>.",

  smtp_debug => "Ако е разрешено, това ще печата информация за комуникацията " _
                " на Bugzilla с <abbr lang=\"en\" title=\"Simple Mail Transfer Protocol\">SMTP</abbr> сървъра ви в журнала за грешки на " _
                " web сървъра ви. Можете да използвате тази възможност " _
                " отстраняване на проблеми с е-поща.",

  whinedays => "Броя дни за които е позволено на даден $terms.bug да стои спокойно в състояние ПОТВЪРДЕН " _
               "преди насрочена задача да се разхленчи на собственика.<br> " _
               "Задайте като 0, за да забраните хленча.",

  globalwatchers => "Списък, разделен със запетаи, на потребителите които трябва да получават " _
                    "копие на всяко уведомително писмо, което системата изпраща." }

%]
