[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]
[%
   title = "Електронна поща"
   desc = "Как ще бъде доставяна изходящата поща?"
%]

[% param_descs = {
  mail_delivery_method => "Определя как се изпраща поща или дали се изпраща изобщо.<br>
                           <ul>
                             <li>
                               'Sendmail', 'SMTP' и 'Qmail' са всички Агенти Предаващи Поща (<abbr lang=\"en\" title=\"Mail Transfer Agent\">MTA</abbr>).
                               Ще трябва да инсталирате заместител на sendmail от трета страна ако
                               желаете да използвате sendmail на Windows.
                             </li>
                             <li>
                               'Test' е полезно за отстраняване на проблеми: цялата поща се съхранява
                               в 'data/mailer.testfile' вместо да бъде пращана.
                             </li>
                             <li>
                               'none' ще забрани напълно пощата. $terms.Bugzilla продължава
                               да действа сякаш изпраща поща, но нищо не се изпраща или
                               съхранява.
                             </li>
                           </ul>",

  mailfrom => "Е-пощенския адрес на пощенския демон на ${terms.Bugzilla}.  Някои е-пощенски системи " _
              "изискват това да бъде действителен е-пощенски адрес.",

  use_mailer_queue => "В големи $terms.Bugzilla инсталации, обновяването на"
    _ " $terms.bugs може да бъде много бавно, защото $terms.Bugzilla изпраща цялата"
    _ " поща наведнъж. Ако разрешите този параметър, $terms.Bugzilla ще"
    _ " нарежда на опашка цялата поща и тогава ще я изпраща във фонов режим. Това изисква"
    _ " да сте инсталирали определени Perl модули (както е указано от"
    _ " <kbd>checksetup.pl</kbd> за тази възможност) и да сте"
    _ " пуснали <code>jobqueue.pl</code> демона (иначе вашата поща"
    _ " няма да бъде изпратена). Това засяга цялата поща изпращана от ${terms.Bugzilla},"
    _ " не само за обновяване на ${terms.bug}.",

  smtpserver => "Адреса на сървъра за изпращане на поща (Ако се използва такъв за доставяне на поща).",

  smtp_username => "Потребителското име което да се подаде на SMTP сървъра за SMTP удостоверяване. " _
                   "Оставете това поле празно, ако SMTP сървъра ви не изисква удостоверяване.",

  smtp_password => "Паролата която да се подаде на SMTP сървъра за SMTP удостоверяване. " _
                   "Това поле няма ефект ако параметъра smtp_username е оставен празен.",

  smtp_ssl => "Разрешена SSL поддръжка за SMTP.",

  smtp_debug => "Ако е разрешено, това ще печата информация за комуникацията " _
                " на $terms.Bugzilla със SMTP сървъра ви в журнала за грешки на " _
                " web сървъра ви. Можете да използвате тази възможност " _
                " отстраняване на проблеми с е-поща.",

  whinedays => "Броя дни за които е позволено на даден $terms.bug да стои спокойно в състояние ПОТВЪРДЕН " _
               "преди насрочена задача да се разхленчи на собственика.<br> " _
               "Задайте като 0, за да забраните хленча.",

  globalwatchers => "Списък, разделен със запетаи, на потребителите които трябва да получават " _
                    "копие на всяко уведомително писмо, което системата изпраща." }

%]
