[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]
[%
   title = "Подразбиращи се стойности за запитвания"
   desc = "Подразбиращи се стойности за запитвания и $terms.bug списъци"
%]

[% param_descs = {
  quip_list_entry_control => "Определя колко лесно потребителите могат да добавят нови остроумия към списъка.
                              <ul>
                                <li>
                                  отворен - Потребителите могат свободно да добавят в списъка с остроумия и
                                  техните проникновения ще бъдат незабавно достъпни за показване.
                                </li>
                                <li>
                                  проверяван - Остроумия могат да бъдат добавяни, но трябва д бъдат одобрени
                                  от арбитър преди да бъдат показани.
                                </li>
                                <li>
                                  затворен - Не се позволяват добавяния в списъка с остроумия.
                                </li>
                              </ul>",

  mostfreqthreshold => "Минималният брой от двойници, необходим на един $terms.bug, за да се покаже той на " _
                       "<a href=\"duplicates.cgi\">страницата с най-често докладвани $terms.bugs</a>. " _
                       "Ако имате голяма база данни и тази страница отнема доста време, за да " _
                       "се зареди опитайте с увеличаване на броя.",

  mybugstemplate => "Това е <abbr lang=\"en\" title=\"Uniform Resource Locator\">URL</abbr>-то което да се използва за извеждане на прост 'всички мои $terms.bugs' " _
                    "списък за потребител. %userid% ще бъде заменено с името за вход на потребител.",

  defaultquery => "Това е подразбиращото се запитване което първоначално се показва при " _
                  "при достъп до страницата за разширено търсене. То е във формат на <abbr lang=\"en\" title=\"Uniform Resource Locator\">URL</abbr> " _
                  "което го прави трудно за четене. Съжаляваме!",

  search_allow_no_criteria =>
    "Освен ако кода не позволява връщането на всички ${terms.bugs}, този " _
    "параметър разрешава блокиране изпълнението на заявки без критерии. " _
    "Когато е изключен, заявката трябва да има някакви критерии за ограничаване " _
    "броя на $terms.bugs върнати на потребителя. Когато е включен на потребителя " _
    "е разрешено да пуска заявка без критерий и да получи всички $terms.bugs които може да " _
    "види в списъка си. Включването на параметъра не се препоръчва на големи " _
    "инсталации.",

  default_search_limit =>
    "По подразбиране, $terms.Bugzilla ограничава търсенията правени в web"
    _ " интерфейса до връщането на само толкова много резултата поради съображения "
    _ " свързани с производителността. (Това се отнася само за резултати от търсене в <abbr lang=\"en\" title=\"HyperText Markup Language\">HTML</abbr> формат - <abbr lang=\"en\" title=\"Ccomma Separated Values\">CSV</abbr>,"
    _ " <abbr lang=\"en\" title=\"eXtensible Markup Language\">XML</abbr> и други формати не са засегнати.) Потребителите могат да щракнат върху връзка в"
    _ " страницата с резултати от търсене, за да видят всички резултати."
    _ "<p>Обикновенно не трябва да променяте това - стойността по подразбиране"
    _ " трябва да е приемлива за почти повечето инсталации.</p>",

  max_search_results =>
    "Максималния брой $terms.bugs който търсене може"
    _ " да върне <strong>някога</strong>. Обае, таблични и графични доклади"
    _ " са изключени от това ограничние.",

} %]
