[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]
[%
   title = "RADIUS"
   desc = "Настройте първо това преди да изберете RADIUS като метод за удостоверяване"
%]

[% param_descs = {
  RADIUS_server => "Името (и незадължително порта) на <abbr lang=\"en\" title=\"Remote Authentication Dial In User Service\">RADIUS</abbr> сървъра ви " _
                   "(напр. <code>radius.company.com</code>, или " _
                   "<code>radius.company.com:номерпорт</code>).<br>" _
                   "Необходимо само ако " _
                   "<a href=\"?section=auth#user_verify_class_desc\">параметъра " _
                   "<code>user_verify_class</code></a> съдържа " _
                   "<code>RADIUS</code>.",

  RADIUS_secret => "Тайната на <abbr lang=\"en\" title=\"Remote Authentication Dial In User Service\">RADIUS</abbr> сървъра ви.<br>" _
                   "Необходимо само ако " _
                   "<a href=\"?section=auth#user_verify_class_desc\">параметъра " _
                   "<code>user_verify_class</code> parameter</a> съдържа " _
                   "<code>RADIUS</code>.",

  RADIUS_NAS_IP => "Свойството NAS-IP-Address, което да бъде използвано при обмен на " _
                   "данни с <abbr lang=\"en\" title=\"Remote Authentication Dial In User Service\">RADIUS</abbr> сървъра ви. " _
                   "Ако не е указано, ще бъде използано <code>127.0.0.1</code>.<br>" _
                   "Полезно само ако " _
                   "<a href=\"?section=auth#user_verify_class_desc\">параметъра " _
                   "<code>user_verify_class</code></a> " _
                   "съдържа <code>RADIUS</code>.",

  RADIUS_email_suffix => "Наставката за прибавяне към <abbr lang=\"en\" title=\"Remote Authentication Dial In User Service\">RADIUS</abbr> потребителско има за получаването на " _
                         "е-пощенски адрес.<br>" _
                         "Полезно само ако " _
                         "<a href=\"?section=auth#user_verify_class_desc\">параметъра " _
                         "<code>user_verify_class</code></a> " _
                         "съдържа <code>RADIUS</code>.",
  }
%]
