[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]
[%
   title = "База данни в сянка"
   desc = "Незадължителен хак за повишаване на производителността на базата данни"
%]

[% param_descs = {
  shadowdbhost => "Хоста на който е базата данни в сянка.",

  shadowdbport => "Порта, на който е базата данни в сянка. Не се взима под внимание ако " _
                  "<var>shadowdbhost</var> е празно. Забележка: ако хоста е местна " _
                  "машина, тогава MySQL ще пренебрегне тази настройка и трябва да " _
                  "укажете гнездо по-долу.",

  shadowdbsock => "Гнездото използвано за връзка с базата данни в сянка, ако хоста " _
                  "е местна машина. Тази настройка е необходима, защото MySQL " _
                  "пренебрегва порта указан от клиента и се свързва използвайки " _
                  "компилирания път до гнездото (на unix машини) при връзка " _
                  "от клиент към локален сървър. Ако оставите празно и " _
                  "имате база на локалната машина, тогава <var>shadowdbport</var> " _
                  "ще бъде пренебрегнат.",

  shadowdb => "Ако не е празно, тогава това е името на друга база данни, " _
              "която Bugzilla ще използва като копие само за четене на всичко. " _
              "Това се прави, така че бавните четящи операции да бъдат извършвани " _
              "в тази база данни, като по този начин не заключват всички други. Тази " _
              "база данни е на <var>shadowdbhost</var> и трябва да съществува. " _
              "$terms.Bugzilla не я обновява, така че ако използвате този параметър, трябва " _
              "да настроите точно копиране (репликиране) на вашата база данни." }
%]
