[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Miller <justdave@bugzilla.org>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  #%]
[%
   title = "База данни в сянка"
   desc = "Незадължителен хак за повишаване на производителността на базата данни"
%]

[% param_descs = {
  shadowdbhost => "Хоста на който е базата данни в сянка.",

  shadowdbport => "Порта, на който е базата данни в сянка. Не се взима под внимание ако " _
                  "<tt>shadowdbhost</tt> е празно. Забележка: ако хоста е местна " _
                  "машина, тогава MySQL ще пренебрегне тази настройка и трябва да " _
                  "укажете гнездо по-долу.",

  shadowdbsock => "Гнездото използвано за връзка с базата данни в сянка, ако хоста " _
                  "е местна машина. Тази настройка е необходима, защото MySQL " _
                  "пренебрегва порта указан от клиента и се свързва използвайки " _
                  "компилирания път до гнездото (на unix машини) при връзка " _
                  "от клиент към локален сървър. Ако оставите празно и " _
                  "имате база на локалната машина, тогава <tt>shadowdbport</tt> " _
                  "ще бъде пренебрегнат.",

  shadowdb => "Ако не е празно, тогава това е името на друга база данни, " _
              "която $terms.Bugzilla ще използва като копие само за четене на всичко. " _
              "Това се прави, така че бавните четящи операции да бъдат извършвани " _
              "в тази база данни, като по този начин не заключват всички други. Тази " _
              "база данни е на <tt>shadowdbhost</tt> и трябва да съществува. " _
              "$terms.Bugzilla не я обновява, така че ако използвате този параметър, трябва " _
              "да настроите точно копиране (репликиране) на вашата база данни." }
%]
