[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]
[%
   title = "Потребителски съответствия"
   desc = "Настройка на политики за съответствия на потребители"
%]

[% param_descs = {
  usemenuforusers => "Ако тази възможност е позволена, Bugzilla ще предлага списък " _
                     "за избор (вместо текстово поле), където е необходимо " _
                     "избирането на потребител. Тази възможност не трябва да бъде разрешавана на " _
                     "сайтове, където има голям брой потребители.",

  ajax_user_autocompletion => "Ако тази възможност е позволена, писането на символи в определени полета " _
                              "за потребители ще показва списък със съвпаденията от който може да се избира.", 

  maxusermatches => "Търсене на не повече от този брой съвпадения.<br> " _
                    "Ако е зададено '1', няма да бъдат показвани потребители при двусмислени съвпадения. " _
                    "Полезно с цел на поверителност на потребителя.<br> " _
                    "Стойност нула означава без ограничение.",

  confirmuniqueusermatch => "Дали да се показва екран за потвърждаване, когато само " _
                            "един потребител съвпадне с търсената стойност." }
%]
