[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Miller <justdave@bugzilla.org>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  #%]
[%
   title = "Потребителски съответствия"
   desc = "Настройка на политики за съответствия на потребители"
%]

[% param_descs = {
  usemenuforusers => "Ако тази възможност е позволена, $terms.Bugzilla ще предлага списък " _
                     "за избор (вместо текстово поле), където е необходимо " _
                     "избирането на потребител. Тази възможност не трябва да бъде разрешавана на " _
                     "сайтове, където има голям брой потребители.",

  maxusermatches => "Търсене на не повече от този брой съвпадения.<br> " _
                    "Ако е зададено '1', няма да бъдат показвани потребители при двусмислени съвпадения. " _
                    "Полезно с цел на поверителност на потребителя.<br> " _
                    "Стойност нула означава без ограничение.",

  confirmuniqueusermatch => "Дали да се показва екран за потвърждаване, когато само " _
                            "един потребител съвпадне с търсената стойност." }
%]
