[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Myk Melez <myk@mozilla.org>
  #%]

[% PROCESS global/variables.none.tmpl %]

[% PROCESS global/header.html.tmpl 
  title = "Просто търсене"
  style_urls = [ "skins/standard/search_form.css" ]
%]

[% WRAPPER search/tabs.html.tmpl %]

<p>
Търсете определен [% terms.bug %] с въвеждане на думи, които го описват.  
[% terms.Bugzilla %] ще търси в описанията и коментарите към всеки [% terms.bug %]
за тези думи и ще върне списък на съвпадащите [% terms.bugs %] подредени
по уместност.
</p>

<p>
Например ако [% terms.abug %], който търсите, предизвиква срив на браузър при посещение на защитена Интернет страница, на която има Flash анимация, то можете да търсите
за "срив защитен SSL flash".
</p>

<form name="queryform" method="get" action="buglist.cgi">
<input type="hidden" name="query_format" value="specific">
<input type="hidden" name="order" value="relevance desc">

<table summary="Search fields" class="bz_simple_search_form">
  <tr>
    <th>
      <label for="bug_status">[% field_descs.bug_status FILTER html %]:</label>
    </th>
    <td>
      <select name="bug_status" id="bug_status">
        [% statuses = [ { name = 'open', label = "Отворен" },
                        { name = 'closed', label = "Затворен" },
                        { name = 'all', label = "Всички" } ] %]
        [% FOREACH status = statuses %]
            <option value="__[% status.name %]__" 
                  [% " selected" IF default.bug_status.0 == "__${status.name}__" %]>
            [% status.label FILTER html %]
          </option>
        [% END %]
      </select>
    </td>
  </tr>
  <tr>
    <th>
      <label for="product">[% field_descs.product FILTER html %]:</label>
    </th>
    <td>
      <select name="product" id="product">
        <option value="">Всички</option>
        [% IF Param('useclassification') %]
          [% FOREACH c = classification %]
            <optgroup label="[% c.name FILTER html %]">
            [% FOREACH p = user.get_selectable_products(c.id) %]
              [% IF p.components.size %]
                <option value="[% p.name FILTER html %]"
                  [% " selected" IF default.product.contains(p.name) %]>
                  [% p.name FILTER html %]
                </option>
              [% END %]
            [% END %]
            </optgroup>
          [% END %]
        [% ELSE %]
          [% FOREACH p = product %]
            <option value="[% p.name FILTER html %]"
              [% " selected" IF default.product.contains(p.name) %]>
              [% p.name FILTER html %]
            </option>
          [% END %]
        [% END %]
      </select>
    </td>
  </tr>
  <tr>
    <th>
      <label for="content">Думи:</label>
    </th>
    <td>
      <input name="content" size="40" id="content"
             value="[% default.content.0 FILTER html %]">
      <script type="text/javascript"> <!--
          document.forms['queryform'].content.focus(); 
      // -->
      </script>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
    
      [% IF Param('search_allow_no_criteria') %]
        <input type="submit" id="search" value="Търсене">
      [% ELSE %]
        <input type="submit" id="search" value="Търсене"
             onclick="if (this.form.content.value == '')
                      {alert('Полето Думи не може да бъде празно. Трябва да ' +
                             'въведете поне една дума в критериите си за търсене.');
                       return false;} return true;">
      [% END %]
    </td>
  </tr>
</table>
</form>

[% END %]

[% PROCESS global/footer.html.tmpl %]

