[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # This template has no interface.
  #%]

[% PROCESS global/header.html.tmpl
           title = "Премахване на гласовете ви?"
 %]

<p>
  На път сте да премахнете всичките си гласове по [% terms.bugs %]. Сигурни ли сте, че искате да
  премахнете гласа си от всеки [% terms.bug %] за който сте гласували?
</p>

<form action="page.cgi?id=voting/user.html" method="post">
    <input type="hidden" name="action" value="vote">
    <input type="hidden" name="token" value="[% issue_hash_token(['vote']) FILTER html %]">
  <p>
    <input type="radio" name="delete_all_votes" value="1">
    Да, изтриване на всичките ми гласове
  </p>
  <p>
    <input type="radio" name="delete_all_votes" value="0" checked="checked">
    Не, връщане и преразглеждане на гласовете ми
  </p>
  <p>
    <input type="submit" id="vote" value="Предаване">
  </p>
</form>

[% PROCESS global/footer.html.tmpl %]
