[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

From: [% Param('mailfrom') %]
To: [% to %]
Subject: [% terms.Bug %] [%+ bugid %] Някои или всичките ви гласове бяха премахнати.
X-Bugzilla-Type: voteremoved

Някои или всичките ви гласове бяха премахнати от [% terms.bug %] [%+ bugid %].

Имахте [% votesold FILTER html %] [%+ IF votesold == 1 %]глас[% ELSE %]гласа[% END
%] за този [% terms.bug %], но [% votesremoved FILTER html %] бяха премахнати.

[% IF votesnew %]
Все още имате [% votesnew FILTER html %] [%+ IF votesnew == 1 %]глас[% ELSE %]гласа[% END %] за този [% terms.bug %].
[% ELSE %]
Нямате повече гласове оставащи по този [% terms.bug %].
[% END %]

Причина:
[% IF reason == "votes_bug_moved" %]
  Този [% terms.bug %] беше преместен в друг продукт.

[% ELSIF reason == "votes_too_many_per_bug" %]
  Правилата за гласуване по този продукт се промениха;
  имахте твърде много гласове за един [% terms.bug %].

[% ELSIF reason == "votes_too_many_per_user" %]
  Правилата за гласуване по този продукт се промениха; имахте
  твърде много общо гласове, така че всички гласове бяха премахнати.
[% END %]



[% urlbase %]show_bug.cgi?id=[% bugid %]
