[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # target: string. URL to go to after login.
  #%]

[% IF !target %]
 [% target = "index.cgi" %]
[% END %]

[% PROCESS global/header.html.tmpl
  title = "Вход в $terms.Bugzilla",
  onload = "document.forms['login'].Bugzilla_login.focus()"
%]

[% USE Bugzilla %]

<p>
  [% terms.Bugzilla %] се нуждае от правилно име и парола, за да продължи.
</p>

<form name="login" action="[% target FILTER html %]" method="POST"
[%- IF Bugzilla.cgi.param("data") %] enctype="multipart/form-data"[% END %]>
  <table>
    <tr>
      <th align="right"><label for="Bugzilla_login">Име:</label></th>
      <td>
        <input size="35" id="Bugzilla_login" name="Bugzilla_login">
        [% Param('emailsuffix') FILTER html %]
      </td>
    </tr>
    <tr>
      <th align="right"><label for="Bugzilla_password">Парола:</label></th>
      <td>
        <input type="password" size="35" id="Bugzilla_password" name="Bugzilla_password">
      </td>
    </tr>

    [% IF Param('rememberlogin') == 'defaulton' || 
          Param('rememberlogin') == 'defaultoff' %]
      <tr>
        <th>&nbsp;</th>
        <td>
          <input type="checkbox" id="Bugzilla_remember" name="Bugzilla_remember" value="on"
                 [%+ "checked" IF Param('rememberlogin') == "defaulton" %]>
          <label for="Bugzilla_remember">Запомняне на моите данни</label>
        </td>
      </tr>
    [% END %]

    <tr>
      <th>&nbsp;</th>
      <td>
        <input type="checkbox" id="Bugzilla_restrictlogin" name="Bugzilla_restrictlogin"
               checked="checked">
        <label for="Bugzilla_restrictlogin">Ограничаване на сесията до този <abbr lang="en" title="Internet Protocol">IP</abbr> адрес
        (използването на тази възможност подобрява сигурността)</label>
      </td>
    </tr>
  </table>

  [% PROCESS "global/hidden-fields.html.tmpl"
     exclude="^Bugzilla_(login|password|restrictlogin)$" %]

  <input type="hidden" name="Bugzilla_login_token"
         value="[% get_login_request_token() FILTER html %]">
  <input type="submit" name="GoAheadAndLogIn" value="Вход" id="log_in">

  <p>
    (Забележка: трябва да се уверите, че бисквитките са разрешени за този сайт.
    В противен случай често ще ви се налага да влизате отново.)
  </p>
</form>

[% Hook.process('additional_methods') %]

[%# Allow the user to create a new account, or request a token to change
  # their password, assuming that our auth method allows that.
  #%]

  [% IF Param("createemailregexp") && user.authorizer.user_can_create_account %]
    <hr>

    <p>
      Ако нямате сметка в [% terms.Bugzilla %], можете да
      <a href="createaccount.cgi">си създадете</a>.
      [% IF Param("requirelogin") %]
        Необходима е сметка, защото тази [% terms.Bugzilla %]
        инсталация е достъпна само за удостоверени потребители.
      [% ELSIF target.match("_bug\.cgi$") %]
        Необходима е сметка за въвеждане на нов [% terms.bug %] или за оставяне на мнения
        по съществуващи, така че да може да се направи връзка с вас в случай на нужда от повече
        информация.
      [% END %]
    </p>
  [% END %]

  [% IF user.authorizer.can_change_password %]
    <hr>

    <form id="forgot" method="get" action="token.cgi">
      <input type="hidden" name="a" value="reqpw">
      Ако притежавате сметка, но сте забравили паролата си,
      въведете потребителското си име в полето отдолу и изпратете
      заявка за смяната ѝ.<br>
      <input size="35" name="loginname">
      <input type="hidden" id="token" name="token" value="[% issue_hash_token(['reqpw']) FILTER html %]">
      <input type="submit" id="request" value="Нулиране на парола">
    </form>
  [% END %]

[% PROCESS global/footer.html.tmpl %]
