[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #                 Toms Baugis <toms@myrealbox.com>
  #%]

[%# INTERFACE:
  # target: string. URL to go to after login.
  # form: hash; the form values which need to be submitted to the target script
  # mform: hash; the form values with multiple values which need to be
  #   submitted to the target script
  #%]

[% PROCESS global/variables.none.tmpl %]

[% PROCESS global/header.html.tmpl
  title = "Вход"
%]

<p>
  Нуждая се от правилно име и парола за да продължа.
</p>

<form action="[% target FILTER html %]" method="POST">
  <table>
    <tr>
      <td align="right">
        <b>Име:</b>
      </td>
      <td>
        <input size="35" name="Bugzilla_login">
      </td>
    </tr>
    <tr>
      <td align="right">
        <b>Парола:</b>
      </td>
      <td>
        <input type="password" size="35" name="Bugzilla_password">
      </td>
    </tr>

    [% IF Param('rememberlogin') == 'defaulton' || 
          Param('rememberlogin') == 'defaultoff' %]
      <tr>
        <td>&nbsp;</td>
        <td>
          <input type="checkbox" name="Bugzilla_remember" value="on"
                 [% "checked" IF Param('rememberlogin') == "defaulton" %]>
          Запомняне на моите данни
        </td>
      </tr>
    [% END %]

    [% IF Param('loginnetmask') < 32 %]
      <tr>
        <td align="right">
          <b>
             Ограничи сесията<br>
             до този <abbr title="Internet Protocol" lang="en">IP</abbr> адрес:
          </b>
        </td>
        <td>
          <input type="checkbox" name="Bugzilla_restrictlogin"
                 checked="checked">
          (Използването на тази възможност подобрява сигурността)
        </td>
      </tr>
    [% END %]
  </table>

  [% PROCESS "global/hidden-fields.html.tmpl"
     exclude="^Bugzilla_(login|password|restrictlogin)$" %]

  <input type="submit" name="GoAheadAndLogIn" value="Вход">
  
  <p>
    (Забележка: трябва да се уверите, че бисквитките са разрешени за този сайт. 
    В противен случай често ще ви се налага да влизате отново.)
  </p>
</form>

[%# Allow the user to create a new account, or request a token to change
  # their password, assuming that our auth method allows that.
  #%]

[% IF caneditaccount %]
  <hr>

  [% IF Param("createemailregexp") %]
    <p>
      Ако нямате регистрация в [% terms.Bugzilla %], можете да
      <a href="createaccount.cgi">си създадете</a>.
    </p>
  [% END %]

  <form method="get" action="token.cgi">
    <input type="hidden" name="a" value="reqpw">
    Ако притежавате регистрация, но сте забравили паролата си,
    въведете потребителското си име в полето отдолу и изпратете
    заявка за смяната и.<br>
    <input size="35" name="loginname">
    <input type="submit" value="Изпращане на заявка">
  </form>

  <hr>
[% END %]

[% PROCESS global/footer.html.tmpl %]
