[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #%]

[%# INTERFACE:
  # header_done: boolean. True if the header has already been printed.
  # error: string. The tag of the error.
  # variables: hash. Useful data about the problem. The keys are the variable
  #  names, and the values the variable values.
  #%]

[%# This is a list of all the possible code errors. Please keep them in
  # alphabetical order by error tag, and leave a blank line between errors.
  #
  # Note that you must explicitly filter every single template variable
  # in this file; if you do not wish to change it, use the "none" filter.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% DEFAULT title = "Вътрешна грешка" %]

[% error_message = BLOCK %]
  [% IF    error == "action_unrecognized" %]
    Не разпознавам стойността (<em>[% action FILTER html %]</em>)
    на променливата <em>action</em>.
  
  [% ELSIF error == "attachment_already_obsolete" %]
    Притурката №[% attach_id FILTER html %] ([% description FILTER html %]) 
    е вече стара.

  [% ELSIF error == "auth_err" %]
    [% title = "Вътрешна грешка при удостоверяване" %]
    [%# Authentication errors are in a template depending on the auth method,
        for pluggability.
      #%] 
    [% INCLUDE "account/auth/$authmethod-error.html.tmpl" %]

  [% ELSIF error == "authres_unhandled" %]
    Обработчик на упълномощения върна стойност, която не се обработва от кода за вход.

  [% ELSIF error == "bad_page_cgi_id" %]
    [% title = "Invalid Page ID" %]
    Идентификатора <code>[% page_id FILTER html %]</code> не е
    действителен идентификатор на страница.

  [% ELSIF error == "bug_error" %]
    Опитът за получаване на [% terms.bug %] [%+ bug.bug_id FILTER html %] върна 
    грешката [% bug.error FILTER html %].
    
  [% ELSIF error == "chart_data_not_generated" %]
    Инструмента, който събира статистика за [% terms.bug %] все още не е пускан.
        
  [% ELSIF error == "chart_datafile_corrupt" %]
    Файла с данни за графиката [% file FILTER html %] е повреден.
        
  [% ELSIF error == "chart_dir_nonexistent" %]
    Една от директориите <tt>[% dir FILTER html %]</tt> и 
    <tt>[% graphdir FILTER html %]</tt> не съществуват.
  
  [% ELSIF error == "chart_file_open_fail" %]
    Не може да бъде отворен файла с данни за графиката <tt>[% filename FILTER html %]</tt>.
  
  [% ELSIF error == "chart_lines_not_installed" %]
    Графиките няма да работят без Chart::Lines Perl модула да бъде инсталиран.
    Пуснете checksetup.pl за инструкции по инсталацията.

  [% ELSIF error == "cookies_need_value" %]
    Всяка бисквитка трябва да има стойност.

  [% ELSIF error == "field_type_mismatch" %]
    Не изглежда да могат да се обработят <code>[% field FILTER html %]</code>
    и <code>[% type FILTER html %]</code> заедно.

  [% ELSIF error == "gd_not_installed" %]
    Графиките няма да работят без GD Perl модула да бъде инсталиран.
    Пуснете checksetup.pl за инструкции по инсталацията.

  [% ELSIF error == "illegal_content_type_method" %]
    Предаванто на вашите данни се е повредило по някакъв начин. Полето <em>content
    method</em>, което указва как се определя типа на съдържанието,
    трябваше да бъде едно от <em>автоматично откриване</em>, <em>списък</em>,
    или <em>ръчно</em>, но вместо това беше
    <em>[% contenttypemethod FILTER html %]</em>.

  [% ELSIF error == "illegal_field" %]
    Не е зададен правилен [% field FILTER html %].

  [% ELSIF error == "inactive_group" %]
    Опитах се да добавя [% terms.bug %] към неактивна група, указана от бита
    '[% bit FILTER html %]'.

  [% ELSIF error == "bad_arg" %]
    Лош аргумент <code>[% argument FILTER html %]</code> изпратен към
    функцията <code>[% function FILTER html %]</code>.

  [% ELSIF error == "invalid_attach_id_to_obsolete" %]
     Номера на една от приставките които желахте да извадите от употреба,
     [% attach_id FILTER html %], е недействителен.
          
  [% ELSIF error == "invalid_column_name_cookie" %]
    [% title = "Недействително име не колона" %]
     Потребителския начин на подреждане указан във вашата бисквитка съдържа недействително
     име на колона <em>[% fragment FILTER html %]</em>. 
     Бисквитката бе изчистена.
         
  [% ELSIF error == "invalid_column_name_form" %]
    [% title = "Недействително има не колона" %]
     Потребителския начин на подреждане указан в подадените от вас данни съдържа
     недействително име на колона <em>[% fragment FILTER html %]</em>.
         
  [% ELSIF error == "invalid_component" %]
    [% title = "Недействителна съставна част" %]
    Съставната част [% name FILTER html %] не съсществува в продукта 
    [% product FILTER html %].
    
  [% ELSIF error == "invalid_dimensions" %]
    [% title = "Недействителни измерения" %]
    Указаната дължина или височина не е положително цяло число.
    
  [% ELSIF error == "invalid_series_id" %]
    [% title = "Недействителни колони" %]
    Идентификатора series_id [% series_id FILTER html %] е недействителен. Възможно е
    колоните да са били изтрити.
    
  [% ELSIF error == "mismatched_bug_ids_on_obsolete" %]
    Приставката [% attach_id FILTER html %] ([% description FILTER html %]) 
    е прикачена към [% terms.bug %] [%+ attach_bug_id FILTER html %], 
    но вие се опитахте да я изхвърлите от употреба, докато създавате нова приставка на
    [% terms.bug %] [%+ my_bug_id FILTER html %].

  [% ELSIF error == "invalid_flag_association" %]
    [% title = "Недействителна флаг връзка" %]
    Някои флагове не принадлежат към
    [% IF attach_id %]
      приставката [% attach_id FILTER html %].
    [% ELSE %]
      [%+ terms.abug %] [%+ bug_id FILTER html %].
    [% END %]

  [% ELSIF error == "flag_nonexistent" %]
    Не съществува флаг с идентификатор №[% id FILTER html %].

  [% ELSIF error == "flags_not_available" %]
    [% title = "Редактирането на флаг не е разрешено" %]
    Флагове не могат да бъдат задавани или променяни при
    промяната на няколко [% terms.abug %] наведнъж.

  [% ELSIF error == "flag_requestee_disabled" %]
    [% title = "Флаг не е особенно изискуем" %]
    Флагът <em>[% name FILTER html %]</em> не е изискуем по особен начин.

  [% ELSIF error == "flag_status_invalid" %]
    Състоянието на флага <em>[% status FILTER html %]</em>
    [% IF id %]
      за флаг с идентификатор №[% id FILTER html %]
    [% END %]
    е недействително.
  
  [% ELSIF error == "flag_type_component_nonexistent" %]
    Съставната част <em>[% name FILTER html %]</em> не съществува
    в продукта <em>[% product FILTER html %]</em>.
  
  [% ELSIF error == "flag_type_component_without_product" %]
    Избрана е съставна част без да е избран продукт.
  
  [% ELSIF error == "flag_type_id_invalid" %]
    Идентификатора на типа на флага <em>[% id FILTER html %]</em> не е
    положително цяло число.
  
  [% ELSIF error == "flag_type_inactive" %]
    [% title = "Пасивни типове флагове" %]
    Някои типове флагове са пасивни и не могат да бъдат използвани за създаване на
    нови флагове.
  
  [% ELSIF error == "flag_type_nonexistent" %]
    Не съществува идентификатор на тип на флаг <em>[% id FILTER html %]</em>.
  
  [% ELSIF error == "flag_type_product_nonexistent" %]
    Продукта <em>[% product FILTER html %]</em> не съсществува.
  
  [% ELSIF error == "flag_type_target_type_invalid" %]
    Целевия тип не е нито <em>[% terms.bug %]</em> нито <em>приставка</em>,
    а вместо това <em>[% variables.target_type FILTER html %]</em>.
  
  [% ELSIF error == "invalid_field_name" %]
    [% field FILTER html %] не може да бъде използвано като име на поле.

  [% ELSIF error == "invalid_keyword_id" %]
    Идентификатора на ключова дума <em>[% id FILTER html %]</em> не може да
    бъде намерен.
    
  [% ELSIF error == "missing_bug_id" %]
    Не е зададен идентификатор на [% terms.bug %].
    
  [% ELSIF error == "missing_series_id" %]
    След вмъкването на колона в базата данни не беше върнат идентификатор за
    нея. Колони: [% series.category FILTER html %] / 
    [%+ series.subcategory FILTER html %] / 
    [%+ series.name FILTER html %].
    
  [% ELSIF error == "no_y_axis_defined" %]
    Не е зададена Y ос при създаването на доклада. X остта е незадължителна,
    но Y оста е.
    
  [% ELSIF error == "need_quipid" %]
    Необходим е дествителен идентификатор на остроумие.

  [% ELSIF error == "request_queue_group_invalid" %]
    Полето за група <em>[% group FILTER html %]</em> е недействително.

  [% ELSIF error == "report_axis_invalid" %]
    <em>[% val FILTER html %]</em> не е действителна стойност за полето
    [%+ IF    fld == "x" %]хоризонтална ос
    [%+ ELSIF fld == "y" %]вертикална ос
    [%+ ELSIF fld == "z" %]съставна таблица/изображение
    [%+ ELSE %]ос на доклада[% END %].

  [% ELSIF error == "token_generation_error" %]
    Нещо е наистина грешно в системата за създаване на признаци.

  [% ELSIF error == "template_error" %]
    [% template_error_msg FILTER html %]

  [% ELSIF error == "unable_to_retrieve_password" %]
     Не мога да получа вашата стара парола от базата данни.

  [% ELSIF error == "undefined_field" %]
    Полето [% field FILTER html %] на формата не е зададено; [% Param('browserbugmessage') %]
    [%# Useful message if browser did not select show_bug radio button %]
    [% IF field == "knob" %]
      Проверете дали "Остви като..." радио бутона е избран.
    [% END %]

  [% ELSIF error == "unknown_action" %]
    [% IF action %]
       Непознато действие [% action FILTER html %]!
    [% ELSE %]
       Не можах да определя какво искахте да направите.
    [% END %]

  [% ELSE %]
    [% title = "Вътрешна грешка" %]
    Възникна вътрешна грешка, но [% terms.Bugzilla %] не знае
    какво значи <code>[% error FILTER html %]</code>.

    Ако сте краен потребител на [% terms.Bugzilla %] виждащ това съобщение, моля съхранете
    тази страница и я изпратете на [% Param('maintainer') %].
  [% END %]
[% END %]

[% UNLESS header_done %]
  [% PROCESS global/header.html.tmpl %]
[% END %]

<tt>
  <p>
    [% terms.Bugzilla %] претърпя вътрешна грешка. Моля, съхранете тази страница и я изпратете
    на [% Param("maintainer") %] с подробности за това какво правехте по времето, когато
    това съобщение се появи.
  </p>
  <script type="text/javascript"> <!--
    document.write("<p>URL: " + 
                    document.location.href.replace(/&/g,"&amp;")
                                          .replace(/</g,"&lt;")
                                          .replace(/>/g,"&gt;") + "</p>");
  // -->
  </script>
</tt>

<table cellpadding="20">
  <tr>
    <td bgcolor="#ff0000">
      <font size="+2">
        [% error_message FILTER none %]
      </font>
    </td>
  </tr>
</table>

[% IF variables %]
  <pre>
Променливи:
  [% FOREACH key = variables.keys %]
    [%+ key FILTER html %]: [%+ variables.$key FILTER html %]
  [% END %]
  </pre>
[% END %]

[% PROCESS global/footer.html.tmpl %]
