[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #%]

[%# INTERFACE:
  # header_done: boolean. True if the header has already been printed.
  # error: string. The tag of the error.
  # variables: hash. Useful data about the problem. The keys are the variable
  #  names, and the values the variable values.
  #%]

[%# This is a list of all the possible code errors. Please keep them in
  # alphabetical order by error tag, and leave a blank line between errors.
  #
  # Note that you must explicitly filter every single template variable
  # in this file; if you do not wish to change it, use the "none" filter.
  #%]

[% PROCESS "global/field-descs.none.tmpl" %]

[% DEFAULT title = "Вътрешна грешка" %]

[% error_message = BLOCK %]
  [% IF    error == "action_unrecognized" %]
    [% docslinks = {'query.html' => "Търсене на $terms.bugs",
                    'query.html#list' => "$terms.Bug списъци"} %]
    Не разпознавам стойността (<em>[% action FILTER html %]</em>)
    на променливата <em>action</em>.
  
  [% ELSIF error == "attachment_already_obsolete" %]
    Приставка №[% attach_id FILTER html %] ([% description FILTER html %])
    е вече стара.

  [% ELSIF error == "attachment_local_storage_disabled" %]
    [% title = "Местно съхранение забранено" %]
    Не можете да сърханявате приставки местно. Тази възможност е забранена.

  [% ELSIF error == "attachment_url_disabled" %]
    [% title = "Закачане на URL забранено" %]
    Не можете да закачите <abbr lang="en" title="Uniform Resource Locator">URL</abbr>. Тази възможност в момента е забранена.

  [% ELSIF error == "auth_invalid_email" %]
    [% title = "Недействителен е-пощенски адрес" %]
    Получихме е-пощенски адрес (<b>[% addr FILTER html %]</b>)
    който не премина синтактичната ни проверка за правилен е-пощенски адрес,
    докато се опитвахме да създадем или обновим сметката ви.
    [% IF default %]
      Правилният адрес трябва да съдържа само една '@',
      и поне една '.' след @-та.
    [% ELSE %]
      [%+ Param('emailregexpdesc') %]
    [% END %]
    Също така не трябва да съдържа никакви непозволени символи.

  [% ELSIF error == "authres_unhandled" %]
    Получената стойност за [% value FILTER html %] не бе обработена
    от кода за вход.

  [% ELSIF error == "bad_page_cgi_id" %]
    [% title = "Недействителен идентификатор на страница" %]
    Идентификатора <code>[% page_id FILTER html %]</code> не е
    действителен идентификатор на страница.

  [% ELSIF error == "bad_arg" %]
    Лош аргумент <code>[% argument FILTER html %]</code> бе изпратен до
    функцията <code>[% function FILTER html %]</code>.

  [% ELSIF error == "bug_error" %]
    Опитът за получаване на [% terms.bug %] [%+ bug.bug_id FILTER html %] върна
    грешката [% bug.error FILTER html %].
    
  [% ELSIF error == "chart_data_not_generated" %]
    [% admindocslinks = {'extraconfig.html' => 'Настройване на графики'} %]
    [% IF product %]
      Графиките за продукта <em>[% product FILTER html %]</em> не са
      достъпни все още, защото не са събирани данни за него откакто
      е създаден.
    [% ELSE %]
      Все още не са събирани данни за графики.
    [% END %]
    Моля, изчакайте един ден и опитайте отново.
    Ако виждате това съобщение след ден, тогава трябва да се свържете с
    <a href="mailto:[% Param('maintainer') %]">[% Param('maintainer') %]</a>
    указвайки тази грешка.

  [% ELSIF error == "chart_datafile_corrupt" %]
    Файла с данни за графиката [% file FILTER html %] е повреден.
        
  [% ELSIF error == "chart_dir_nonexistent" %]
    Една от директориите <tt>[% dir FILTER html %]</tt> и
    <tt>[% graph_dir FILTER html %]</tt> не съществуват.
  
  [% ELSIF error == "chart_file_open_fail" %]
    Не може да бъде отворен файла с данни за графиката <tt>[% filename FILTER html %]</tt>.
  
  [% ELSIF error == "column_not_null_without_default" %]
    Провалено добавянето на колона [% name FILTER html %]:
    Не можете да добавите NOT NULL колона, без стойност по подразбиране, към съществуваща таблица
    докато не укажете нещо за  <code>$init_value</code> аргумента.

  [% ELSIF error == "column_not_null_no_default_alter" %]
    Не можете да промените колоната [% name FILTER html %], да бъде NOT NULL
    без да укажете стойност по подразбиране или нещо за $set_nulls_to, защото
    в момента тя съдържа NULL стойности в себе си.

  [% ELSIF error == "comment_extra_data_not_allowed" %]
    Опитахте се да зададете полето <code>extra_data</code> на 
    '[% extra_data FILTER html %]', но коментари от тип [% type FILTER html %]
    не приемат аргумент <code>extra_data</code>.

  [% ELSIF error == "comment_extra_data_required" %]
    Коменатир от тип [% type FILTER html %] изискват задаването на
    аргумент <code>extra_data</code>.

  [% ELSIF error == "comment_extra_data_not_numeric" %]
    Опитахте се да зададете полето <code>extra_data</code> на
    '[% extra_data FILTER html %]', но коментари от тип [% type FILTER html %]
    изискват числов <code>extra_data</code> аргумент.

  [% ELSIF error == "comment_type_invalid" %]
    '[% type FILTER html %]' не е действителен тип на коментар.

  [% ELSIF error == "db_rename_conflict" %]
    Конфликт с името: Не можете да преименувате [% old FILTER html %] на
    [% new FILTER html %], защото [% new FILTER html %] вече съществува.

  [% ELSIF error == "cookies_need_value" %]
    Всяка бисквитка трябва да има стойност.

  [% ELSIF error == "env_no_email" %]
    [% terms.Bugzilla %] не получи е-пощенски адрес от
    средата.
    [% IF Param("auth_env_email") %]
      Това значи, че параметъра '[% Param("auth_env_email") FILTER html %]'
      е празна или не съществува.
    [% ELSE %]
      Необходимо е да зададете параметъра "auth_env_email" с
      името на променливата на средата, която ще съдържа
      е-пощенския адрес на потребителя.
    [% END %]

  [% ELSIF error == "extension_must_be_subclass" %]
    <code>[% package FILTER html %]</code> от 
    <code>[% filename FILTER html %]</code> не е подклас на
    <code>[% class FILTER html %]</code>.

  [% ELSIF error == "extension_must_return_name" %]
    <code>[% extension FILTER html %]</code> върна
    <code>[% returned FILTER html %]</code>, което не е правилно име
    за едно разширение. Разширенията трябва да върнат своето име, а не <code>1</code>
    или друго число. Вижте документацията на
    <a href="[% docs_urlbase FILTER html %]api/Bugzilla/Extension.html">Bugzilla::Extension</a>
    за подробности.

  [% ELSIF error == "extension_no_name" %]
    Не беше открит метод <code>NAME</code> в 
    <code>[% package FILTER html %]</code> (зареден от
    <code>[% filename FILTER html %]</code>). Това значи, че
    разширението има един или повече от следните проблеми:

    <ul>
      <li><code>[% filename FILTER html %]</code> не определя
        пакет <code>[% package FILTER html %]</code>.</li>
      <li><code>[% package FILTER html %]</code> не определя
        метод <code>NAME</code> (или метод <code>NAME</code>
        е върнал празен низ).</li>
    </ul>

  [% ELSIF error == "extern_id_conflict" %]
    Външния идентификатор '[% extern_id FILTER html %]' вече съществува
    в базата данни за '[% username FILTER html %]', но вашия
    източник на сметка казва, че '[% extern_user FILTER html %]' го притежава.

  [% ELSIF error == "field_choice_must_use_type" %]
    Когато викате клас метод на <code>Bugzilla::Field::Choice</code>,
    трябва да извикате <code>Bugzilla::Field::Choice-&gt;type('some_field')</code>
    за създаване на правилния клас (не можете да викате клас методи директно
    от Bugzilla::Field::Choice).

  [% ELSIF error == "field_not_custom" %]
    '[% field.description FILTER html %]' ([% field.name FILTER html %])
    не е потребителско поле.

  [% ELSIF error == "field_type_mismatch" %]
    Не изглежда да могат да се обработят <code>[% field FILTER html %]</code>
    и <code>[% type FILTER html %]</code> заедно.

  [% ELSIF error == "field_type_not_specified" %]
    [% title = "Не е указан тип на поле" %]
    Трябва да укажете тип при създаването на потребителско поле.

  [% ELSIF error == "illegal_content_type_method" %]
    Данните ви са се повредили при предаването по някакъв начин. Полето <em>content
    method</em>, което указва как се определя типа на съдържанието,
    трябваше да бъде едно от <em>автоматично откриване</em>, <em>списък</em>,
    или <em>ръчно</em>, но вместо това беше
    <em>[% contenttypemethod FILTER html %]</em>.

  [% ELSIF error == "illegal_field" %]
    Не е зададен правилен [% field FILTER html %].

  [% ELSIF error == "inactive_group" %]
    Опит да се добави [% terms.bug %] към групата с идентификатор [% group_id FILTER html %],
    която не се използва за  [% terms.bugs %].

  [% ELSIF error == "invalid_attach_id_to_obsolete" %]
     Номера на една от приставките които желахте да извадите от употреба,
     [% attach_id FILTER html %], е недействителен.
          
  [% ELSIF error == "invalid_customfield_type" %]
    [% title = "Недействителен тип на поле" %]
    Типа <em>[% type FILTER html %]</em> не е действителен тип на поле.

  [% ELSIF error == "invalid_dimensions" %]
    [% title = "Недействителни измерения" %]
    Указаната дължина или височина не е положително цяло число.

  [% ELSIF error == "invalid_feature" %]
    [% title = "Недействително име на функционалност" %]
    [% feature FILTER html %] не е действително име на функционалност. Вижте
    <code>OPTIONAL_MODULES</code> в 
    <code>Bugzilla::Install::Requirements</code> за действителни имена.

  [% ELSIF error == "invalid_flag_association" %]
    [% title = "Недействително свързване на флаг" %]
    Някои флагове не принадлежат към
    [% IF attach_id %]
      приставката [% attach_id FILTER html %].
    [% ELSE %]
      [%+ terms.bug %] [%+ bug_id FILTER html %].
    [% END %]

  [% ELSIF error == "invalid_series_id" %]
    [% title = "Недействителни колони" %]
    Идентификатора series_id [% series_id FILTER html %] е недействителен. Възможно е
    колоните да са били изтрити.

  [% ELSIF error == "invalid_webservergroup" %]
    Няма такава група: [% group FILTER html %]. Проверете $webservergroup
    настройката ви в [% constants.bz_locations.localconfig FILTER html %].

  [% ELSIF error == "mismatched_bug_ids_on_obsolete" %]
    Приставката [% attach_id FILTER html %] е прикачена към друг [% terms.bug %],
    но вие се опитахте да я изхвърлите от употреба, докато създавате нова приставка на
    [% terms.bug %] [%+ my_bug_id FILTER html %].

  [% ELSIF error == "feature_disabled" %]
    Функционалността [% install_string("feature_$feature") FILTER html %] не е
    налична в тази [% terms.Bugzilla %] инсталация. 
    [% IF user.in_group('admin') %]
      Ако желаете да разрешите тази функционалност, моля пуснете 
      <kbd>checksetup.pl</kbd>, за да видите как да инсталирате необходимите
      изисквания за нея.
    [% END %]

  [% ELSIF error == "flag_unexpected_object" %]
    [% title = "Неразпознат обект" %]
    Не могат да бъдат задавани флагове от тип [% caller FILTER html %].
    Те могат да бъдат задавни само за [% terms.bugs %] и приставки.

  [% ELSIF error == "flag_requestee_disabled" %]
    [% title = "Флага не е изискуем от определен човек" %]
    Не можете да искате
    <em>[% type.name FILTER html %]</em> от определен човек.
  
  [% ELSIF error == "flag_status_invalid" %]
    Състоянието на флага <em>[% status FILTER html %]</em>
    [% IF id %]
      за флаг с идентификатор №[% id FILTER html %]
    [% END %]
    е недействително.

  [% ELSIF error == "flag_type_inactive" %]
    [% title = "Пасивни типове флагове" %]
    Типа флаг [% type FILTER html %] е пасивен и не може да бъде използван
    за създаване на нови флагове.

  [% ELSIF error == "flag_type_nonexistent" %]
    Не съществува идентификатор на тип на флаг <em>[% id FILTER html %]</em>.

  [% ELSIF error == "flag_type_target_type_invalid" %]
    Целевия тип не е нито <em>[% terms.bug %]</em> нито <em>приставка</em>,
    а вместо това <em>[% target_type FILTER html %]</em>.
  
  [% ELSIF error == "invalid_field_name" %]
    [% field FILTER html %] не може да бъде използвано като име на поле.

  [% ELSIF error == "invalid_keyword_id" %]
    Идентификатора на ключова дума <em>[% id FILTER html %]</em> не може да
    бъде намерен.

  [% ELSIF error == "invalid_user" %]
    [% title = "Недействителен потребител" %]

    [% IF user_id %]
      Няма потребителска сметка с номер <em>[% user_id FILTER html %]</em>.
    [% ELSIF user_login %]
      Няма потребителска сметка с потребителско име <em>[% user_login FILTER html %]</em>.
    [% ELSE %]
      Не е дадена потребителска сметка.
    [% END %]

  [% ELSIF error == "jobqueue_insert_failed" %]
   [% title = "Провал в Работната Опашка" %]
    Вмъкването на задание <code>[% job FILTER html %]</code> в работната 
    Опашка пропадна със следната грешка: [% errmsg FILTER html %]

  [% ELSIF error == "jobqueue_no_job_mapping" %]
    <code>Bugzilla::JobQueue</code> не бил конфигуриран за справяне
    с работата "[% job FILTER html %]".  Трябва да добавите този тип работа
    към <code>JOB_MAP</code> константата в <code>Bugzilla::JobQueue</code>.

  [% ELSIF error == "ldap_bind_failed" %]
    Свързването с <abbr lang="en" title="Lightweight Directory Access Protocol">LDAP</abbr> сървър се провали. Съобщението за грешка беше:
    <code>[% errstr FILTER html %]</code>

  [% ELSIF error == "ldap_cannot_retreive_attr" %]
    Указания <abbr lang="en" title="Lightweight Directory Access Protocol">LDAP</abbr> атрибут [% attr FILTER html %] не бе намерен.

  [% ELSIF error == "ldap_connect_failed" %]
    Не може да бъде установена връзка с <abbr lang="en" title="Lightweight Directory Access Protocol">LDAP</abbr> сървър(и) <code>[% server FILTER html %]</code>.

  [% ELSIF error == "ldap_start_tls_failed" %]
    Не може да бъде започната защитена връзка с <abbr lang="en" title="Lightweight Directory Access Protocol">LDAP</abbr> сървъра: <code>[% error FILTER html %]</code>.

  [% ELSIF error == "ldap_search_error" %]
    Възникна грешка при търсене в <abbr lang="en" title="Lightweight Directory Access Protocol">LDAP</abbr> за
    &quot;[% username FILTER html %]&quot;:
    [% IF errstr %]
      <code>[% errstr FILTER html %]</code>
    [% ELSE %]
      Потребителя не е намерен в LDAP
    [% END %]

  [% ELSIF error == "ldap_server_not_defined" %]
    Не е определен <abbr lang="en" title="Lightweight Directory Access Protocol">LDAP</abbr> сървър за удостоверяване.

  [% ELSIF error == "mail_send_error" %]
    Получи се грешка при изпращане на поща от '[% mail.header('From') FILTER html %]'
    до '[% mail.header('To') FILTER html %]':
    [% msg FILTER html %]

  [% ELSIF error == "missing_bug_id" %]
    Липсва номер на [% terms.bug %].
    
  [% ELSIF error == "missing_series_id" %]
    След вмъкването на колона в базата данни не беше върнат идентификатор за
    нея. Колони: [% series.category FILTER html %] / 
    [%+ series.subcategory FILTER html %] / 
    [%+ series.name FILTER html %].
    
  [% ELSIF error == "need_quipid" %]
    Необходим е действителен идентификатор на остроумие.

  [% ELSIF error == "no_manual_moved" %]
    Не можете да зададете решението на [% terms.abug %] като [% display_value("resolution", "MOVED") FILTER html %], без
    да преместите [% terms.abug %].

  [% ELSIF error == "no_open_bug_status" %]
    [% title = "$terms.Bug Cannot Be Confirmed" %]
    Няма действително преминаване от
    [%+ display_value("bug_status", "UNCONFIRMED") FILTER html %] към отворено състояние.

  [% ELSIF error == "param_invalid" %]
    [% title = "Недействителен параметър" %]
    <code>[% param FILTER html %]</code> не е действителен параметър
    за функцията [% function FILTER html %].

  [% ELSIF error == "param_must_be_numeric" %]
    [% title = "Неправилен параметър" %]
    Подаден е неправилен параметър <code>[% param FILTER html %]</code> на.
    <code>[% function FILTER html %]</code>: Необходимо е да бъде числов.

  [% ELSIF error == "param_required" %]
    [% title = "Липсващ параметър" %]
    Функцията <code>[% function FILTER html %]</code> изисква
    аргумента <code>[% param FILTER html %]</code>, а
    той не е бил зададен.

  [% ELSIF error == "params_required" %]
    [% title = "Липсващ параметър" %]
    Функцията <code>[% function FILTER html %]</code> изисква
    да зададете един от следните параметри:
    <code>[% params.join(', ') FILTER html %]</code>

  [% ELSIF error == "product_empty_group_controls" %]
    [% title = "Липсващи групови контроли" %]
    Трябва да се определят нови настройки за редактиране на групови контроли на
    групата [% group.name FILTER html %].

  [% ELSIF error == "product_illegal_group_control" %]
    [% title = "Неправилен групов контрол" %]
    '[% value FILTER html %]' не е правилна стойност за
    полето '[% field FILTER html %]'.

  [% ELSIF error == "protection_violation" %]
    Функцията <code>[% function FILTER html %]</code> беше извикана

    [% IF argument %]
        с аргумента <code>[% argument FILTER html %]</code>
    [% END %]

    от
   
    [% IF caller %]
        <code>[%+ caller FILTER html %]</code>, който е
    [% END %]

    извън пакета. Тази функция може да бъде извикана само от
    подклас на <code>[% superclass FILTER html %]</code>.

  [% ELSIF error == "radius_preparation_error" %]
    Възникна грешка при подготовката за <abbr lang="en" title="Remote Authentication Dial In User Service">RADIUS</abbr> заявка за удостоверяване:
    <code>[% errstr FILTER html %]</code>.

  [% ELSIF error == "request_queue_group_invalid" %]
    Полето за група <em>[% group FILTER html %]</em> е недействително.

  [% ELSIF error == "report_axis_invalid" %]
    <em>[% val FILTER html %]</em> не е действителна стойност за полето
    [%+ IF    fld == "x" %]хоризонтална ос
    [%+ ELSIF fld == "y" %]вертикална ос
    [%+ ELSIF fld == "z" %]съставна таблица/изображение
    [%+ ELSE %]ос на доклада[% END %].

  [% ELSIF error == "setting_info_invalid" %]
    За да създадете нова настройка, трябва да укажете нейното име, списък от
    стойност/индекс двойки и подразбираща се стойност.

  [% ELSIF error == "setting_name_invalid" %]
    Името на настройка <em>[% name FILTER html %]</em> не е
    възможно. Имената на настройките трябва да започват с буква и да съдържат само
    букви, цифри или символите '_', '-', '.' или ':'.

  [% ELSIF error == "setting_subclass_invalid" %]
    Няма такъв подклас за настройка като
    <code>[% subclass FILTER html %]</code>.

  [% ELSIF error == "setting_value_invalid" %]
    Стойността "<code>[% value FILTER html %]</code>" не е в списъка с
    възможни стойности за настройката <em>[% name FILTER html %]</em>.

  [% ELSIF error == "token_generation_error" %]
    Нещо е наистина грешно в системата за създаване на признаци.

  [% ELSIF error == "template_error" %]
    [% template_error_msg FILTER html %]

  [% ELSIF error == "template_invalid" %]
    Шаблон с недействително име открит в извикването на куката: [% name FILTER html %].

  [% ELSIF error == "unable_to_retrieve_password" %]
     Не мога да получа вашата стара парола от базата данни.

  [% ELSIF error == "undefined_field" %]
    Полето [% field FILTER html %] на формата не е зададено;
    
  [% ELSIF error == "unknown_action" %]
    [% IF action %]
       Непознато действие [% action FILTER html %]!
    [% ELSE %]
       Не можах да определя какво искахте да направите.
    [% END %]

  [% ELSIF error == "unknown_method" %]
    Поискания метод '[% method FILTER html %]' не беше намерен.

  [% ELSIF error == "usage_mode_invalid" %]
    '[% invalid_usage_mode FILTER html %]' не е действителен потребителски режим.

  [% ELSIF error == "must_be_patch" %]
    [% title = "Приставката трябва да бъде кръпка" %]
    Приставка #[% attach_id FILTER html %] трябва да е кръпка.

  [% ELSIF error == "not_in_transaction" %]
    Опит да се приключи транзакция без да е стартирана такава.

  [% ELSIF error == "comma_operator_deprecated" %]
    [% title = "Вътрешна грешка на създателя на SQL заявки" %]
    Има вътрешна грешка в кода на създателя на <abbr lang="en" title="Structured Query Language">SQL</abbr> заявки,
    създаващ заявки без явен JOIN.

  [% ELSIF error == "invalid_post_bug_submit_action" %]
    Неправилна настройка за post_bug_submit_action

  [% ELSE %]
    [%# Try to find hooked error messages %]
    [% error_message = Hook.process("errors") %]
    [% IF NOT error_message %]
      [% title = "Вътрешна грешка" %]
      Възникна вътрешна грешка, но [% terms.Bugzilla %] не знае
      какво значи <code>[% error FILTER html %]</code>.

      Ако сте краен потребител на [% terms.Bugzilla %] виждащ това съобщение, моля съхранете
      тази страница и я изпратете на [% Param('maintainer') %].
    [% ELSE %]
      [% error_message FILTER none %]
    [% END %]
  [% END %]
[% END %]

[%# We only want HTML error messages for ERROR_MODE_WEBPAGE %]
[% USE Bugzilla %]
[% IF Bugzilla.error_mode != constants.ERROR_MODE_WEBPAGE %]
  [% IF Bugzilla.usage_mode == constants.USAGE_MODE_BROWSER %]
    [% error_message FILTER none %]
  [% ELSE %]
    [% error_message FILTER txt %]
  [% END %]
  [% RETURN %]
[% END %]

[% UNLESS header_done %]
  [% PROCESS global/header.html.tmpl %]
[% END %]

[% PROCESS global/docslinks.html.tmpl
   docslinks      = docslinks
   admindocslinks = admindocslinks
%]

<tt>
  <p>
    [% terms.Bugzilla %] претърпя вътрешна грешка. Моля, съхранете тази страница и я изпратете
    на [% Param("maintainer") %] с подробности за това какво правехте по времето, когато
    това съобщение се появи.
  </p>
  <script type="text/javascript"> <!--
    document.write("<p>URL: " +
                    document.location.href.replace(/&/g,"&amp;")
                                          .replace(/</g,"&lt;")
                                          .replace(/>/g,"&gt;") + "</p>");
  // -->
  </script>
</tt>

<table cellpadding="20">
  <tr>
    <td bgcolor="#ff0000">
      <font size="+2">
        [% error_message FILTER none %]
      </font>
    </td>
  </tr>
</table>

[% IF variables %]
  <pre>
Променливи:
  [% FOREACH key = variables.keys %]
    [%+ key FILTER html %]: [%+ variables.$key FILTER html %]
  [% END %]
  </pre>
[% END %]

[% PROCESS global/footer.html.tmpl %]
