[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # header_done: boolean. True if the header has already been printed.
  # error: string. The tag of the error.
  # variables: hash. Useful data about the problem. The keys are the variable
  #  names, and the values the variable values.
  #%]

[%# This is a list of all the possible code errors. Please keep them in
  # alphabetical order by error tag, and leave a blank line between errors.
  #
  # Note that you must explicitly filter every single template variable
  # in this file; if you do not wish to change it, use the "none" filter.
  #%]

[% DEFAULT title = "Вътрешна грешка" %]

[% error_message = BLOCK %]
  [% IF error == "auth_invalid_email" %]
    [% title = "Недействителен е-пощенски адрес" %]
    Получихме е-пощенски адрес (<b>[% addr FILTER html %]</b>)
    който не премина синтактичната ни проверка за правилен е-пощенски адрес,
    докато се опитвахме да създадем или обновим сметката ви.
    [% IF default %]
      Правилният адрес трябва да съдържа само една '@',
      и поне една '.' след @-та.
    [% ELSE %]
      [%+ Param('emailregexpdesc') FILTER html_light %]
    [% END %]
    Също така не трябва да съдържа никакви непозволени символи.

  [% ELSIF error == "authres_unhandled" %]
    Получената стойност за [% value FILTER html %] не бе обработена
    от кода за вход.

  [% ELSIF error == "bad_arg" %]
    Лош аргумент <code>[% argument FILTER html %]</code> бе изпратен до
    функцията <code>[% function FILTER html %]</code>.

  [% ELSIF error == "bug_error" %]
    Опитът за получаване на [% terms.bug %] [%+ bug.bug_id FILTER html %] върна
    грешката [% bug.error FILTER html %].
    
  [% ELSIF error == "chart_data_not_generated" %]
    [% docslinks = {'using/reports-and-charts.html' => 'Настройване на графики'} %]
    [% IF product.id %]
      Графиките за продукта <em>[% product.name FILTER html %]</em> не са
      достъпни все още, защото не са събирани данни за него откакто
      е създаден.
    [% ELSE %]
      Все още не са събирани данни за графики.
    [% END %]
    Моля, изчакайте един ден и опитайте отново.
    Ако виждате това съобщение след ден, тогава трябва да се свържете с
    <a href="mailto:[% Param('maintainer') %]">[% Param('maintainer') %]</a>
    указвайки тази грешка.

  [% ELSIF error == "chart_datafile_corrupt" %]
    Файла с данни за графиката [% file FILTER html %] е повреден.

  [% ELSIF error == "chart_dir_nonexistent" %]
    Една от директориите <kdb>[% dir FILTER html %]</kbd> и
    <kbd>[% graph_dir FILTER html %]</kbd> не съществуват.

  [% ELSIF error == "chart_file_open_fail" %]
    Не може да бъде отворен файла с данни за графиката <kbd>[% filename FILTER html %]</kbd>.
 
  [% ELSIF error == "column_alter_nonexistent_fk" %]
    Опитахте се да промените външния ключ за 
    [%+ table FILTER html %].[% column FILTER html %], но няма
    външен ключ на тази колона.
 
  [% ELSIF error == "column_not_null_without_default" %]
    Провалено добавянето на колона [% name FILTER html %]:
    Не можете да добавите NOT NULL колона, без стойност по подразбиране, към съществуваща таблица
    докато не укажете нещо за  <code>$init_value</code> аргумента.

  [% ELSIF error == "column_not_null_no_default_alter" %]
    Не можете да промените колоната [% name FILTER html %], да бъде NOT NULL
    без да укажете стойност по подразбиране или нещо за $set_nulls_to, защото
    в момента тя съдържа NULL стойности в себе си.

  [% ELSIF error == "comment_extra_data_not_allowed" %]
    Опитахте се да зададете полето <code>extra_data</code> на 
    '[% extra_data FILTER html %]', но коментари от тип [% type FILTER html %]
    не приемат аргумент <code>extra_data</code>.

  [% ELSIF error == "comment_extra_data_required" %]
    Коменатир от тип [% type FILTER html %] изискват задаването на
    аргумент <code>extra_data</code>.

  [% ELSIF error == "comment_extra_data_not_numeric" %]
    Опитахте се да зададете полето <code>extra_data</code> на
    '[% extra_data FILTER html %]', но коментари от тип [% type FILTER html %]
    изискват числов <code>extra_data</code> аргумент.

  [% ELSIF error == "comment_type_invalid" %]
    '[% type FILTER html %]' не е действителен тип на коментар.

  [% ELSIF error == "db_rename_conflict" %]
    Конфликт с името: Не можете да преименувате [% old FILTER html %] на
    [%+ new FILTER html %], защото [% new FILTER html %] вече съществува.

  [% ELSIF error == "cookies_need_value" %]
    Всяка бисквитка трябва да има стойност.

  [% ELSIF error == "env_no_email" %]
    Bugzilla не получи е-пощенски адрес от
    средата.
    [% IF Param("auth_env_email") %]
      Това значи, че параметъра '[% Param("auth_env_email") FILTER html %]'
      е празна или не съществува.
    [% ELSE %]
      Необходимо е да зададете параметъра "auth_env_email" с
      името на променливата на средата, която ще съдържа
      е-пощенския адрес на потребителя.
    [% END %]

  [% ELSIF error == "extension_must_be_subclass" %]
    <code>[% package FILTER html %]</code> от 
    <code>[% filename FILTER html %]</code> не е подклас на
    <code>[% class FILTER html %]</code>.

  [% ELSIF error == "extension_must_return_name" %]
    <code>[% extension FILTER html %]</code> върна
    <code>[% returned FILTER html %]</code>, което не е правилно име
    за едно разширение. Разширенията трябва да върнат своето име, а не <code>1</code>
    или друго число. Вижте документацията на
    <a href="[% docs_urlbase FILTER html %]api/Bugzilla/Extension.html">Bugzilla::Extension</a>
    за подробности.

  [% ELSIF error == "extension_no_name" %]
    Не беше открит метод <code>NAME</code> в 
    <code>[% package FILTER html %]</code> (зареден от
    <code>[% filename FILTER html %]</code>). Това значи, че
    разширението има един или повече от следните проблеми:

    <ul>
      <li><code>[% filename FILTER html %]</code> не определя
        пакет <code>[% package FILTER html %]</code>.</li>
      <li><code>[% package FILTER html %]</code> не определя
        метод <code>NAME</code> (или метод <code>NAME</code>
        е върнал празен низ).</li>
    </ul>

  [% ELSIF error == "extern_id_conflict" %]
    Външния идентификатор '[% extern_id FILTER html %]' вече съществува
    в базата данни за '[% username FILTER html %]', но вашия
    източник на сметка казва, че '[% extern_user FILTER html %]' го притежава.

  [% ELSIF error == "field_choice_must_use_type" %]
    Когато викате клас метод на <code>Bugzilla::Field::Choice</code>,
    трябва да извикате <code>Bugzilla::Field::Choice-&gt;type('some_field')</code>
    за създаване на правилния клас (не можете да викате клас методи директно
    от Bugzilla::Field::Choice).

  [% ELSIF error == "field_not_custom" %]
    '[% field.description FILTER html %]' ([% field.name FILTER html %])
    не е потребителско поле.

  [% ELSIF error == "field_type_not_specified" %]
    [% title = "Не е указан тип на поле" %]
    Трябва да укажете тип при създаването на потребителско поле.

  [% ELSIF error == "illegal_field" %]
    Не е зададен правилен [% field FILTER html %].

  [% ELSIF error == "invalid_customfield_type" %]
    [% title = "Недействителен тип на поле" %]
    Типа <em>[% type FILTER html %]</em> не е действителен тип на поле.

  [% ELSIF error == "invalid_feature" %]
    [% title = "Недействително име на функционалност" %]
    [% feature FILTER html %] не е действително име на функционалност. Вижте
    <code>OPTIONAL_MODULES</code> в 
    <code>Bugzilla::Install::Requirements</code> за действителни имена.

  [% ELSIF error == "invalid_flag_association" %]
    [% title = "Недействително свързване на флаг" %]
    Някои флагове не принадлежат към
    [% IF attach_id %]
      приставката [% attach_id FILTER html %].
    [% ELSE %]
      [%+ terms.bug %] [%+ bug_id FILTER html %].
    [% END %]

  [% ELSIF error == "invalid_series_id" %]
    [% title = "Недействителни колони" %]
    Идентификатора series_id [% series_id FILTER html %] е недействителен. Възможно е
    колоните да са били изтрити.

  [% ELSIF error == "invalid_timestamp" %]
    Въведеното клеймо <code>[% timestamp FILTER html %]</code> не може да
    бъде разбито в действителни дата и час.

  [% ELSIF error == "invalid_webservergroup" %]
    Няма такава група: [% group FILTER html %]. Проверете $webservergroup
    настройката ви в [% constants.bz_locations.localconfig FILTER html %].

  [% ELSIF error == "flag_unexpected_object" %]
    [% title = "Неразпознат обект" %]
    Не могат да бъдат задавани флагове от тип [% caller FILTER html %].
    Те могат да бъдат задавни само за [% terms.bugs %] и приставки.

  [% ELSIF error == "flag_type_inactive" %]
    [% title = "Пасивни типове флагове" %]
    Типа флаг [% type FILTER html %] е пасивен и не може да бъде използван
    за създаване на нови флагове.

  [% ELSIF error == "flag_type_target_type_invalid" %]
    Целевия тип не е нито <em>[% terms.bug %]</em> нито <em>приставка</em>,
    а вместо това <em>[% target_type FILTER html %]</em>.
  
  [% ELSIF error == "invalid_field_name" %]
    [% title = "Недействително име на поле" %]
    Не може да се ползва "[% field.truncate(30, "...") FILTER html %]" като име на поле.

  [% ELSIF error == "jobqueue_insert_failed" %]
   [% title = "Провал в Работната Опашка" %]
    Вмъкването на задание <code>[% job FILTER html %]</code> в работната 
    Опашка пропадна със следната грешка: [% errmsg FILTER html %]

  [% ELSIF error == "jobqueue_no_job_mapping" %]
    <code>Bugzilla::JobQueue</code> не бил конфигуриран за справяне
    с работата "[% job FILTER html %]".  Трябва да добавите този тип работа
    към <code>JOB_MAP</code> константата в <code>Bugzilla::JobQueue</code>,
    може би с използването на 'job_map' куката.

  [% ELSIF error == "ldap_bind_failed" %]
    Свързването с <abbr lang="en" title="Lightweight Directory Access Protocol">LDAP</abbr> сървър се провали. Съобщението за грешка беше:
    <code>[% errstr FILTER html %]</code>

  [% ELSIF error == "ldap_cannot_retreive_attr" %]
    Указания <abbr lang="en" title="Lightweight Directory Access Protocol">LDAP</abbr> атрибут [% attr FILTER html %] не бе намерен.

  [% ELSIF error == "ldap_connect_failed" %]
    Не може да бъде установена връзка с <abbr lang="en" title="Lightweight Directory Access Protocol">LDAP</abbr> сървър(и) <code>[% server FILTER html %]</code>.

  [% ELSIF error == "ldap_start_tls_failed" %]
    Не може да бъде започната защитена връзка с <abbr lang="en" title="Lightweight Directory Access Protocol">LDAP</abbr> сървъра: <code>[% error FILTER html %]</code>.

  [% ELSIF error == "ldap_search_error" %]
    Възникна грешка при търсене в <abbr lang="en" title="Lightweight Directory Access Protocol">LDAP</abbr> за
    &quot;[% username FILTER html %]&quot;:
    [% IF errstr %]
      <code>[% errstr FILTER html %]</code>
    [% ELSE %]
      Потребителя не е намерен в LDAP
    [% END %]

  [% ELSIF error == "ldap_server_not_defined" %]
    Не е определен <abbr lang="en" title="Lightweight Directory Access Protocol">LDAP</abbr> сървър за удостоверяване.

  [% ELSIF error == "mail_send_error" %]
    Получи се грешка при изпращане на поща от '[% mail.header('From') FILTER html %]'
    до '[% mail.header('To') FILTER html %]':
    [%+ msg FILTER html %]

  [% ELSIF error == "missing_series_id" %]
    След вмъкването на колона в базата данни не беше върнат идентификатор за
    нея. Колони: [% series.category FILTER html %] / 
    [%+ series.subcategory FILTER html %] / 
    [%+ series.name FILTER html %].

  [% ELSIF error == "object_dep_sort_loop" %]
    Има цикъл в VALIDATOR_DEPENDENCIES включващ
    '[%+ field FILTER html %]'. Това са полетата които взехме в предвид:
    [%+ considered.join(', ') FILTER html %].

  [% ELSIF error == "param_invalid" %]
    [% title = "Недействителен параметър" %]
    <code>[% param FILTER html %]</code> не е действителен параметър
    за функцията [% function FILTER html %].

  [% ELSIF error == "param_must_be_numeric" %]
    [% title = "Неправилен параметър" %]
    Подаден е неправилен параметър <code>[% param FILTER html %]</code> на.
    <code>[% function FILTER html %]</code>: Необходимо е да бъде числов.

  [% ELSIF error == "param_required" %]
    [% title = "Липсващ параметър" %]
    Функцията <code>[% function FILTER html %]</code> изисква
    аргумента <code>[% param FILTER html %]</code>, а
    той не е бил зададен.

  [% ELSIF error == "param_integer_required" %]
    Функцията <code>[% function FILTER html %]</code> изисква
    <code>[% param FILTER html %]</code> да бъде цяло число.

  [% ELSIF error == "param_scalar_array_required" %]
    Параметъра <code>[% param FILTER html %]</code> трябва да бъде масив от скаларни стойности
    (цели числа и/или низове).

  [% ELSIF error == "params_required" %]
    [% title = "Липсващ параметър" %]
    Функцията <code>[% function FILTER html %]</code> изисква
    да зададете един от следните параметри:
    <code>[% params.join(', ') FILTER html %]</code>

  [% ELSIF error == "product_empty_group_controls" %]
    [% title = "Липсващи групови контроли" %]
    Трябва да се определят нови настройки за редактиране на групови контроли на
    групата [% group.name FILTER html %].

  [% ELSIF error == "product_illegal_group_control" %]
    [% title = "Неправилен групов контрол" %]
    '[% value FILTER html %]' не е правилна стойност за
    полето '[% field FILTER html %]'.

  [% ELSIF error == "protection_violation" %]
    Функцията <code>[% function FILTER html %]</code> беше извикана

    [% IF argument %]
        с аргумента <code>[% argument FILTER html %]</code>
    [% END %]

    от
   
    [% IF caller %]
        <code>[%+ caller FILTER html %]</code>, който е
    [% END %]

    извън пакета. Тази функция може да бъде извикана само от
    подклас на <code>[% superclass FILTER html %]</code>.

  [% ELSIF error == "radius_preparation_error" %]
    Възникна грешка при подготовката за <abbr lang="en" title="Remote Authentication Dial In User Service">RADIUS</abbr> заявка за удостоверяване:
    <code>[% errstr FILTER html %]</code>.

  [% ELSIF error == "search_cp_without_op" %]
    Аргумента за търсене f[% id FILTER html %] е "CP" но нмяа
    съответно "OP" преди него.

  [% ELSIF error == "search_invalid_joiner" %]
    '[% joiner FILTER html %]' не е действителен присъединител за търсене.

  [% ELSIF error == "setting_info_invalid" %]
    За да създадете нова настройка, трябва да укажете нейното име, списък от
    стойност/индекс двойки и подразбираща се стойност.

  [% ELSIF error == "setting_name_invalid" %]
    Името на настройка <em>[% name FILTER html %]</em> не е
    възможно. Имената на настройките трябва да започват с буква и да съдържат само
    букви, цифри или символите '_', '-', '.' или ':'.

  [% ELSIF error == "setting_subclass_invalid" %]
    Няма такъв подклас за настройка като
    <code>[% subclass FILTER html %]</code>.

  [% ELSIF error == "setting_value_invalid" %]
    Стойността "<code>[% value FILTER html %]</code>" не е в списъка с
    възможни стойности за настройката <em>[% name FILTER html %]</em>.

  [% ELSIF error == "token_generation_error" %]
    Нещо е наистина грешно в системата за създаване на признаци.

  [% ELSIF error == "cancel_token_does_not_exist" %]
    Белега за изтриване не съществува.

  [% ELSIF error == "template_error" %]
    [% template_error_msg FILTER html %]

  [% ELSIF error == "template_invalid" %]
    Шаблон с недействително име открит в извикването на куката: [% name FILTER html %].

  [% ELSIF error == "unable_to_retrieve_password" %]
     Не мога да получа вашата стара парола от базата данни.

  [% ELSIF error == "undefined_field" %]
    Полето [% field FILTER html %] на формата не е зададено;
    
  [% ELSIF error == "unknown_method" %]
    Поискания метод '[% method FILTER html %]' не беше намерен.

  [% ELSIF error == "usage_mode_invalid" %]
    '[% invalid_usage_mode FILTER html %]' не е действителен потребителски режим.

  [% ELSIF error == "must_be_patch" %]
    [% title = "Приставката трябва да бъде кръпка" %]
    Приставка #[% attach_id FILTER html %] трябва да е кръпка.

  [% ELSIF error == "not_in_transaction" %]
    Опит да се приключи транзакция без да е стартирана такава.

  [% ELSIF error == "invalid_post_bug_submit_action" %]
    Неправилна настройка за post_bug_submit_action

  [% ELSIF error == "search_field_operator_unsupported" %]
    [% title = "Недействителен тип търсене" %]
    Bugzilla не поддържа тип на търсене
    "[% operator.truncate(30, "...") FILTER html %]".

  [% ELSE %]
    [%# Try to find hooked error messages %]
    [% error_message = Hook.process("errors") %]
    [% IF NOT error_message %]
      [% title = "Вътрешна грешка" %]
      Възникна вътрешна грешка, но Bugzilla не знае
      какво значи <code>[% error FILTER html %]</code>.

      Ако сте краен потребител на [% terms.Bugzilla %] виждащ това съобщение, моля съхранете
      тази страница и я изпратете на [% Param('maintainer') %].
    [% ELSE %]
      [% error_message FILTER none %]
    [% END %]
  [% END %]
[% END %]

[%# We only want HTML error messages for ERROR_MODE_WEBPAGE %]
[% USE Bugzilla %]
[% IF Bugzilla.error_mode != constants.ERROR_MODE_WEBPAGE %]
  [% IF Bugzilla.usage_mode == constants.USAGE_MODE_BROWSER %]
    [% error_message FILTER none %]
  [% ELSE %]
    [% error_message FILTER txt %]
  [% END %]
  [% RETURN %]
[% END %]

[% UNLESS header_done %]
  [% PROCESS global/header.html.tmpl %]
[% END %]

[% PROCESS global/docslinks.html.tmpl
   docslinks      = docslinks
   admindocslinks = admindocslinks
%]

<p>
  Получи се неочаквана грешка. Това може да е временен проблем или някой код
  се държи неправилно. Ако проблема остане, моля изпратете тази страница
  до <a href="mailto:[% Param("maintainer") %]">[% Param("maintainer") %]</a>
  с подробности за това какво правехте когато това съобщение се появи.
</p>

<p>
  <samp><abbr lang="en" title="Uniform Resource Locator>URL</abbr>: [% Bugzilla.cgi.self_url FILTER html %]</samp>
</p>

<div id="error_msg" class="throw_error">
  [% error_message FILTER none %]
</div>

<p id="post_err_msg">
  Обратно проследяване:
</p>

<pre>[% traceback FILTER html %]</pre>

[% IF variables %]
  <pre>
Променливи:
  [% FOREACH key = variables.keys %]
    [%+ key FILTER html %]: [%+ variables.$key FILTER html %]
  [% END %]
  </pre>
[% END %]

[% PROCESS global/footer.html.tmpl %]
