[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # fields: hash/record; the fields being matched, each of which has:
  #     type: single|multi: whether or not the user can select multiple matches
  #     flag_type: for flag requestee fields, the type of flag being requested
  # matches: hash; Hierarchical.  The levels go like this:
  #     field_name {
  #         pattern_text {
  #             'users'  = @user_list           (user objects)
  #             'status' = success|fail|trunc   (result of search.
  #                             'trunc' (truncated) means max was reached)
  #         }
  #     }
  # script: string; The name of the calling script, used to create a
  #     self-referential URL
  #%]

[%# This lists fields which use the user auto-completion feature and which
  # are not listed in field_descs. %]
[% field_labels = { # Used by editcomponents.cgi
                    "initialcc"               => "Подразбран ТК списък",
                    "initialowner"            => "Подразбран назначен",
                    "initialqacontact"        => "Подразбран кач. контрол",
                    # Used by process_bug.cgi
                    "masscc"                  => "ТК списък",
                    # Used by request.cgi
                    "requester"               => "Заявител",
                    "requestee"               => "Изпълнител",
                    # Used by userprefs.cgi
                    "new_watchedusers"        => "Списък с наблюдавани",

   }
%]
[% IF matchsuccess == 1 %]
  [% PROCESS global/header.html.tmpl title="Потвърждаване на съвпадение" %]

  [% USE Bugzilla %]

  <form method="post" 
  [% IF script -%]
    action="[% script %]"
  [%- END -%]
  [% IF Bugzilla.cgi.param("data") %]
    enctype="multipart/form-data"
  [% END %]
  >

  <p>
    [% IF matchmultiple %]
      Bugzilla не можа да направи убедително съвпадение за едно или повече
      от имената и/или е-пощенските адреси, които въведохте на предходната страница.
      <br>Моля, прегледайте списъците с възможните съвпадения отдолу и изберете
      този които желаете
    [% ELSE %]
      [% terms.Bugzilla %] е настроена да изисква проверка, когато
      въведете име или частичен е-пощенски адрес.
      <br>Отдолу са имената/адресите, които въведохте и съвпадащите сметки.
      Моля, потвърдете, че те са правилни
    [% END %]
    или се върнете на предходната страница, за да проверите въведените имена.
  </p>
[% ELSE %]
  [% PROCESS global/header.html.tmpl title="Съвпадението пропадна" %]
  <p>
    Bugzilla не можа да намери никакво съвпадение като цяло за едно или повече от
    имената и/или е-пощенските адреси, които въведохте на предходната страница.
    [% IF !user.id %]
      <b>Забележка: В момента сте излязъл. Само точни съвпадения на е-пощенски
      адреси ще бъдат извършени.</b>
    [% END %]
  </p>
  <p>Моля върнете се и опитайте други имена или е-пощенски адреси.</p>
[% END %]

<table id="user_match_table">
  [% FOREACH field = matches %]
    <tr>
      <td>
        [% PROCESS field_names field_name=field.key %]:
      </td>
      <td>
          [% FOREACH query = field.value %]
            <div class="user_match">
              <b>[% query.key FILTER html %]</b>
            [% IF query.value.users.size %]
                [% IF query.value.users.size > 1 %]
                  [% IF query.value.status == 'fail' %]
                    <span class="warning">
                      съвпада с няколко потребителя.
                    </span>
                    Моля, върнете се и опитайте отново с по-конкретно
                    име/е-пощенски адрес.
                  [% ELSE %]
                    [% IF query.value.status == 'trunc' %]
                      съвпадна с
                      повече от максимума
                      от [% query.value.users.size %] потребители:<br>
                    [% ELSE %]
                      съвпадна с:<br>
                    [% END %]
                    <select name="[% field.key FILTER html %]"
                     id="[% field.key FILTER html %]"
                      [% IF fields.${field.key}.type == 'multi' %]
                        multiple="multiple"
                        [% IF query.value.users.size > 5 %]
                         size="5"
                        [% ELSE %]
                         size="[% query.value.users.size %]"
                        [% END %]
                      [% END %]
                    >
                      [% FOREACH match = query.value.users %]
                        <option value="[% match.login FILTER html %]">
                         [%- match.identity FILTER html -%]
                        </option>
                      [% END %]
                    </select>
                  [% END %]
                [% ELSE %]
                  съвпадна с
                  <b>[% query.value.users.0.identity FILTER html %]</b>
                [% END %]
            [% ELSE %]
              <span class="warning">
                [% IF query.key.length < 3 %]
                  е твърде кратък за съвпадение с подниз (минимум 3 символа)
                [% ELSE %]
                  не съвпадна с нищо
                [% END %]
              </span>
            [% END %]
            </div>
        [% END %]
      </td>
    </tr>
  [% END %]
</table>

[% IF matchsuccess == 1 %]

  [% SET exclude_these = ['Bugzilla_login', 'Bugzilla_password'] %]
  [% FOREACH key IN matches.keys %]
    [% exclude_these.push(key) IF Bugzilla.cgi.param(key) == '' %]
  [% END %]
  [% SET exclude = '^' _ exclude_these.join('|') _ '$' %]
  [% PROCESS "global/hidden-fields.html.tmpl" exclude = exclude %]

  <p>
    <input type="submit" id="continue" value="Продължаване">
  </p>

  </form>

[% END %]

[% PROCESS global/footer.html.tmpl %]


[% BLOCK field_names %]

  [% IF field_descs.$field_name %]
    [% field_descs.$field_name FILTER html %]
  [% ELSIF field_labels.$field_name %]
    [% field_labels.$field_name FILTER html %]
  [% ELSIF field_name.match("^requestee") %]
    [% fields.${field_name}.flag_type.name FILTER html %] изпълнител
  [% ELSE %]
    [% field_name FILTER html %]
  [% END %]

[% END %]
