[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # script_name: the script generating this warning.
  # token: a valid token for the current action.
  # reason: reason of the failure.
  #%]

[% PROCESS global/header.html.tmpl title = "Подозрително действие"
                                   style_urls = ['skins/standard/global.css'] %]

<div class="throw_error">
<!--reason=[%reason FILTER html %]-->
  [% IF reason == "expired_token" %]
    Промените ви бяха отхвърлени, защото надхвърлихте времевото ограничение
    от [% constants.MAX_TOKEN_AGE FILTER html %] дни придеи да ги подадете
    на [% script_name FILTER html %]. Страницата може би е била отворена
    твърде дълго или стари промени биват случайно предавани отново.

  [% ELSIF reason == "missing_token" %]
    Изглежда не сте дошли от правилната страница.
    Една от причините може да е, че сте въвели <abbr lang="en" title="Uniform Resource Locator">URL</abbr>-то в адресната лента на вашия
    web браузър директно, което трябва да е безопасно. Друга причина може да е, че
    сте щракнали върху <abbr lang="en" title="Uniform Resource Locator">URL</abbr>, което ви е прехвърлило тук <b>без ваше съгласие</b>.

  [% ELSIF reason == "invalid_token" %]
    Подадохте промени към [% script_name FILTER html %] с недействителен
    признак, което може да означава, че някой се е опитал да злоупотреби с вас, като например
    ви е накрал да щракнете върху <abbr lang="en" title="Uniform Resource Locator">URL</abbr>, което ви е прехвърлило тук <b>без ваше
    съгласие</b>.
  [% END %]
  <p>
    Сигурни ли сте, че искате да подадете тези промени?
  </p>
</div>

<form name="check" id="check" method="post" action="[% script_name FILTER html %]">
  [% PROCESS "global/hidden-fields.html.tmpl"
             exclude="^(Bugzilla_login|Bugzilla_password|token)$" %]
  <input type="hidden" name="token" value="[% token FILTER html %]">
  <input type="submit" id="confirm" value="Да, потвърждаване на промените">
</form>

<p><a href="index.cgi">Не, отхвърляне на промените</a> (ще бъдете пренасочени
към началната страница).</p>

[% PROCESS global/footer.html.tmpl %]
