[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #                 Elliotte Martin <elliotte_martin@yahoo.com>
  #%]

[%# Remember to PROCESS rather than INCLUDE this template. %]

[% PROCESS global/variables.none.tmpl %]

[% SET search_descs = {
  "noop"           => "---",
  "equals"         => "е равно на",
  "notequals"      => "не е равно на",
  "anyexact"       => "е равно на някой от низовете",
  "substring"      => "съдържа низа",
  "casesubstring"  => "съдържа низа (същия регистър)",
  "notsubstring"   => "не съдържа низа",
  "anywordssubstr" => "съдържа някой от низовете",
  "allwordssubstr" => "съдържа всеки от низовете",
  "nowordssubstr"  => "не съдържа низовете",
  "regexp"         => "съвпада с регулярен израз",
  "notregexp"      => "не съвпада с регулярен израз",
  "lessthan"       => "е по-малко от",
  "lessthaneq"     => "е по-малко или равно на",
  "greaterthan"    => "е по-голямо от",
  "greaterthaneq"  => "е по-голямо или равно на",
  "anywords"       => "съдържа някоя от думите",
  "allwords"       => "съдържа всяка от думите",
  "nowords"        => "не съдържа думите",
  "changedbefore"  => "променен преди",
  "changedafter"   => "променен след",
  "changedfrom"    => "променен от",
  "changedto"      => "променен на",
  "changedby"      => "променен от протребител",
  "matches"        => "съвпада",
  "notmatches"      => "не съвпада",
} %]

[% field_types = { ${constants.FIELD_TYPE_UNKNOWN}       => "Непознат тип",
                   ${constants.FIELD_TYPE_FREETEXT}      => "Свободен текст",
                   ${constants.FIELD_TYPE_SINGLE_SELECT} => "Поле за избор"
                   ${constants.FIELD_TYPE_MULTI_SELECT}  => "Поле за множествен избор",
                   ${constants.FIELD_TYPE_TEXTAREA}      => "Голямо текстово поле",
                   ${constants.FIELD_TYPE_DATETIME}      => "Дата/Час",
                   ${constants.FIELD_TYPE_BUG_ID}        => "$terms.Bug №",
                } %]

[%# You can use this hash to localize (translate) the values displayed
  # for drop-down and multiple-select fields. Lines starting with "#"
  # are comments.
  #%]
[% value_descs = {
  "bug_status" => {
    # "UNCONFIRMED" => "UNCO",
    # "CONFIRMED"   => "ITSABUG",
  },

  "resolution" => {
    ""        => "---",
    # "FIXED"      => "NO LONGER AN ISSUE",
    # "WORKSFORME" => "NOTMYPROBLEM!",
  },
} %]

[%# We use "FILTER none" here because only the caller can know how to
  # filter the result appropriately. 
  #%]
[% MACRO display_value(field_name, value_name) BLOCK %][% FILTER trim %]
  [% IF value_descs.${field_name}.${value_name}.defined %]
    [% value_descs.${field_name}.${value_name} FILTER none %]
  [% ELSE %]
    [% value_name FILTER none %]
  [% END %]
[% END %][% END %]

[% IF in_template_var %]
  [% vars.terms = terms %]

  [%# field_descs is loaded as a global template variable and cached
    # across all templates--see VARIABLES in Bugzilla/Template.pm.
    #%]
  [% vars.field_descs = {
    "[Bug creation]"          => "[$terms.Bug creation]",
     "actual_time"             => "Действителни часове",
     "alias"                   => "Псевдоним",
     "assigned_to"             => "Назначен на",
     "assigned_to_realname"    => "Истинско име на назначения",
     "attach_data.thedata"     => "Данни на приставка",
     "attachments.description" => "Описание на приставка",
     "attachments.filename"    => "Име на файл на приставка",
     "attachments.mimetype"    => "Тип на приставка",
     "attachments.ispatch"     => "Приставката е кръпка",
     "attachments.isobsolete"  => "Приставката е остаряла",
     "attachments.isprivate"   => "Приставката е частна",
     "attachments.isurl"       => "Приставката е URL",
     "attachments.submitter"   => "Създател на приставка",
     "blocked"                 => "Блокира",
     "bug_file_loc"            => "URL",
     "bug_group"               => "Група",
     "bug_id"                  => "$terms.Bug №",
     "bug_severity"            => "Суровост",
     "bug_status"              => "Състояние",
     "changeddate"             => "Променен",
     "cc"                      => "ТК",
     "classification"          => "Класификация",
     "cclist_accessible"       => "Достъпен ТК списък",
     "commenter"               => "Коментатор",
     "component_id"            => "Идентификатор на съставна част",
     "component"               => "Съставна част",
     "content"                 => "Съдържание",
     "creation_ts"             => "Време на създаване на $terms.abug",
     "deadline"                => "Краен срок",
     "delta_ts"                => "Средно",
     "dependson"               => "Зависи от",
     "dup_id"                  => "Повтаря",
     "estimated_time"          => "Преценено време",
     "everconfirmed"           => "Някога потвърждаван",
     "flagtypes.name"          => "Флагове",
     "keywords"                => "Ключови думи",
     "longdesc"                => "Коментар",
     "longdescs.isprivate"     => "Коментара е частен",
     "newcc"                   => "Точно Копие",
     "op_sys"                  => "ОС",
     "opendate"                => "Отворен",
     "owner_idle_time"         => "Време от когато наначение е пипал",
     "percentage_complete"     => "% завършен",
     "priority"                => "Приоритет",
     "product_id"              => "Идентификатор на продукт",
     "product"                 => "Продукт",
     "qa_contact"              => "Качествен контрол",
     "qa_contact_realname"     => "Истинско име на кач. контрол",
     "remaining_time"          => "Оставащи часове",
     "rep_platform"            => "Платформа",
     "reporter"                => "Докладчик",
     "reporter_accessible"     => "Достъпен докладчик",
     "reporter_realname"       => "Истинско име на докладчика",
     "requestees.login_name"   => "Заявител на флаг",
     "resolution"              => "Решение",
     "see_also"                => "Виж още",
     "setters.login_name"      => "Задаващ на флаг",
     "setting"                 => "Настройка",
     "settings"                => "Настройки",
     "short_desc"              => "Резюме",
     "status_whiteboard"       => "Бяла дъска",
     "target_milestone"        => "Целево събитие",
     "version"                 => "Версия",
     "work_time"               => "Отработени часове",
  } %]

  [%# Also include any custom fields or fields which don't have a
      Description here, by copying their Description from the
      database. If you want to override this for your language
      or your installation, just use a hook. %]
  [% UNLESS Param('shutdownhtml') %]
    [% FOREACH bz_field = bug_fields.values %]
      [% SET vars.field_descs.${bz_field.name} = bz_field.description
         IF !vars.field_descs.${bz_field.name}.defined %]
    [% END %]
  [% END %]
[% END %]

[% Hook.process("end") %]
