[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# Remember to PROCESS rather than INCLUDE this template. %]

[% SET search_descs = {
  "noop"           => "---",
  "equals"         => "е равно на",
  "notequals"      => "не е равно на",
  "anyexact"       => "е равно на някой от низовете",
  "substring"      => "съдържа низа",
  "casesubstring"  => "съдържа низа (същия регистър)",
  "notsubstring"   => "не съдържа низа",
  "anywordssubstr" => "съдържа някой от низовете",
  "allwordssubstr" => "съдържа всеки от низовете",
  "nowordssubstr"  => "не съдържа низовете",
  "regexp"         => "съвпада с регулярен израз",
  "notregexp"      => "не съвпада с регулярен израз",
  "lessthan"       => "е по-малко от",
  "lessthaneq"     => "е по-малко или равно на",
  "greaterthan"    => "е по-голямо от",
  "greaterthaneq"  => "е по-голямо или равно на",
  "anywords"       => "съдържа някоя от думите",
  "allwords"       => "съдържа всяка от думите",
  "nowords"        => "не съдържа думите",
  "changedbefore"  => "променен преди",
  "changedafter"   => "променен след",
  "changedfrom"    => "променен от",
  "changedto"      => "променен на",
  "changedby"      => "променен от протребител",
  "matches"        => "съвпада",
  "notmatches"     => "не съвпада",
  "isempty"        => "е празно",
  "isnotempty"     => "не е празно",
} %]

[% field_types = { ${constants.FIELD_TYPE_UNKNOWN}       => "Непознат тип",
                   ${constants.FIELD_TYPE_FREETEXT}      => "Свободен текст",
                   ${constants.FIELD_TYPE_INTEGER}       => "Цяло число",
                   ${constants.FIELD_TYPE_SINGLE_SELECT} => "Поле за избор"
                   ${constants.FIELD_TYPE_MULTI_SELECT}  => "Поле за множествен избор",
                   ${constants.FIELD_TYPE_TEXTAREA}      => "Голямо текстово поле",
                   ${constants.FIELD_TYPE_DATETIME}      => "Дата/Час",
                   ${constants.FIELD_TYPE_DATE}          => "Дата",
                   ${constants.FIELD_TYPE_BUG_ID}        => "$terms.Bug №",
                } %]

[% IF in_template_var %]
  [% PROCESS "global/value-descs.none.tmpl" %]
  [% SET vars.value_descs = value_descs %]
  [% SET vars.terms = terms %]

  [%# field_descs is loaded as a global template variable and cached
    # across all templates--see VARIABLES in Bugzilla/Template.pm.
    #%]
  [% vars.field_descs = {
    "[Bug creation]"          => "[Дата на създаване на $terms.abug]",
     "actual_time"             => "Действителни часове",
     "alias"                   => "Псевдоним",
     "assigned_to"             => "Назначен на",
     "assigned_to_realname"    => "Истинско име на назначения",
     "attach_data.thedata"     => "Данни на приставка",
     "attachments.description" => "Описание на приставка",
     "attachments.filename"    => "Име на файл на приставка",
     "attachments.mimetype"    => "Тип на приставка",
     "attachments.ispatch"     => "Приставката е кръпка",
     "attachments.isobsolete"  => "Приставката е остаряла",
     "attachments.isprivate"   => "Приставката е частна",
     "attachments.submitter"   => "Създател на приставка",
     "blocked"                 => "Блокира",
     "bug_file_loc"            => "URL",
     "bug_group"               => "Група",
     "bug_id"                  => "$terms.Bug №",
     "bug_severity"            => "Суровост",
     "bug_status"              => "Състояние",
     "changeddate"             => "Променен",
     "cc"                      => "ТК",
     "classification"          => "Класификация",
     "cclist_accessible"       => "Достъпен ТК списък",
     "commenter"               => "Коментатор",
     "component_id"            => "Идентификатор на съставна част",
     "component"               => "Съставна част",
     "content"                 => "Съдържание",
     "creation_ts"             => "Момент на създаване на $terms.abug",
     "days_elapsed"            => "Дни от когато $terms.abug е променен",
     "deadline"                => "Краен срок",
     "delta_ts"                => "Средно",
     "dependson"               => "Зависи от",
     "dup_id"                  => "Повтаря",
     "estimated_time"          => "Преценено време",
     "everconfirmed"           => "Някога потвърждаван",
     "flagtypes.name"          => "Флагове",
     "keywords"                => "Ключови думи",
     "last_visit_ts"           => "Последно посещение",
     "longdesc"                => "Коментар",
     "longdescs.count"         => "Брой коментари",
     "longdescs.isprivate"     => "Коментара е частен",
     "newcc"                   => "Точно Копие",
     "op_sys"                  => "ОС",
     "opendate"                => "Отворен",
     "owner_idle_time"         => "От кога бездейства назначения",
     "percentage_complete"     => "% завършен",
     "priority"                => "Приоритет",
     "product_id"              => "Идентификатор на продукт",
     "product"                 => "Продукт",
     "qa_contact"              => "Качествен контрол",
     "qa_contact_realname"     => "Истинско име на кач. контрол",
     "remaining_time"          => "Оставащи часове",
     "rep_platform"            => "Платформа",
     "reporter"                => "Докладчик",
     "reporter_accessible"     => "Достъпен докладчик",
     "reporter_realname"       => "Истинско име на докладчика",
     "requestees.login_name"   => "Заявител на флаг",
     "resolution"              => "Решение",
     "see_also"                => "Виж още",
     "setters.login_name"      => "Задаващ на флаг",
     "setting"                 => "Настройка",
     "settings"                => "Настройки",
     "short_desc"              => "Резюме",
     "short_short_desc"        => "Резюме",
     "status_whiteboard"       => "Бяла дъска",
     "tag"                     => "Лични етикети",
     "target_milestone"        => "Целево събитие",
     "version"                 => "Версия",
     "work_time"               => "Отработени часове",
  } %]

  [%# Also include any custom fields or fields which don't have a
      Description here, by copying their Description from the
      database. If you want to override this for your language
      or your installation, just use a hook. %]
  [% UNLESS Param('shutdownhtml') %]
    [% FOREACH bz_field = bug_fields.values %]
      [% SET vars.field_descs.${bz_field.name} = bz_field.description
         IF !vars.field_descs.${bz_field.name}.defined %]
    [% END %]
  [% END %]

  [% PROCESS "bug/field-help.none.tmpl" %]
[% END %]

[% Hook.process("end") %]
