[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #                 Max Kanat-Alexander <mkanat@bugzilla.org>
  #%]

[%# This is a list of all the possible messages. Please keep them in
  # alphabetical order by message tag, and leave a blank line between messages.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% PROCESS "global/field-descs.none.tmpl" %]

[% message_tag = message %]

[% message = BLOCK %]
  [% IF    message_tag == "account_created" %]
    Потребителската сметка [% otheruser.login FILTER html %] беше създадена
    успешно.
    [% IF groups.size %]
      Може да искате да редактирате груповите настройки сега, използвайки формата отдолу.
    [% END %]

  [% ELSIF message_tag == "account_creation_canceled" %]
    [% title = "Отхвърлено създаването на потребителска сметка" %]
    Създаването на потребителската сметка [% account FILTER html %] беше
    отхвърлено.

  [% ELSIF message_tag == "account_updated" %]
    [% IF changed_fields.size
          + groups_added_to.size + groups_removed_from.size
          + groups_granted_rights_to_bless.size + groups_denied_rights_to_bless.size %]
      [% title = "Сметката $loginold бе обновена" %]
      Следните промени бяха направени върху сметката
      [%+ loginold FILTER html %]:
      <ul>
        [% FOREACH field = changed_fields %]
          <li>
            [% IF    field == 'login_name' %]
              Името за вход вече е [% otheruser.login FILTER html %].
            [% ELSIF field == 'realname' %]
              Истинското име беше обновено.
            [% ELSIF field == 'cryptpassword' %]
              Беше зададена нова парола.
            [% ELSIF field == 'disabledtext' %]
              Текста за неспособен беше променен.
            [% ELSIF field == 'disable_mail' %]
              [% IF otheruser.email_disabled %]
                [% terms.Bug %]пощата беше забранена.
              [% ELSE %]
                [% terms.Bug %]пощата беше разрешена.
              [% END %]
            [% END %]
          </li>
        [% END %]
        [% IF groups_added_to.size %]
          <li>
            Сметката беше добавена към 
            груп[% 'ата' IF groups_added_to.size == 1 %][% 'ите' IF groups_added_to.size > 1 %]
            [%+ groups_added_to.join(', ') FILTER html %].
          </li>
        [% END %]
        [% IF groups_removed_from.size %]
          <li>
            Сметката беше премахната от
            груп[% 'ата' IF groups_removed_from.size == 1 %][% 'ите' IF groups_removed_from.size > 1 %]
            [%+ groups_removed_from.join(', ') FILTER html %].
          </li>
        [% END %]
        [% IF groups_granted_rights_to_bless.size %]
          <li>
            На сметката бяха дадени правата да добавя сметки към
            груп[% 'ата' IF groups_granted_rights_to_bless.size == 1 %][% 'ите' IF groups_granted_rights_to_bless.size > 1 %]
            [%+ groups_granted_rights_to_bless.join(', ') FILTER html %].
          </li>
        [% END %]
        [% IF groups_denied_rights_to_bless.size %]
          <li>
            На сметката бяха отнети правата да добавя сметки към
            груп[% 'ата' IF groups_denied_rights_to_bless.size == 1 %][% 'ите' IF groups_denied_rights_to_bless.size > 1 %]
            [%+ groups_denied_rights_to_bless.join(', ') FILTER html %].
          </li>
        [% END %]
      </ul>
    [% ELSE %]
      [% title = "Сметката $otheruser.login не е променена" %]
      Не сте заявили никакви промени по потребителската сметка
      [%+ otheruser.login FILTER html %].
    [% END %]

  [% ELSIF message_tag == "account_deleted" %]
    [% title = "Сметката $otheruser.login е изтрита" %]
    Сметката [% otheruser.login FILTER html %] беше изтрита
    успешно.

  [% ELSIF message_tag == "account_disabled" %]
    Потребителската сметка [% account FILTER html %] е спряна, така че
    не можете да смените паролата ѝ.

  [% ELSIF message_tag == "attachment_creation_failed" %]
    [% terms.Abug %] беше създаден успешно, но създаването на приставката
    се провали.
    Моля, добавете приставката си чрез щракване върху връзката "Добавяне на приставка"
    отдолу.

  [% ELSIF message_tag == "bug_group_description" %]
    Достъп до [% terms.bugs %] в продукта [% product.name FILTER html %]

  [% ELSIF message_tag == "buglist_adding_field" %]
    [% title = "Добавяне на поле към страницата за търсене..." %]
    [% link  = "Щракнете тук ако страницата не се презареди автоматично." %]

  [% ELSIF message_tag == "buglist_updated_named_query" %]
    [% title = "Търсене обновено" %]
    Търсенето ви, именувано <code><a 
     href="buglist.cgi?cmdtype=runnamed&amp;namedcmd=[% queryname FILTER url_quote %]"
    >[% queryname FILTER html %]</a></code>, беше обновено.

  [% ELSIF message_tag == "buglist_new_default_query" %]
    OK, вече имате ново търсене по подразбиране. Можете също така
    да отметнете резултата от всяко търсене.

  [% ELSIF message_tag == "buglist_new_named_query" %]
    [% title = "Търсене създадено" %]
    OK, имате ново търсене именувано <code><a
     href="buglist.cgi?cmdtype=runnamed&amp;namedcmd=[% queryname FILTER url_quote %]"
    >[% queryname FILTER html %]</a></code>.

  [% ELSIF message_tag == "buglist_query_gone" %]
    [% title = "Търсенето е изгубено" %]
    [% link  = "Връщане на страницата за търсене." %]
    OK, търсенето <b>[% namedcmd FILTER html %]</b> е изгубено.

  [% ELSIF message_tag == "buglist_sorted_by_relevance" %]
    [% terms.Bugs %]те в този списък са подредени по значение, като
    най-значимите [% terms.bugs %] са най-отгоре.
    [% IF bugs.size == constants.FULLTEXT_BUGLIST_LIMIT %]
      Показани са само [% constants.FULLTEXT_BUGLIST_LIMIT FILTER html %]
      най-значими [% terms.bugs %].
    [% END %]

  [% ELSIF message_tag == "change_columns" %]
    [% title = "Промяна на колони" %]
    Предаване отново на търсенето ви с нови колони...
    Щракнете <a href="[% redirect_url FILTER html %]">тук</a>
    ако страницата не се обнови автоматично.

  [% ELSIF message_tag == "classification_created" %]
    [% title = "Създадена е нова класификация" %]
    Класификацията <em>[% classification.name FILTER html %]</em> беше създадена.

  [% ELSIF message_tag == "classification_deleted" %]
    [% title = "Изтрита класификация" %]
    Класификацията <em>[% classification.name FILTER html %]</em> беше изтрита.

  [% ELSIF message_tag == "classification_updated" %]
    [% title = "Класификация обновена" %]
    [% IF changes.keys.size %]
      Промените по класификацията <em>[% classification.name FILTER html %]</em>
      бяха съхранени:
      <ul>
        [% IF changes.name.defined %]
          <li>Име е обновено на '[% classification.name FILTER html %]'</li>
        [% END %]
        [% IF changes.description.defined %]
          [% IF classification.description %]
            <li>Описание е обновено на '[% classification.description FILTER html %]'</li>
          [% ELSE %]
            <li>Описание премахнато</li>
          [% END %]
        [% END %]
        [% IF changes.sortkey.defined %]
          <li>Ключ за подреждане е обновен на '[% classification.sortkey FILTER html %]'</li>
        [% END %]
        [% Hook.process('classification_updated_fields') %]
      </ul>
    [% ELSE %]
      Не са направени промени по <em>[% classification.name FILTER html %]</em>.
    [% END %]

  [% ELSIF message_tag == "component_created" %]
    [% title = "Създадена съставна част" %]
    Съставната част <em>[% comp.name FILTER html %]</em> беше създадена.

  [% ELSIF message_tag == "component_deleted" %]
    [% title = "Изтрита съставна част" %]
    Съставната част <em>[% comp.name FILTER html %]</em> беше изтрита.
    [% IF comp.bug_count %]
      Всички [% terms.bugs %] които бяха в тази съставна час и всички обръщения
      към тях също бяха изтрити.
    [% END %]

  [% ELSIF message_tag == "component_updated" %]
    [% title = "Съставна част обновена" %]
    [% IF changes.keys.size %]
      Промените по съставната част <em>[% comp.name FILTER html %]</em> бяха съхранени:
      <ul>
      [% IF changes.name.defined %]
        <li>Име е обновено на '[% comp.name FILTER html %]'</li>
      [% END %]
      [% IF changes.description.defined %]
        <li>Описани е обновено на '[% comp.description FILTER html_light %]'</li>
      [% END %]
      [% IF changes.initialowner.defined %]
        <li>Подразбиращ се назначен е обновен на '[% comp.default_assignee.login FILTER html %]'</li>
      [% END %]
      [% IF changes.initialqacontact.defined %]
        [% IF comp.default_qa_contact.id %]
          <li>Подразбиращ се качествен контрол е обновен на '[% comp.default_qa_contact.login FILTER html %]'</li>
        [% ELSE %]
          <li>Подразбиращ се качествен контрол е изтрит</li>
        [% END %]
      [% END %]
      [% IF changes.cc_list.defined %]
        [% IF comp.initial_cc.size %]
          [% cc_list = [] %]
          [% FOREACH cc_user = comp.initial_cc %]
            [% cc_list.push(cc_user.login) %]
          [% END %]
          <li>Подразбиращ ТК списък е обновен на [% cc_list.join(", ") FILTER html %]</li>
        [% ELSE %]
          <li>Подразбиращ ТК списък е изтрит</li>
        [% END %]
      [% END %]
      [% Hook.process('component_updated_fields') %]
      </ul>
    [% ELSE %]
      Не са направени промени по <em>[% comp.name FILTER html %]</em>.
    [% END %]

  [% ELSIF message_tag == "custom_field_created" %]
    [% title = "Създадено потребителското поле" %]
    Новото потребителско поле '[% field.name FILTER html %]' беше
    успешно създадено.

  [% ELSIF message_tag == "custom_field_deleted" %]
    [% title = "Изтрито потребителско поле" %]
    Потребителското поле '[% field.name FILTER html %]' беше
    успешно изтрито.

  [% ELSIF message_tag == "custom_field_updated" %]
    [% title = "Обновено потребителско поле" %]
    Свойствата на полето '[% field.name FILTER html %]' бяха
    обновени успешно.

  [% ELSIF message_tag == "default_settings_updated" %]
    [% IF changes_saved %]
      Промените по подразбиращите се предпочитания бяха съхранени.
    [% ELSE %]
      Не са направени промени.
    [% END %]

  [% ELSIF message_tag == "emailold_change_canceled" %]
    [% title = "Отхвърлена заявка за смяна на е-пощенски адрес" %]
    Заявката за смяна на електронния пощенски адрес за сметката ви на
    [%+ new_email FILTER html %] беше отхвърлена.

  [% ELSIF message_tag == "email_change_canceled" %]
    [% title = "Отхвърлена заявка за смяна на е-пощенски адрес" %]
    Заявката за смяна на електронния пощенски адрес, за
    потребителя [%+ old_email FILTER html %] на
    [%+ new_email FILTER html %] беше отхвърлена.

  [% ELSIF message_tag == "email_change_canceled_reinstated" %]
    [% title = "Отхвърлена заявка за смяна на е-пощенски адрес" %]
    Заявката за смяна на е-пощенски адрес за
    сметката  [%+ old_email FILTER html %] на
    [%+ new_email FILTER html %] бе отхвърлена.
   Старите ви настройки са възстановени.

  [% ELSIF message_tag == "extension_created" %]
    Разширение именовано [% name FILTER html %] беше създадено
    в [% path FILTER html %]. Обезателно сменете "YOUR NAME" и 
    "YOUR EMAIL ADDRESS" в кода с вашите име и е-пощенски адрес.

  [% ELSIF message_tag == "field_value_created" %]
    [% title = "Създадена нова стойност на поле" %]
    Стойността <em>[% value.name FILTER html %]</em> беше добавена като възможен избор
    за полето <em>[% field.description FILTER html %]</em>
    (<em>[% field.name FILTER html %]</em>).
    [% IF field.name == "bug_status" %]
      Сега трябва да посетите <a href="editworkflow.cgi">страницата състояние на работния поток</a>,
      за да включите новото състояние на [% terms.bug %].
    [% END %]

  [% ELSIF message_tag == "field_value_deleted" %]
    [% title = "Изтрита стойност на поле" %]
    Стойността <em>[% value.name FILTER html %]</em> на полето
    <em>[% field.description FILTER html %]</em>
    (<em>[% field.name FILTER html %]</em>) беше изтрита.

  [% ELSIF message_tag == "field_value_updated" %]
    [% title = "Обновена стойност на поле" %]
    [% IF changes.keys.size %]
      Стойността <em>[% value_old FILTER html %]</em> на полето
      <em>[% field.description FILTER html %]</em>
      (<em>[% field.name FILTER html %]</em>) беше променена:
      <ul>
        [% IF changes.value %]
          <li>Стойността на полето е обновена на 
            <em>[% changes.value.1 FILTER html %]</em>.
            [% IF value.is_default %]
              (Имайте предвид, че тази стойност е подразбираща се за полето. Всички
              обръщения към стойността по подразбиране вече ще сочат към новата стойност.)
            [% END %]
          </li>
        [% END %]
        [% IF changes.sortkey %]
          <li>Ключ за подреждане обновен на 
            <em>[% changes.sortkey.1 FILTER html %]</em>.</li>
        [% END %]
        [% IF changes.visibility_value_id %]
          [% IF value.visibility_value.defined %]
            <li>Ще се появява само когато 
              [%+ value.field.value_field.description FILTER html %] е зададено на
              '[%+ value.visibility_value.name FILTER html %]'.</li>
          [% ELSE %]
            <li>Ще се появява винаги, без значение на какво  
              [%+ value.field.value_field.description FILTER html %] е зададено.
            </li>
          [% END %]
        [% END %]
      </ul>
    [% ELSE %]
      Не са направени промени по стойността на полето <em>[% value_old FILTER html %]</em>.
    [% END %]

  [% ELSIF message_tag == "flag_cleared" %]
    Някои флагове не са приложими в новия продукт/съставна част
    и бяха изчистени.

  [% ELSIF message_tag == "flag_creation_failed" %]
    [% title = "Неуспех при създаване на флаг" %]
    Възникна грешка при потвърждаването на флаговете:
    [%+ flag_creation_error FILTER none %]

  [% ELSIF message_tag == "get_field_desc" %]
    [% field_descs.$field_name FILTER html %]

  [% ELSIF message_tag == "get_resolution" %]
    [% display_value("resolution", resolution) FILTER html %]

  [% ELSIF message_tag == "get_status" %]
    [% display_value("bug_status", status) FILTER html %]

  [% ELSIF message_tag == "group_created" %]
    [% title = "Създадена нов група" %]
    Групата <em>[% group.name FILTER html %]</em> беше създадена.

  [% ELSIF message_tag == "group_deleted" %]
    [% title = "Изтрита група" %]
    Групата <em>[% name FILTER html %]</em> беше изтрита.

  [% ELSIF message_tag == "group_membership_removed" %]
    [% title = "Премахнато членство в група" %]
    [% IF users.size %]
      Явното членство към групата <em>[% group FILTER html %]</em> е премахнато
      [% IF regexp %] за потребиелите съвпадащи с '[% regexp FILTER html %]'[% END %]:
      [% FOREACH user = users %]
        [%+ user.login FILTER html %]
      [% END %]
    [% ELSE %]
      От действието Ви не бяха засегнати потребители.
    [% END %]

  [% ELSIF message_tag == "group_updated" %]
    [% IF changes.keys.size %]
      Следните промени бяха направени по групата '[% group.name FILTER html %]':

      <ul>
      [% FOREACH field = changes.keys.sort %]
        [% SWITCH field %]
          [% CASE 'name' %]
            <li>Името беше сменено на '[% changes.name.1 FILTER html %]'</li>
          [% CASE 'description' %]
            <li>Описанието беше обновено.</li>
          [% CASE 'userregexp' %]
            <li>Регулярния израз беше обновен.</li>
          [% CASE 'isactive' %]
            [% IF changes.isactive.1 %]
              <li>Групата вече ще се използва за [% terms.bugs %].</li>
            [% ELSE %]
              <li>Групата вече няма да се използва за [% terms.bugs %].</li>
            [% END %]
          [% CASE 'icon_url' %]
            <li>Иконата на групата URL has been updated.</li>
          [% CASE 'members_add' %]
            <li>Следните групи вече са членове на групата:
              [%+ changes.members_add.join(', ') FILTER html %]</li>
          [% CASE 'members_remove' %]
            <li>Следните групи вече не са членове на групата:
              [%+ changes.members_remove.join(', ') FILTER html %]</li>
          [% CASE 'member_of_add' %]
            <li>Групата вече е член на следните групи:
              [%+ changes.member_of_add.join(', ') FILTER html %]</li>
          [% CASE 'member_of_remove' %]
            <li>Групата вече не е член на следните групи:
              [%+ changes.member_of_remove.join(', ') FILTER html %]</li>
          [% CASE 'bless_from_add' %]
            <li>Следните групи вече могат да добавят потребители към групата:
              [%+ changes.bless_from_add.join(', ') FILTER html %]</li>
          [% CASE 'bless_from_remove' %]
            <li>Следните групи вече не могат да добавят потребители към групата:
              [%+ changes.bless_from_remove.join(', ') FILTER html %]</li>
          [% CASE 'bless_to_add' %]
            <li>Групата вече може да добавя потребители към следните групи:
              [%+ changes.bless_to_add.join(', ') FILTER html %]</li>
          [% CASE 'bless_to_remove' %]
            <li>Групата вече не може да добавя потребители към следните групи:
              [%+ changes.bless_to_remove.join(', ') FILTER html %]</li>
          [% CASE 'visible_from_add' %]
            <li>Следните групи вече могат да виждат потребители в групата:
              [%+ changes.visible_from_add.join(', ') FILTER html %]</li>
          [% CASE 'visible_from_remove' %]
            <li>Следните групи вече не могат да виждат потребители в групата:
              [%+ changes.visible_from_remove.join(', ') FILTER html %]</li>
          [% CASE 'visible_to_me_add' %]
            <li>Групата вече може да вижда потребители в следните групи:
              [%+ changes.visible_to_me_add.join(', ') FILTER html %]</li>
          [% CASE 'visible_to_me_remove' %]
            <li>Групата вече не може да вижда потребители в следните групи:
              [%+ changes.visible_to_me_remove.join(', ') FILTER html %]</li>
        [% END %]
      [% END %]
      </ul>
    [% ELSE %]
      Не сте поискали никаква промяна за групата '[% group.name FILTER html %]'.

    [% END %]

  [% ELSIF message_tag == "invalid_column_name" %]
    Указания потребителски ред за подреждане съдържа една или повече недействителни
    имена на колони: <em>[% invalid_fragments.join(', ') FILTER html %]</em>.
    Те бяха премахнати от списъка за сортиране.

  [% ELSIF message_tag == "job_queue_depth" %]
    [% count FILTER html %] задания в опашката.

  [% ELSIF message_tag == "keyword_created" %]
    [% title = "Създадена нова ключова дума" %]
    Ключовата дума <em>[% name FILTER html %]</em> беше създадена.

  [% ELSIF message_tag == "keyword_deleted" %]
    [% title = "Изтрита ключова дума" %]
    Ключовата дума <em>[% keyword.name FILTER html %]</em> беше изтрита.
    <b>След като приключите редактирането на ключови думи, трябва да
    <a href="sanitycheck.cgi?rebuildkeywordcache=1">изградите отново наличността
    с ключови думи</a></b> (на много голяма инсталация на [% terms.Bugzilla %],
    това може да отнеме няколко минути).

  [% ELSIF message_tag == "keyword_updated" %]
    [% title = "Обновена ключова дума" %]
    [% IF changes.keys.size %]
      Промените по ключовата дума <em>[% keyword.name FILTER html %]</em> бяха
      съхранени:
      <ul>
        [% IF changes.name.defined %]
          <li>
            Ключовата дума преименувана на <em>[% keyword.name FILTER html %]</em>.
            <b>След като приключите редактирането на ключови думи, трябва да
            <a href="sanitycheck.cgi?rebuildkeywordcache=1">изградите
            отново наличността с ключови думи</a></b> (на много голяма инсталация
            на [% terms.Bugzilla %], това може да отнеме няколко минути).
          </li>
        [% END %]
        [% IF changes.description.defined %]
          <li>Описанието е обновено на <em>[% keyword.description FILTER html %]</em></li>
        [% END %]
      </ul>
    [% ELSE %]
      Не са направени промени.
    [% END %]

  [% ELSIF message_tag == "logged_out" %]
    [% title = "Излязъл" %]
    [% url = "index.cgi?GoAheadAndLogIn=1" %]
    [% link = "Влизане отново." %]
    <b>Входните ви данни са забравени</b>.
    Бисквитката съхраняваща данните ви е изтрита. Ще бъдете
    подтикнати към вход следващия път когато е необходим.

  [% ELSIF message_tag == "login_changed" %]
    [% title = "Промяна на $terms.Bugzilla сметка" %]
    Вашия [% terms.Bugzilla %] потребител беше променен.

  [% ELSIF message_tag == "migrate_component_created" %]
    Създадена съставна част: [% comp.name FILTER html %]
    (in [% product.name FILTER html %])

  [% ELSIF message_tag == "migrate_creating_bugs" %]
    Създаване на [% terms.bugs %]...

  [% ELSIF message_tag == "migrate_field_created" %]
    Нов потребителско поле: [% field.description FILTER html %]
    ([% field.name FILTER html %])

  [% ELSIF message_tag == "migrate_product_created" %]
    Създаден продукт: [% created.name FILTER html %]

  [% ELSIF message_tag == "migrate_reading_bugs" %]
    Четене на [% terms.bugs %]...

  [% ELSIF message_tag == "migrate_reading_products" %]
    Четене на продукти...

  [% ELSIF message_tag == "migrate_reading_users" %]
    Четене на потребители...

  [% ELSIF message_tag == "migrate_translating_bugs" %]
    Превръщане на стойности на [% terms.bug %] за да бъдат подходящи за 
    [%+ terms.Bugzilla %]...

  [% ELSIF message_tag == "migrate_user_created" %]
    Създаден потребител: [% created.email FILTER html %]
    [% IF password %] Парола: [% password FILTER html %][% END %]

  [% ELSIF message_tag == "migrate_value_created" %]
    [% IF product.defined %]
      [% product.name FILTER html %]
    [% END %]
    Създадена стойност на [%+ field_descs.${field.name} FILTER html %]
    : [% value FILTER html %]

  [% ELSIF message_tag == "milestone_created" %]
    [% title = "Създадено важно събитие" %]
    Важното събитие <em>[% milestone.name FILTER html %]</em> беше създадено.

  [% ELSIF message_tag == "milestone_deleted" %]
    [% title = "Изтрито важно събитие" %]
    Важното събитие <em>[% milestone.name FILTER html %]</em> беше изтрито.
    [% IF milestone.bug_count %]
      [%+ terms.Bugs %] целящи важното събитие бяха насочени към
      подразбиращото се събитие <em>[% product.default_milestone FILTER html %]</em>.
    [% END %]

  [% ELSIF message_tag == "milestone_updated" %]
    [% title = "Обновено важно събитие" %]
    [% IF changes.size %]
      Промените по важното събитие <em>[% milestone.name FILTER html %]</em>
      бяха съхранени:
      <ul>
        [% IF changes.value.defined %]
          <li>Името на важното събитие е обновено на <em>[% milestone.name FILTER html %]</em></li>
        [% END %]
        [% IF changes.sortkey.defined %]
          <li>Ключа за подреждане е обновен на <em>[% milestone.sortkey FILTER html %]</em>
        [% END %]
      </ul>
    [% ELSE %]
      Не са направени промени по важното събитие <em>[% milestone.name FILTER html %]</em>.
    [% END %]

  [% ELSIF message_tag == "parameters_updated" %]
    [% title = "Обновени параметри" %]
    [% IF param_changed.size > 0 %]
      [% FOREACH param = param_changed %]
        <em>[% param FILTER html %]</em> променен<br>
        [% IF param == 'utf8' && Param('utf8') %]
          <strong>Трябва да пуснете отново checksetup.pl.</strong><br>
        [% END %]
      [% END %]
    [% ELSE %]
      Не са направени промени.
    [% END %]

    [% IF shutdown_is_active == 1 %]
      <hr>
      [% terms.Bugzilla %] е изключена. За да направите системата,
      изчистете полето <em>shutdownhtml</em>.
    [% END%]

  [% ELSIF message_tag == "password_change_canceled" %]
    [% title = "Отхвърлена заявка за смяна на парола" %]
    Заявката ви беше отхвърлена.

  [% ELSIF message_tag == "password_change_request" %]
    [% title = "Заявка за смяна на парола" %]
    Признак за смяна на вашата парола, ви беше изпратен по електронна поща.
    Следвайте инструкциите в съобщението, за да я смените.

  [% ELSIF message_tag == "password_changed" %]
    [% title = "Промяна на парола" %]
    Парола ви беше сменена.

  [% ELSIF message_tag == "flag_type_created" %]
    [% title = BLOCK %]Тип флаг '[% name FILTER html %]' създаден[% END %]
    Типа флаг <em>[% name FILTER html %]</em> беше създаден.

  [% ELSIF message_tag == "flag_type_changes_saved" %]
    [% title = BLOCK %]Промените по тип флаг '[% name FILTER html %]' съхранени[% END %]
    Промените ви по типа флаг <em>[% name FILTER html %]</em>
    бяха запазени.

  [% ELSIF message_tag == "flag_type_deleted" %]
    [% title = BLOCK %]Тип флаг '[% name FILTER html %]' изтрит[% END %]
    Типа флаг <em>[% name FILTER html %]</em> беше изтрит.

  [% ELSIF message_tag == "flag_type_deactivated" %]
    [% title = BLOCK %]Тип флаг '[% flag_type.name FILTER html %]' изваден от употреба[% END %]
    Типа флаг <em>[% flag_type.name FILTER html %]</em> беше изваден от употреба.

  [% ELSIF message_tag == "install_admin_get_email" %]
    Въведете е-пощенския адрес на администратора:

  [% ELSIF message_tag == "install_admin_get_name" %]
    Въведете истинското име на администратора:

  [% ELSIF message_tag == "install_admin_get_password" %]
    Въведете парола за администраторската сметка:

  [% ELSIF message_tag == "install_admin_created" %]
    [% user.login FILTER html %] е вече зададен като администратор.

  [% ELSIF message_tag == "install_admin_setup" %]
    Изглежда нямаме зададен администратор все още.
    Или това е първият път, в който използвате [% terms.Bugzilla %] или
    администраторските ви права може да са били изтрити случайно.

  [% ELSIF message_tag == "install_column_add" %]
    Добавяне на нова колона '[% column FILTER html %]' към таблицата '[% table FILTER html %]'...

  [% ELSIF message_tag == "install_column_drop" %]
    Изтриване на колоната '[% column FILTER html %]' от таблицата '[% table FILTER html %]'...

  [% ELSIF message_tag == "install_column_rename" %]
    Преименуване на колоната '[% old FILTER html %]' в '[% new FILTER html %]'...

  [% ELSIF message_tag == "install_confirm_password" %]
    Моля, въведете отново паролата за проверка:

  [% ELSIF message_tag == "install_default_classification" %]
    Създаване на подразбираща се класификация '[% name FILTER html %]'...

  [% ELSIF message_tag == "install_default_product" %]
    Създаване на първоначален фиктивен продукт '[% name FILTER html %]'...

  [% ELSIF message_tag == "install_file_perms_fix" %]
    Оправяне на файлови права...

  [% ELSIF message_tag == "install_fk_add" %]
    Добавяне на външен ключ: [% table FILTER html %].[% column FILTER html %] -&gt; [% fk.TABLE FILTER html %].[% fk.COLUMN FILTER html %]...

  [% ELSIF message_tag == "install_fk_drop" %]
    Премахване на външен ключ: [% table FILTER html %].[% column FILTER html %] -&gt; [% fk.TABLE FILTER html %].[% fk.COLUMN FILTER html %]...

  [% ELSIF message_tag == "install_fk_invalid" %]
    ГРЕШКА: Има неправилни стойности за колоната [% column FILTER html %] в таблицата [% table FILTER html %]
    . (Те не съществуват в таблицата [% foreign_table FILTER html %], в колоната 
    [% foreign_column FILTER html %].)

    Преди да продължите с checksetup, ще трябва да оправите тези стойности,
    или чрез изтриването на редовете от базата данни, или чрез смяна на стойностите
    на [% column FILTER html %] в [% table FILTER html %] така че да сочат към правилни стойности в [% foreign_table FILTER html %].[% foreign_column FILTER html %].

    Лошите стойности от колоната [% table FILTER html %].[% column FILTER html %] са:
    [%+ values.join(', ') FILTER html %]

  [% ELSIF message_tag == "install_fk_invalid_fixed" %]
    ВНИМАНИЕ: Имаше неправилни стойности в [% table FILTER html %].[% column FILTER html %]
    които бяха [% IF action == 'delete' %]изтрити[% ELSE %]зададени на NULL[% END %]:
    [%+ values.join(', ') FILTER html %]

  [% ELSIF message_tag == "install_group_create" %]
    Създаване на група [% name FILTER html %]...

  [% ELSIF message_tag == "install_setting_new" %]
    Добавяне на нова потребителска настройка с име '[% name FILTER html %]'

  [% ELSIF message_tag == "install_table_drop" %]
    Премахване на таблицата '[% name FILTER html %]'...

  [% ELSIF message_tag == "install_table_rename" %]
    Преименуване на таблицата '[% old FILTER html %]' на '[% new FILTER html %]'...

  [% ELSIF message_tag == "install_urlbase_default" %]
    Сега след като сте инсталирали [% terms.Bugzilla %], трябва да посетите
    страницата 'Параметри' (връзка за която има в дъното на страниците на администраторската
    сметка), за да се уверите, че е настроена както желаете - това включва
    задаване на правилен адрес за 'urlbase'.

  [% ELSIF message_tag == "install_reset_password" %]
    Въведете нова парола за [% user.login FILTER html %]:

  [% ELSIF message_tag == "install_reset_password_done" %]
    Зададена е нова парола.

  [% ELSIF message_tag == "install_webservergroup_empty" %]
    ****************************************************************************
    ВНИМАНИЕ! Не сте задали стойност на параметъра "webservergroup" във
    файла localconfig. Това означава, че определени файлове и папкаи, за които е нужно
    да са редактируеми както от вас така и от web сървъра трябва да са редактируеми от всички, а
    други файлове (включително файла localconfig съхраняващ паролата ви за
    базата с данни) трябва да е четим от всички. Това означава, че _всеки_ сдобил се
    с местен достъп до тази машина може да прави каквото си поиска с вашата
    [%+ terms.Bugzilla %] инсталация и вероятно също ще има възможност да пусне 
    произволен Perl код като потребителя, с който се изпълнява web сървъра.

    Наистина, наистина, наистина трябва да промените тази настройка.
    ****************************************************************************

  [% ELSIF message_tag == "install_webservergroup_not_in" %]
    Внимание: въвели сте стойност за параметъра "webservergroup" във файла
    localconfig, но не сте a) пуснали този скрипт като [% constants.ROOT_USER FILTER html %]; 
    или b) член на тази група. Това може да предизвика проблеми с правата и
    намалена сигурност.  Ако изпитвате затруднения с пускането на [% terms.Bugzilla %]
    скриптове, влезте като [% constants.ROOT_USER FILTER html %] и пуснете отново скрипта, станете 
    член на групата или премахнете стойността на "webservergroup" параметъра.

  [% ELSIF message_tag == "install_webservergroup_windows" %]
    Внимание: Задали сте webservergroup в [% constants.bz_locations.localconfig FILTER html %]
    Моля, разберете, че това не ви носи никаква сигурност когато
    работите под Windows.
    Проверете дали правата над файловете в [% terms.Bugzilla %] папката ви са
    подходящи за вашата система. Избягвайте ненужен достъп за писане.

  [% ELSIF message_tag == "product_created" %]
    [% title = "Създаден продукт" %]
    Продукта <em>[% product.name FILTER html %]</em> беше създаден. Ще трябва да
    <a href="editcomponents.cgi?action=add&product=[% product.name FILTER url_quote %]">
    добавите поне една съставна част</a> преди някой да може да въвежда [% terms.bugs %] за него.

  [% ELSIF message_tag == "product_deleted" %]
    [% title = "Изтрит продукт" %]
    Продукта <em>[% product.name FILTER html %]</em> и всичките му версии,
    съставни части, важни събития и групови контроли бяха изтрити.
    [% IF product.bug_count %]
      Всички [% terms.bugs %] за продукта и всички обръщения
      към тях също бяха изтрити.
    [% END %]

  [% ELSIF message_tag == "product_invalid" %]
    [% title = "Описания на съставни части в $terms.Bugzilla" %]
    Продукта <em>[% product FILTER html %]</em> не съществува
    или вие нямате достъп до него. Следва списък с продукти
    от които можете да изберете.

  [% ELSIF message_tag == "remaining_time_zeroed" %]
    Полето [% field_descs.remaining_time FILTER html %] беше
    зададено на нула автоматично като част от затварянето на този [% terms.bug %]
    или преместването му от едно затворено състояние в друго.

  [% ELSIF message_tag == "sanitycheck" %]
    [%# We use this way to call sanitycheck-specific messages so that
      # we can still use get_text(). %]
    [% PROCESS "admin/sanitycheck/messages.html.tmpl" %]

  [% ELSIF message_tag == "series_all_open" %]
    Всички отворени

  [% ELSIF message_tag == "series_all_closed" %]
    Всички затворени

  [% ELSIF message_tag == "series_subcategory" %]
    -Всички-

  [% ELSIF message_tag == "sudo_started" %]
    [% title = "Започната е сесия като друг потребител" %]
      Сесията като друг потребител е започната.  За следващите 6 часа или докато не
      прекратите сесията, всичко което правите го правите като човека за
      когото се представяте ([% target FILTER html %]).
  
  [% ELSIF message_tag == "sudo_ended" %]
    [% title = "Сесията като друг потребител завърши" %]
      Сесията като друг потребител приключи.  От тук нататък всичко което
      правите го правите от свое име.

  [% ELSIF message_tag == "series_created" %]
    [% title = "Редицата създадена" %]
      Редицата <em>[% series.category FILTER html %] /
      [%+ series.subcategory FILTER html %] / 
      [%+ series.name FILTER html %]</em>
      беше създадена. Имайте предвид, че може да се наложи да изчакате до
      [%+ series.frequency * 2 %] дни преди да има достатъчно данни за
      произвеждането на графика от тази редица.

  [% ELSIF message_tag == "series_deleted" %]
    [% title = "Изтрита редица" %]
    Редицата <em>[% series.category FILTER html %] /
      [%+ series.subcategory FILTER html %] /
      [%+ series.name FILTER html %]</em>
      беше изтрита.

  [% ELSIF message_tag == "shutdown" %]
    [% title = "$terms.Bugzilla е спряна" %]
    [% Param("shutdownhtml") %]
    [% IF userid %]
      <p>Поради съображения за сигурност, бяхте изхвърлен автоматично.
      Бисквитката съхраняваща данните ви за вход е изгубена.
    [% END %]

  [% ELSIF message_tag == "term" %]
    [% terms.$term FILTER html %]

  [% ELSIF message_tag == "unexpected_flag_types" %]
    Някои флагове не могат да бъдат зададени. Моля, проверете промените си.

  [% ELSIF message_tag == "user_match_failed" %]
    Въведохте потребителско име, което не съвпадна с никой познат 
    на [% terms.Bugzilla %] потребител, затова нарочно оставихме
    полето [% match_field FILTER html %] празно.

  [% ELSIF message_tag == "user_match_multiple" %]
    Въведохте потребителско име което съвпадна с повече от един
    потребител, затова нарочно оставихме полето [% match_field FILTER html %]
    празно.

  [% ELSIF message_tag == "version_created" %]
    [% title = "Създадена версия" %]
    Версията <em>[% version.name FILTER html %]</em> на продукта
    <em>[% product.name FILTER html %]</em> беше създадена.

  [% ELSIF message_tag == "version_deleted" %]
    [% title = "Изтрита версия" %]
    Версията <em>[% version.name FILTER html %]</em> на продукта
    <em>[% product.name FILTER html %]</em> беше изтрита.

  [% ELSIF message_tag == "version_updated" %]
    [% title = "Обновена версия" %]
    [% IF changes.size %]
      [% IF changes.value.defined %]
        Версията беше преименувана на <em>[% version.name FILTER html %]</em>.
      [% END %]
    [% ELSE %]
      Не бяха направени промени по версия <em>[% version.name FILTER html %]</em>.
    [% END %]

  [% ELSIF message_tag == "workflow_updated" %]
    Работния поток беше обновен.
  [% END %]
[% END %]

[% IF !message %]
  [% message = Hook.process('messages') %]
[% END %]

[%# Give sensible error if the message function is used incorrectly. #%]
[% IF !message %]
  [% message = BLOCK %]
    Използвате функцияиите за съобщения на [% terms.Bugzilla %] неправилно.
    Подадохте низа '[% message_tag %]'. Правилното използване е чрез подаване на
    таг и описването му във файла messages.html.tmpl.<br>
    <br>
    Ако сте краен потребител на [% terms.Bugzilla %] виждащ това съобщение, моля
    съхранете тази страница и я изпратете на [% Param('maintainer') %].
  [% END %]
[% END %]
