[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Everything Solved, Inc.
  # Portions created by the Initial Developer are Copyright (C) 2010
  # the Initial Developer. All Rights Reserved.
  #
  # Contributor(s): 
  #   Max Kanat-Alexander <mkanat@bugzilla.org>
  #%]

[% SET reason_descs = {
  ${constants.REL_ASSIGNEE} => "Вие сте назначен по ${terms.abug}.",
  ${constants.REL_REPORTER} => "Вие сте докладвали ${terms.abug}.",
  ${constants.REL_QA}       => "Вие сте Кач. контрол за ${terms.abug}.",
  ${constants.REL_CC}       => "Вие сте в <abbr title=\"Точно Копие\">ТК</abbr> списъка на ${terms.abug}.",
  ${constants.REL_GLOBAL_WATCHER} => "Вие наблюдавате всички промени по ${terms.abug}.",
} %]

[% SET watch_reason_descs => {
  ${constants.REL_ASSIGNEE} =>
    "Наблюдавате назначения по ${terms.abug}.",
  ${constants.REL_REPORTER} =>
    "Наблюдавате докладчика на ${terms.abug}.",
  ${constants.REL_QA}       =>
    "Наблюдавате Кач. контрол за ${terms.abug}.",
  ${constants.REL_CC}       =>
    "Наблюдавате някой от <abbr title=\"Точно Копие\">ТК</abbr> списъка на ${terms.abug}.",
} %]

[% Hook.process('end') %]
