[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% SET reason_descs = {
  ${constants.REL_ASSIGNEE} => "Вие сте назначен по ${terms.abug}.",
  ${constants.REL_REPORTER} => "Вие сте докладвали ${terms.abug}.",
  ${constants.REL_QA}       => "Вие сте Кач. контрол за ${terms.abug}.",
  ${constants.REL_CC}       => "Вие сте в <abbr title=\"Точно Копие\">ТК</abbr> списъка на ${terms.abug}.",
  ${constants.REL_GLOBAL_WATCHER} => "Вие наблюдавате всички промени по ${terms.abug}.",
} %]

[% SET watch_reason_descs => {
  ${constants.REL_ASSIGNEE} =>
    "Наблюдавате назначения по ${terms.abug}.",
  ${constants.REL_REPORTER} =>
    "Наблюдавате докладчика на ${terms.abug}.",
  ${constants.REL_QA}       =>
    "Наблюдавате Кач. контрол за ${terms.abug}.",
  ${constants.REL_CC}       =>
    "Наблюдавате някой от <abbr title=\"Точно Копие\">ТК</abbr> списъка на ${terms.abug}.",
} %]

[% Hook.process('end') %]
