[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# Remember to PROCESS rather than INCLUDE this template. %]

[% setting_descs = { 
   "comment_sort_order"               => "При разглеждане на $terms.bug, коментарите да се показват в този ред",
   "csv_colsepchar"                   => "Разделител на полета за CSV файлове",
   "display_quips"                    => "Показвай остроумия над всеки $terms.bug списък",
   "zoom_textareas"                   => "Увеличаване на полета с текст, когато се използват (изисква JavaScript)",
   "newest_to_oldest"                 => "По-нов към по-стар",
   "newest_to_oldest_desc_first"      => "По-нов към по-стар, със задържане на описанието най-горе",
   "off"                              => "Изключен",
   "oldest_to_newest"                 => "По-стар към по-нов",
   "on"                               => "Включен",
   "post_bug_submit_action"           => "След промяна на $terms.abug",
   "next_bug"                         => "Показване на следващия $terms.bug в списъка ми",
   "same_bug"                         => "Показване на обновения $terms.bug",
   "standard"                         => "Класически",
   "skin"                             => "Общ изглед на $terms.Bugzilla (кожа)",
   "nothing"                          => "Не се прави нищо",
   "state_addselfcc"                  => "Автоматично добавяне в TK списъка при промяна на $terms.bug",
   "always"                           => "Винаги",
   "never"                            => "Никога",
   "cc_unless_role"                   => "Само ако имам роля по тях",
   "lang"                             => "Език използван в електронната поща",
   "quote_replies"                    => "Цитиране на свързания коментар при щракване върху връзката за отговор",
   "quoted_reply"                     => "Цитиране на целия коментар",
   "simple_reply"                     => "Само обръщение към номера на коментара",
   "comment_box_position"             => "Местоположение на кутията за Допълнителни коментари",
   "before_comments"                  => "Преди други бележки",
   "after_comments"                   => "След други бележки",
   "timezone"                         => "Часова зона използвана при показване на дати и часове",
   "local"                            => "Също като сървъра",
   "quicksearch_fulltext"             => "Търсене в коментарите при изпълнението на бързи търсения (бавно)",
   "email_format"                     => "Предпочитан формат за е-поща",
   "html"                             => "HTML",
   "text_only"                        => "Само текст",
   "requestee_cc"                     => "Автоматично добавяне към ТК списъка на $terms.bugs които съм помолен да прегледам",
   "bugmail_new_prefix"               => "Добавяне на 'Нов:' към темата на писма изпращани когато е въведен нов ${terms.bug}",
                   } 
%]

[% Hook.process('settings') %]
