[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  #                 Max Kanat-Alexander <mkanat@bugzilla.org>
  #%]

[%# INTERFACE:
  # header_done: boolean. True if the Bugzilla header has already been printed.
  # error: string. The tag of the error, or the error message to be displayed
  # (deprecated). May contain HTML if it's an error message.
  #%]

[%# This is a list of all the possible user errors. Please keep them in
  # alphabetical order by error tag, and leave a blank line between errors.
  #
  # Note that you must explicitly filter every single template variable
  # in this file; if you do not wish to change it, use the "none" filter.
  #
  # Extension- or custom-specific error handling  can be easily added 
  # via hooks: just place additional code into
  # template/en/hook/global/user-error-errors.html.tmpl
  # Note: be aware of uniqueness of error string parameter value, since
  # nobody can guarantee the hook files processing order in the future.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% PROCESS "global/field-descs.none.tmpl" %]

[% DEFAULT title = "Грешка" %]

[% error_message = BLOCK %]
  [% IF    error == "account_creation_disabled" %]
    [% title = "Създаването на сметки е изключено" %]
    Създаването на сметки беше изключено.
    <hr>
    Нови сметки трябва да бъдат създавани от администратор.
    Управителя е [% Param("maintainer") %].

  [% ELSIF error == "account_creation_restricted" %]
    [% title = "Създаването на сметки е ограничено" %]
    Създаването на сметки беше ограничено.
    <hr>
    Свържете се с администратора си или управителя
    ([% Param("maintainer") %]) за информация относно
    създаването на сметка.

  [% ELSIF error == "account_disabled" %]
    [% title = "Изключена сметка" %]
    [% disabled_reason FILTER none %]
    <hr>
    Ако вярвате, че сметката ви трябва да бъде възстановена, моля
    изпратете поща до [% Param("maintainer") %], обяснявайки защо.

  [% ELSIF error == "account_exists" %]
    [% title = "Сметката вече съществува" %]
    Вече има сметка с
    [% IF email %]
      потребителското име [% email FILTER html %].
    [% ELSE %]
      това потребителско име.
    [% END %]

  [% ELSIF error == "account_locked" %]
    [% title = "Заключена сметка" %]
    Вашия адрес ([% ip_addr FILTER html %]) беше заключен за тази
    сметка до [% unlock_at FILTER time %], тъй като
    превишихте максималния брой опити за вход.

  [% ELSIF error == "alias_has_comma_or_space" %]
    [% title = "Неправилни символи в псевдоним" %]
    Псевдонима, който сте въвели, <em>[% alias FILTER html %]</em>,
    съдържа една или повече запетайки или интервали. Псевдонимите не могат да
    съдържат запетайки или интервали, защото тези символи се използват за
    разделяне на псевдоними един от друг в списъци.  Моля изберете друг
    псевдоним, който не съдържа запетайки или интервали.

  [% ELSIF error == "alias_in_use" %]
    [% title = "Псевдонима се използва" %]
    [% terms.Bug %] [%+ bug_id FILTER bug_link(bug_id) FILTER none %]
    вече е взел псевдонима <em>[% alias FILTER html %]</em>.
    Моля, изберете друг.

  [% ELSIF error == "alias_is_numeric" %]
    [% title = "Псевдонима е цифров" %]
    Опитахте се да зададете псевдонима <em>[% alias FILTER html %]</em> на
    този [% terms.bug %], но псевдонимите не могат да бъдат само числа,
    тъй като така могат да бъдат объркани с номер на [% terms.bug %].
    Моля, изберете друг псевдоним съдържащ поне една буква.

  [% ELSIF error == "alias_too_long" %]
    [% title = "Псевдонима е твърде дълъг" %]
    Псевдонимите на [% terms.bug %] не могат да бъдат по-дълги от 20 символа.
    Моля, изберете по-къс псевдоним.

  [% ELSIF error == "attachment_bug_id_mismatch" %]
    [% title = "Недействителни приставки" %]
    Опитахте се да изършите действие върху приставки от различни [% terms.bugs %].
    Действието изисква всички приставки да са от един и същи [% terms.bug %].

  [% ELSIF error == "auth_cant_create_account" %]
    [% title = "Създаването на сметки невъзможно" %]
    Този сайт използва схема на удостоверяване, която не разрешава създаването
    на сметки. Моля, свържете се с администратор, за да Ви бъде създадена нова
    сметка.

  [% ELSIF error == "auth_failure" %]
    [% title = "Необходимо е удостоверяване" %]
    [% admindocslinks = {'groups.html' => 'Групова сигурност'} %]
    Съжалявам,
    [% IF group %]
      не сте член на групата '[% group FILTER html %]',
    [% END %]

    [% IF reason %]
      [% IF group %] и [% END %]
      [% IF reason == "cant_bless" %]
        нямате права да добавяте или премахвате хора от група,
      [% ELSIF reason == "not_visible" %]
        има ограничения над видимостта върху определени потребителски групи,
      [% END %]
    [% END %]

    [% IF group || reason %], така че [% END %] не сте упълномощен да
    [% IF action == "access" %]
      достъпвате
    [% ELSIF action == "add" %]
      добавяте нов
    [% ELSIF action == "begin" %]
      започвате
    [% ELSIF action == "modify" %]
      изменяте
    [% ELSIF action == "delete" %]
      изтривате
    [% ELSIF action == "edit" %]
      добавяте, изменяте или изтривате
    [% ELSIF action == "run" %]
      пускате
    [% ELSIF action == "schedule" %]
      насрочвате
    [% ELSIF action == "search" %]
      търсите
    [% ELSIF action == "use" %]
      използвате
    [% ELSIF action == "approve" %]
      одобрявате
    [% ELSE %]
      [%+ Hook.process('auth_failure_action') %]
    [% END %]

    [% IF object == "administrative_pages" %]
      административни страници
    [% ELSIF object == "attachment" %]
      [% IF attach_id %]
        приставка №[% attach_id FILTER html %]
      [% ELSE %]
        тази приставка
      [% END %]
    [% ELSIF object == "bugs" %]
      [%+ terms.bugs %]
    [% ELSIF object == "bug_fields" %]
      полето [% field_descs.$field FILTER html %]
    [% ELSIF object == "charts" %]
      възможността "Нови графики"
    [% ELSIF object == "classifications" %]
      класификации
    [% ELSIF object == "components" %]
      съставни части
    [% ELSIF object == "custom_fields" %]
      потребителски полета
    [% ELSIF object == "field_values" %]
      стойности на полета
    [% ELSIF object == "flagtypes" %]
      типове флагове
    [% ELSIF object == "group_access" %]
      групов достъп
    [% ELSIF object == "groups" %]
      групи
    [% ELSIF object == "keywords" %]
      ключови думи
    [% ELSIF object == "milestones" %]
      важни събития
    [% ELSIF object == "multiple_bugs" %]
      няколко [% terms.abug %] едновременно
    [% ELSIF object == "parameters" %]
      параметри
    [% ELSIF object == "products" %]
      продукти
    [% ELSIF object == "quips" %]
      остроумия
    [% ELSIF object == "reports" %]
      whine доклади
    [% ELSIF object == "sanity_check" %]
      санитарна проверка
    [% ELSIF object == "settings" %]
      настройки
    [% ELSIF object == "sudo_session" %]
      сесия като друг потребител
    [% ELSIF object == "timetracking_summaries" %]
      обобщени доклади за следене на времетраенето
    [% ELSIF object == "user" %]  
      потребителя [% IF userid %] с идентификатор '[% userid FILTER html %]'
      [% ELSE %]указан от вас [% END %]
    [% ELSIF object == "users" %]
      потребители
    [% ELSIF object == "versions" %]
      версии
    [% ELSIF object == "workflow" %]
      работния поток
    [% ELSE %]
      [%+ Hook.process('auth_failure_object') %]
    [% END %].

    [% Hook.process("auth_failure") %]

  [% ELSIF error == "attachment_deletion_disabled" %]
    [% title = "Изтриването на приставки е забранено" %]
    Изтриването на приставки е забранено на тази инсталация.

  [% ELSIF error == "attachment_removed" %]
    [% title = "Приставката е премахната" %]
    Приставката, която се опитвате да достъпите беше премахната.

  [% ELSIF error == "bug_access_denied" %]
    [% title = "Достъпът отказан" %]
    [% admindocslinks = {'groups.html' => 'Групова сигурност'} %]
    Не ви е позволен достъп до [% terms.bug %] №[% bug_id FILTER html %].

  [% ELSIF error == "bug_access_query" %]
    [% title = "Достъпът отказан" %]
    [% docslinks = {'myaccount.html' => 'Създаване на сметка'} %]
    Не ви е позволен достъп до [% terms.bug %] №[% bug_id FILTER html %].
    За да видите този [% terms.bug %] първо
    трябва <a href="show_bug.cgi?id=
                   [% bug_id FILTER uri %]&amp;GoAheadAndLogIn=1">влезете
    в сметка</a> с подходящите разрешения.

  [% ELSIF error == "bug_url_invalid" %]
    [% title = "Недействителен $terms.Bug URL" %]
    <code>[% url FILTER html %]</code> не е действителен URL към [% terms.bug %].
    [% IF reason == 'http' %]
      <abbr lang="en" title="Uniform Resource Locator">URL</abbr>-тата трябва да започват с "http" или "https".
    [% ELSIF reason == 'path_only' %]
      Трябва да укажете пълен <abbr lang="en" title="Uniform Resource Locator">URL</abbr>.
    [% ELSIF reason == 'show_bug' %]
      [%+ field_descs.see_also FILTER html %] <abbr lang="en" title="Uniform Resource Locator">URL</abbr>-тата трябва да сочат към някое от:
      <ul>
        <li><code>show_bug.cgi</code> в [% terms.Bugzilla %]
          инсталация.</li>
        <li>Б[% %]ъг в launchpad.net</li>
        <li>Б[% %]ъг в code.google.com.</li>
        <li>Б[% %]ъг в b[% %]ugs.debian.org.</li>
        <li>Издание в JIRA инсталация.</li>
        <li>Билет в Trac инсталация.</li>
        <li>Б[% %]ъг в MantisBT инсталация.</li>
        <li>Б[% %]ъг в sourceforge.net.</li>
      </ul>
    [% ELSIF reason == 'id' %]
      Няма действителен идентификатор на [% terms.bug %] в този <abbr lang="en" title="Uniform Resource Locator">URL</abbr>.
    [% END %]

  [% ELSIF error == "bug_url_too_long" %]
    [% title = "Недействителен $terms.Bug URL" %]
    [% terms.Bug %] <abbr lang="en" title="Uniform Resource Locator">URL</abbr>-тата не могат да са по-дълги от 
    [%+ constants.MAX_BUG_URL_LENGTH FILTER none %] символа.
    <code>[% url FILTER html %]</code> е твърде дълъг.

  [% ELSIF error == "buglist_parameters_required" %]
    [% title = "Необходими са параметри" %]
    [% docslinks = {'query.html' => "Търсене за $terms.bugs",
                    'query.html#list' => "$terms.Bug списъци"} %]
    Не можете да търсите или да създавате съхранени търсения без никакви термини за търсене.

  [% ELSIF error == "cc_remove_denied" %]
    [% title = "Отказана промяна" %]
    Нямата права за премахване на други хора от <abbr title="Точно Копие">ТК</abbr> списъка.

  [% ELSIF error == "chart_too_large" %]
    [% title = "Графиката твърде голяма" %]
    Съжалявам, но 2000 x 2000 пиксела е максималният размер за графика.

  [% ELSIF error == "comment_id_invalid" %]
    [% id FILTER html %] не е действителен идентификатор на коментар.

  [% ELSIF error == "comment_invalid_isprivate" %]
    Опитахте се да промените поверителността на коментар с идентификатор [% id FILTER html %],
    но това не е действителен коментар на този [% terms.bug %].

  [% ELSIF error == "comment_is_private" %]
    Коментар [% id FILTER html %] е частен.

  [% ELSIF error == "comment_required" %]
    [% title = "Необходим е коментар" %]
    Трябва да посочите
    [% IF old && new %]
      <b>коментар</b> при смяната на състоянието на [% terms.abug %] от
      [%+ old.name FILTER html %] на [% new.name FILTER html %].
    [% ELSIF new %]
      описание за този [% terms.bug %].
    [% ELSE %]
      <b>коментар</b> за тази промяна.
    [% END %]

  [% ELSIF error == "comment_too_long" %]
    [% title = "Коментарът твърде дълъг" %]
    Коментарите не могат да бъдат по-дълги от 
    [%+ constants.MAX_COMMENT_LENGTH FILTER html %] символа.

  [% ELSIF error == "auth_classification_not_enabled" %]
    [% title = "Класификацията не е позволена" %]
    Съжалявам, класификацията не е позволена.

  [% ELSIF error == "classification_name_too_long" %]
    [% title = "Име на класификация твърде дълго" %]
    Името на класификация е ограничено до [% constants.MAX_CLASSIFICATION_SIZE FILTER html %]
    символа. '[% name FILTER html %]' е твърде дълго ([% name.length %] символа).

[% ELSIF error == "classification_not_specified" %]
    [% title = "Трябва да предоставите име на класификацията" %]
    Трябва да въведете име на класификация.

  [% ELSIF error == "classification_already_exists" %]
    [% title = "Класификацията вече съществува" %]
    Класификация с име '[% name FILTER html %]' вече съществува.

  [% ELSIF error == "classification_invalid_sortkey" %]
    [% title = "Недействителен ключ за подреждане за класификация" %]
    Ключа за подреждане '[% sortkey FILTER html %]' е недействителен. Трябва да е цяло
    число между 0 и [% constants.MAX_SMALLINT FILTER html %].

  [% ELSIF error == "classification_not_deletable" %]
    [% title = "Подразбиращата се класификация не може да бъде изтрита" %]
    Не можете да изтриете подразбиращата се класификация

  [% ELSIF error == "classification_has_products" %]
     Съжалявам, има продукти за тази класификация. Трябва
     да преназначите тези продукти на друга класификация преди
     да можете да изтриете тази.

  [% ELSIF error == "component_already_exists" %]
    [% title = "Съставната част вече съществува" %]
    Продукта <em>[% product.name FILTER html %]</em> вече има
    съставна част с име <em>[% name FILTER html %]</em>.

  [% ELSIF error == "component_blank_description" %]
    [% title = "Не е разрешено празно описание на съставна част" %]
    Трябва да въведете някакво описание за съставната част.

  [% ELSIF error == "component_blank_name" %]
    [% title = "Не е позволено празно име на съставна част" %]
    Трябва да въведете име за новата съставна част.

  [% ELSIF error == "component_has_bugs" %]
    [% title = BLOCK %]Съставната част има [% terms.bugs %][% END %]
    Съществуват [% nb FILTER html %] [%+ terms.bug %](а) въведени за съставната част!
    Трябва да преназначите тези [% terms.bugs %] на друга съставна част, преди да
    можете да изтриете тази.

  [% ELSIF error == "component_name_too_long" %]
    [% title = "Име на съставна част е твърде дълго" %]
    Името на съставна част е ограничено до [% constants.MAX_COMPONENT_SIZE FILTER html %]
    символа. '[% name FILTER html %]' е твърде дълго ([% name.length %] символа).

  [% ELSIF error == "component_need_initialowner" %]
    [% title = "Съставната част изисква подразбиращ се назначен" %]
    Необходим е подразбиращ се назначен за съставната част.

  [% ELSIF error == "customfield_nonexistent" %]
    [% title = "Непознато потребителско поле" %]
    Няма потребителско поле с името '[% name FILTER html %]'.

  [% ELSIF error == "customfield_not_obsolete" %]
    [% title = "Потребителско поле не е остаряло" %]
    Потребителското поле '[% name FILTER html %]' не е остаряло.
    Моля, направете полето "старо" преди да опитата да го изтриете.

  [% ELSIF error == "customfield_has_activity" %]
    [% title = "Потребителско поле има дейност" %]
    Потребителското поле '[% name FILTER html %]' не може да бъде изтрито, защото
    е показало дейност.

  [% ELSIF error == "customfield_has_contents" %]
    [% title = "Потребителско поле има съдържание" %]
    Потребителското поле '[% name FILTER html %]' не може да бъде изтрито, защото
    поне един [% terms.bug %] има стойност за него.

  [% ELSIF error == "dependency_loop_multi" %]
    [% title = "Установена циклична зависимост" %]
    Следващия(те) [% terms.bug %](ове) ще се появят и на "зависи от"
    и на "блокира" частите на дървото на зависимостите ако тези промени
    бъдат предадени:
    [% FOREACH dep = deps %]
      [%+ dep FILTER bug_link(dep) FILTER none %]
    [% END %].
    Това би създало циклична зависимост, което не е позволено.

  [% ELSIF error == "dependency_loop_single" %]
    [% title = "Установена циклична зависимост" %]
    Не можете да направите [% terms.abug %] да блокира себе си или да зависи от самия себе си.

  [% ELSIF error == "dupe_id_required" %]
    [% title = "Необходим е идентификатор на повтарящ $terms.bug" %]
    Трябва да укажете идентификатор на [% terms.bug %], за да отбележите този [% terms.bug %]
    като повтарящ го.

  [% ELSIF error == "dupe_not_allowed" %]
    [% title = "Невъзможност за отбелязване на $terms.bugs като двойници" %]
    Не можете да отбелязвате [% terms.bugs %] като двойници когато
    променяте няколко [% terms.abug %] наведнъж.

  [% ELSIF error == "dupe_loop_detected" %]
    [% title = "Установена циклична зависимост между двойници" %]
    Не можете да отбележите [% terms.bug %] [%+ bug_id FILTER html %] като
    двойник на
    [% IF dupe_of == bug_id %]
      себе си
    [% ELSE %]
      [%+ terms.bug %] [%+ dupe_of FILTER html %], защото това
      ще създаде циклична зависимост
    [% END %].

  [% ELSIF error == "email_change_in_progress" %]
    [% title = "Промяната на е-пощенски адрес се обработва" %]
    Промяната на е-пощенски адрес се обработва; моля, проверете пощата си.

  [% ELSIF error == "email_confirmation_failed" %]
    [% title = "Потвърждаването на е-пощенски адрес пропадна" %]
    Потвърждаването на е-пощенски адрес пропадна.

  [% ELSIF error == "email_no_text_plain" %]
    Съобщението ви не съдържа никакъв текст. [% terms.Bugzilla %] не
    приема само HTML е-поща, или HTML е-поща с приставки.

  [% ELSIF error == "empty_group_description" %]
    [% title = "Описанието на група не може да е празно" %]
    Трябва да въведете описание за групата.

  [% ELSIF error == "empty_group_name" %]
    [% title = "Името на група на може да е празно" %]
    Трябва да въведете име за групата.
  
  [% ELSIF error == "entry_access_denied" %]
    [% title = "Достъпът отказан" %]
[% admindocslinks = {'groups.html' => 'Групова сигурност'} %]
    Съжалявам, или продукта <em>[% product FILTER html %]</em>
    не съществува или не сте упълномощен да
    въвеждате [% terms.bug %] за него.

  [% ELSIF error == "extension_create_no_name" %]
    Трябва да укажете име за разширението ви, като аргумент на този скрипт.

  [% ELSIF error == "extension_first_letter_caps" %]
    Първата буква от името на разширението ви трябва да бъде главна.
    (Указали сте '[% name FILTER html %]'.)

  [% ELSIF error == "field_already_exists" %]
    [% title = "Полето вече съществува" %]
    Полето '[% field.name FILTER html %]'     
    ([% field.description FILTER html %]) вече съществува. Моля,
    изберете друго име.

  [% ELSIF error == "field_cant_control_self" %]
    [% title = "Поле не може да се самоконтролира" %]
    Полето [% field.description FILTER html %] не може да контролира 
    себе си.

  [% ELSIF error == "field_control_must_be_select" %]
    [% title = "Избран недействителен тип флаг" %]
    Само падащи списъци и полета с множествен избор могат да се използват за контрол
    над видимостта/стойностите на други полета. [% field.description FILTER html %]
    не е правилния тип поле.

  [% ELSIF error == "field_invalid_name" %]
    [% title = "Недействително име на поле" %]
    '[% name FILTER html %]' не е действително име за поле.
    Името може да съдържа само букви, цифри и знака за подчертаване.

  [% ELSIF error == "field_invalid_sortkey" %]
    [% title = "Недействителен ключ за подреждане на поле" %]
    Ключа за подреждане [% sortkey FILTER html %], който сте предоставили за
    полето в действителност не е положително число.

  [% ELSIF error == "field_missing_description" %]
    [% title = "Липса описание на поле" %]
    Трябва да въведете описание за това поле.

  [% ELSIF error == "field_missing_name" %]
    [% title = "Липсва име на поле" %]
    Трябва да въведете име за това поле.

  [% ELSIF error == "field_value_control_select_only" %]
    [% title = "Недействително поле за контрол на стойности" %]
    Само падащи списъкци или полета с множествен избор могат да имат поле
    контролиращо стойностите им.

  [% ELSIF error == "field_visibility_values_must_be_selected" %]
    [% title = "Липсващи стойности за видимост на поле" %]
    Поне една стойност трябва да бъде избрана за видимостта на полето
    '[% field.name FILTER html %]'.

  [% ELSIF error == "fieldname_invalid" %]
    [% title = "Указаното поле не съществува" %]
    Полето '[% field FILTER html %]' не съществува или 
    не може да бъде редактирано през този интерфейс.

  [% ELSIF error == "fieldvalue_already_exists" %]
    [% title = "Стойността вече съществува за полето" %]
    Стойността '[% value.name FILTER html %]' вече съществува за полето
    [%+ field.description FILTER html %].

  [% ELSIF error == "fieldvalue_is_controller" %]
    [% title = "Стойността контролира други полета" %]
    Не можете да изтриете [% value.field.description FILTER html %]
    '[% value.name FILTER html %]' защото
    [% IF fields.size %]
      то контролира видимостта на следните полета:
      [%+ fields.join(', ') FILTER html %].
    [% END %]
    [% ' Също, ' IF fields.size AND vals.size %]
    [% IF vals.size %]
      контролира видимостта на следните стойности на полета:
      <ul>
        [% FOREACH field_name = vals.keys %]
          [% FOREACH val = vals.${field_name} %]
            <li>[% val.field.name FILTER html %]:
              '[% val.name FILTER html %]'</li>
          [% END %]
        [% END %]
      </ul>
    [% END %]

  [% ELSIF error == "fieldvalue_is_default" %]
    [% title = "Указаната стойност е подразбираща се" %]
    '[% value.name FILTER html %]' е стойност по подразбиране за
    полето '[% field.description FILTER html %]' и не може да бъде изтрита
    или извадена от употреба.
    [% IF user.in_group('tweakparams') %]
      Трябва първо да <a href="editparams.cgi?section=bugfields#
      [%- param_name FILTER uri %]">промените</a> стойността по подразбиране.
    [% END %]

  [% ELSIF error == "fieldvalue_name_too_long" %]
    [% title = "Стойността на полето е твърде дълга" %]
    Стойността на поле е ограничена до 
    [%+ constants.FIELD_VALUE_MAX_SIZE FILTER none %] символа.
    '[% value FILTER html %]' е твърде дълга ([% value.length %] символа).

  [% ELSIF error == "fieldvalue_not_editable" %]
    [% title = "Стойност на поле несменяема" %]
    Стойността '[% old_value FILTER html %]' не може да бъде преименувана, защото
    тя играе някаква специална роля за полето '[% field.description FILTER html %]'
    .

  [% ELSIF error == "fieldvalue_not_deletable" %]
    [% title = "Стойност не поле е неизтриваема" %]
    Стойността '[% value.name FILTER html %]' не може да бъде премахната или
    спряна от употреба, защото тя играе някаква специална роля за
    полето '[% field.description FILTER html %]'.

  [% ELSIF error == "fieldvalue_reserved_word" %]
    [% title = "Не се позволява запазена дума" %]
    Не можете да използвате стойността '[% value FILTER html %]' за полето
    '[% field.description FILTER html %]'. Тази стойност се ползва вътрешно.
    Моля, изберете друга.

  [% ELSIF error == "fieldvalue_sortkey_invalid" %]
    [% title = "Недействителен ключ за подредба за стойност на поле" %]
    Ключа за подредба '[% sortkey FILTER html %]' за полето 
    [%+ field.description FILTER html %] не е действително 
    (положително) число.

  [% ELSIF error == "fieldvalue_still_has_bugs" %]
    [% title = "Не можете да изтриете тази стойност на полето" %]
    Не можете да изтриете стойността '[% value.name FILTER html %]' от полето 
    [%+ field.description FILTER html %], защото все още има
    [%+ value.bug_count FILTER html %] [%+ terms.bug %](а) използващ(ия) я.

  [% ELSIF error == "fieldvalue_undefined" %]
    [% title = "Не се позволява неопределена стойност" %]
    Трябва да укажете стойност.

  [% ELSIF error == "file_not_specified" %]
    [% title = "Не е указан файл" %]
    Не сте указали файл за прикрепяне.

  [% ELSIF error == "filename_not_specified" %]
    [% title = "Не е указано име на файл" %]
    Трябва да укажете име на файл за приставката.

  [% ELSIF error == "file_too_large" %]
    [% title = "Файлът е твърде голям" %]
    [%# Convert maxlocalattachment from Mb to Kb %]
    [% max_local = Param('maxlocalattachment') * 1024 %]
    [% max_limit = [Param('maxattachmentsize'), max_local] %]
    Файлът, който се опитвате да прикачите, е с размер [% filesize FILTER html %]
    килобайта (КБ). Приставки не могат да бъдат по-големи от
    [%# Hack to get the max value between both limits %]
    [%+ max_limit.nsort.last FILTER html %] <abbr title="Кило Байта">КБ</abbr>. <br>
    Препоръчваме Ви да съхраните приставката си някъде другаде
    и да пуснете <abbr lang="en" title="Uniform Resource Locator">URL</abbr> към нея на страницата за
    създаване на приставки в съответното текстово поле.
    <br>Вместо това, ако приставката е изображение, можете да я обърнете
    в сбит формат, като <abbr lang="en" title="Joint Photographic Experts Group">JPG</abbr> или <abbr lang="en" title="Portable Network Graphics">PNG</abbr> и опитате отново.

  [% ELSIF error == "flag_requestee_needs_privs" %]
    [% title = "Даващия флаг има нужда от права" %]
    [% requestee.identity FILTER html %] няма права за задаване на
    флага <em>[% flagtype.name FILTER html %]</em>. Моля, изберете потребител, който е
    член на групата <em>[% flagtype.grant_group.name FILTER html %]</em>.

  [% ELSIF error == "flag_requestee_unauthorized" %]
    [% title = "Изпълнителя на заявката за флаг не е упълномощен" %]
    [% admindocslinks = {'flags-overview.html#flags-admin'  => 'Администрация на флагове',
                         'groups.html' => 'Групова сигурност'} %]
    [% docslinks = {'flags-overview.html' => 'Преглед на флаговете',
                    'flags.html' => 'Използване на флагове'} %]

    Пискахте от [% requestee.identity FILTER html %]
    задаване на флага <code>[% flag_type.name FILTER html %]</code> върху [% terms.bug %] 
    [%+ bug_id FILTER html -%]
    [% IF attach_id && attach_id > 0 %], приставката [% attach_id FILTER html %][% END %],
    но този [% terms.bug %] е ограничен до потребители в определени групи, а
    потребителя, от който сте поискали не е във всички групи до които
    [% terms.abug %] е ограничен.
    Моля, изберете някой друг от когото да поискате или направете [% terms.abug %]
    достъпен за потребителите в неговия <abbr title="Точно Копие">ТК</abbr>: списък и добавете потребителя към него.

  [% ELSIF error == "flag_requestee_unauthorized_attachment" %]
    [% title = "Изпълнителя на заявката за флаг не е упълномощен" %]
    [% admindocslinks = {'flags-overview.html#flags-admin'  => 'Администриране на флагове',
                         'groups.html' => 'Групова сигурност'} %]
    [% docslinks = {'flags-overview.html' => 'Преглед на флаговете',
                    'flags.html' => 'Използване на флагове'} %]

    Поискахте от [% requestee.identity FILTER html %]
    задаване на флага <code>[% flag_type.name FILTER html %]</code> на 
    [%+ terms.bug %] [%+ bug_id FILTER html %],
    приставката [% attach_id FILTER html %], но тази приставка
    е ограничена до потребители членове на [% Param("insidergroup") FILTER html %] група,
    а потребителя от когото сте поискали не е в нея. Моля, изберете някой друг
    от когото да поискате или помолете някой администратор да добави потребителя в групата.

  [% ELSIF error == "flag_status_invalid" %]
    [% title = "Недействително състояние на флаг" %]
    Флаг състоянието <em>[% status FILTER html %]</em>
    [% IF id %]
      за флаг с идентификатор #[% id FILTER html %]
    [% END %]
    е недействително.

  [% ELSIF error == "flag_type_cannot_deactivate" %]
    [% title = "Не може да се деактивира тип флаг" %]
    Съжаляваме, но типа флаг '[% flagtype.name FILTER html %]' също се отнася за някои
    продукти които не виждате и така не вие позволено да го деактивирате.

  [% ELSIF error == "flag_type_cannot_delete" %]
    [% title = "Непозволено изтриване на тип флаг" %]
    Съжаляваме, но типа флаг '[% flagtype.name FILTER html %]' също се отнася за някои
    продукти които не виждате и така не ви е позволено да го изтриете.

  [% ELSIF error == "flag_type_cc_list_invalid" %]
    [% title = "Невалиден ТК списък на тип флаг" %]
    [% admindocslinks = {'flags-overview.html#flags-admin'  => 'Администриране на флагове'} %]
    Списъка <abbr title="Точно Копие">ТК</abbr> [% cc_list FILTER html %] трябва да бъде дълъг не повече от 200 символа.

  [% ELSIF error == "flag_type_component_without_product" %]
    [% title = "Липсва продукт" %]
    Избран е компонент, без да е избран продукт.

  [% ELSIF error == "flag_type_description_invalid" %]
    [% title = "Невалидно описание на тип флаг" %]
    [% admindocslinks = {'flags-overview.html#flags-admin'  => 'Администриране на флагове'} %]
    Трябва да въведете описание за типа флаг.

  [% ELSIF error == "flag_type_name_invalid" %]
    [% title = "Невалидно име на тип флаг" %]
    [% admindocslinks = {'flags-overview.html#flags-admin'  => 'Администриране на флагове'} %]
    Името <em>[% name FILTER html %]</em> трябва да бъде дълго между 1 и 50
    символа и не трябва да съдържа запетайки или интервали.

  [% ELSIF error == "flag_type_not_editable" %]
    [% title = "Типа флаг не е променяем" %]
    Не ви е позволено да променята свойства на типа флаг '[% flagtype.name FILTER html %]',
    защото той не е достъпен за продукти които можете да администрирате.

  [% ELSIF error == "flag_type_not_multiplicable" %]
    [% docslinks = {'flags-overview.html' => 'Преглед на флаговете',
                    'flags.html' => 'Използване на флагове'} %]
    Не можете да имате няколко флага <em>[% type.name FILTER html %]</em>
    за [% IF attachment %] тази приставка [% ELSE %] този [% terms.bug %] [% END %].

  [% ELSIF error == "flag_update_denied" %]
    [% title = "Забранена промяна на флаг" %]
    [% admindocslinks = {'flags-overview.html#flags-admin'  => 'Администриране на флагове',
                         'groups.html' => 'Групова сигурност'} %]
    [% docslinks = {'flags-overview.html' => 'Преглед на флаговете',
                    'flags.html' => 'Използване на флагове'} %]
    Опитахте се да [% IF status == "+" %] зададете [% ELSIF status == "-" %] отнемете
    [% ELSIF status == "X" %] изчистите [% ELSE %] заявите [% END %]
    <code>[% name FILTER html %]
          [% IF status == "X" %][% old_status FILTER html %][% END %]</code>.

    Само потребител с необходимите разрешения може да извърши промяната.

  [% ELSIF error == "format_not_found" %]
    [% title = "Формата не е намерен" %]
    Заявеният формат <em>[% format FILTER html %]</em> не съществува с
    тип на съдържанието <em>[% ctype FILTER html %]</em>.

  [% ELSIF error == "flag_type_sortkey_invalid" %]
    [% title = "Недействителен ключ за подреждане на тип флаг" %]
    Ключа за подреждане <em>[% sortkey FILTER html %]</em> трябва да бъде цяло число
    между 0 и [% constants.MAX_SMALLINT FILTER none %].

  [% ELSIF error == "freetext_too_long" %]
    [% title = "Текста е твърде дълъг" %]
    Текста, който въведохте в полето [% field_descs.$field FILTER html %]
    е твърде дълъг ([% text.length FILTER html %] символа,
    над максималната разрешена дължина от
    [%+ constants.MAX_FREETEXT_LENGTH FILTER none %] символа).

  [% ELSIF error == "group_cannot_delete" %]
    [% title = "Изтриването на група е невъзможно" %]
    Групата <em>[% group.name FILTER html %]</em> не може да бъде изтрита, защото
    съществуват
    <a href="editgroups.cgi?action=del&amp;group=
             [%- group.id FILTER uri %]">записи</a>
    в базата данни обръщащи се към нея. Всички обръщения към групата трябва
    да бъдат премахнати преди изтриването и.

  [% ELSIF error == "group_exists" %]
    [% title = "Групата вече съществува" %]
    Групата [% name FILTER html %] вече съществува.

  [% ELSIF error == "group_has_special_role" %]
    [% title = "Групата е неизтриваема" %]
    [% IF groups.size == 1 %]
      [% attr = "сочи" %]
      [% param = "параметър" %]
    [% ELSE %]
      [% attr = "сочат" %]
      [% param = "параметрите" %]
    [% END %]
    Групата '[% name FILTER html %]' е използвана от
    [% param FILTER html %] '[% groups.join("' и '") FILTER html %]'.
    За да изтриете тази група, трябва първо да промените
    [%+ param FILTER html %], така че да [% attr FILTER html %] към друга група.


  [% ELSIF error == "group_invalid_removal" %]
    Опитахте се да премахнете [% terms.bug %] [%+ bug_id FILTER html %]
    от групата [% group.name FILTER html %], но или групата не съществува
    или не ви е разрешено да премахвате [% terms.bugs %] от групата в
    продукта '[% product FILTER html %]'.

  [% ELSIF error == "group_restriction_not_allowed" %]
    [% title = "Неразрешено групово ограничение" %]
    Опитахте се да ограничите [% bug_id ? "$terms.bug $bug_id" : terms.bug FILTER html %]
    до рупата [% name FILTER html %], но или групата не съществува
    или не ви е разрешено да ограничавате [% terms.bugs %] до тази група в
    продукта '[% product FILTER html %]'.

  [% ELSIF error == "group_not_specified" %]
    [% title = "Не е указана група" %]
    Не е указана група.

  [% ELSIF error == "group_not_visible" %]
    [% title = "Group Not Allowed" %]
    Не ви е разрешено да виждате членове на групата [% group.name FILTER html %]
    .

  [% ELSIF error == "system_group_not_deletable" %]
    [% title = "Системните групи са неизтриваеми" %]
    <em>[% name FILTER html %]</em> е системна група.
    Тя не може да бъде изтрита.

  [% ELSIF error == "illegal_attachment_edit" %]
    [% title = "Неупълномощено действие" %]
    Не сте упълномощен да редактирате приставката [% attach_id FILTER html %].

  [% ELSIF error == "illegal_attachment_edit_bug" %]
    [% title = "Неупълномощено действие" %]
    Не сте упълномощен да редактирате приставките на [% terms.bug %] 
    [%+ bug_id FILTER html %].
         
  [% ELSIF error == "illegal_bug_status_transition" %]
    [% title = "Недействителна смяна на състояние на $terms.bug" %]
    [% IF old.defined %]
      Не ви е разрешено да сменяте състоянието на [% terms.abug %] от
      [%+ old.name FILTER html %] на [% new.name FILTER html %].
    [% ELSE %]
      Не ви е разрешено да подавате [% terms.bugs %] със
      състояние [%+ new.name FILTER html %]. 
    [% END %]

  [% ELSIF error == "illegal_change" %]
    [% title = "Непозволено" %]
    Опитахте се да смените
    полето <strong>[% field_descs.$field FILTER html %]</strong>
    [% IF oldvalue.defined %]
      от <em>[% oldvalue.join(', ') FILTER html %]</em>
    [% END %]
    [% IF newvalue.defined %]
      на <em>[% newvalue.join(', ') FILTER html %]</em>
    [% END %]
    , но само
    [% IF privs < constants.PRIVILEGES_REQUIRED_EMPOWERED %]
      назначения по
      [% IF privs < constants.PRIVILEGES_REQUIRED_ASSIGNEE %] или докладвалия [% END %]
      [% terms.abug %], или
    [% END %]
    потребител с необходимите разрешения може да промени полето.

  [% ELSIF error == "illegal_change_deps" %]
    [% title = "Непозволено" %]
    Опитахте се да промените полето
    <strong>[% field_descs.$field FILTER html %]</strong>,
    но само потребител на който е разрешено да редактира
    и свързаните [% terms.bugs %] може да го промени.

  [% ELSIF error == "illegal_date" %]
    [% title = "Неправилна дата" %]
    '<tt>[% date FILTER html %]</tt>' е неправилна дата.
    [% IF format %]
      Моля, използвайте формата '<tt>[% format FILTER html %]</tt>'.
    [% END %]
    
  [% ELSIF error == "illegal_email_address" %]
    [% title = "Недействителен адрес за електронна поща" %]
    Адреса за електронна поща, който въведохте (<b>[% addr FILTER html %]</b>) 
    не премина нашата синтактична проверка за действителен е-пощенски адрес.
    [% IF default %]
      Правилен адрес трябва да съдържа точно една '@',
      и поне една '.' след @-та.
    [% ELSE %]
      [%+ Param('emailregexpdesc') FILTER html_light %]
    [% END %]
    Също така не трябва да съдържа никакви непозволени символи.

  [% ELSIF error == "illegal_frequency" %]
    [% title = "Твърде често" %]
    Освен ако не сте администратор, не можете да създавате редици, които 
    се пускат по-често от веднъж на [% minimum FILTER html %] дни.
    
  [% ELSIF error == "illegal_group_control_combination" %]
    [% title = "Комбинацията ви за групов контрол е недействителна" %]
    [% admindocslinks = {'groups.html' => 'Задаване на групови контроли към продукти'} %]
    Комбинацията за групов контрол за групата &quot;
    [% groupname FILTER html %]&quot; е недействителна.

  [% ELSIF error == "illegal_query_name" %]
    [% title = "Недействително име на търсене" %]
    Името на търсенето ви не може да съдържа някой от следващите символи: 
    &lt;, &gt;, &amp;.

  [% ELSIF error == "illegal_series_creation" %]
    [% admindocslinks = {'groups.html' => 'Групова сигурност'} %]
    [% docslinks = {'reporting.html' => 'Доклади'} %]
    Не сте упълномощен да създавате редици.
        
  [% ELSIF error == "illegal_series_edit" %]
    [% admindocslinks = {'groups.html' => 'Групова сигурност'} %]
    [% docslinks = {'reporting.html' => 'Доклади'} %]
    Не сте упълномощен да редактирате тези редици. За да направите това
    трябва да сте или техния създател или администратор.

  [% ELSIF error == "illegal_time" %]
    [% title = "Недействително време" %]
    '<tt>[% time FILTER html %]</tt>' не е действително време.
    [% IF format %]
      Моля, използвайте формата '<tt>[% format FILTER html %]</tt>'.
    [% END %]

  [% ELSIF error == "illegal_regexp" %]
    [% title = "Неправилен регулярен израз" %]
    Регулярния израз които предоствихте [% value FILTER html %] не е правилен.
    Грешката беше: [% dberror FILTER html %].
        
  [% ELSIF error == "insufficient_data_points" %]
    [% docslinks = {'reporting.html' => 'Доклади'} %]
    Нямаме достатъчно единици данни за направата на графика (все още).
        
  [% ELSIF error == "invalid_attach_id" %]
    [% title = "Недействителен идентификатор на приставка" %]
    Идентификатора на приставка [% attach_id FILTER html %] е недействителен.

  [% ELSIF error == "bug_id_does_not_exist" %]
    [% title = BLOCK %]Недействителен идентификатор на [% terms.bug %].[% END %]
    [% terms.Bug %] №[% bug_id FILTER html %] не съществува.
    
  [% ELSIF error == "improper_bug_id_field_value" %]
    [% title = BLOCK %]
      [% IF bug_id %]Недействителен [% ELSE %]Липсващ [% END %] идентификатор на [% terms.bug %]
    [% END %]
    [% IF bug_id %]
      '[% bug_id FILTER html %]' не е действителен номер на [% terms.bug %]
      [% IF Param("usebugaliases") %]
        нито псевдоним на [% terms.bug %]
      [% END %].
    [% ELSE %]
      [% IF field %]
        Полето '[% field_descs.$field FILTER html %]' 
        не може да бъде празно.
      [% END %]
      Трябва да въведете действителен номер на [% terms.bug %]!
    [% END %]

  [% ELSIF error == "invalid_changedsince" %]
    [% title = "Невалидно поле 'променен от'" %]
    Стойността на полето 'променен от', '[% changedsince FILTER html %]', трябва да
    бъде цяло число >= 0.

  [% ELSIF error == "invalid_content_type" %]
    [% title = "Неправилен тип на съдържанието" %]
    Типа на съдържанието <em>[% contenttype FILTER html %]</em> е неправилен.
    Правилните типове трябва да са във формат <em>foo/bar</em> където <em>foo</em>
    е едно от <em>[% constants.LEGAL_CONTENT_TYPES.join(', ') FILTER html %]</em>
    и <em>bar</em> не трябва да съдържа специални символи (като "=", "?", ...).

  [% ELSIF error == "invalid_context" %]
    [% title = "Неправилен контекст" %]
    Контекста [% context FILTER html %] е неправилен (трябва да бъде число,
    "файл" или "кръпка").

  [% ELSIF error == "invalid_datasets" %]
    [% title = "Недействителни набори данни" %]
    Недействителни набори данни <em>[% datasets.join(":") FILTER html %]</em>. Позволени са,
    само числа, букви и двоеточие.

  [% ELSIF error == "invalid_format" %]
    [% title = "Неправилен формат" %]
    Формата "[% format FILTER html %]" е неправилен (трябва да бъде един от
    [% FOREACH my_format = formats %]
      "[% my_format FILTER html %]"
    [% END %]
    ).

  [% ELSIF error == "invalid_group_ID" %]
    [% title = "Недействителен идентификатор на група" %]
    Указаната група не съществува.

  [% ELSIF error == "invalid_group_name" %]
    [% title = "Недействително име на група" %]
    Указаната група, [% name FILTER html %], е недействителна тук.

  [% ELSIF error == "invalid_maxrows" %]
    [% title = "Недействителен максимален брой редове" %]
    Максималният брой редове, '[% maxrows FILTER html %]', трябва да бъде
    положително цяло число.

  [% ELSIF error == "invalid_parameter" %]
    [% title = "Неправилен параметър" %]
    Новата стойност за [% name FILTER html %] е неправилна: [% err FILTER html %].

  [% ELSIF error == "invalid_product_name" %]
    [% title = "Недействително име на продукт" %]
    Името на продукт '[% product FILTER html %]' е недействително или не съществува.

  [% ELSIF error == "invalid_regexp" %]
    [% title = "Неправилен регулярен израз" %]
    Регулярният израз, който въведохте, е неправилен.

  [% ELSIF error == "invalid_user_group" %]
    [% title = "Неправилна потребителска група" %]
    [% IF users.size > 1 %] Потребителите [% ELSE %] Потребителя [% END %]
    '[% users.join(', ') FILTER html %]'
    [% IF users.size > 1 %] не могат [% ELSE %] не може [% END %]
    да редактира
    [% IF product %]
      '[% product FILTER html %]'
    [% END %]
    [%+ field_descs.product FILTER html %]
    [% IF bug_id %]
      за [% terms.bug %] '[% bug_id FILTER html %]'.
    [% ELSIF new %]
      и може да не бъде включен в нов [% terms.bug %].
    [% ELSE %]
      за поне един променян [% terms.bug %].
    [% END %]

  [% ELSIF error == "invalid_username" %]
    [% title = "Невалидно потребителско име" %]
    Името <tt>[% name FILTER html %]</tt> е непознато потребителско име.  
    Или сте го написали неправилно или лицето не се е регистрирало в
    [% terms.Bugzilla %].

  [% ELSIF error == "invalid_username_or_password" %]
    [% title = "Недействително потребителско име или парола" %]
    Потребителското име или паролата, които въведохте са непознати.
    [%# People get two login attempts before being warned about
      # being locked out.
      #%]
    [% IF remaining <=  2 %]
      Ако не въведете правилна парола след 
      още [% remaining FILTER html %] опит(а), ще бъдете
      заключени от тази сметка за 
      [%+ constants.LOGIN_LOCKOUT_INTERVAL FILTER html %] минути.
    [% END %]

  [% ELSIF error == "json_rpc_get_method_required" %]
    При ползване на <abbr lang="en" title="JavaScript Object Notation">JSON</abbr>-<abbr lang="en" title="Remote Procedure Call">RPC</abbr> през GET, трябва да укажете 'method'
    параметър. Вижте документацията на
    [%+ docs_urlbase FILTER html %]api/Bugzilla/WebService/Server/JSONRPC.html

  [% ELSIF error == "json_rpc_illegal_content_type" %]
    При използване на JSON-RPC през POST, не можете да използвате [% content_type FILTER html %]
    като тип на съдържание. Само application/json и
    application/json-rpc са позволени.

  [% ELSIF error == "json_rpc_invalid_params" %]
    Не може да бъде направен синтактичен разбор на аргумента 'params' като действителен <abbr lang="en" title="JavaScript Object Notation">JSON</abbr>.
    Грешка: [% err_msg FILTER html %]
    Стойност: [% params FILTER html %]

  [% ELSIF error == "json_rpc_invalid_callback" %]
    Не можете да ползвате '[% callback FILTER html %]' като ваш 'callback' параметър.
    От съображения за сигурност, само букви, числа, и следните
    символи са разрешени в параметъра 'callback': <code>[]._</code>

  [% ELSIF error == "json_rpc_post_only" %]
    От съображения за сигурност, можете да използвате <abbr lang="en" title="Hyper Text Transfer Protocol">HTTP</abbr> POST за извикване на
    метода '[% method FILTER html %]'.

  [% ELSIF error == "keyword_already_exists" %]
    [% title = "Ключовата дума вече съществува" %]
    Ключова дума с име [% name FILTER html %] вече съществува.

  [% ELSIF error == "keyword_blank_description" %]
    [% title = "Не е позволено празно описание за ключова дума" %]
    Трябва да въведете някакво описани за ключовата дума.
     
  [% ELSIF error == "keyword_blank_name" %]
    [% title = "Не е позволено празно име на ключова дума" %]
    Трябва да въведете някакво име за ключовата дума.
     
  [% ELSIF error == "keyword_invalid_name" %]
    [% title = "Невалидно име на ключова дума" %]
    Не можете да използвате запетайки или непечатими символи в името на ключова дума.
     
  [% ELSIF error == "login_needed_for_password_change" %]
    [% title = "Необходимо е потребителско име" %]
    Трябва да въведете потребителско име, при искане за смяна на паролата ви.

  [% ELSIF error == "login_required_for_pronoun" %]
    [% title = "Необходимо е име за вход" %]
    Не можете да използвате %user% без да сте влезли, защото %user% отговаря
    на името ви за вход, което не е известно.

  [% ELSIF error == "login_required" %]
    [%# Used for non-web-based LOGIN_REQUIRED situations. %]
    Трябва да влезете, преди да можете да използвате тази част от [% terms.Bugzilla %].

  [% ELSIF error == "migrate_config_created" %]
    Файла <kbd>[% file FILTER html %]</kbd> съдържа конфигурационни
    променливи които трябва да бъдат зададени преди да продължаване с миграцията.

  [% ELSIF error == "migrate_from_invalid" %]
    '[% from FILTER html %]' не е действителен тип на система за следене на [% terms.bugs %]
    от която да мигрирате. Проверете съдържанието на папка <kbd>B[% %]ugzilla/Migrate/</kbd>
    за списък на действителните системи за следене на [% terms.bugs %].

  [% ELSIF error == "milestone_already_exists" %]
    [% title = "Целевото събитие вече съществува" %]
    [% admindocslinks = {'products.html' => 'Администриране на продукти',
                         'milestones.html' => 'За целевите събития'} %]
    Събитието '[% name FILTER html %]' вече съществува за продукта '
    [%- product FILTER html %]'.

  [% ELSIF error == "milestone_blank_name" %]
    [% title = "Не е позволено празно име на събитие" %]
    Трябва да въведете име за събитието.

  [% ELSIF error == "milestone_is_default" %]
    [% title = "Подразбиращото се събитие е неизтриваемо" %]
    [% admindocslinks = {'products.html' => 'Администриране на продукти',
                         'milestones.html' => 'За целевите събития'} %]
    Съжалявам, но [% milestone.name FILTER html %] е подразбиращото се събитие
    за продукта '[% milestone.product.name FILTER html %]', така че не може да бъде
    изтрито.

  [% ELSIF error == "milestone_name_too_long" %]
    [% title = "Твърде дълго име на важно събитие" %]
    Името на важно събитие е ограничено до [% constants.MAX_MILESTONE_SIZE FILTER html %]
    символа. '[% name FILTER html %]' е твърде дълго ([% name.length %] символа).

  [% ELSIF error == "milestone_required" %]
    [% title = "Необходимо е Целево събитие" %]
    Трябва да изберете целево събитие за [% terms.bug %]
    [%+ bug.id FILTER html %]
    ако искате да го приемете. Част от приемането на
    [%+ terms.abug %] е даването на приблизителна оценка, кога той ще бъде оправен.

  [% ELSIF error == "milestone_sortkey_invalid" %]
    [% title = "Недействителен ключ за подреждане на събитие" %]
    Ключа за подреждане '[% sortkey FILTER html %]' не е в обхвата
    [%+ constants.MIN_SMALLINT FILTER html %] &le; ключ за подреждане &le;
    [%+ constants.MAX_SMALLINT FILTER html %].

  [% ELSIF error == "misarranged_dates" %]
    [% title = "Неправилно подредени дати" %]
    Началната ви дата  ([% datefrom FILTER html %]) е след 
    крайната ([% dateto FILTER html %]).
    
  [% ELSIF error == "missing_attachment_description" %]
    [% title = "Липсващо описание на приставка" %]
    Трябва да добавите описание за приставката.
    
  [% ELSIF error == "missing_category" %]
    [% title = "Липсваща категория" %]
    Не сте указали категория за тази поредица.

  [% ELSIF error == "missing_component" %]
    [% title = "Липсваща съставна част" %]
    [% admindocslinks = {'products.html'   => 'Администриране на продукти',
                         'components.html' => 'Създаване на продукт'} %]
    Съжалявам, продукта <em>[% product.name FILTER html %]</em>
    трябва да има поне една действуваща съставна част, за да можете да
    въвеждате [% terms.bug %] в него.<br>
    [% IF user.in_group("editcomponents", product.id) %]
      <a href="editcomponents.cgi?action=add&amp;product=[% product.name FILTER uri %]">Създаване
      на нова съставна част</a>.
    [% ELSE %]
      Моля, свържете се с [% Param("maintainer") %] и го помолете
      да добави съставна част към продукта.
    [% END %]

  [% ELSIF error == "missing_content_type" %]
    [% title = "Липсващ тип на съдържанието" %]
     Пожелахте [% terms.Bugzilla %] да определи автоматично типа на
     съдържанието, но вашият агент не указа тип на съдържанието при качването
     на файла, така че трябва да въведете типа ръчно.
                
  [% ELSIF error == "missing_content_type_method" %]
    [% title = "Липсващ метод за определяне на типа на съдържанието" %]
    Трябва да изберете метод за определяне на типа на съдържанието, един от:
    <em>автоматично определяне</em>, <em>избор от списък</em> или <em>ръчно
    въвеждане</em>.

  [% ELSIF error == "missing_cookie" %]
    [% title = "Липсваща бисквитка" %]
    Съжалявам, изглежда съм загубила бисквитката, в която са записани
    резултатите от последното ви търсене. Страхувам се, че ще трябва да
    започнете отново на <a href="query.cgi">страницата за търсене</a>.
          
  [% ELSIF error == "missing_datasets" %]
    [% title = "Няма избрани набори данни" %]
    [% docslinks = {'reporting.html' => 'Доклади'} %]
    Трябва да укажете един или повече набора данни за изчертаване.
    
  [% ELSIF error == "missing_frequency" %]
    [% title = "Липсваща честота" %]
    [% docslinks = {'reporting.html' => 'Доклади'} %]
    Не сте указали правилна честота за тези поредици.
                
  [% ELSIF error == "missing_name" %]
    [% title = "Липсващо име" %]
    [% docslinks = {'reporting.html' => 'Доклади'} %]
    Не сте указали име за тези поредици.
                
  [% ELSIF error == "missing_query" %]
    [% title = "Липсващо търсене" %]
    [% docslinks = {'query.html' => "Търсене на $terms.bugs",
                    'query.html#list'  => "$terms.Bug списъци"} %]
    Търсенето именувано <em>[% name FILTER html %]</em>
    [% IF sharer_id && sharer_id != user.id %]
      не е направено видимо за вас.
    [% ELSE %]
      не съществува.
    [% END %]

  [% ELSIF error == "missing_resolution" %]
    [% title = "Необходимо е разрешение" %]
    Необходимо е действително разрешение за отбелязването на [% terms.abugs %] като
    [%+ status FILTER upper FILTER html %].

  [% ELSIF error == "missing_subcategory" %]
    [% title = "Липсваща подкатегория" %]
    Не сте указали подкатегория за тези поредици.
                
  [% ELSIF error == "missing_version" %]
    [% title = "Липсваща версия" %]
    [% admindocslinks = {'versions.html' => 'Определяне на версии'} %]
    Съжалявам, продукта <em>[% product.name FILTER html %]</em>
    трябва да има поне една действуваща версия, за да можете да
    въвеждате [% terms.bug %] в него.<br>
    [% IF user.in_group("editcomponents", product.id) %]
      <a href="editversions.cgi?action=add&amp;product=[% product.name FILTER uri %]">Създаване
      на нова версия</a>.
    [% ELSE %]
      Моля, свържете се с [% Param("maintainer") %] и го помолете
      да добави версия към продукта.
    [% END %]

  [% ELSIF error == "multiple_alias_not_allowed" %]
    Не можете да задавате псевдоними когато променяте няколко [% terms.abug %]
    наведнъж.

  [% ELSIF error == "need_quip" %]
    [% title = "Изисква се остроумие" %]
    [% docslinks = {'quips.html' => 'За остроумията'} %]
    Моля, въведете остроумие в текстовото поле.

  [% ELSIF error == "new_password_missing" %]
    [% title = "Липсва нова парола" %]
    Трябва да въведете нова парола.

  [% ELSIF error == "no_axes_defined" %]
    [% title = "Не са определени оси" %]
    [% docslinks = {'reporting.html' => 'Доклади'} %]
    Не сте определили никакви оси за изчертаване.

  [% ELSIF error == "no_bugs_chosen" %]
    [% title = BLOCK %]Не са избрани [% terms.bugs %][% END %]
    Очевидно не сте избрали никакви [% terms.bugs %]
    [% IF action == "modify" %]
      за промяна.
    [% ELSIF action == "view" %]
      за преглед.
    [% END %]

  [% ELSIF error == "no_tag_to_edit" %]
    [% title = "Не е избран таг" %]
    Опитахте се да създадете или премахнете таг без име.

  [% ELSIF error == "no_initial_bug_status" %]
    [% title = "Няма първоначален статус на $terms.bug" %]
    Не е наличен статус на [% terms.bug %] при създаване.
    Моля, докладвайте проблема на [% Param("maintainer") %].

  [% ELSIF error == "no_new_quips" %]
    [% title = "Без нови остроумия" %]
    [% admindocslinks = {'quips.html' => 'Регулиране на използването на остроумия'} %]
    Сайта не разрешава добавянето на нови остроумия.

  [% ELSIF error == "no_page_specified" %]
    [% title = "Не е указана страница" %]
    Не сте указали идентификатор на страница за показване.

  [% ELSIF error == "no_products" %]
    [% title = "Няма продукти" %]
    [% admindocslinks = {'products.html'   => 'Настройване на продукт',
                         'components.html' => 'Добавяне на съставни части към продукт',
                         'groups.html'     => 'Групова сигурност'} %]
    Или не са определени продукти, за които да въвеждате [% terms.bugs %] или не
    Ви е даден достъп до никой.

  [% ELSIF error == "number_not_numeric" %]
    [% title = "Необходима е числова стойност" %]
    Стойността '[% num FILTER html %]' в полето 
    <em>[% field_descs.$field FILTER html %]</em> 
    не е числова стойност.

  [% ELSIF error == "number_too_large" %]
    [% title = "Числото е твърде голямо" %]
    Стойността '[% num FILTER html %]' в полето 
    <em>[% field_descs.$field FILTER html %]</em> 
    е по-голяма от максималната позволена стойност '[% max_num FILTER html %]'.

  [% ELSIF error == "number_too_small" %]
    [% title = "Числото е твърде малко" %]
    Стойността '[% num FILTER html %]' 
    в полето <em>[% field_descs.$field FILTER html %]</em> 
    е по-малка от минималната възможна стойност '[% min_num FILTER html %]'.

  [% ELSIF error == "object_not_specified" %]
    [% type = BLOCK %][% INCLUDE object_name class = class %][% END %]
    [% title = BLOCK %][% type FILTER ucfirst FILTER html %] не е 
    указан[% END %]
    Трябва да изберете/въведете [% type FILTER html %].

  [% ELSIF error == "object_does_not_exist" %]
    [% type = BLOCK %][% INCLUDE object_name class = class %][% END %]
    [% title = BLOCK %]Недействителен [% type FILTER ucfirst FILTER html %][% END %]
    Няма [% type FILTER html %] 
    [% IF id.defined %]
      с идентификатора '[% id FILTER html %]'
    [% ELSE %]
      именован '[% name FILTER html %]'
    [% END %]
    [% IF product.defined %]
      в продукта '[% product.name FILTER html %]'
    [% END %].
    [% IF class == "Bugzilla::User" %]
      Или сте въвели грешно името или този потребител все още не се е записал
      за сметка в [% terms.Bugzilla %].
    [% ELSIF class == "Bugzilla::Keyword" %]
      Позволените имена на ключови думи са <a href="describekeywords.cgi">описани
      тук</a>.
    [% END %]

  [% ELSIF error == "old_password_incorrect" %]
    [% title = "Неправилна стара парола" %]
    Не сте въвели старата си парола правилно.

  [% ELSIF error == "old_password_required" %]
    [% title = "Необходима е старата парола" %]
    Трябва да въведете старата си парола, за да промените електронния си пощенски адрес.

  [% ELSIF error == "password_change_requests_not_allowed" %]
    [% title = "Заявките за смяна на парола не са разрешени" %]
    Системата не е конфигурирана да позволява заявки за смяна на парола.

  [% ELSIF error == "passwords_dont_match" %]
    [% title = "Паролите не съвпадат" %]
    Двете пароли които въведохте не съвпадат.

  [% ELSIF error == "password_current_too_short" %]
    [% title = "Изисква се нова парола" %]
    Паролата ви текущо е дълга по-малко от
    [%+ constants.USER_PASSWORD_MIN_LENGTH FILTER html %] символа,
    което е новата минимална дължина изисквана за пароли.
    Трябва да <a href="token.cgi?a=reqpw&amp;loginname=[% locked_user.email FILTER uri %]">
    поискате нова парола</a>, за да влезете отново.

  [% ELSIF error == "password_too_short" %]
    [% title = "Твърде къса парола" %]
    Паролата трябва да бъде най-малко
    [%+ constants.USER_PASSWORD_MIN_LENGTH FILTER html %] символа.

  [% ELSIF error == "password_not_complex" %]
     [% title = "Парола неотговаряща на изискванията" %]
     [% passregex = Param('password_complexity') %]
     Паролата трябва да съдържа поне един/една:
     <ul>
       [% IF passregex.search('letters') %]
         <li>ГЛАВНА буква</li>
         <li>малка буква</li>
       [% END %]
       [% IF passregex.search('numbers') %]
         <li>цифра</li>
       [% END %]
       [% IF passregex.search('specialchars') %]
         <li>специален символ</li>
       [% END %]
     </ul>

  [% ELSIF error == "product_access_denied" %]
    [% title = "Отказан достъп до продукт" %]
    Или продукта
    [%+ IF id.defined %]
      с идентификатор [% id FILTER html %]
    [% ELSE %]
      '[% name FILTER html %]'
    [% END %]
    не съществува или нямате достъп до него.

  [% ELSIF error == "product_illegal_group" %]
    [% title = "Недействителна група" %]
    [% group.name FILTER html %] не е действаща [% terms.bug %] група
    и затова не можете да редактирате групови контроли за нея.

  [% ELSIF error == "product_name_already_in_use" %]
    [% title = "Името на продукта вече съществува" %]
    [% admindocslinks = {'products.html' => 'Администриране на продукти'} %]
    Името '[% product FILTER html %]' вече съществува.
  
  [% ELSIF error == "product_name_diff_in_case" %]
    [% title = "Името на продукта се различава само по регистър" %]
    [% admindocslinks = {'products.html' => 'Администриране на продукти'} %]
    Името '[% product FILTER html %]' се различава от името на 
    продукта '[% existing_product FILTER html %]' само по регистър.

  [% ELSIF error == "product_name_too_long" %]
    [% title = "Име на продукт твърде дълго" %]
    Името на продукт е ограничено до [% constants.MAX_PRODUCT_SIZE FILTER html %]
    символа. '[% name FILTER html %]' е твърде дълго ([% name.length %] символа).

  [% ELSIF error == "product_must_define_defaultmilestone" %]
    [% title = "Необходимост от определяне на подразбиращо се целево събитие" %]
    [% admindocslinks = {'products.html' => 'Администриране на продукти',
                         'milestones.html' => 'За важните събития'} %]
    Трябва да <a href="editmilestones.cgi?action=add&amp;product=[% product FILTER uri %]">
    създадете важното събитие '[% milestone FILTER html %]'</a> преди
    то да може да бъде направено подразбиращо се за продукта '[% product FILTER html %]'.

  [% ELSIF error == "product_admin_denied" %]
    [% title = "Отказан достъп до продукт" %]
    Не ви е позволено да редактирате свойствата на продукта '[% product FILTER html %]'.

  [% ELSIF error == "product_blank_name" %]
    [% title = "Не е позволено празно име на продукт" %]
    [% admindocslinks = {'products.html' => 'Администриране на продукти'} %]
    Трябва да въведете име за продукта
  
  [% ELSIF error == "product_disabled" %]
    [% title = BLOCK %]Продукта е затворен за въвеждане на [% terms.bugs %][% END %]
    [% admindocslinks = {'products.html' => 'Администриране на продукти'} %]
    Съжалявам, въвеждането на [% terms.bugs %] в
    продукта <em>[% product.name FILTER html %]</em> беше забранено.

  [% ELSIF error == "product_edit_denied" %]
    [% title = "Отказан достъп за редактиране на продукт" %]
    [% admindocslinks = {'products.html' => 'Администриране на продукти',
                         'groups.html'   => 'Групова сигурност'} %]
    Не ви е разрешено да редактирате [% terms.bugs %] в продукта 
    [%+ product FILTER html %].

  [% ELSIF error == "product_has_bugs" %]
    [% title = BLOCK %]Продукта има [% terms.bugs %][% END %]
    [% admindocslinks = {'products.html' => 'Администриране на продукти'} %]
    Съществуват [% nb FILTER html %] [%+ terms.abug %] въведени за този продукт!
    Трябва да преместите тези [% terms.bugs %] в друг продукт преди да можете
    да изтриете този.

  [% ELSIF error == "product_must_have_description" %]
    [% title = "Продукта има нужда от описание" %]
    [% admindocslinks = {'products.html' => 'Администриране на продукти'} %]
    Трябва да въведете описание за този продукт.

  [% ELSIF error == "product_must_have_version" %]
    [% title = "Продукта има нужда от версия" %]
    [% admindocslinks = {'products.html' => 'Администриране на продукти',
                         'versions.html' => 'Администриране на версии'} %]
    Трябва да въведете правилна версия за създаването на нов продукт.

  [% ELSIF error == "product_unknown_component" %]
    [% title = "Непозната съставна част" %]
    Продукт '[% product FILTER html %]' няма съставна част
    [% IF comp_id %]
      с идентификатор [% comp_id FILTER html %].
    [% ELSE %]
      именована '[% comp FILTER html %]'.
    [% END %]

  [% ELSIF error == "query_name_missing" %]
    [% title = "Не е указано има не търсене" %]
    [% docslinks = {'query.html#list' => "За $terms.bug списъците"} %]
    Трябва да укажете име за вашето търсене.

  [% ELSIF error == "query_name_too_long" %]
    [% title = "Твърде дълго име на заявка" %]
    Името на заявката трябва да бъде по-късо от [% constants.MAX_LEN_QUERY_NAME FILTER html %]
    символа.

  [% ELSIF error == "quicksearch_invalid_query" %]
    [% title = "Невалидна заявка" %]
    Заявката ви е невалидна.
    [% IF operators %]
      Оператора [% operators.shift FILTER html %] не може да бъде следван от
      [%+ operators.shift FILTER html %].
    [% ELSE %]
      Заявка не може да започва с AND или OR, нито може да завършва с AND, OR или NOT.
      Те са запазени оператори и трябва да бъдт заградени в кавички ако искате да търсите
      тези низове.
    [% END %]

  [% ELSIF error == "quicksearch_unbalanced_quotes" %]
    [% title = "Лошо форматирана заявка" %]
    [% terms.Bugzilla %] не е способна да направи правилен синтактичен разбор на заявката ви:
    <em>[% string FILTER html %]</em>.<br>
    Ако използвате кавички за обграждане на низове, уверете се, че и двете са поставени.
    Ако наистина желаете да търсите за кавичка в низ, въведете \" вместо ".
    Например, <em>"Аз съм толкова \"специален\", наистина"</em> (с кавички) ще бъде
    разбрано като <em>Аз съм толкова "специален", наистина</em>.

  [% ELSIF error == "quicksearch_unknown_field" %]
    [% title = "Грешка на бързо търсене" %]
    Има проблем с търсенто ви:
    [% FOREACH field = unknown %]
      <p><code>[% field FILTER html %]</code> не е действително име на поле.</p>
    [% END %]
    [% FOREACH field = ambiguous.keys %]
      <p><code>[% field FILTER html %]</code> съвпада с повече от едно поле:
        [%+ ambiguous.${field}.join(', ') FILTER html %]</p>
    [% END %]

    [% IF unknown.size %]
      <p>Действителните имена на полета са 
        <a href="page.cgi?id=quicksearch.html#fields">описани тук</a>.</p>
    [% END %]

  [% ELSIF error == "reassign_to_empty" %]
    [% title = "Незаконно преназначаване" %]
    За да преназначите [% terms.bug %], трябва да предоставите адреса на
    новия назначен.

  [% ELSIF error == "require_component" %]
    [% title = "Необходима е съставна част" %]
    Трябва да изберете съставна част, за да запишете този [% terms.bug %]. Ако
    е необходимо просто отгатнете.

  [% ELSIF error == "relationship_loop_single" %]
    [% title = "Установена циклична връзка" %]
    [% field_descs.$field_name FILTER html %]
    на [% terms.bug %] [%+ bug_id FILTER html %]
    има циклична зависимост от [% terms.bug %] [%+ dep_id FILTER html %].

  [% ELSIF error == "request_queue_group_invalid" %]
    Груповото поле <em>[% group FILTER html %]</em> е недействително.

  [% ELSIF error == "require_new_password" %]
    [% title = "Необходима е нова парола" %]
    Не можете да смените паролата си, без да изберете нова.

  [% ELSIF error == "required_field" %]
    [% title = "Полето трябва да е зададено" %]
    Трябва да бъде зададена стойност на '[% field_descs.${field.name} FILTER html %]'
    field.

  [% ELSIF error == "require_summary" %]
    [% title = "Необходимо е резюме" %]
    Трябва да въведете резюме за този [% terms.bug %].

  [% ELSIF error == "resolution_cant_clear" %]
    [% terms.Bug %] [%+ bug_id FILTER bug_link(bug_id) FILTER none %] е 
    затворен, така че не можете да махнете решението му.

  [% ELSIF error == "resolution_not_allowed" %]
    [% title = "Решението не е позволено" %]
    Не можете да давате решение на отворени [% terms.bugs %].

  [% ELSIF error == "saved_search_used_by_whines" %]
    [% title = "Съхраненото търсене се използва" %]
    [% docslinks = {'whining.html' => 'За хленча'} %]
    Съхраненото търсене <em>[% search_name FILTER html %]</em> се използва 
    от <a href="editwhines.cgi">Хленч събития</a> със следните теми:
    [%+ subjects FILTER html %]

  [% ELSIF error == "search_content_without_matches" %]
    [% title = "Неправилно търсене" %]
    Полето "съдържание" може да бъде използвано само с търсене "съвпадение" и
    търсене "съвпадение" може да бъде използвано само с полето
    "съдържание".

  [% ELSIF error == "search_field_operator_invalid" %]
    [% terms.Bugzilla %] не поддържа използването на 
    "[%+ field_descs.$field FILTER html %]" ([% field FILTER html %])
    поле с "[% search_descs.$operator FILTER html %]" 
    ([% operator FILTER html %]) тип за търсене.

  [% ELSIF error == "see_also_self_reference" %]
    Не можете да сложите този [% terms.bug %] в собственото му
    [%+ field_descs.see_also FILTER html %] поле.

  [% ELSIF error == "series_already_exists" %]
    [% title = "Редиците вече съществуват" %]
    [% docslinks = {'reporting.html' => 'Доклади'} %]
      Редиците именувани <em>[% series.category FILTER html %] /
      [%+ series.subcategory FILTER html %] / 
      [%+ series.name FILTER html %]</em>
      вече съществуват.
    
  [% ELSIF error == "still_unresolved_bugs" %]
    [% title = "Нерешени зависимости" %]
    [% terms.Bug %] [%+ bug_id FILTER bug_link(bug_id) FILTER none %]
    има [% dep_count FILTER none %] 
    [% IF dep_count == 1 %]
      нерешена зависимост
    [% ELSE %]
      нерешени зависимости
    [% END %].
    Те трябва или да бъдат решени или премахнати от
    полето "[% field_descs.dependson FILTER html %]" преди да можете да разрешите
    този [% terms.bug %] като [% display_value("resolution", "FIXED") FILTER html %].

  [% ELSIF error == "sudo_invalid_cookie" %]
    [% title = "Недействителна Sudo бисквитка" %]
    Бисквитката ви sudo е недействителна. Или е изтекла или не сте започнали
    sudo сесия правилно. Опреснете страницата или заредете друга страница,
    за да продължите това което правите от свое име.

  [% ELSIF error == "sudo_illegal_action" %]
    [% title = "Неупълномощено представляване" %]
    [% IF NOT sudoer.in_group("bz_sudoers") %]
      Не ви е позволено да представлявате потребители.
    [% ELSIF target_user AND target_user.in_group("bz_sudo_protect") %]
      Не ви е позволено да представлявате [% target_user.identity FILTER html %].
    [% ELSE %]
      Потребителя, който се опитахте да представлявате, не съществува.
    [% END %]

  [% ELSIF error == "sudo_in_progress" %]
    [% title = "Сесия като друг потребител в действие" %]
    В ход е сесия като друг потребител (представляван е [% target FILTER html %]). 
    Прекратете сесията (използвайки връзката в дъното) преди да започнете нова.

  [% ELSIF error == "sudo_password_required" %]
    [% title = "Изисква се парола" %]
    Вашата [% terms.Bugzilla %] парола е необходима за започване на сесия 
    като друг. Моля, <a href="relogin.cgi?action=prepare-sudo&amp;target_login=
    [%- target_login FILTER uri %]&amp;reason=
    [%- reason FILTER uri %]">върнете се</a> и въведете паролата си.
    
  [% ELSIF error == "sudo_preparation_required" %]
    [% title = "Необходима е подготовка" %]
    Не можете да започнете сесия като друг направо.  Моля
    <a href="relogin.cgi?action=prepare-sudo&amp;target_login=
    [%- target_login FILTER uri %]&amp;reason=
    [%- reason FILTER uri %]">започнете сесията си нормално</a>.

  [% ELSIF error == "sudo_protected" %]
    [% title = "Защитен потребител" %]
    Потребителя [% login FILTER html %] не може да бъде представляван от някой друг.

  [% ELSIF error == "tag_name_too_long" %]
    [% title = "Твърде дълго име на таг" %]
    Името на тага трябва да бъде по-кратко от [% constants.MAX_LEN_QUERY_NAME FILTER html %]
    символа.

  [% ELSIF error == "token_does_not_exist" %]
    [% title = "Признака не съществува" %]
    Признака, който предадохте, не съществува, изтекъл е или е
    бил отхвърлен.

  [% ELSIF error == "too_soon_for_new_token" %]
    [% title = "Твърде рано за нов признак" %]
    Заявихте признак
    [% IF type == "password" %]
      за парола
    [% ELSIF type == "account" %]
      за сметка
    [% END %]
    твърде скоро, за да заявите друг. Моля, изчакайте малко и опитайте отново.

  [% ELSIF error == "unknown_action" %]
    [% IF action %]
       Непознато действие [% action FILTER html %]!
    [% ELSE %]
       Не мога да установя какво искахте да направите.
    [% END %]

  [% ELSIF error == "unknown_tab" %]
    [% title = "Неизвестен прозорец" %]
    <code>[% current_tab_name FILTER html %]</code> не е действително име на прозорец.

  [% ELSIF error == "version_already_exists" %]
    [% title = "Версията вече съществува" %]
    [% admindocslinks = {'versions.html' => 'Администриране на версии'} %]
    Версията '[% name FILTER html %]' вече съществува за продукта '
    [%- product FILTER html %]'.

  [% ELSIF error == "version_blank_name" %]
    [% title = "Не е позволено празно име на версия" %]
    Трябва да въведете име за версията.

  [% ELSIF error == "version_has_bugs" %]
    [% title = BLOCK %]Версията има [% terms.bugs %][% END %]
    Съществуват [% nb FILTER html %] [%+ terms.bugs %] свързани с
    версията! Трябва да преназначите тези [% terms.bugs %] на друга версия
    преди да можете да изтриете тази.

  [% ELSIF error == "users_deletion_disabled" %]
    [% title = "Изтриването не действа" %]
    [% admindocslinks = {'useradmin.html' => 'Администриране на потребители'} %]
    Съжалявам, изтриването на потребители не е разрешено.

  [% ELSIF error == "user_has_responsibility" %]
    [% title = "Изтриването на потребителя невъзможно" %]
    [% admindocslinks = {'useradmin.html' => 'Администриране на потребители'} %]
    Потребителя, който искате да изтриете, е зададен като подразбиращ се назначен
    за [% terms.bugs %]
    [% IF Param('useqacontact') %]
      или качествен контрол
    [% END %]
    за поне една съставна част.
    Поради това, не можете да го изтриете сега.

  [% ELSIF error == "user_access_by_id_denied" %]
    [% title = "Потребителски достъп по идентификатор отказан" %]
    Излезлите потребители не могат да използват аргумента "ids" към тази функция
    за достъп до каквато и да е потребителска информация.

  [% ELSIF error == "user_access_by_match_denied" %]
    [% title = "Съвпадане на потребители отказано" %]
    Излезлите потребители не могат да използват аргумента "match" към тази функция
    за достъп до каквато и да е потребителска информация.

  [% ELSIF error == "user_login_required" %]
    [% title = "Необходимо е потребителско име" %]
    [% admindocslinks = {'useradmin.html' => 'Администриране на потребители'} %]
    Трябва да въведете име за вход за новия потребител.

  [% ELSIF error == "user_match_failed" %]
    [% title = "Сравнението пропадна" %]
    <tt>[% name FILTER html %]</tt> не съществува или не ви е позволено 
    да виждате потребителя.

  [% ELSIF error == "user_match_too_many" %]
    [% title = "Няма окончателно съвпадение" %]
    [% terms.Bugzilla %] не може да направи окончателно съвпадение за едно или повече
    от имената и/или е-пощенските адреси които въведохте за
    полетата [% fields.join(', ') FILTER html %].

  [% ELSIF error == "user_not_insider" %]
    [% title = "Потребител не е в Insidergroup" %]
    Съжалявам, но не ви е разрешено да отбелязвате (и обратното) коментари или приставки
    като частни.

  [% ELSIF error == "wrong_token_for_cancelling_email_change" %]
    [% title = "Грешен признак" %]
    Признака не може да бъде използван за отхвърляне на промяна на е-пощенски адрес.

  [% ELSIF error == "wrong_token_for_changing_passwd" %]
    [% title = "Грешен признак" %]
    Признака не може да бъде използван за смяна на паролата ви.

  [% ELSIF error == "wrong_token_for_confirming_email_change" %]
    [% title = "Грешен признак" %]
    Признака не може да бъде използван за смяна на е-пощенския ви адрес.

  [% ELSIF error == "wrong_token_for_creating_account" %]
    [% title = "Грешен признак" %]
    Признака не може да бъде използван за създаване на сметка.

  [% ELSIF error == "xmlrpc_invalid_value" %]
    "[% value FILTER html %]" не е действителна стойност за
    &lt;[% type FILTER html %]&gt; поле. (Вижте XML-RPC спецификацията
    за подробности.)

  [% ELSIF error == "xmlrpc_illegal_content_type" %]
    При използване на XML-RPC не можете да пращате данни като
    [%+ content_type FILTER html %]. Само text/xml 
    и application/xml са разрешени.

  [% ELSIF error == "zero_length_file" %]
    [% title = "Файлът е празен" %]
    Файлът, който се опитвате да прикачите е празен, не съществува или нямате
    права за четенето му.

  [% ELSIF error == "illegal_user_id" %]
    [% title = "Недействителен потребителски идентификатор" %]
    Потребителския идентификатор '[% userid FILTER html %]' в действителност не е цяло число.

  [% ELSIF error == "extern_id_exists" %]
    [% title = "Вече съществуваща сметка" %]
    Вече същестсвуа сметка
    [% IF existing_login_name %]
      ([% existing_login_name FILTER html %])
    [% END %]
    с външен идентификатор за вход "[% extern_id FILTER html %]".

  [% ELSE %]

    [%# Try to find hooked error messages %]
    [% error_message = Hook.process("errors") %]

    [% IF not error_message %]
      [% title = "Не е открита информация за грешката" %]
      Потребителският код за грешка <code>[% error FILTER html %]</code> не беше открит.
      Моля, изпратете поща до [% Param("maintainer") %], описвайки
      предприетите стъпките до получаване на това съобщение.
    [% ELSE %]
      [% error_message FILTER none %]
    [% END %]
  [% END %]
[% END %]

[%# We only want HTML error messages for ERROR_MODE_WEBPAGE %]
[% USE Bugzilla %]
[% IF Bugzilla.error_mode != constants.ERROR_MODE_WEBPAGE %]
  [% IF Bugzilla.usage_mode == constants.USAGE_MODE_BROWSER %]
    [% error_message FILTER none %]
  [% ELSE %]
    [% error_message FILTER txt %]
  [% END %]
  [% RETURN %]
[% END %]

[% UNLESS header_done %]
  [% PROCESS global/header.html.tmpl %]
[% END %]

[% PROCESS global/docslinks.html.tmpl
   docslinks      = docslinks
   admindocslinks = admindocslinks
%]

<table cellpadding="20">
  <tr>
    <td id="error_msg" class="throw_error">
      [% error_message FILTER none %]
    </td>
  </tr>
</table>

<p>
  Моля, щракнете върху <b>Назад</b> и опитайте отново.
</p>

[%# If a saved search fails, people want the ability to edit or delete it. 
  # This is the best way of getting information about that possible saved
  # search from any error call location. %]

[% namedcmd = Bugzilla.cgi.param("namedcmd") %]
[% sharer_id = Bugzilla.cgi.param("sharer_id") %]
[% IF namedcmd AND error != "missing_query" 
               AND error != "saved_search_used_by_whines"
               AND !sharer_id %]
  <p>  
    Можете също и да    
    <a href="buglist.cgi?cmdtype=dorem&amp;remaction=forget&amp;namedcmd=
                  [% namedcmd FILTER uri %]">забравите</a>
                  
    [% FOREACH q = Bugzilla.user.queries %]
      [% IF q.name == namedcmd %]
        или <a href="query.cgi?[% q.url FILTER html %]">редактирате</a>
      [% END %]
    [% END %]
    
    съхраненото търсене '[% namedcmd FILTER html %]'.
  </p>
[% END %]            

[% PROCESS global/footer.html.tmpl %]

[% BLOCK object_name %]
  [% IF class == "Bugzilla::Attachment" %]
    приставка
  [% ELSIF class == "Bugzilla::User" %]
    потребител
  [% ELSIF class == "Bugzilla::Classification" %]
    класификация
  [% ELSIF class == "Bugzilla::Product" %]
    продукт
  [% ELSIF class == "Bugzilla::Component" %]
    съставна част
  [% ELSIF class == "Bugzilla::Version" %]
    версия
  [% ELSIF class == "Bugzilla::Milestone" %]
    важно събитие
  [% ELSIF class == "Bugzilla::Status" %]
    състояние
  [% ELSIF class == "Bugzilla::Flag" %]
    флаг
  [% ELSIF class == "Bugzilla::FlagType" %]
    флаг тип
  [% ELSIF class == "Bugzilla::Field" %]
    поле
  [% ELSIF class == "Bugzilla::Group" %]
    група
  [% ELSIF class == "Bugzilla::Keyword" %]
    ключова дума
  [% ELSIF class == "Bugzilla::Search::Recent" %]
    скорошно търсене
  [% ELSIF class == "Bugzilla::Search::Saved" %]
    съхранено търсене
  [% ELSIF ( matches = class.match('^Bugzilla::Field::Choice::(.+)') ) %]
    [% SET field_name = matches.0 %]
    [% field_descs.$field_name FILTER html %]
  [% END %]
  [% Hook.process('end_object_name', 'global/user-error.html.tmpl') %]
[% END %]
