[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  #%]

[%# INTERFACE:
  # header_done: boolean. True if the Bugzilla header has already been printed.
  # error: string. The tag of the error, or the error message to be displayed
  # (deprecated). May contain HTML if it's an error message.
  #%]

[%# This is a list of all the possible user errors. Please keep them in
  # alphabetical order by error tag, and leave a blank line between errors.
  #
  # Note that you must explicitly filter every single template variable
  # in this file; if you do not wish to change it, use the "none" filter.
  #
  # Extension- or custom-specific error handling  can be easily added 
  # via hooks: just place your <extension>-errors.html.tmpl into 
  # template/en/extension/hook/global/user-error.html.tmpl/errors/
  # Note: be aware of uniqueness of error string parameter value, since 
  # nobody can guarantee the hook files processing order in the future
  #%]

[% PROCESS global/variables.none.tmpl %]

[% PROCESS "global/field-descs.none.tmpl" %]

[% DEFAULT title = "Грешка" %]

[% error_message = BLOCK %]
  [% IF    error == "account_creation_disabled" %]
    [% title = "Създаването на потребители е невъзможно" %]
    Създаването на потребители е забранено или ограничено.
    <hr>
    Нови потребители трябва да бъдат създавани от администратор.

  [% ELSIF error == "account_disabled" %]
    [% title = "Извадена от употреба регистрация" %]
    [% disabled_reason FILTER none %]
    <hr>
    Ако вярвате, че регистрацията ви трябва да бъде възстановена, моля
    изпратете поща до [% Param("maintainer") %], обяснявайки защо.

  [% ELSIF error == "account_exists" %]
    [% title = "Регистрацията вече съществува" %]
    Вече има регистрация с
    [% IF email %]
      потребителското име [% email FILTER html %].
    [% ELSE %]
      това потребителско име.
    [% END %]

  [% ELSIF error == "account_inexistent" %]
    [% title = "Регистрацията не съществува" %]
    Няма [% terms.Bugzilla %] регистрация с това име.

  [% ELSIF error == "alias_has_comma_or_space" %]
    [% title = "Неправилни символи в псевдоним" %]
    Псевдонима, който сте въвели, <em>[% alias FILTER html %]</em>,
    съдържа една или повече запетайки или интервали. Псевдонимите не могат да
    съдържат запетайки или интервали, защото тези символи се използват за
    разделяне на псевдоними един от друг в списъци.  Моля изберете друг
    псевдоним, който не съдържа запетайки или интервали.

  [% ELSIF error == "alias_in_use" %]
    [% title = "Псевдонима се използва" %]
    [% terms.Bug %] [%+ bug_id FILTER bug_link(bug_id) FILTER none %]
    вече е взел псевдонима <em>[% alias FILTER html %]</em>.
    Моля, изберете друг.

  [% ELSIF error == "alias_not_defined" %]
    [% title = "Псевдонима не е зададен" %]
    Не сте предоставили псевдоним за този [% terms.bug %].

  [% ELSIF error == "alias_is_numeric" %]
    [% title = "Псевдонима е цифров" %]
    Опитахте се да зададете псевдонима <em>[% alias FILTER html %]</em> на
    този [% terms.bug %], но псевдонимите не могат да бъдат само числа,
    тъй като така могат да бъдат объркани с номер на [% terms.bug %].
    Моля, изберете друг псевдоним съдържащ поне една буква.

  [% ELSIF error == "alias_too_long" %]
    [% title = "Псевдонима е твърде дълъг" %]
    Псевдонимите на [% terms.bug %] не могат да бъдат по-дълги от 20 символа.
    Моля, изберете по-къс псевдоним.

  [% ELSIF error == "auth_cant_create_account" %]
    [% title = "Не може да се създават потребители" %]
    Този сайт използва схема на удостоверяване, която не разрешава създаването
    на потребители. Моля, свържете се с администратор, за да Ви бъде създаден
    потребител.

  [% ELSIF error == "auth_failure" %]
    [% title = "Необходимо е удостоверяване" %]
    [% admindocslinks = {'groups.html' => 'Групова сигурност'} %]
    Съжалявам,
    [% IF group %]
      не сте член на групата '[% group FILTER html %]',
    [% END %]

    [% IF reason %]
      [% IF group %] и [% END %]
      [% IF reason == "cant_bless" %]
        нямате права да добавяте или премахвате хора от група,
      [% ELSIF reason == "not_visible" %]
        има ограничения над видимостта върху определени групи,
      [% END %]
    [% END %]

    [% IF group || reason %], така че [% END %] не сте упълномощен да
    [% IF action == "access" %]
      достъпвате
    [% ELSIF action == "add" %]
      добавяте нов
    [% ELSIF action == "begin" %]
      започвате
    [% ELSIF action == "modify" %]
      изменяте
    [% ELSIF action == "delete" %]
      изтривате
    [% ELSIF action == "edit" %]
      добавяте, изменяте или изтривате
    [% ELSIF action == "move" %]
      премествате
    [% ELSIF action == "run" %]
      пускате
    [% ELSIF action == "schedule" %]
      разписвате
    [% ELSIF action == "use" %]
      използвате
    [% END %]

    [% IF object == "attachment" %]
      тази приставка
    [% ELSIF object == "bugs" %]
      [%+ terms.bugs %]
    [% ELSIF object == "charts" %]
      възможността "Нови графики"
    [% ELSIF object == "classifications" %]
      класификации
    [% ELSIF object == "components" %]
      съставни части
    [% ELSIF object == "custom_fields" %]
      потребителски полета
    [% ELSIF object == "field_values" %]
      стойности на полета
    [% ELSIF object == "flagtypes" %]
      типове флагове
    [% ELSIF object == "group_access" %]
      групов достъп
    [% ELSIF object == "groups" %]
      групи
    [% ELSIF object == "keywords" %]
      ключови думи
    [% ELSIF object == "milestones" %]
      важни събития
    [% ELSIF object == "multiple_bugs" %]
      няколко [% terms.abug %] едновременно
    [% ELSIF object == "parameters" %]
      параметри
    [% ELSIF object == "products" %]
      продукти
    [% ELSIF object == "quips" %]
      остроумия
    [% ELSIF object == "reports" %]
      whine доклади
    [% ELSIF object == "sanity_check" %]
      санитарна проверка
    [% ELSIF object == "settings" %]
      настройки
    [% ELSIF object == "sudo_session" %]
      сесия като друг потребител
    [% ELSIF object == "timetracking_summaries" %]
      обобщени доклади за следене на времетраенето
    [% ELSIF object == "user" %]
      указания от вас потребител
    [% ELSIF object == "users" %]
      потребители
    [% ELSIF object == "versions" %]
      версии
    [% END %].

    [% Hook.process("auth_failure") %]

  [% ELSIF error == "attachment_deletion_disabled" %]
    [% title = "Изтриването на приставки е забранено" %]
    Изтриването на приставки е забранено на тази инсталация.

  [% ELSIF error == "attachment_removed" %]
    [% title = "Приставката е премахната" %]
    Приставката, която се опитвате да достъпите беше премахната.

  [% ELSIF error == "bug_access_denied" %]
    [% title = "Достъпът отказан" %]
    [% admindocslinks = {'groups.html' => 'Групова сигурност'} %]
    Не ви е позволен достъп до [% terms.bug %] №[% bug_id FILTER html %].

  [% ELSIF error == "bug_access_query" %]
    [% title = "Достъпът отказан" %]
    [% docslinks = {'myaccount.html' => 'Създаване на сметка'} %]
    Не ви е позволен достъп до [% terms.bug %] №[% bug_id FILTER html %].
    За да видите този [% terms.bug %] първо
    трябва <a href="show_bug.cgi?id=
                   [% bug_id FILTER url_quote %]&amp;GoAheadAndLogIn=1">влезете
    като потребител</a> с подходящите позволения.

  [% ELSIF error == "buglist_parameters_required" %]
    [% title = "Необходими са параметри" %]
    [% docslinks = {'query.html' => "Търсене за $terms.bugs",
                    'query.html#list'  => "$terms.Bug lists"} %]
    Не можете да търсите или да създавате съхранени търсения без никакви термини за търсене.

  [% ELSIF error == "bugs_not_changed" %]
    [% title = BLOCK %][% terms.Bugs %]те не са променени[% END %]
    Изглежда не сте направили никакви промени по избраните [% terms.bugs %],
    така че няма нищо за предаване.

  [% ELSIF error == "chart_too_large" %]
    [% title = "Графиката твърде голяма" %]
    Съжалявам, но 2000 x 2000 пиксела е максималният размер за графика.

  [% ELSIF error == "comment_required" %]
    [% title = "Необходим е коментар" %]
    Трябва да попълните <b>коментар</b> за тази промяна.
    Моля, обяснете я.

  [% ELSIF error == "comment_too_long" %]
    [% title = "Коментарът твърде дълъг" %]
    Коментарите не могат да бъдат по-дълги от 65,535 символа.

  [% ELSIF error == "auth_classification_not_enabled" %]
    [% title = "Класификацията не е позволена" %]
    Съжалявам, класофикацията не е позволена.

  [% ELSIF error == "classification_not_specified" %]
    [% title = "Трябва да предоставите име на класификацията" %]
    Трябва да въведете име на класификация.

  [% ELSIF error == "classification_already_exists" %]
    [% title = "Класификацията вече съществува" %]
    Класификация с име '[% name FILTER html %]' вече съществува.

  [% ELSIF error == "classification_doesnt_exist" %]
    [% title = "Класификацията не съществува" %]
    Класификацията '[% name FILTER html %]' не съществува.

  [% ELSIF error == "classification_doesnt_exist_for_product" %]
    [% title = "Класификацията не съществува за продукт" %]
    Класификацията '[% classification FILTER html %]' не съществува
    за продукта '[% product FILTER html %]'.

  [% ELSIF error == "classification_invalid_sortkey" %]
    [% title = "Недействителен ключ за подреждане на класификация" %]
    Ключа за пдреждане <em>[% sortkey FILTER html %]</em> за класификацията '[% name FILTER html %]'
    е недействителен. Трябва да бъде положително цяло цисло.

  [% ELSIF error == "classification_not_deletable" %]
    [% title = "Подразбиращата се класификация не може да бъде изтрита" %]
    Не можете да изтриете подразбиращата се класификация

  [% ELSIF error == "classification_has_products" %]
     Съжалявам, има продукти за тази класификация. Трябва
     да преназначите тези продукти на друга класификация преди
     да можете да изтриете тази.

  [% ELSIF error == "component_already_exists" %]
    [% title = "Съставната част вече съществува" %]
    Съставна част с името '[% name FILTER html %]' вече съществува.

  [% ELSIF error == "component_blank_description" %]
    [% title = "Не е позволено празно описание на съставна част" %]
    Трябва да въведете някакво описание за съставната част '[% name FILTER html %]'.

  [% ELSIF error == "component_blank_name" %]
    [% title = "Не е позволено празно име на съставна част" %]
    Трябва да въведете име за новата съставна част.

  [% ELSIF error == "component_has_bugs" %]
    [% title = BLOCK %]Съставната част има [% terms.bugs %][% END %]
    Съществуват [% nb FILTER html %] [%+ terms.bug %](а) въведени за съставната част!
    Трябва да преназначите тези [% terms.bugs %] на друга съставна част, преди да
    можете да изтриете тази.

  [% ELSIF error == "component_name_too_long" %]
    [% title = "Името на съставната част е твърде дълго" %]
    Името на съставна част е ограничено до 64 символа. 
    '[% name FILTER html %]' е твърде дълго ([% name.size %] символа).

  [% ELSIF error == "component_need_initialowner" %]
    [% title = "Съставната част изисква подразбиращо се назначение" %]
    Трябва да въведете подразбиращо се назначение за съставната част '[% name FILTER html %]'.

  [% ELSIF error == "component_not_valid" %]
    [% title = "Указаната съставна част не съществува" %]
    Продукта '[% product FILTER html %]' няма съставна част
    на име '[% name FILTER html %]'.

  [% ELSIF error == "customfield_nonexistent" %]
    [% title = "Непознато потребителско поле" %]
    Няма потребителско поле с името '[% name FILTER html %]'.

  [% ELSIF error == "dependency_loop_multi" %]
    [% title = "Установена циклична зависимост" %]
    Следващия(те) [% terms.bug %](ове) ще се появят и на "зависи от"
    и на "блокира" частите на дървото на зависимостите ако тези промени
    бъдат предадени:
    [% FOREACH dep = deps %]
      [%+ dep FILTER bug_link(dep) FILTER none %]
    [% END %].
    Това би създало циклична зависимост, което не е позволено.

  [% ELSIF error == "dependency_loop_single" %]
    [% title = "Установено зацикляне на зависимост" %]
    Не можете да направите [% terms.abug %] да блокира себе си или да зависи от самия себе си.

  [% ELSIF error == "description_required" %]
    [% title = "Необходимо е описание" %]
    Трябва да осигурите описание за [% terms.abug %].

  [% ELSIF error == "dupe_not_allowed" %]
    [% title = "Невъзможност за отбелязване на $terms.bugs като двойници" %]
    Не можете да отбелязвате [% terms.bugs %] като двойници когато
    променяте няколко [% terms.abug %] наведнъж.

  [% ELSIF error == "dupe_loop_detected" %]
    [% title = "Установено зацикляне между двойници" %]
    Не можете да отбележите [% terms.bug %] [%+ bug_id FILTER html %] като
    двойник на
    [% IF dupe_of == bug_id %]
      себе си
    [% ELSE %]
      [%+ terms.bug %] [%+ dupe_of FILTER html %], защото това
      ще създаде циклична зависимост
    [% END %].

  [% ELSIF error == "email_change_in_progress" %]
    [% title = "Промяната на е-пощенски адрес се обработва" %]
    Промяната на е-пощенски адрес се обработва; моля, проверете пощата си.

  [% ELSIF error == "email_confirmation_failed" %]
    [% title = "Потвърждението на е-пощенски адрес пропадна" %]
    Потвърждението на е-пощенски адрес пропадна.

  [% ELSIF error == "email_no_text_plain" %]
    Съобщението ви не съдържа никакъв текст. [% terms.Bugzilla %] не
    приема само HTML е-поща, или HTML е-поща с приставки.

  [% ELSIF error == "empty_group_description" %]
    [% title = "Описанието на група не може да е празно" %]
    Трябва да въведете описание за групата.

  [% ELSIF error == "empty_group_name" %]
    [% title = "Името на група на може да е празно" %]
    Трябва да въведете име за групата.

  [% ELSIF error == "entry_access_denied" %]
    [% title = "Достъпът отказан" %]
[% admindocslinks = {'groups.html' => 'Групова сигурност'} %]
    Съжалявам, или продукта <em>[% product FILTER html %]</em>
    не съществува или не сте упълномощен да
    въвеждате [% terms.bug %] за него.

  [% ELSIF error == "field_already_exists" %]
    [% title = "Полето вече съществува" %]
    Полето '[% field.name FILTER html %]'     
    ([% field.description FILTER html %]) вече съществува. Моля,
    изберете друго име.

  [% ELSIF error == "field_invalid_name" %]
    [% title = "Недействително име на поле" %]
    '[% name FILTER html %]' не е действително име за поле.
    Името може да съдържа само букви, цифри и знака за подчертване.

  [% ELSIF error == "field_invalid_sortkey" %]
    [% title = "Недействителен ключ за подреждане на поле" %]
    Ключа за подреждане [% sortkey FILTER html %], който сте предоставили за
    полето в действителност не е положително число.

  [% ELSIF error == "field_missing_description" %]
    [% title = "Липса описание на поле" %]
    Трябва да въведете описание за това поле.

  [% ELSIF error == "field_missing_name" %]
    [% title = "Липсва име на поле" %]
    Трябва да въведете име за това поле.

  [% ELSIF error == "fieldname_invalid" %]
    [% title = "Указаното поле не съществува" %]
    Полето '[% field FILTER html %]' не съществува или 
    не може да бъде редактирано през този интерфейс.

  [% ELSIF error == "fieldname_not_specified" %]
    [% title = "Не е указано име за полето" %]
    Не е указано име на полето при опит за редакция на стойностите му.

  [% ELSIF error == "fieldvalue_already_exists" %]
    [% title = "Стойността вече съществува за полето" %]
    Стойността '[% value FILTER html %]' вече съществува за полето
    '[%- field FILTER html %]'.

  [% ELSIF error == "fieldvalue_doesnt_exist" %]
    [% title = "Указаната стойност на поле не съществува" %]
    Стойността '[% value FILTER html %]' не съществува за
    полето '[% field FILTER html %]'.

  [% ELSIF error == "fieldvalue_is_default" %]
    [% title = "Указаната стойност е подразбираща се" %]
    '[% value FILTER html %]' е стойност по подразбиране за
    полето '[% field FILTER html %]' и не може да бъде изтрита.
    [% IF user.groups.tweakparams %]
      Трябва първо да <a href="editparams.cgi?section=bugfields#
      [%- param_name FILTER url_quote %]">промените</a> стойността по подразбиране.
    [% END %]

  [% ELSIF error == "fieldvalue_name_too_long" %]
    [% title = "Стойността на полето е твърде дълга" %]
    Стойността на поле е ограничена до 60 символа.
    '[% value FILTER html %]' е твърде дълга ([% value.length %] символа).

  [% ELSIF error == "fieldvalue_not_editable" %]
    [% title = "Стойност на поле не може да се променя" %]
    Стойността '[% old_value FILTER html %]' не може да бъде преименуване, защото
    тя играе някаква специална роля за полето '[% field FILTER html %]'.

  [% ELSIF error == "fieldvalue_not_deletable" %]
    [% title = "Стойност не поле е неизтриваема" %]
    Стойността '[% value FILTER html %]' не може да бъде премахната, защото
    тя играе някаква специална роля за полето '[% field FILTER html %]'.

  [% ELSIF error == "fieldvalue_not_specified" %]
    [% title = "Не е указана стойност на поле" %]
    Не е указана стойност на поле при опита за редакцията и.

  [% ELSIF error == "fieldvalue_sortkey_invalid" %]
    [% title = "Недействителен ключ за подредба за стойност на поле" %]
    Ключа за подредба '[% sortkey FILTER html %]' за полето '[% name FILTER html %]'
    не е действително (положително) число.

  [% ELSIF error == "fieldvalue_still_has_bugs" %]
    [% title = "Не можете да изтриете тази стойност на полето" %]
    Не можете да изтриете стойността '[% value FILTER html %]' от полето 
    '[% field FILTER html%]', защото все още има
    [%+ count FILTER html %] [% terms.bug %](а) използващ(ия) я.

  [% ELSIF error == "fieldvalue_undefined" %]
    [% title = "Не се позволява неопределена стойност" %]
    Трябва да укажете стойност.

  [% ELSIF error == "file_not_specified" %]
    [% title = "Не е указан файл" %]
    Не сте указали файл за прикрепяне.

  [% ELSIF error == "file_too_large" %]
    [% title = "Файлът е твърде голям" %]
    Файлът, който се опитвате да прикачите, е с размер [% filesize FILTER html %]
    килобайта (КБ). Приставки, които не са кръпки, не могат да бъдат по-големи от
    [%+ Param('maxattachmentsize') %] <abbr title="Кило Байта">КБ</abbr>. <br>
    Препоръчваме Ви да съхраните приставката си някъде другаде по мрежата,
    [% IF Param("allow_attach_url") %]
      и да укажете URL към него на страницата за
      създаване на кръпки в полето <b>AttachURL</b>.
    [% ELSE %]
      и да вмъкнете URL към него в коментар или в полето URL
      за този [% terms.bug %].
    [% END %]
    <br>Вместо това, ако приставката е изображение, можете да я обърнете
    в сбит формат, като <abbr lang="en" title="Joint Photographic Experts Group">JPG</abbr> или <abbr lang="en" title="Portable Network Graphics">PNG</abbr> и опитайте отново.

  [% ELSIF error == "flag_not_multiplicable" %]
    [% docslinks = {'flags-overview.html' => 'Преглед на флаговете',
                    'flags.html' => 'Използване на флагове'} %]
    Не можете да искате от повече от един човек едновременно за
    <em>[% type.name FILTER html %]</em>.

  [% ELSIF error == "flag_requestee_needs_privs" %]
    [% title = "Flag Requestee Needs Privileges" %]
    [% requestee.identity FILTER html %] няма права за задаване на
    флага <em>[% flagtype.name FILTER html %]</em>. Моля, изберете потребител, който е
    член на групата <em>[% flagtype.grant_group.name FILTER html %]</em>.

  [% ELSIF error == "flag_requestee_unauthorized" %]
    [% title = "Изпълнителя на заявката за флаг не е упълномощен" %]
    [% admindocslinks = {'flags-overview.html#flags-admin'  => 'Администрация на флагове',
                         'groups.html' => 'Групова сигурност'} %]
    [% docslinks = {'flags-overview.html' => 'Преглед на флаговете',
                    'flags.html' => 'Използване на флагове'} %]

    Пискахте от [% requestee.identity FILTER html %]
    задаване на флага <code>[% flag_type.name FILTER html %]</code> върху [% terms.bug %] 
    [%+ bug_id FILTER html -%]
    [% IF attach_id && attach_id > 0 %], приставката [% attach_id FILTER html %][% END %], 
    но този [% terms.bug %] е ограничен до потребители в определни групи, а
    потребителя, от който сте пискали не е във всички групи до които
    [% terms.abug %] е ограничен.
    Моля, изберете някой друг от когото да поискате или направете [% terms.abug %]
    достъпен за потребителите в неговия <abbr title=\"Точно Копие\">ТК</abbr>: списък и добавете потребителя към него.

  [% ELSIF error == "flag_requestee_unauthorized_attachment" %]
    [% title = "Изпълнителя на заявката за флаг не е упълномощен" %]
    [% admindocslinks = {'flags-overview.html#flags-admin'  => 'Администриране на флагове',
                         'groups.html' => 'Групова сигурност'} %]
    [% docslinks = {'flags-overview.html' => 'Преглед на флаговете',
                    'flags.html' => 'Използване на флагове'} %]

    Поискахте от [% requestee.identity FILTER html %]
    задаване на флага <code>[% flag_type.name FILTER html %]</code> на 
    [%+ terms.bug %] [%+ bug_id FILTER html %],
    приставката [% attach_id FILTER html %], но тази приставка
    е ограничена до потребители членове на [% Param("insidergroup") FILTER html %] група,
    а потребителя от когото сте поискали не е в нея. Моля, изберете някой друг
    от когото да поискате или помолете някой администратор да добави потребителя в групата.

  [% ELSIF error == "flag_type_cc_list_invalid" %]
    [% title = "Невалиден ТК списък на тип флаг" %]
    [% admindocslinks = {'flags-overview.html#flags-admin'  => 'Администриране на флагове'} %]
    Списъка <abbr title="Точно Копие">ТК</abbr> [% cc_list FILTER html %] трябва да бъде дълъг не повече от 200 символа.

  [% ELSIF error == "flag_type_component_without_product" %]
    [% title = "Липсва продукт" %]
    Избран е компонент, без да е избран продукт.

  [% ELSIF error == "flag_type_description_invalid" %]
    [% title = "Невалидно описание на тип флаг" %]
    [% admindocslinks = {'flags-overview.html#flags-admin'  => 'Администриране на флагове'} %]
    Описанието трябва да бъде по-малко от 32 <abbr title="Кило Байта">КБ</abbr>.

  [% ELSIF error == "flag_type_name_invalid" %]
    [% title = "Невалидно име на тип флаг" %]
    [% admindocslinks = {'flags-overview.html#flags-admin'  => 'Администриране на флагове'} %]
    Името <em>[% name FILTER html %]</em> трябва да бъде дълго между 1 и 50
    символа и не трябва да съдържа запетайки или интервали.

  [% ELSIF error == "flag_update_denied" %]
    [% title = "Забранена промяна на флаг" %]
    [% admindocslinks = {'flags-overview.html#flags-admin'  => 'Администриране на флагове',
                         'groups.html' => 'Групова сигурност'} %]
    [% docslinks = {'flags-overview.html' => 'Преглед на флаговете',
                    'flags.html' => 'Използване на флагове'} %]
    Опитахте се да [% IF status == "+" %] зададете [% ELSIF status == "-" %] отнемете
    [% ELSIF status == "X" %] изчистите [% ELSE %] заявите [% END %]
    <code>[% name FILTER html %]
          [% IF status == "X" %][% old_status FILTER html %][% END %]</code>.

    Само достатъчно упълномощени потребители могат да направят това.

  [% ELSIF error == "format_not_found" %]
    [% title = "Формата не е намерен" %]
    Заявеният формат <em>[% format FILTER html %]</em> не съществува с
    тип на съдържанието <em>[% ctype FILTER html %]</em>.

  [% ELSIF error == "flag_type_sortkey_invalid" %]
    [% title = "Недействителен ключ за подреждане на тип флаг" %]
    Ключа за подреждане трябва да бъде цяло число между 0 и 32767 включително.
    Не може да бъде <em>[% sortkey FILTER html %]</em>.

  [% ELSIF error == "group_cannot_delete" %]
    [% title = "Изтриването на група е невъзможно" %]
    Групата <em>[% name FILTER html %]</em> не може да бъде изтрита, защото
    съществуват
    <a href="editgroups.cgi?action=del&amp;group=[% gid FILTER url_quote %]">записи</a>
    в базата данни обръщащи се към нея. Всички обръщения към групата трябва
    да бъдат премахнати преди изтриването и.

  [% ELSIF error == "group_exists" %]
    [% title = "Групата вече съществува" %]
    Групата [% name FILTER html %] вече съществува.

  [% ELSIF error == "group_has_special_role" %]
    [% title = "Групата е неизтриваема" %]
    [% IF groups.size == 1 %]
      [% attr = "сочи" %]
      [% param = "параметър" %]
    [% ELSE %]
      [% attr = "сочат" %]
      [% param = "параметрите" %]
    [% END %]
    Групата '[% name FILTER html %]' е използвана от
    [% param FILTER html %] '[% groups.join("' и '") FILTER html %]'.
    За да изтриете тази група, трябва първо да промените
    [%+ param FILTER html %], така че да [% attr FILTER html %] към друга група.

  [% ELSIF error == "group_not_specified" %]
    [% title = "Не е указана група" %]
    Не е указана група.

  [% ELSIF error == "system_group_not_deletable" %]
    [% title = "Системните групи са неизтриваеми" %]
    <em>[% name FILTER html %]</em> е системна група.
    Тя не може да бъде изтрита.

  [% ELSIF error == "group_unknown" %]
    [% title = "Непозната група" %]
    Групата [% name FILTER html %] не съществува. Моля, задайте
    действително име на група. Първо я създайте ако се налага!

  [% ELSIF error == "illegal_at_least_x_votes" %]
    [% title = "Търсенето ви няма смисъл" %]
    Полето <em>Най-малко ___ гласа</em> трябва да бъде положително цяло число. 
    Въведохте <tt>[% value FILTER html %]</tt>, което не е.

  [% ELSIF error == "illegal_attachment_edit" %]
    [% title = "Неупълномощено действие" %]
    Не сте упълномощен да редактирате приставката [% attach_id FILTER html %].

  [% ELSIF error == "illegal_attachment_edit_bug" %]
    [% title = "Неупълномощено действие" %]
    Не сте упълномощен да редактирате приставките на [% terms.bug %] 
    [%+ bug_id FILTER html %].

  [% ELSIF error == "illegal_attachment_is_patch" %]
    [% title = "Търсенето ви няма смисъл" %]
    Единствените правилни стойности за полето <em>Приставката е кръпка</em> са
    0 и 1.

  [% ELSIF error == "illegal_change" %]
    [% title = "Непозволено" %]
    Опитахте се да смените 
    полето <strong>[% field_descs.$field FILTER html %]</strong>
    [% IF oldvalue %]
      от <em>[% oldvalue FILTER html %]</em>
    [% END %]
    [% IF newvalue %]
      на <em>[% newvalue FILTER html %]</em>
    [% END %] 
    , но само
    [% IF privs < 3 %]
      назначения по
      [% IF privs < 2 %] или докладвалия [% END %]
      [% terms.abug %], или
    [% END %]
    достатъчно упълномощен потребител може да го променя.

  [% ELSIF error == "illegal_change_deps" %]
    [% title = "Непозволено" %]
    Опитахте се да промените полето
    <strong>[% field_descs.$field FILTER html %]</strong>,
    но само потребител упълномощен да редактира и
    включените [% terms.bugs %] може да го промени.

  [% ELSIF error == "illegal_changed_in_last_x_days" %]
    [% title = "Търсенето ви няма смисъл" %]
    Полето <em>Променен в последните ___ дни</em> трябва да е положително цяло число. 
    Въведохте <tt>[% value FILTER html %]</tt>, което не е.

  [% ELSIF error == "illegal_date" %]
    [% title = "Неправилна дата" %]
    '<tt>[% date FILTER html %]</tt>' е неправилна дата.
    [% IF format %]
      Моля, използвайте формата '<tt>[% format FILTER html %]</tt>'.
    [% END %]

  [% ELSIF error == "illegal_email_address" %]
    [% title = "Недействителен адрес за електронна поща" %]
    Адреса за електронна поща, който въведохте (<b>[% addr FILTER html %]</b>) 
    не премина нашата синтактична проверка за действителен е-пощенски адрес.
    [% IF default %]
      Правилен адрес трябва да съдържа точно една '@',
      и поне една '.' след @-та.
    [% ELSE %]
      [%+ Param('emailregexpdesc') %]
    [% END %]
    Също така той не трябва да съдържа някой от следните символи:
    <tt>\ ( ) &amp; &lt; &gt; , ; : &quot; [ ]</tt> или някакви непечатими символи.

  [% ELSIF error == "illegal_frequency" %]
    [% title = "Твърде често" %]
    Освен ако не сте администратор, не можете да създавате редици, които 
    се пускат по-често от веднъж на [% minimum FILTER html %] дни.

  [% ELSIF error == "illegal_group_control_combination" %]
    [% title = "Комбинацията ви за групов контрол е недействителна" %]
    [% admindocslinks = {'groups.html' => 'Задаване на групови контроли към продукти'} %]
    Комбинацията за групов контрол за групата &quot;
    [% groupname FILTER html %]&quot; е недействителна.

  [% ELSIF error == "illegal_is_obsolete" %]
    [% title = "Търсенето ви няма смисъл" %]
    Единствените правилни стойности за полето <em>Приставката е стара</em> 
    са 0 и 1.

  [% ELSIF error == "illegal_query_name" %]
    [% title = "Недействително име на търсене" %]
    Името на търсенето ви не може да съдържа някой от следващите символи: 
    &lt;, &gt;, &amp;.

  [% ELSIF error == "illegal_series_creation" %]
    [% admindocslinks = {'groups.html' => 'Групова сигурност'} %]
    [% docslinks = {'reporting.html' => 'Доклади'} %]
    Не сте упълномощен да създавате редици.

  [% ELSIF error == "illegal_series_edit" %]
    [% admindocslinks = {'groups.html' => 'Групова сигурност'} %]
    [% docslinks = {'reporting.html' => 'Доклади'} %]
    Не сте упълномощен да редактирате тези редици. За да направите това
    трябва да сте или техния създател или администратор.

  [% ELSIF error == "insufficient_data_points" %]
    [% docslinks = {'reporting.html' => 'Доклади'} %]
    Нямаме достатъчно единици данни за направата на графика (все още).

  [% ELSIF error == "invalid_attach_id" %]
    [% title = "Недействителен идентификатор на притурка" %]
    Идентификатора на притурка [% attach_id FILTER html %] е недействителен.

  [% ELSIF error == "invalid_bug_id_non_existent" %]
    [% title = BLOCK %]Недействителен идентификатор на [% terms.bug %].[% END %]
    [% terms.Bug %] №[% bug_id FILTER html %] не съществува.

  [% ELSIF error == "invalid_bug_id_or_alias" %]
    [% title = BLOCK %]Недействителен идентификатор на [% terms.bug %][% END %]
    [% IF bug_id %]
      '[% bug_id FILTER html %]' не е действителен номер на [% terms.bug %]
      [% IF Param("usebugaliases") %]
        нито псевдоним на [% terms.bug %]
      [% END %].
    [% ELSE %]
      [% IF field %]
        Полето '[% field_descs.$field FILTER html %]' 
        не може да бъде празно.
      [% END %]
      Трябва да въведете действителен номер на [% terms.bug %]!
    [% END %]

  [% ELSIF error == "invalid_changedsince" %]
    [% title = "Невалидно поле 'променен от'" %]
    Стойността на полето 'променен от', '[% changedsince FILTER html %]', трябва да
    бъде цяло число >= 0.

  [% ELSIF error == "invalid_content_type" %]
    [% title = "Неправилен тип на съдържанието" %]
    Типа на съдържанието <em>[% contenttype FILTER html %]</em> е неправилен.
    Правилните типове трябва да са във формат <em>foo/bar</em> където <em>foo</em>
    е едно от <em>application, audio, image, message, model, multipart,
    text,</em> или <em>video</em>.

  [% ELSIF error == "invalid_context" %]
    [% title = "Неправилен контекст" %]
    Контекста [% context FILTER html %] е неправилен (трябва да бъде число,
    "файл" или "кръпка").

  [% ELSIF error == "invalid_datasets" %]
    [% title = "Недействителни набори данни" %]
    Недействителни набори данни <em>[% datasets FILTER html %]</em>. Позволени са,
    само числа, букви и двоеточие.

  [% ELSIF error == "invalid_format" %]
    [% title = "Неправилен формат" %]
    Формата "[% format FILTER html %]" е неправилен (трябва да бъде един от
    [% FOREACH my_format = formats %]
      "[% my_format FILTER html %]"
    [% END %]
    ).

  [% ELSIF error == "invalid_group_ID" %]
    [% title = "Недействителен идентификатор на група" %]
    Указаната група не съществува.

  [% ELSIF error == "invalid_group_name" %]
    [% title = "Недействително име на група" %]
    Указаната група, [% name FILTER html %], е недействителна тук.

  [% ELSIF error == "invalid_maxrows" %]
    [% title = "Недействителен максимален брой редове" %]
    Максималният брой редове, '[% maxrows FILTER html %]', трябва да бъде
    положително цяло число.

  [% ELSIF error == "invalid_parameter" %]
    [% title = "Неправилен параметър" %]
    Новата стойност за [% name FILTER html %] е неправилна: [% err FILTER html %].

  [% ELSIF error == "invalid_product_name" %]
    [% title = "Недействително име на продукт" %]
    Името на продукт '[% product FILTER html %]' е недействително или не съществува.

  [% ELSIF error == "invalid_regexp" %]
    [% title = "Неправилен регулярен израз" %]
    Регулярният израз, който въведохте, е неправилен.

  [% ELSIF error == "invalid_user_group" %]
    [% title = "Неправилна потребителска група" %]
    [% IF users.size > 1 %] Потребителите [% ELSE %] Потребителя [% END %]
    '[% users.join(', ') FILTER html %]'
    [% IF users.size > 1 %] не могат [% ELSE %] не може [% END %]
    да редактира
    [% IF product %]
      '[% product FILTER html %]'
    [% END %]
    [%+ field_descs.product FILTER html %]
    [% IF bug_id %]
      за [% terms.bug %] '[% bug_id FILTER html %]'.
    [% ELSIF new %]
      и може да не бъде включен в нов [% terms.bug %].
    [% ELSE %]
      за поне един променян [% terms.bug %].
    [% END %]

  [% ELSIF error == "invalid_username" %]
    [% title = "Невалидно потребителско име" %]
    Името <tt>[% name FILTER html %]</tt> е непознато потребителско име.  
    Или сте го написали неправилно или лицето не се е регистрирало в
    [% terms.Bugzilla %].

  [% ELSIF error == "invalid_username_or_password" %]
    [% title = "Невалидно потребителско име или парола" %]
    Потребителското име или паролата, които въведохте са непознати.

  [% ELSIF error == "keyword_already_exists" %]
    [% title = "Ключовата дума вече съществува" %]
    Ключова дума с име [% name FILTER html %] вече съществува.

  [% ELSIF error == "keyword_blank_description" %]
    [% title = "Не е позволено празно описание за ключова дума" %]
    Трябва да въведете някакво описани за ключовата дума.

  [% ELSIF error == "keyword_blank_name" %]
    [% title = "Не е позволено празно име на ключова дума" %]
    Трябва да въведете някакво име за ключовата дума.

  [% ELSIF error == "keyword_invalid_name" %]
    [% title = "Невалидно име на ключова дума" %]
    Не можете да използвате запетайки или непечатими символи в името на ключова дума.

  [% ELSIF error == "local_file_too_large" %]
    [% title = "Твърде голям локален файл" %]
    Локалните качвания на файл не трябва да надхвърлят 
    [% Param('maxlocalattachment') %] <abbr title="Мега Байт">МБ</abbr> по размер.

  [% ELSIF error == "login_needed_for_password_change" %]
    [% title = "Необходимо е потребителско име" %]
    Трябва да въведете потребителско име, при искане за смяна на паролата ви.

  [% ELSIF error == "login_required_for_pronoun" %]
    [% title = "Необходимо е име за вход" %]
    Не можете да използвате %user% без да сте влезли, защото %user% отговаря
    на името ви за вход, което не е известно.

  [% ELSIF error == "milestone_already_exists" %]
    [% title = "Целевото събитие вече съществува" %]
    [% admindocslinks = {'products.html' => 'Администриране на продукти',
                         'milestones.html' => 'За целевите събития'} %]
    Събитието '[% name FILTER html %]' вече съществува за продукта '
    [%- product FILTER html %]'.

  [% ELSIF error == "milestone_blank_name" %]
    [% title = "Не е позволено празно име на събитие" %]
    Трябва да въведете име за събитието.

  [% ELSIF error == "milestone_is_default" %]
    [% title = "Подразбиращото се събитие е неизтриваемо" %]
    [% admindocslinks = {'products.html' => 'Администриране на продукти',
                         'milestones.html' => 'За целевите събития'} %]
    Съжалявам, но [% milestone.name FILTER html %] е подразбиращото се събитие
    за продукта '[% product.name FILTER html %]', така че не може да бъде
    изтрито.

  [% ELSIF error == "milestone_name_too_long" %]
    [% title = "Твърде дълго име на целево събитие" %]
    Името на целевото събитие е ограничено до 20 символа. 
    '[% name FILTER html %]' е твърде дълго ([% name.length %] символа).

  [% ELSIF error == "milestone_not_specified" %]
    [% title = "Не е указано целево събитие" %]
    Не е указано събитие при опит за редакция на важните събития.

  [% ELSIF error == "milestone_not_valid" %]
    [% title = "Указаното събитие не съществува" %]
    Събитието '[% milestone FILTER html %]' за продукта
    '[% product FILTER html %]' не съществува.

  [% ELSIF error == "milestone_required" %]
    [% title = "Необходимо е Целево събитие" %]
    Трябва да определите целево събитие за [% terms.bug %] 
    [%+ bug_id FILTER html %]
    ако искате да го приемете. Част от приемането на
    [%+ terms.abug %] е даването на приблизителна оценка, кога той ще бъде оправен.

  [% ELSIF error == "milestone_sortkey_invalid" %]
    [% title = "Недействителен ключ за подреждане на събитие" %]
    Ключа за подреждане '[% sortkey FILTER html %]' за събитието '
    [% name FILTER html %]' не е в обхвата -32768 &le; ключ за подреждане
    &le; 32767.

  [% ELSIF error == "misarranged_dates" %]
    [% title = "Неправилно подредени дати" %]
    Началната ви дата  ([% datefrom FILTER html %]) е след 
    крайната ([% dateto FILTER html %]).

  [% ELSIF error == "missing_attachment_description" %]
    [% title = "Липсващо описание на приставка" %]
    Трябва да добавите описание за приставката.

  [% ELSIF error == "missing_category" %]
    [% title = "Липсваща категория" %]
    Не сте указали категория за тази поредица.

  [% ELSIF error == "missing_component" %]
    [% title = "Липсваща съставна част" %]
    [% admindocslinks = {'products.html'   => 'Администриране на продукти',
                         'components.html' => 'Създаване на продукт'} %]
    Съжалявам, продукта <em>[% product.name FILTER html %]</em>
    трябва да има поне една съставна част, за да можете да
    въвеждате [% terms.bug %] в него.<br>
    [% IF user.in_group("editcomponents", product.id) %]
      <a href="editcomponents.cgi?action=add&amp;product=[% product.name FILTER url_quote %]">Създаване
      на нова съставна част</a>.
    [% ELSE %]
      Моля, свържете се с [% Param("maintainer") %] и го помолете
      да добави съставна част към продукта.
    [% END %]

  [% ELSIF error == "missing_content_type" %]
    [% title = "Липсващ тип на съдържанието" %]
     Пожелахте [% terms.Bugzilla %] да определи автоматично типа на
     съдържанието, но вашият агент не указа тип на съдържанието при качването
     на файла, така че трябва да въведете типа ръчно.

  [% ELSIF error == "missing_content_type_method" %]
    [% title = "Липсващ метод за определяне на типа на съдържанието" %]
    Трябва да изберете метод за определяне на типа на съдържанието, един от:
    <em>автоматично определяне</em>, <em>избор от списък</em> или <em>ръчно
    въвеждане</em>.

  [% ELSIF error == "missing_cookie" %]
    [% title = "Липсваща бисквитка" %]
    Съжалявам, изглежда съм загубила бисквитката, в която са записани
    резултатите от последното ви търсене. Страхувам се, че ще трябва да
    започнете отново на <a href="query.cgi">страницата за търсене</a>.

  [% ELSIF error == "missing_datasets" %]
    [% title = "Няма избрани набори данни" %]
    [% docslinks = {'reporting.html' => 'Доклади'} %]
    Трябва да укажете един или повече набора данни за изчертаване.

  [% ELSIF error == "missing_email_type" %]
    [% title = "Търсенето ви няма смисъл" %]
    Трябва да укажете едно или повече полета, в които да търсите
    за <tt>[% email FILTER html %]</tt>.

  [% ELSIF error == "missing_frequency" %]
    [% title = "Липсваща честота" %]
    [% docslinks = {'reporting.html' => 'Доклади'} %]
    Не сте указали правилна честота за тези поредици.

  [% ELSIF error == "missing_name" %]
    [% title = "Липсващо име" %]
    [% docslinks = {'reporting.html' => 'Доклади'} %]
    Не сте указали име за тези поредици.

  [% ELSIF error == "missing_query" %]
    [% title = "Липсващо търсене" %]
    [% docslinks = {'query.html' => "Търсене на $terms.bugs",
                    'query.html#list'  => "$terms.Bug списъци"} %]
    Търсенето именовано <em>[% queryname FILTER html %]</em>
    [% IF sharer_id && sharer_id != user.id %]
      не е направено видимо за вас.
    [% ELSE %]
      не съществува.
    [% END %]

  [% ELSIF error == "move_bugs_disabled" %]
    [% title = BLOCK %]Забранено преместване на [% terms.bug %][% END %]
    Съжалявам, преместването на [% terms.bugs %] не е включено. Ако трябва
    да преместите [% terms.bug %], моля свържете се с [% Param("maintainer") %].

  [% ELSIF error == "missing_subcategory" %]
    [% title = "Липсваща подкатегория" %]
    Не сте указали подкатегория за тези поредици.

  [% ELSIF error == "missing_version" %]
    [% title = "Липсваща версия" %]
    [% admindocslinks = {'versions.html' => 'Определяне на версии'} %]
    Съжалявам, продукта <em>[% product.name FILTER html %]</em>
    трябва да има поне една версия, за да можете да
    въвеждате [% terms.bug %] в него.<br>
    [% IF user.in_group("editcomponents", product.id) %]
      <a href="editversions.cgi?action=add&amp;product=[% product.name FILTER url_quote %]">Създаване
      на нова версия</a>.
    [% ELSE %]
      Моля, свържете се с [% Param("maintainer") %] и го помолете
      да добави версия към продукта.
    [% END %]

  [% ELSIF error == "need_quip" %]
    [% title = "Изисква се остроумие" %]
    [% docslinks = {'quips.html' => 'За остроумията'} %]
    Моля, въведете остроумие в текстовото поле.

  [% ELSIF error == "new_password_missing" %]
    [% title = "Липсва нова парола" %]
    Трябва да въведете нова парола.

  [% ELSIF error == "no_axes_defined" %]
    [% title = "Не са определени оси" %]
    [% docslinks = {'reporting.html' => 'Доклади'} %]
    Не сте определили никакви оси за изчертаване.

  [% ELSIF error == "no_bugs_chosen" %]
    [% title = BLOCK %]Не са избрани [% terms.bugs %][% END %]
    Очевидно не сте избрали никакви [% terms.bugs %] за промяна.

  [% ELSIF error == "no_bug_ids" %]
    [% title = BLOCK %]Не са избрани [% terms.bugs %][% END %]
    Не сте избрали никакви [% terms.bugs %] за
    [% IF action == "add" %] добавяне към [% ELSE %] премахване от [% END %]
    етикета [% tag FILTER html %].

  [% ELSIF error == "no_bugs_in_list" %]
    [% title = "Изтриване на етикета?" %]
    Ще премахнете всички [% terms.bugs %] от етикета
    [% tag FILTER html %]. Това ще го изтрие напълно. Щракнете
    <a href="buglist.cgi?cmdtype=dorem&amp;remaction=forget&amp;namedcmd=
    [%- tag FILTER url_quote %]">тук</a> ако наистина желаете да го премахнете.

  [% ELSIF error == "no_bugs_to_remove" %]
    [% title = "Не е избран етикет" %]
    Не сте избрали етикет, от който да премахвате [% terms.bugs %].

  [% ELSIF error == "no_component_change_for_multiple_products" %]
    [% title = "Неразрешено действие" %]
    Не можете да смените съставната част на списък от [% terms.bugs %]
    покриващи повече от един продукт.

  [% ELSIF error == "no_dupe_stats" %]
    [% title = "Не са открити статистики на двойниците" %]
    [% admindocslinks = {'extraconfig.html' => 'Настройване работата на collecstats.pl'} %]
    Няма статистика на двойниците за днес ([% today FILTER html %]) 
    или вчера.

  [% ELSIF error == "no_dupe_stats_error_today" %]
    [% title = "Грешка при четене на файла с днешните двойници" %]
    [% admindocslinks = {'extraconfig.html' => 'Настройване работата на collecstats.pl'} %]
    Възникна грешка при отварянето на файла с днешните двойници: [% error_msg FILTER html %].

  [% ELSIF error == "no_dupe_stats_error_whenever" %]
    [% title = "Грешка при четене на предишен файл с измамници" %]
    [% admindocslinks = {'extraconfig.html' => 'Настройване работата на collecstats.pl'} %]
    Възникна грешка при отварянето на [% whenever FILTER html %]'s файл с
    двойниците от преди [% changedsince FILTER html %] дни:
    [% error_msg FILTER html %].

  [% ELSIF error == "no_dupe_stats_error_yesterday" %]
    [% title = "Грешка при четене на файла с двойниците от вчера" %]
    [% admindocslinks = {'extraconfig.html' => 'Настройване работата на collecstats.pl'} %]
    Няма статистика на двойниците за днес ([% today FILTER html %]), а
    възникна грешка при отварянето на файла от вчера:
    [% error_msg FILTER html %].

  [% ELSIF error == "no_new_quips" %]
    [% title = "Без нови остроумия" %]
    [% admindocslinks = {'quips.html' => 'Регулиране на използването на остроумия'} %]
    Сайта не разрешава добавянето на нови остроумия.

  [% ELSIF error == "no_page_specified" %]
    [% title = "Не е указана страница" %]
    Не сте указали идентификатор на страница за показване.

  [% ELSIF error == "no_products" %]
    [% title = "Няма продукти" %]
    [% admindocslinks = {'products.html'   => 'Настройване на продукт',
                         'components.html' => 'Добавяне на съставни части към продукт',
                         'groups.html'     => 'Групова сигурност'} %]
    Или не са определени продукти, за които да въвеждате [% terms.bugs %] или не
    Ви е даден достъп до никой.

  [% ELSIF error == "no_valid_action" %]
    [% title = "Не е указано правилно действие" %]
    Редакцията на [% field_descs.$field FILTER html %] е невъзможна: не е указано правилно действие.

  [% ELSIF error == "number_not_numeric" %]
    [% title = "Необходима е числова стойност" %]
    Стойността '[% num FILTER html %]' в полето 
    <em>[% field_descs.$field FILTER html %]</em> 
    не е числова стойност.

  [% ELSIF error == "number_too_large" %]
    [% title = "Числото е твърде голямо" %]
    Стойността '[% num FILTER html %]' в полето 
    <em>[% field_descs.$field FILTER html %]</em> 
    е по-голяма от максималната позволена стойност '[% max_num FILTER html %]'.

  [% ELSIF error == "number_too_small" %]
    [% title = "Числото е твърде малко" %]
    Стойността '[% num FILTER html %]' 
    в полето <em>[% field_descs.$field FILTER html %]</em> 
    е по-малка от минималната възможна стойност '[% min_num FILTER html %]'.

  [% ELSIF error == "old_password_incorrect" %]
    [% title = "Неправилна стара парола" %]
    Не сте въвели старата си парола правилно.

  [% ELSIF error == "old_password_required" %]
    [% title = "Необходима е старата парола" %]
    Трябва да въведете старата си парола, за да промените електронния си пощенски адрес.

  [% ELSIF error == "password_change_requests_not_allowed" %]
    [% title = "Заявките за смяна на парола не са разрешени" %]
    Системата не е конфигурирана да позволява заявки за смяна на парола.

  [% ELSIF error == "passwords_dont_match" %]
    [% title = "Паролите не съвпадат" %]
    Двете пароли които въведохте не съвпадат.

  [% ELSIF error == "password_too_long" %]
    [% title = "Твърде дълга парола" %]
    Паролата трябва да бъде дълга не повече от
    [%+ constants.USER_PASSWORD_MAX_LENGTH FILTER html %] символа.

  [% ELSIF error == "password_too_short" %]
    [% title = "Твърде къса парола" %]
    Паролата трябва да бъде най-малко
    [%+ constants.USER_PASSWORD_MIN_LENGTH FILTER html %] символа.

  [% ELSIF error == "patch_too_large" %]
    [% title = "Твърде голям файл" %]
    Файла, който се опитвате да прикачите е с размер [% filesize FILTER html %] 
    килобайта (КБ).
    Кръпките не могат да бъдат с размер по-голям от [% Param('maxpatchsize') %]
    <abbr title="Кило Байта">КБ</abbr>. Опитайте да разделите кръпката на няколко части.

  [% ELSIF error == "product_access_denied" %]
    Или продукта '[% product FILTER html %]' не съществува или
    нямате достъп до него.

  [% ELSIF error == "product_doesnt_exist" %]
    [% title = "Указаният продукт не съществува" %]
    Продукта '[% product FILTER html %]' не съществува.

 [% ELSIF error == "product_votes_per_bug_must_be_nonnegative" %]
    [% title = "Максимум гласове трябва да е положително" %]
    [% admindocslinks = {'voting.html' => 'Настройване на възможноста за гласуване'} %]
    '[% maxvotesperbug FILTER html %]' е неправилна стойност за 
    полето <em>'Максимум гласове за [% terms.bug %]'</em>, което трябва
    да съдържа положителна стойност.

  [% ELSIF error == "product_votes_per_user_must_be_nonnegative" %]
    [% title = "Гласове за потребител трябва да са положителни" %]
    [% admindocslinks = {'voting.html' => 'Настройване на възможноста за гласуване'} %]
    '[% votesperuser FILTER html %]' е неправилна стойност за 
    полето <em>'Гласове за потребител'</em>, което трябва да съдържа
    положително число.

  [% ELSIF error == "product_votes_to_confirm_must_be_nonnegative" %]
    [% title = "Гласове за потвърждаване трябва да са положителни" %]
    [% admindocslinks = {'voting.html' => 'Настройване на възможноста за гласуване'} %]
    '[% votestoconfirm FILTER html %]' е неправилна стойност за 
    полето <em>'Гласове за потвърждаване'</em>, което трябва да съдържа
    положително число.

  [% ELSIF error == "product_cant_delete_description" %]
    [% title = "Описание на продукт не може да бъде изтрито" %]
    [% admindocslinks = {'products.html' => 'Администриране на продукти'} %]
    Описанието за продукта '[% product FILTER html %]' не може
    да бъде изтрито.

  [% ELSIF error == "product_cant_delete_name" %]
    [% title = "Име на продукт не може да бъде изтрито" %]
    [% admindocslinks = {'products.html' => 'Администриране на продукти'} %]
    Името на продукта '[% product FILTER html %]' не може да бъде изтрито.

  [% ELSIF error == "product_name_already_in_use" %]
    [% title = "Името на продукта вече се използва" %]
    [% admindocslinks = {'products.html' => 'Администриране на продукти'} %]
    Името '[% product FILTER html %]' вече се използва за друг продукт.

  [% ELSIF error == "product_name_diff_in_case" %]
    [% title = "Името на продукта се различава само по регистър" %]
    [% admindocslinks = {'products.html' => 'Администриране на продукти'} %]
    Името '[% product FILTER html %]' се различава от името на 
    продукта '[% existing_product FILTER html %]' само по регистър.

  [% ELSIF error == "product_must_define_defaultmilestone" %]
    [% title = "Необходимост от определяне на подразбиращо се целево събитие" %]
    [% admindocslinks = {'products.html' => 'Администриране на продукти',
                         'milestones.html' => 'За целевите събития'} %]
    [% IF classification %]
      [% classification_url_part = BLOCK %]&amp;classification=
        [%- classification FILTER url_quote %]
      [% END %]
    [% END %]
    Трябва да <a href="editmilestones.cgi?action=add&amp;product=
    [%- product FILTER url_quote %]
    [%- classification_url_part FILTER none %]">
    създадете целевото събитие '[% defaultmilestone FILTER html %]'</a> преди
    то да бъде направено подразбиращо се за продукта '[% product FILTER html %]'.

  [% ELSIF error == "product_access_denied" %]
    [% title = "Отказан достъп до продукт" %]
    Не ви е позволено да редактирате свойствата на продукта '[% product FILTER html %]'.

  [% ELSIF error == "product_blank_name" %]
    [% title = "Не е позволено празно име на продукт" %]
    [% admindocslinks = {'products.html' => 'Администриране на продукти'} %]
    Трябва да въведете име за новия продукт

  [% ELSIF error == "product_disabled" %]
    [% title = BLOCK %]Продукта е затворен за въвеждане на [% terms.bugs %][% END %]
    [% admindocslinks = {'products.html' => 'Администриране на продукти'} %]
    Съжалявам, въвежданетно на [% terms.bugs %] в
    продукта <em>[% product FILTER html %]</em> е невъзможно.

  [% ELSIF error == "product_edit_denied" %]
    [% title = "Отказан достъп за редактиране на продукт" %]
    [% admindocslinks = {'products.html' => 'Администриране на продукти',
                         'groups.html'   => 'Групова сигурност'} %]
    Не ви е разрешено да редактирате [% terms.bugs %] в продукта 
    [%+ product.name FILTER html %].

  [% ELSIF error == "product_has_bugs" %]
    [% title = BLOCK %]Продукта има [% terms.bugs %][% END %]
    [% admindocslinks = {'products.html' => 'Администриране на продукти'} %]
    Съществуват [% nb FILTER html %] [%+ terms.abug %] въведени за този продукт!
    Трябва да преназначите тези [% terms.bugs %] на друг продукт преди да можете
    да изтриете този.

  [% ELSIF error == "product_must_have_description" %]
    [% title = "Продукта има нужда от описание" %]
    [% admindocslinks = {'products.html' => 'Администриране на продукти'} %]
    Трябва да въведете описание за продукта '[% product FILTER html %]'.

  [% ELSIF error == "product_must_have_version" %]
    [% title = "Продукта има нужда от версия" %]
    [% admindocslinks = {'products.html' => 'Администриране на продукти',
                         'versions.html' => 'Администриране на версии'} %]
    Трябва да въведете версия за продукта '[% product FILTER html %]'.

  [% ELSIF error == "product_not_specified" %]
    [% title = "Не е указан продукт" %]
    [% admindocslinks = {'products.html'   => 'Администриране на продукти',
                         'components.html' => 'Администриране на съставни части',
                         'milestones.html' => 'Администриране на целеви събития',
                         'versions.html'   => 'Администриране на версии'} %]
    Не е указан продукт при опит за редакция на съставни части, важни събития, версии
    или продукт.

  [% ELSIF error == "query_name_exists" %]
    [% title = "Името на търсенето вече се използва" %]
    Името <em>[% name FILTER html %]</em> вече се използва от друго
    съхранено търсене. Първо трябва да го
    <a href="buglist.cgi?cmdtype=dorem&amp;remaction=forget&amp;namedcmd=
    [%- name FILTER url_quote %]">изтриете</a> ако наистина желаете да
    ползвате името.

  [% ELSIF error == "query_name_missing" %]
    [% title = "Не е указано има не търсене" %]
    [% docslinks = {'query.html#list' => "За $terms.bug списъците"} %]
    Трябва да укажете име за вашето търсене.

  [% ELSIF error == "query_name_too_long" %]
    [% title = "Твърде дълго име на заявка" %]
    Името на заявката трябва да бъде по-късо от 64 символа.

  [% ELSIF error == "quicksearch_unknown_field" %]
    [% title = "Непознато поле за бързо търсене" %]
    [% IF fields.unique.size == 1 %]
      Полето <code>[% fields.first FILTER html %]</code> не е познато.
    [% ELSE %]
      Полетата
      [% FOREACH field = fields.unique.sort %]
         <code>[% field FILTER html %]</code>
         [% ', ' UNLESS loop.last() %]
      [% END %]
      не са познати.
    [% END %]
    Правилните имена на полета са <a href="page.cgi?id=quicksearchhack.html">описани тук</a>.

  [% ELSIF error == "reassign_to_empty" %]
    [% title = "Незаконно преназначаване" %]
    За да преназначите [% terms.bug %], трябва да предоставите адреса на
    новия назначен.

  [% ELSIF error == "require_component" %]
    [% title = "Необходима е съставна част" %]
    Трябва да изберете съставна част, за да запишете този [% terms.bug %]. Ако
    е необходимо просто отгатнете.

  [% ELSIF error == "require_new_password" %]
    [% title = "Необходима е нова парола" %]
    Не можете да смените паролата си, без да изберете нова.

  [% ELSIF error == "require_summary" %]
    [% title = "Необходимо е резюме" %]
    Трябва да въведете резюме за този [% terms.bug %].

  [% ELSIF error == "resolution_not_allowed" %]
    [% title = "Решението не е позволено" %]
    Не можете да давате решение на отворени [% terms.bugs %].

  [% ELSIF error == "saved_search_used_by_whines" %]
    [% title = "Съхраненото търсене се използва" %]
    [% docslinks = {'whining.html' => 'За хленча'} %]
    Съхраненото търсене <em>[% search_name FILTER html %]</em> се използва 
    от <a href="editwhines.cgi">Whining събития</a> със следните теми:
    [%+ subjects FILTER html %]

  [% ELSIF error == "search_content_without_matches" %]
    [% title = "Неправилно търсене" %]
    Полето "съдържание" може да бъде използвано само с търсене "съвпадение" и
    търсене "съвпадение" може да бъде използвано само с полето
    "съдържание".

  [% ELSIF error == "series_already_exists" %]
    [% title = "Редиците вече съществуват" %]
    [% docslinks = {'reporting.html' => 'Доклади'} %]
      Редиците именовани <em>[% series.category FILTER html %] /
      [%+ series.subcategory FILTER html %] / 
      [%+ series.name FILTER html %]</em>
      вече съществуват.

  [% ELSIF error == "sidebar_supports_mozilla_only" %]
    Съжалявам, sidebar.cgi в момента поддържа само браузъри базирани на
    Mozilla. <a href="http://www.mozilla.org">Вземете още днес</a>. :-)

  [% ELSIF error == "still_unresolved_bugs" %]
    [% IF dependency_count == 1 %]
      [% terms.Bug %] № <a href="show_bug.cgi?id=[% dependencies.0.bug_id FILTER none %]">[% dependencies.0.bug_id FILTER none %]</a>
      все още има [% dependencies.0.dependencies FILTER html %]
      [% IF dependencies.0.dependencies == 1 %]
        нерешена зависимост
      [% ELSE %]
        нерешени зависимости
      [% END %]. Показване на 
      <a href="showdependencytree.cgi?id=[% dependencies.0.bug_id FILTER none %]&amp;hide_resolved=1">Дървото на
      зависимостите</a>.
    [% ELSE %]
      Съществуват [% dependency_count FILTER none %] отворени [% terms.abug %], които
      имат неразрешени зависимости.
      <br>
      [% FOREACH bug = dependencies %]
        [% terms.Bug %] № <a href="show_bug.cgi?id=[% bug.bug_id FILTER none %]">[% bug.bug_id FILTER none %]</a>
        има [% bug.dependencies FILTER html %]
        [% IF bug.dependencies == 1 %]
          отворена зависимост.
        [% ELSE %]
          отворени зависимости.
        [% END %]
        (<a href="showdependencytree.cgi?id=[% bug.bug_id FILTER none %]&amp;hide_resolved=1">Дърво на
        зависимостите</a>)<br>
      [% END %]
    [% END %]

  [% ELSIF error == "sudo_in_progress" %]
    [% title = "Сесия като друг потребител в действие" %]
    В ход е сесия като друг потребител (представляван е [% target FILTER html %]). 
    Прекратете сесията (използвайки връзката в дъното) преди да започнете нова.

  [% ELSIF error == "sudo_password_required" %]
    [% title = "Изисква се парола" %]
    Вашата [% terms.Bugzilla %] парола е необходима за започване на сесия 
    като друг. Моля, <a href="relogin.cgi?action=prepare-sudo&target_login=
    [%- target_login FILTER html %]&reason=
    [%- reason FILTER html %]">върнете се</a> и въведете паролата си.

  [% ELSIF error == "sudo_preparation_required" %]
    [% title = "Необходима е подготовка" %]
    Не можете да започнете сесия като друг направо.  Моля
    <a href="relogin.cgi?action=prepare-sudo&target_login=
    [%- target_login FILTER html %]&reason=
    [%- reason FILTER html %]">започнете сесията си нормално</a>.

  [% ELSIF error == "sudo_protected" %]
    [% title = "Защитен потребител" %]
    Потребителя [% login FILTER html %] не може да бъде представляван от някой друг.

  [% ELSIF error == "too_many_votes_for_bug" %]
    [% title = "Непозволено гласуване" %]
    [% admindocslinks = {'voting.html' => 'Настройване на възможността за гласуване'} %]
    Можете да използвате най-много [% max FILTER html %] гласа за отделен
    [%+ terms.bug %] в продукта 
    <tt>[% product FILTER html %]</tt>, но се опитвате да използвате
    [% votes FILTER html %].

  [% ELSIF error == "too_many_votes_for_product" %]
    [% title = "Непозволено гласуване" %]
    [% admindocslinks = {'voting.html' => 'Настройване на възможността за гласуване'} %]
    Опитвате се да използвате [% votes FILTER html %] гласа в
    продукта <tt>[% product FILTER html %]</tt>, което надвишава максимума от
    [%+ max FILTER html %] гласа за него.

  [% ELSIF error == "token_inexistent" %]
    [% title = "Белега не съществува" %]
    Белега, който предадохте, не съществува, изтекъл е или е
    бил отхвърлен.

  [% ELSIF error == "too_soon_for_new_token" %]
    [% title = "Твърде рано за нов белег" %]
    Заявихте белег
    [% IF type == "password" %]
      за парола
    [% ELSIF type == "account" %]
      за сметка
    [% END %]
    твърде скоро, за да заявите друг. Моля, изчакайте малко и опитайте отново.

  [% ELSIF error == "unknown_keyword" %]
    [% title = "Непозната ключова дума" %]
    <code>[% keyword FILTER html %]</code> не е позната ключова дума.
    Правилните имена на ключови думи са <a href="describekeywords.cgi">описани тук</a>.

  [% ELSIF error == "unknown_tab" %]
    [% title = "Неизвестен прозорец" %]
    <code>[% current_tab_name FILTER html %]</code> не е действително име на прозорец.

  [% ELSIF error == "version_already_exists" %]
    [% title = "Версията вече съществува" %]
    [% admindocslinks = {'versions.html' => 'Администриране на версии'} %]
    Версията '[% name FILTER html %]' вече съществува за продукта '
    [%- product FILTER html %]'.

  [% ELSIF error == "version_blank_name" %]
    [% title = "Не е позволено празно име на версия" %]
    Трябва да въведете име за версията.

  [% ELSIF error == "version_has_bugs" %]
    [% title = BLOCK %]Версията има [% terms.bugs %][% END %]
    Съществуват [% nb FILTER html %] [%+ terms.bugs %] свързани с
    версията! Трябва да преназначите тези [% terms.bugs %] на друга версия
    преди да можете да изтриете тази.

  [% ELSIF error == "version_not_specified" %]
    [% title = "Не е указана версия" %]
    Не е указана версия при опит за редакция на версиите.

  [% ELSIF error == "version_not_valid" %]
    [% title = "Указаната версия не съществува" %]
    Версията '[% version FILTER html %]' не съществува
    за продукта '[% product FILTER html %]'.

  [% ELSIF error == "users_deletion_disabled" %]
    [% title = "Изтриването не действа" %]
    [% admindocslinks = {'useradmin.html' => 'Администриране на потребители'} %]
    Съжалявам, изтриването на потребители не е разрешено.

  [% ELSIF error == "user_has_responsibility" %]
    [% title = "Изтриването на потребителя невъзможно" %]
    [% admindocslinks = {'useradmin.html' => 'Администриране на потребители'} %]
    Потребителя, който искате да изтриете, е зададен като подразбиращо се назначение
    за [% terms.bugs %]
    [% IF Param('useqacontact') %]
      или качествен контрол
    [% END %]
    за поне една съставна част.
    Поради това, не можете да го изтриете сега.

  [% ELSIF error == "user_login_required" %]
    [% title = "Необходимо е потребителско име" %]
    [% admindocslinks = {'useradmin.html' => 'Администриране на потребители'} %]
    Трябва да въведете име за вход за новия потребител.

  [% ELSIF error == "user_match_failed" %]
    [% title = "Сравнението пропадна" %]
    <tt>[% name FILTER html %]</tt> не съществува или не ви е позволено 
    да виждате потребителя.

  [% ELSIF error == "votes_must_be_nonnegative" %]
    [% title = "Броят на гласовете трябва да бъдат положително число" %]
    [% admindocslinks = {'voting.html' => 'Настройване на възможноста за гласуване'} %]
    Използвайте отрицателни числа само за гласове по вашия [% terms.bug %].

  [% ELSIF error == "wrong_token_for_cancelling_email_change" %]
    [% title = "Грешен белег" %]
    Белега не може да бъде използван за отхвърляне на промяна на е-пощенски адрес.

  [% ELSIF error == "wrong_token_for_changing_passwd" %]
    [% title = "Грешен белег" %]
    Белега не може да бъде използван за смяна на паролата ви.

  [% ELSIF error == "wrong_token_for_confirming_email_change" %]
    [% title = "Грешен белег" %]
    Белега не може да бъде използван за смяна на е-пощенския ви адрес.

  [% ELSIF error == "wrong_token_for_creating_account" %]
    [% title = "Грешен белег" %]
    Белега не може да бъде използван за създаване на сметка.

  [% ELSIF error == "zero_length_file" %]
    [% title = "Файлът е празен" %]
    Файлът, който се опитвате да прикачите е празен, не съществува или нямате
    права за четенето му.

  [% ELSIF error == "illegal_user_id" %]
    [% title = "Недействителен потребителски идентификатор" %]
    Потребителския идентификатор '[% userid FILTER html %]' в действителност не е цяло число.

  [% ELSE %]

    [%# Try to find hooked error messages %]
    [% error_message = Hook.process("errors") %]

    [% IF not error_message %]
      [% title = "Не е открита информация за грешката" %]
      Потребителският код за грешка <code>[% error FILTER html %]</code> не беше открит.
      Моля, изпратете поща до [% Param("maintainer") %], описвайки
      предприетите стъпките до получаване на това съобщение.
    [% ELSE %]
      [% error_message FILTER none %]
    [% END %]
  [% END %]
[% END %]

[%# We only want HTML error messages for ERROR_MODE_WEBPAGE %]
[% USE Bugzilla %]
[% IF Bugzilla.error_mode != constants.ERROR_MODE_WEBPAGE %]
  [% IF Bugzilla.usage_mode == constants.USAGE_MODE_BROWSER %]
    [% error_message FILTER none %]
  [% ELSE %]
    [% error_message FILTER txt %]
  [% END %]
  [% RETURN %]
[% END %]

[% UNLESS header_done %]
  [% PROCESS global/header.html.tmpl %]
[% END %]

[% PROCESS global/docslinks.html.tmpl
   docslinks      = docslinks
   admindocslinks = admindocslinks
%]

<table cellpadding="20">
  <tr>
    <td bgcolor="#ff0000">
      <font size="+2">
        [% error_message FILTER none %]
      </font>
    </td>
  </tr>
</table>

<p>
  Моля, щракнете върху <b>Назад</b> и опитайте отново.
</p>

[%# If a saved search fails, people want the ability to edit or delete it. 
  # This is the best way of getting information about that possible saved
  # search from any error call location. %]

[% namedcmd = Bugzilla.cgi.param("namedcmd") %]
[% sharer_id = Bugzilla.cgi.param("sharer_id") %]
[% IF namedcmd AND error != "missing_query" 
               AND error != "saved_search_used_by_whines"
               AND !sharer_id %]
  <p>  
    Можете също и да    
    <a href="buglist.cgi?cmdtype=dorem&amp;remaction=forget&amp;namedcmd=
                  [% namedcmd FILTER url_quote %]">забравите</a>

    [% FOREACH q = Bugzilla.user.queries %]
      [% IF q.name == namedcmd %]
        или <a href="query.cgi?[% q.url FILTER html %]">редактирате</a>
      [% END %]
    [% END %]

    съхраненото търсене '[% namedcmd FILTER html %]'.
  </p>
[% END %]

[% PROCESS global/footer.html.tmpl %]
