[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is BugzillaSource, Inc.
  # Portions created by the Initial Developer are Copyright (C) 2011 
  # the Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   Max Kanat-Alexander <mkanat@bugzilla.org>
  #%]

[%# You can use this hash to localize (translate) the values displayed
  # for drop-down and multiple-select fields. Lines starting with "#"
  # are comments.
  #%]
[% value_descs = {
  "bug_status" => {
    "UNCONFIRMED" => "НЕПОТВЪРДЕН",
    "CONFIRMED"   => "ПОТВЪРДЕН",
    "IN_PROGRESS" => "В РАЗВИТИЕ",
    "VERIFIED"    => "ПРОВЕРЕН",
    "RESOLVED"    => "РЕШЕН",
  },

  "resolution" => {
    ""            => "---",
    "FIXED"       => "ОПРАВЕН",
    "INVALID"     => "НЕДЕЙСТВИТЕЛЕН",
    "WONTFIX"     => "ОТКАЗАН",
    "LATER"       => "ПО НАТАТЪК",
    "REMIND"      => "НАПОМНЯНЕ",
    "DUPLICATE"   => "ДВОЙНИК",
    "WORKSFORME"  => "НЕВЪЗПРОИЗВОДИМ",
    "MOVED"       => "ПРЕМЕСТЕН",
  },

  "bug_severity" => {
    "blocker"     => "блокиращ",
    "critical"    => "критичен",
    "major"       => "важен",
    "normal"      => "нормален",
    "minor"       => "маловажен",
    "trivial"     => "незначителен",
    "enhancement" => "подобрение",
  },

  "priority" => {
    "Very High (P1)" => "Много висок (P1)",
    "High (P2)"      => "Висок (P2)",
    "Normal (P3)"    => "Нормален (P3)",
    "Low (P4)"       => "Нисък (P4)",
    "Very Low (P5)"  => "Много нисък (P5)",
  },

  "rep_platform" => {
    "All"   => "Всяка",
    "Other" => "Друга",
  },

  "op_sys" => {
    "All"   => "Всяка",
    "Other" => "Друга",
  },
} %]
