[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

Шаблонните куките са в тази папка. Шаблонните куки се викат в обикновенни
[%+ terms.Bugzilla %] шаблони така [[% '%' %] Hook.process('some-hook') %].
Повече информация за тях може да бъде намерена в документацията на 
B[% %]ugzilla::Extension. (Изпълнете "perldoc B[% %]ugzilla::Extension" в главната
папка на [%+ terms.Bugzilla %], за да видите тази документация.)
