[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

Обикновените шаблони са в тази папка. Можете да ги заредите във ваш
код ето така:

use Bugzilla::Error;
my $template = Bugzilla->template;
$template->process('[% name FILTER lower %]/some-template.html.tmpl')
  or ThrowTemplateError($template->error());

Така ще изглежда зареждането на файл наречен <kbd>some-template.html.tmpl</kbd> който
е в тази папка.

Забележете, че трябва да сте внимателни, така че пълния път на вашия шаблон
никога да не съвпада с шаблон, който съществува в Bugzilla или в 
друго разширение, иначе шаблона ви може да го замени. Затова
създадхоме папка именувана '[% name FILTER lower %]' за вас, така че
да можете да сложите шаблните си тук с оглед предотвратяване на противоречия.
