[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

Достъпни от Web файлове, като JavaScript, <abbr lang="en" title="Cascading Style Sheets">CSS</abbr> и картинки стоят в тази
папка. Можете да се обърнете към тях пряко в <abbr lang="en" title="Hyper Text Markup Language">HTML</abbr> кода си. Например,
ако имате файл именова "style.css" и разширението ви се нарича
"Foo", бихте го сложили в "extensions/Foo/web/style.css" и тогава
можете да направите връзка към него в <abbr lang="en" title="Hyper Text Markup Language">HTML</abbr> ето така:

<link href="extensions/Foo/web/style.css" rel="stylesheet" type="text/css">
