[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

From: [% Param('mailfrom') %]
To: [% emailaddress %]
Subject: [% PROCESS subject %]
X-Bugzilla-Type: admin

[% PROCESS subject %] от [% remoteaddress %].

Ако не сте заявили това, то може би това е или искрена грешка
или някой се опитва да открадне вашата сметка в [% terms.Bugzilla %].

Разгледайте информацията по-долу и препратете това писмо
до [% Param('maintainer') %] ако подозирате нечестна игра.

          Признак: [% token %]
  Тип на признака: [% tokentype %]
       Потребител: [% emailaddress %]
 Дата на издаване: [% issuedate FILTER time("%Y-%m-%d %H:%M:%S %Z", timezone) %]
Дата на събитието: [% eventdata %]
  Отказано поради: [% PROCESS cancelactionmessage %]

[% BLOCK subject %]
  [% IF tokentype == 'new_account' %]
    Отхвърлена заявка за създаване на сметка
  [% ELSIF tokentype == 'password' %]
    Отхвърлена заявка за смяна на парола
  [% ELSIF tokentype == 'emailnew' OR tokentype == 'emailold' %]
    Отхвърлена заявка за смяна на електронен пощенски адрес
  [% ELSE %]
    Отхвърлена заявка за смяна на признака [% tokentype %]
  [% END %]
[% END %]

[% BLOCK cancelactionmessage %]
  [% IF    cancelaction == 'account_exists' %]
    Сметката [% email %] вече съществува.

  [% ELSIF cancelaction == 'email_change_canceled' %]
    Заявката за смяна на електронния пощенски адрес за
    сметката [% old_email %] на [% new_email %] беше
    отхвърлена.

  [% ELSIF cancelaction == 'email_change_canceled_reinstated' %]
    Заявката за смяна на електронния пощенски адрес за сметката ви
    на [% new_email %] беше отхвърлена. Старите настройки на
    сметката ви бяха възстановени.

  [% ELSIF cancelaction == 'emailold_change_canceled' %]
    Заявката за смяна на електронния пощенски адрес за сметката ви
    на [% new_email %] беше отхвърлена.

  [% ELSIF cancelaction == 'password_change_canceled' %]
    Заявили сте отхвърляне.

  [% ELSIF cancelaction == 'account_creation_canceled' %]
    Създаването на потребителската сметка [% emailaddress %]
    беше отхвърлено.

  [% ELSIF cancelaction == 'user_logged_in' %]
    Влезли сте.

  [% ELSIF cancelaction == 'wrong_token_for_changing_passwd' %]
    Опитахте се да използвате признака за смяна на паролата.

  [% ELSIF cancelaction == 'wrong_token_for_cancelling_email_change' %]
    Опитахте се да използвате признака за отхвърляне на промяната на електронния пощенски адрес.

  [% ELSIF cancelaction == 'wrong_token_for_confirming_email_change' %]
    Опитахте се да използвате признака за потвърждаване на промяната на електронния пощенски адрес.

  [% ELSIF cancelaction == 'wrong_token_for_creating_account' %]
    Опитахте се да използвате признака за създаване на потребителска сметка.

  [% ELSE %]
    [%# Give sensible error if the cancel-token function is used incorrectly.
      #%]
    Използвате функцията за отхвърляне на признаци на Bugzilla неправилно. Подали
    сте низа '[% cancelaction %]'. Правилното използване е да подадете етикет
    и да определите този етикет във файла <kbd>cancel-token.txt.tmpl</kbd>.

    Ако сте краен потребител на [% terms.Bugzilla %] виждащ това съобщение, моля препратете
    писмото до [% Param('maintainer') %].
  [% END %]
[% END %]
