[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE
  # none
  # 
  # Param("maintainer") is used to display the maintainer's email.
  # Param("emailsuffix") is used to pre-fill the email field.
  #%]

[% PROCESS global/header.html.tmpl
           title = "Създаване на нова $terms.Bugzilla сметка"
%]

<p>
  За създаване на [% terms.Bugzilla %] сметка, всичко което трябва да направите е да въведете
[% IF Param('emailsuffix') == '' %]
  законен електронен пощенски адрес.
[% ELSE %]
  име на сметка, което съчетано с [% Param('emailsuffix') %]
  отговаря на адрес, където получавате пощата.
[% END %]
  На този адрес ще получите писмо за потвърждаване създаването на сметката
  ви. <b>Няма да имате възможност да влезете докато не получите писмото.</b>
  Ако то не пристигне в приемлив интервал от време, можете да се свържете
  с поддържащия тази Bugzilla инсталация
  на <a href="mailto:[% Param("maintainer") %]">[% Param("maintainer") %]</a>.
</p>

[% IF Param('allowemailchange') %]
<p>
  Ако вече имате сметка и искате да смените
  [% IF Param('emailsuffix') == '' %]
    адреса си за е-поща,
  [% ELSE %]
    потребителското си име,
  [% END %]
  можете да го направите от страницата Предпочитания след като влезете.
</p>
[% END %]

<p>
  Необходима е потребителска сметка за докладване на нови [% terms.bugs %] или за оставяне на мнения по
  съществуващи, тъй като може да се наложи връзка с вас за повече информация при нужда.
  Това също позволява на други потребители ясно да отъждествяват автора на мнения
  или промени направени по [% terms.bugs %]. <b>Имайте предвид, че адреса ви за електронна поща
  <em>никога</em> няма да бъде показван на нерегистрирани потребители. Само регистрирани потребители ще
  могат да го виждат.</b>
</p>

[% IF Param('createemailregexp') == '.*' && Param('emailsuffix') == '' %]
<p>
  <b>ЗАБЕЛЕЖКА ЗА ПОВЕРИТЕЛНОСТТА:</b> [% terms.Bugzilla %] е отворена система
  за следене на [% terms.bugs %]. Дейността по повечето [% terms.bugs %], включително е-пощенски
  адреси, ще бъде видима за регистрирани потребители. <b>Препоръчваме</b> използването на
  втора сметка или безплатна web е-пощенска услуга (като Gmail, Yahoo,
  Hotmail, или подобни) за предотвратяване получаването на нежелана поща на основния Ви е-пощенски адрес.
</p>
[% END %]

<form id="account_creation_form" method="get" action="createaccount.cgi">
  <span class="label">
    [% IF Param('emailsuffix') %]
      Потребителско име:
    [% ELSE %]
      Е-пощенски адрес:
    [% END %]
  </span>
  <input size="35" id="login" name="login" autofocus
         [%- ' type="email"' UNLESS Param('emailsuffix') %] required>
  [% Param('emailsuffix') FILTER html %]
  <input type="hidden" id="token" name="token" value="[% issue_hash_token(['create_account']) FILTER html %]">
  <input type="submit" id="send" value="Изпращане">
</form>

[% PROCESS global/footer.html.tmpl %]
