[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # login: string. The user's Bugzilla login email address.
  #%]

[% title = BLOCK %]
  Заявката за новата сметка '[% login FILTER html %]' беше предадена
[% END %]

[% PROCESS global/header.html.tmpl title = title %]

<p>
  Беше изпратено писмо за потвърждаване, съдържащо препратка за продължаване
  създаването на сметка. Тази препратка ще изтече ако сметката не бъде
  създадена до [% constants.MAX_TOKEN_AGE FILTER html %] дни.
</p>

[% PROCESS global/footer.html.tmpl %] 
