[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% IF comment.type == constants.CMT_MOVED_TO %]
[% comment.body %]

[%+ terms.Bug %] преместен към [% Param("move-to-url") %].
Ако преместването е успяло, [% comment.extra_data FILTER email %] ще получи писмо
съдържащо номера на новия [% terms.bug %] в другата база данни.
Ако всичко е минало добре, моля поставете връзка към новия [% terms.bug %]. 
Иначе, отворете отново този [% terms.bug %].
[% END %]
