[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% IF error == "oldbugmove_no_delete_moved" %]
    Доакато разширението OldBugMove работи, не можете да
    изтриете [%+ display_value("resolution", "MOVED") FILTER html %]
    решението.
[% ELSIF error == "oldbugmove_no_manual_move" %]
    Не можете да зададете решението на [% terms.bug %] на 
    [%+ display_value("resolution", "MOVED") FILTER html %] без
    да преместите [% terms.abug %].
[% END %]
