[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): Marc Schumann <wurblzap@gmail.com>
  #%]

[%# INTERFACE:
  #
  # listselectionvalues:      selection values to recreate the current user
  #                           list.
  # editusers:                is viewing user member of editusers?
  # otheruser:                Bugzilla::User object of the viewed user.
  # reporter:                 number of bugs reported by the user
  # assignee_or_qa:           number of bugs the user is either the assignee
  #                           or the QA contact
  # bugs_activity:            number of bugs the viewed user has activity
  #                           entries on
  # cc                        number of bugs the viewed user is cc list member
  #                           of
  # flags.requestee:          number of flags the viewed user is being asked for
  # flags.setter:             number of flags the viewed user has set
  # longdescs:                number of bug comments the viewed user has written
  # namedqueries:             number of named queries the user has created
  # namedquery_group_map:     number of named queries the user has shared
  # profiles_activity:        number of changes made to other users' profiles
  # series:                   number of series the viewed user has created
  # votes:                    number of bugs the viewed user has voted on
  # watch.watched:            number of users the viewed user is being watched
  #                           by
  # watch.watcher:            number of users the viewed user is watching
  # whine_events:             number of whine events the viewed user has created
  # whine_schedules:          number of whine schedules the viewed user has
  #                           created
  #%]

[% title = BLOCK %]Потвърждаване изтриването на потребител [% otheruser.login FILTER html %][% END %]

[% PROCESS global/header.html.tmpl
  title = title
  style_urls = ['skins/standard/admin.css',
                'skins/standard/editusers.css']
%]

[% PROCESS admin/users/listselectvars.html.tmpl
  listselectionvalues = listselectionvalues
%]

[% responsibilityterms = {
  'default_assignee'   => 'Подразбиращо се назначение',
  'default_qa_contact' => 'Подразбиращ се качествен контрол'
  }
%]

<table class="main">
  <tr>
    <th>Потребителско име:</th>
    <td>[% otheruser.login FILTER html %]</td>
  </tr>
  <tr>
    <th>Истинско име:</th>
    <td>[% otheruser.name FILTER html %]</td>
  </tr>
  <tr>
    <th>Групи:</th>
    <td>
      [% IF groups.size %]
        <ul>
          [% FOREACH group = otheruser.groups.keys %]
            <li>[% group FILTER html %]</li>
          [% END %]
        </ul>
      [% ELSE %]
        None
      [% END %]
    </td>
  </tr>
  [% IF otheruser.product_responsibilities.size %]
    <tr>
      <th>Отговорности по продукти:</th>
      <td>
        <ul>
          [% FOREACH component = otheruser.product_responsibilities %]
            <li>
              [% andstring = '' %]
              [% FOREACH responsibility = ['default_assignee', 'default_qa_contact'] %]
                [% IF component.${responsibility}.id == otheruser.id %]
                  [% andstring %] [% responsibilityterms.$responsibility %]
                  [% andstring = ' and ' %]
                [% END %]
              [% END %]
              за
              [% IF user.in_group("editcomponents", component.product_id) %]
                <a href="editcomponents.cgi?action=edit&amp;product=
                         [% component.product.name FILTER url_quote %]&amp;component=
                         [% component.name FILTER url_quote %]">
              [% END %]
                [%+ component.product.name FILTER html %]:
                [% component.name FILTER html %]
              [% IF user.in_group("editcomponents", component.product_id) %]
                </a>
              [% END %]
            </li>
          [% END %]
        </ul>
      </td>
    </tr>
  [% END %]
</table>

[% IF otheruser.product_responsibilities.size %]
  <p>
    Не можете да изтриете потребителя сега, защото
    [%+ otheruser.login FILTER html %] има отговорности по поне
    един продукт.
  </p>
  <p>
    [% IF user.in_group("editcomponents", component.product_id) %]
      Можете да промените това като щракнете върку препратките за редактиране на продукта по-горе,
    [% ELSE %]
      За сега можете
    [% END %]
[% ELSE %]

  <h2>Потвърждаване</h2>

  [% display_warning = 0 %]

  [% IF reporter || bugs_activity || flags.setter || longdescs || profiles_activity %]
    <div class="criticalmessages">
      <p>Следващите изтривания са <b>силно непрепоръчителни</b> и
      ще създадат непълноти в цялостта на връзките!</p>

      <ul>
        [% IF reporter %]
          <li>
            [% otheruser.login FILTER html %]
            <a href="buglist.cgi?emailreporter1=1&amp;emailtype1=exact&amp;email1=
               [%- otheruser.login FILTER url_quote %]">е докладвал
            [% IF reporter == 1 %]
              един [% terms.bug %]
            [% ELSE %]
              [%+ reporter %] [%+ terms.abug %]
            [% END %]</a>.
            Ако изтриете потребителя, записите в базата данни ще бъдат
            несъгласувани, което ще доведе то това
            [% IF reporter == 1 %]
              този [% terms.bug %] да не се показва
            [% ELSE %]
              тези [% terms.bugs %] да не се показват
            [% END %]
            повече в [% terms.bug %] списъците.
          </li>
        [% END %]
        [% IF bugs_activity %]
          <li>
            [% otheruser.login FILTER html %] е направил
            [% IF bugs_activity == 1 %]
              промяна на [% terms.bug %]
            [% ELSE %]
              промени по [% terms.bugs %]
            [% END %].
            Ако изтриете потребителя, таблицата с дейността по [% terms.bugs %]те в
            базата данни ще бъде несъгласувана, което ще доведе до това
            [% IF bugs_activity == 1 %]
              тази промяна да не се показва
            [% ELSE %]
              тези промени да не се показват
            [% END %]
            повече в журналите с активността по [% terms.bug %].
          </li>
        [% END %]
        [% IF flags.setter %]
          <li>
            [% otheruser.login FILTER html %] има
            <a href="buglist.cgi?field0-0-0=setters.login_name&amp;type0-0-0=equals&amp;value0-0-0=
               [%- otheruser.login FILTER url_quote %]">е задал
            или е поискал задаването на
            [% IF flags.setter == 1 %]
            флаг
            [% ELSE %]
              [%+ flags.setter %] флага
            [% END %]</a>.
            Ако изтриете потребителя таблицата с флагове в базата данни
            ще бъде несъгласувана, което ще доведе до това
            [% IF flags.setter == 1 %]
              този флаг
            [% ELSE %]
              тези флагове
            [% END %]
            повече да не се показват правилно.
          </li>
        [% END %]
        [% IF longdescs %]
          <li>
            [% otheruser.login FILTER html %] има
            <a href="buglist.cgi?emaillongdesc1=1&amp;emailtype1=exact&amp;email1=
               [%- otheruser.login FILTER url_quote %]">е коментирал
            [% IF longdescs == 1 %]
              веднъж по [% terms.bug %]
            [% ELSE %]
              [%+ longdescs %] пъти по [% terms.bugs %]
            [% END %]</a>.
            Ако изтриете потребителя таблицата с коментари в базата данни
            ще бъде несъгласувана, което ще доведе до това
            [% IF longdescs == 1 %]
              този коментар да не се вижда
            [% ELSE %]
              тези коментари да не се виждат
            [% END %]
            повече.
          </li>
        [% END %]
        [% IF profiles_activity %]
          <li>
            [% otheruser.login FILTER html %] е направил
            [% IF bugs_activity == 1 %]
              промяна по профила на друг потребител
            [% ELSE %]
              промени по профила на други потребители
            [% END %].
            Ако изтриете потребителя таблицата с дейността по профилите на потребителите в
            базата данни ще бъде несъгласувана.
          </li>
        [% END %]
      </ul>
    </div>
    [% display_warning = 1 %]
  [% END %]

  [% IF assignee_or_qa || cc || email_setting || flags.requestee ||
        namedqueries || profile_setting || series || votes || watch.watched ||
        watch.watcher || whine_events || whine_schedules %]
    <div class="warningmessages">
      <p>Следващите изтривания са <b>безопасни</b> и няма да създадат
      непълноти в цялостта на връзките.</p>

      <ul>
        [% IF assignee_or_qa %]
          <li>
            [% otheruser.login FILTER html %]
            <a href="buglist.cgi?emailassigned_to1=1&amp;emailqa_contact1=1&amp;emailtype1=exact&amp;email1=
               [%- otheruser.login FILTER url_quote %]">има
            назначен или е качествен контрол по
            [% IF assignee_or_qa == 1 %]
              един [% terms.bug %]
            [% ELSE %]
              [%+ assignee_or_qa %] [%+ terms.abug %]
            [% END %]</a>.
            Ако изтриете потребителя, ролите му ще бъдат прехвърлени на
            подразбиращия се назначен или подразбиращия се качествен контрол.
          </li>
        [% END %]
        [% IF cc %]
          <li>
            [% otheruser.login FILTER html %]
            <a href="buglist.cgi?emailcc1=1&amp;emailtype1=exact&amp;email1=
               [%- otheruser.login FILTER url_quote %]">е
            в списъка Точно Копие на
            [% IF cc == 1 %]
              [%+ terms.bug %]
            [% ELSE %]
              [%+ cc %] [%+ terms.abug %]
            [% END %]</a>.
            Ако изтриете потребителя той ще бъде премахнат от тези списъци.
          </li>
        [% END %]
        [% IF email_setting %]
          <li>
            Настройките за поща на потребителя ще бъдат изтрити заедно със
            сметката му.
          </li>
        [% END %]
        [% IF flags.requestee %]
          <li>
            [% otheruser.login FILTER html %] has been
            <a href="buglist.cgi?field0-0-0=requestees.login_name&amp;type0-0-0=equals&amp;value0-0-0=
               [%- otheruser.login FILTER url_quote %]">е поискал
            задаването на
            [% IF flags.requestee == 1 %]
              флаг
            [% ELSE %]
              [% flags.requestee %] флага
            [% END %]</a>.
            Ако изтриете потребителя,
            [% IF flags.requestee == 1 %]
              този флаг ще стане
            [% ELSE %]
              тези флагове ще станат
            [% END %]
            с неопределен заявител.
          </li>
        [% END %]
        [% IF namedqueries %]
          <li>
            [% otheruser.login FILTER html %] има
            [% IF namedqueries == 1 %]
              [% 'споделено' IF namedquery_group_map %] именовано търсене
            [% ELSE %]
              [%+ namedqueries FILTER html %] именовани търсения
            [% END %].
            [% IF namedqueries == 1 %]
              Тази именована заявка ще бъде изтрита
            [% ELSE %]
              Тези именовани заявки ще бъдат изтрити
            [% END %]
            заедно с него.
            [% IF namedquery_group_map %]
              [% IF namedqueries > 1 %]
                От тях,
                [% IF namedquery_group_map > 1 %]
                  [%+ namedquery_group_map FILTER html %] са
                [% ELSE %]
                  едно е
                [% END %]
                споделено.
              [% END %]
              Други потребители няма да могат да използват
              [% IF namedquery_group_map > 1 %]
                споделените именовани търсения
              [% ELSE %]
                споделеното именовано търсене
              [% END %]
              повече.
            [% END %]
          </li>
        [% END %]
        [% IF profile_setting %]
          <li>
            Потребителските предпочитания ще бъдат изтрити заедно със сметката
            на потребителя.
          </li>
        [% END %]
        [% IF series %]
          <li>
            [% otheruser.login FILTER html %] е създал
            [% IF series == 1 %]
              редица
            [% ELSE %]
              [%+ series %] редици
            [% END %].
            [% IF series == 1 %]
              Тази редица ще бъде изтрита
            [% ELSE %]
              Тези редици ще бъдат изтрити
            [% END %]
            заедно с него.
          </li>
        [% END %]
        [% IF votes %]
          <li>
            [% otheruser.login FILTER html %] е гласувал по
            [% IF votes == 1 %]
              [%+ terms.bug %]
            [% ELSE %]
              [%+ votes %] [%+ terms.abugs %]
            [% END %].
            Ако изтриете потребителя,
            [% IF votes == 1 %]
              този глас ще бъде изтрит
            [% ELSE %]
              тези гласове ще бъдат изтрити
            [% END %]
            заедно с него.
          </li>
        [% END %]
        [% IF watch.watched || watch.watcher %]
          <li>
            [% otheruser.login FILTER html %]
            [% IF watch.watched %]
              е наблюдаван от
              [% IF watch.watched == 1 %]
                друг потребител
              [% ELSE %]
                [%+ watch.watched %] потребители
              [% END %]
            [% END %]
            [% IF watch.watcher %]
              [%+ 'и' IF watch.watched %]
              наблюдава
              [% IF watch.watcher == 1 %]
                друг потребител
              [% ELSE %]
                [%+ watch.watcher %] потребителя
              [% END %]
            [% END %].
            [% IF watch.watched + watch.watcher == 1 %]
              Наблюдението ще бъде прекратено
            [% ELSE %]
              Наблюденията ще бъдат прекратени
            [% END %]
            заедно с изтриването му.
          </li>
        [% END %]
        [% IF whine_events || whine_schedules %]
          <li>
            [% otheruser.login FILTER html %]
            [% IF whine_events %]
              е насрочил
              [% IF whine_events == 1 %]
                известяване
              [% ELSE %]
                [%+ whine_events %] известявания
              [% END %]
            [% END %]
            [% IF whine_schedules %]
              [%+ 'и' IF whine_events %]
              е получател на
              [% IF whine_schedules == 1 %]
                известие
              [% ELSE %]
                [%+ whine_schedules %] известия
              [% END %]
            [% END %].
            [% IF whine_events + whine_schedules == 1 %]
              Това известие ще бъде изтрито
            [% ELSE %]
              Тези известия ще бъдат изтрити
            [% END %]
            заедно с него.
          </li>
        [% END %]
      </ul>
    </div>
    [% display_warning = 1 %]
  [% END %]

  [% IF display_warning %]
    <p class="areyoureallyreallysure">
      Моля, имайте в предвид последиците преди да продължите.
    </p>
  [% END %]

  <p>Наистина ли желаете да изтриете този потребител?</p>

  <form method="post" action="editusers.cgi">
    <p>
      <input type="submit" id="delete" value="Да, изтриване" />
      <input type="hidden" name="action" value="delete" />
      <input type="hidden" name="userid" value="[% otheruser.id %]" />
      <input type="hidden" name="token" value="[% token FILTER html %]">
      [% INCLUDE listselectionhiddenfields %]
    </p>
  </form>

  <p>Ако не желаете да изтриете потребителя сега,
[% END %]

  <a href="editusers.cgi?action=edit&amp;userid=[% otheruser.id %]
           [% INCLUDE listselectionurlparams %]">редактиране на потребителя</a>,
  връщане
 <a href="editusers.cgi?action=list[% INCLUDE listselectionurlparams %]">обратно
  към списъка с потребители</a>,
  [% IF editusers %]
    <a href="editusers.cgi?action=add[% INCLUDE listselectionurlparams %]">добавяне
    на нов потребител</a>,
  [% END %]
  или <a href="editusers.cgi">търсене на други потребители</a>.
</p>

[% PROCESS global/footer.html.tmpl %]
