[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% INCLUDE global/header.html.tmpl
   title = "Редакция на работен поток"
   style_urls = ['skins/standard/admin.css']
%]

<script type="text/javascript">
<!--
  function toggle_cell(cell) {
    if (cell.checked)
      cell.parentNode.className = "checkbox-cell checked";
    else
      cell.parentNode.className = "checkbox-cell";
  }
//-->
</script>

<p>
  Тази страница ви позволява да определите кои преходи в състоянията са валидни в работния ви поток.
  За съвместимост с по-стари версии на [% terms.Bugzilla %], отварянето отново на [% terms.abug %]
  ще покаже само или [% get_status("UNCONFIRMED") FILTER html %] или
  [%+ get_status("REOPENED") FILTER html %] (ако е разрешено от работния ви поток), но не
  двете. Решението зависи от това дали [% terms.abug %] е бил потвърждаван или не.
  Така че е добра идея да разрешите и двата прехода и оставите [% terms.Bugzilla %] да избере
  правилния.
</p>

<form id="workflow_form" method="POST" action="editworkflow.cgi">
<table>
  <tr>
    <th colspan="2">&nbsp;</th>
    <th colspan="[% statuses.size FILTER html %]" class="title">Към</th>
  </tr>

  <tr>
    <th rowspan="[% statuses.size + 2 FILTER html %]" class="title">От</th>
    <th>&nbsp;</th>
    [% FOREACH status = statuses %]
      <th class="col-header[% status.is_open ? " open-status" : " closed-status" %]">
        [% display_value("bug_status", status.name) FILTER html %]
      </th>
    [% END %]
  </tr>

  [%# This defines the entry point in the workflow %]
  [% p = [{id => 0, name => "{Начало}", is_open => 1}] %]
  [% FOREACH status = p.merge(statuses) %]
    <tr class="highlight">
      <th align="right" class="[% status.is_open ? "open-status" : "closed-status" %]">
        [% display_value("bug_status", status.name) FILTER html %]
      </th>

      [% FOREACH new_status = statuses %]
        [% IF status.id != new_status.id %]
          [% checked = workflow.${status.id}.${new_status.id}.defined ? 1 : 0 %]
          [% mandatory = (status.id && new_status.name == Param("duplicate_or_move_bug_status")) ? 1 : 0 %]
          <td align="center" class="checkbox-cell[% " checked" IF checked || mandatory %]"
              title="От [% status.name FILTER html %] към [% new_status.name FILTER html %]">
            <input type="checkbox" name="w_[% status.id %]_[% new_status.id %]"
                   id="w_[% status.id %]_[% new_status.id %]" onclick="toggle_cell(this)"
                   [%+ "checked='checked'" IF checked || mandatory %]
                   [%+ "disabled='disabled'" IF mandatory %]>
          </td>
        [% ELSE %]
          <td class="checkbox-cell forbidden">&nbsp;</td>
        [% END %]
      [% END %]
    </tr>
  [% END %]
</table>

<p>
  Когато [% terms.abug %] е обозначен като двойник на друг или е преместен
  в друга инсталация, състоянието му е автоматично зададено на
  <b>[% Param("duplicate_or_move_bug_status") FILTER html %]</b>. Всички преходи в
  състояниетона [% terms.abug %] трябва да бъдат валидни (това е причината поради която не можете да ги редактирате
  отгоре).<br>
  Забележка: можете да промените тази настройка с посещаване на 
  страницата <a href="editparams.cgi?section=bugchange#duplicate_or_move_bug_status">Параметри</a>
  и редактиране на параметъра <i>duplicate_or_move_bug_status</i>.
</p>

<p align="center">
  <input type="hidden" name="action" value="update">
  <input type="hidden" name="token" value="[% token FILTER html %]">
  <input type="submit" id="update_workflow" value="Предаване на промените"> -
  <a href="editworkflow.cgi">Отхвърляне на промените</a> -
  <a href="editworkflow.cgi?action=edit_comment">Преглед на Необходими коментари при преходи в състоянията</a>
</p>

</form>

[% INCLUDE global/footer.html.tmpl %]
