[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # keyword: A Bugzilla::Keyword object.
  #%]

[% PROCESS global/header.html.tmpl
  title = "Изтриване на ключова дума"
  style_urls = ['skins/standard/admin.css']
%]

<h2>Потвърждение</h2>

<p class="confirmation">
  [% IF keyword.bug_count == 1 %]
    Съществува един [% terms.bug %] за който
  [% ELSIF keyword.bug_count > 1 %]
    Съществуват [% keyword.bug_count FILTER html %] [%+ terms.bugs %] за които
  [% END %]
   ключовата дума <em>[% keyword.name FILTER html %]</em> е зададена.
</p>

<p>
  Сигурни ли сте, че искате да изтриете ключовата дума?
</p>

<form method="post" action="editkeywords.cgi">
  <input type="hidden" name="id" value="[% keyword.id FILTER html %]">
  <input type="hidden" name="action" value="delete">
  <input type="hidden" name="token" value="[% token FILTER html %]">
  <input type="submit" id="delete" value="Да, изтриване">
</form>

<p><a href="editkeywords.cgi">Редактиране на други ключови думи</a>.</p>

[% PROCESS global/footer.html.tmpl %] 
