[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # keyword: A Bugzilla::Keyword object.
  #%]

[% PROCESS global/header.html.tmpl
  title = "Изтриване на ключова дума"
%]

<p>
  [% IF keyword.bug_count == 1 %]
    Съществува един [% terms.bug %], за който тази ключова дума е зададена.
  [% ELSIF keyword.bug_count > 1 %]
    Съществуват [% keyword.bug_count FILTER html %] [%+ terms.bugs %], за които
    тази ключова дума е зададена.
  [% END %]
  
  <b>Сигурни</b> ли сте, че искате да изтриете
  ключовата дума <code>[% keyword.name FILTER html %]</code>?
</p>

<form method="post" action="editkeywords.cgi">
  <input type="hidden" name="id" value="[% keyword.id FILTER html %]">
  <input type="hidden" name="action" value="delete">
  <input type="hidden" name="token" value="[% token FILTER html %]">
  <input type="submit" id="delete"
         value="Да, изтриване на ключовата дума">
</form>

<p><a href="editkeywords.cgi">Редактиране на други ключови думи</a>.</p>

[% PROCESS global/footer.html.tmpl %] 
