[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Terry Weissman <terry@mozilla.org>
  #                 Vlad Dascalu <jocuri@softhome.net>
  #%]

[%# INTERFACE:
  # action: string; the current action (either "update" or "delete").
  # name: string; the name of the current keyword.
  #%]
  
[% IF action == "update" %]
  [% title = "Осъвременяване на ключова дума"%]
  [% status = "осъвременена" %]
[% ELSIF action == "delete" %]
  [% title = "Изтриване на ключова дума" %]
  [% status = "изтрита" %]
[% END %]

[% PROCESS global/header.html.tmpl %]

Ключовата дума [% name FILTER html %] [%+status FILTER html %].

<p>
  <b>След като свършите с изтриването или редактирането на ключови думи
  трябва да изградите наново наличността с ключови думи.</b><br>
  
  Внимание: на много голяма инсталация на [% terms.Bugzilla %],
  това може да отнеме няколко минути.
</p>

<p>
  <b><a href="sanitycheck.cgi?rebuildkeywordcache=1">Изграждане наново на
  наличността с ключови думи</a></b>
</p>

<p><a href="editkeywords.cgi">Редактиране на ключови думи</a>.</p>

[% PROCESS global/footer.html.tmpl %] 
