[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # group: The Bugzilla::Group being changed.
  # regexp: the regexp according to which the update is performed.
  #%]

[% IF regexp %]
  [% title = "Потвърждаване: Премахване на явни членове в регулярния израз?" %]
[% ELSE %]
  [% title = "Потвърждаване: Премахване на всички явни членове?" %]
[% END %]

[% PROCESS global/header.html.tmpl
  title = title
  doc_section = "administering/groups.html"
%]

[% IF regexp %]
  <p>Тази възможност ще премахне всички потребители от '[% group.name FILTER html %]'
    чийто входни имена съвпадат с регулярния израз:
    '[% regexp FILTER html %]'</p>
[% ELSE %]
  <p>Тази възможност ще премахне всички явно определени потребители
    от '[% group.name FILTER html %].'</p>
[% END %]
  
<p>Като цяло, ще имате нужда от това само когато надграждате групи
  създадени с Bugzilla версии 2.16 и по-стари. Използвайте
  тази възможност с <b>повишено внимание</b> и погледнете документацията
  за повече информация.
</p>
    
<form method="post" action="editgroups.cgi">
  <input type="hidden" name="group_id" value="[% group.id FILTER html %]">
  <input type="hidden" name="regexp" value="[% regexp FILTER html %]">
  <input type="hidden" name="action" value="remove_regexp">
  
  <input name="token" type="hidden" value="[% token FILTER html %]">
  <input id="confirm" name="confirm" type="submit" value="Потвърждаване">
  <p>Или <a href="editgroups.cgi">връщане към страницата Редактиране на групи</a>.</p>
</form>
    
[% PROCESS global/footer.html.tmpl %] 
