[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Miller <justdave@syndicomm.com>
  #                 Joel Peshkin <bugreport@peshkin.net>
  #                 Jacob Steenhagen <jake@bugzilla.org>
  #                 Vlad Dascalu <jocuri@softhome.net>
  #%]

[%# INTERFACE:
  # gid: number. The group ID.
  # name: string. The name of the group.
  # cantdelete: boolean int. Is 1 if the group couldn't have been deleted.
  #%]


[% PROCESS global/header.html.tmpl
  title = "Изтриване на група"
%]

[% IF cantdelete %]
  <p>
    Тази група не може да бъде изтрита, защото има записи
    в базата данни които се обръщат към нея. Всички такива записи
    трябва да бъдат премахнати или променени така, че да се премахне
    обръщението към групата, преди тя да бъде изтрита.
  </p>

  <p>
    <a href="editgroups.cgi?action=del&amp;group=[% gid FILTER url_quote %]">Преглед</a>
    на списъка със записите, които са засегнати.
  </p>
[% ELSE %]
  <p><b>Групата [% name FILTER html %] беше изтрита.</b></p>
[% END %]

<p>Обратно към <a href="editgroups.cgi">списъка с групи</a>.

[% PROCESS global/footer.html.tmpl %] 
