[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # group: A Bugzilla::Group object representing the group that is
  #        about to be deleted.
  # shared_queries: int; The number of queries being shared with this
  #                 group.
  #%]

[% title = BLOCK %]Изтриване на група '[% group.name FILTER html %]'[% END %]
[% PROCESS global/header.html.tmpl
  title = title
  style_urls = ['skins/standard/admin.css']
  doc_section = "administering/groups.html"
%]

<table id="admin_table">
  <tr class="column_header">
    <th>Поле</th>
    <th>Стойност</th>
  </tr>
  <tr>
    <td>Идентификатор</td>
    <td>[% group.id FILTER html %]</td>
  </tr>
  <tr>
    <td>Име</td>
    <td>[% group.name FILTER html %]</td>
  </tr>
  <tr>
    <td>Описание</td>
    <td>[% group.description FILTER html_light %]</td>
  </tr>
</table>

<form method="post" action="editgroups.cgi">
  [% IF group.members_non_inherited.size %]
    <p><b>[% group.members_non_inherited.size FILTER html %] потребители принадлежат
      направо към тази група. Не можете да я изтриете докато има
      потребители в нея.</b>

    <br><a href="editusers.cgi?action=list&amp;groupid=
                 [%- group.id FILTER uri %]&amp;grouprestrict=1">Показване
    на потребителите</a> - <label><input type="checkbox" name="removeusers">Премахване
    на всички потребители от групата.</label></p>
  [% END %]

  [% IF group.granted_by_direct(constants.GROUP_MEMBERSHIP).size %]
    <p><b>Членове на групата наследяват членство в следните групи:</b></p>
    <ul>
      [% FOREACH grantor = group.granted_by_direct(constants.GROUP_MEMBERSHIP) %]
        <li>[% grantor.name FILTER html %]</li>
      [% END %]
    </ul>
  [% END %]

  [% IF group.bugs.size %]
    <p><b>[% group.bugs.size FILTER html %] [%+ terms.bug %] доклада са
     видими само за тази група. Не можете да я изтриете докато някои
     [%+ terms.bugs %] я използват.</b>

    <br><a href="buglist.cgi?field0-0-0=bug_group&amp;type0-0-0=equals&amp;value0-0-0=
                 [%- group.name FILTER uri %]">Показване на
    [% terms.bugs %]те</a> - 
    <label><input type="checkbox" name="removebugs">Премахване
    на всички [% terms.bugs %] от това групово ограничение.</label></p>

    <p><b>БЕЛЕЖКА:</b> Напълно е възможно да направите поверителни [% terms.bugs %]
    публични, отмятайки това поле. <B>Горещо</B> се препоръчва
    да прегледате [% terms.bugs %]те в тази група преди да го
    отметнете.</p>
  [% END %]

  [% IF group.products.size %]
    <p><b>Тази група е обвързана със следните продукти:</b></p>
    [% SET any_hidden = 0 %]
    <ul>
      [% FOREACH data = group.products %]

        [% SET active = [] %]
        [% FOREACH control = data.controls.keys.sort %]
          [% NEXT IF !data.controls.$control %]
          [% IF control == 'othercontrol' OR control == 'membercontrol' %]
            [% SWITCH data.controls.$control %]
              [% CASE constants.CONTROLMAPMANDATORY %]
                [% SET type = "Задължителна" %]
              [% CASE constants.CONTROLMAPSHOWN %]
                [% SET type = "Показвана" %]
              [% CASE constants.CONTROLMAPDEFAULT %]
                [% SET type = "Подразбрана" %]
            [% END %]
            [% active.push("$control: $type") %]
          [% ELSE %]
            [% active.push(control) %]
          [% END %]
        [% END %]

        [% SET hidden = 0 %]
        [% IF data.controls.othercontrol == constants.CONTROLMAPMANDATORY
              AND data.controls.membercontrol == constants.CONTROLMAPMANDATORY
              AND data.controls.entry 
        %]
          [% SET hidden = 1 %]
        [% END %]

        <li><a href="editproducts.cgi?action=editgroupcontrols&amp;product=
                    [%- data.product.name FILTER uri %]">
          [%- data.product.name FILTER html %]</a>
          ([% active.join(', ') FILTER html %])
          [% IF hidden %]
            <strong>ВНИМАНИЕ: Този продукт текущо е скрит.
            Изтриването на групата може да направи продукта публично видим
            ако никоя друга група не е приложима.
            </strong>
          [% END %]</li>
      [% END %]
    </ul>

    <p><label><input type="checkbox" name="unbind">Изтриване на групата въпреки това
    и премахване на тези контроли.</label></p>
  [% END %]
  
  [% IF group.flag_types.size %]
    <p><b>Тази група ограничава кой може да прави промени по флагове от определни типове.
    Не можете да я изтриете докато има флаг типове използващи я .</b>

    <br><a href="editflagtypes.cgi?action=list&amp;group=
                 [%- group.id FILTER uri %]">Показване
    на флаг типовете</a> -
    <label><input type="checkbox" name="removeflags">Премахване на всички
    флаг типове от групата.</p>
  [% END %]

  [% IF shared_queries %]
    <p>
      <b>
      [% IF shared_queries > 1 %]
        Съществуват [% shared_queries %] съхранени търсения
      [% ELSE %]
        Съществува съхранено търсене
      [% END %]
      споделяно с тази група.</b>
      Ако я изтриете,
      [% IF shared_queries > 1 %]
        съхранените търсения
      [% ELSE %]
        съхраненото търсене
      [% END %]
      отново ще бъде частно.
    </p>
  [% END %]

  <h2>Потвърждение</h2>

  <p class="confirmation">
  Наистина ли искате да изтриете групата?
  </p>
  [% IF group.users.size || group.bugs.size || group.products.size 
        || group.flags.size
  %]
    <p><b>Трябва да отметнете всички полета по-горе или да поправите
          посочените проблеми преди да можете да продължите.</b></p>
  [% END %]

  <p>
    <input type="submit" id="delete" value="Да, изтриване">
    <input type="hidden" name="action" value="delete">
    <input type="hidden" name="group" value="[% group.id FILTER html %]">
    <input type="hidden" name="token" value="[% token FILTER html %]">
  </p>
</form>

Обратно към <a href="editgroups.cgi">списъка с групи</a>.

[% PROCESS global/footer.html.tmpl %] 
