[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% PROCESS global/header.html.tmpl title = "Санитарна проверка"
                                   style_urls = ['skins/standard/admin.css'] %]

<div>
  <p>
    Bugzilla проверява целостта на връзките в базата ви данни.
    Това може да отнеме няколко минути, за да приключи.
  </p>

  <p>
    Ако има грешки, ще бъдат <span class="alert">подчертани така</span>.
    В зависимост от откритите грешки, някои връзки ще бъдат показани позволявайки ви
    лесно да ги оправите. Поправката на грешките ще пусне автоматично скрипта
    отново (така че бъдете наясно, че може да отнеме дори повече време от първото пускане).
  </p>
</div>

<hr>
