[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% PROCESS global/header.html.tmpl
   title = "Намиране на приставка",
%]

<form name="choose-id" method="get" action="attachment.cgi">
  <p>Доберете се до приставка чрез въвеждане на нейния номер в полето отдолу:</p>
  <p>Номер на приставка: <input name="id" size="6">
  <button name="action" value="edit" id="edit">Подробности</button>
  <button name="action" value="view" id="view">Преглед</button>
  </p>
</form>

<form method="get" action="show_bug.cgi">
  <p>Или се доберете до нея през списъка с приставки в свързания с него [% terms.bug %] доклад:</p>
  <p>[% terms.Bug %] номер: <input name="id" size="6" required>
  <input type="submit" name="action" value="Преглед" id="action">
  </p>
</form>

<form method="get" action="attachment.cgi">
  <p>Или създайте нова приставка с въвеждането на найния [% terms.bug %] номер отдолу:</p>
  <p>[% terms.Bug %] номер: <input name="bugid" size="6" required>
    <button name="action" value="enter" id="action">Нова приставка</button>
  </p>
</form>
[% PROCESS global/footer.html.tmpl %]
