[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # a: attachment object; attachment the user wants to delete.
  # token: string; The token used to identify the session.
  #%]

[% title = BLOCK %]
  Изтриване на приставка [% a.id FILTER html %] на [% terms.bug %] [%+ a.bug_id FILTER html %]
[% END %]

[% PROCESS global/header.html.tmpl
  title = title
  style_urls = ['skins/standard/admin.css']
  doc_section = "using/editing.html#attachments"
%]

<table id="admin_table">
  <tr class="column_header">
    <th>Поле</th>
    <th>Стойност</th>
  </tr>
  <tr>
    <td>Приставка номер</td>
    <td>
      <a href="attachment.cgi?id=[% a.id FILTER html %]">[% a.id FILTER html %]</a>
    </td>
  </tr>
  <tr>
    <td>Име на файл</td>
    <td>[% a.filename FILTER html %]</td>
  </tr>
  <tr>
    <td>Описание</td>
    <td>[% a.description FILTER html %]</td>
  </tr>
  <tr>
    <td>Съдържа се в [% terms.bug %]</td>
    <td>[% a.bug_id FILTER bug_link(a.bug_id) FILTER none %]</td>
  </tr>
  <tr>
    <td>Създател</td>
    <td>[% a.attacher.identity FILTER html %]</td>
  </tr>
  <tr>
    <td>Дата на създаване</td>
    <td>[% a.attached FILTER time %]</td>
  </tr>
</table>

<h2>Потвърждаване</h2>

<p class="confirmation">
  Съдържанието на приставката ще бъде изтрито по <b>необратим</b> начин.
</p>

<p>Наистина ли желаете да изтриете приставката?</p>

<form action="attachment.cgi" method="POST">
  <label for="reason">Причина за изтриването:</label>
  <input type="text" id="reason" name="reason" value="" size="80" maxlength="200">
  <br>
  <input type="submit" value="Да, изтриване" id="delete">
  <input type="hidden" name="action" value="delete">
  <input type="hidden" name="id" value="[% a.id FILTER html %]">
  <input type="hidden" name="token" value="[% token FILTER html %]">
</form>

<p>
  Не, отхвърляне на изтриването и връщане към
  [%+ "$terms.bug " _ a.bug_id FILTER bug_link(a.bug_id) FILTER none %].
</p>

[% PROCESS global/footer.html.tmpl %]
