[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% max_local = Param('maxlocalattachment') * 1024 %]
[% max_limit = Param('maxattachmentsize')> max_local ? Param('maxattachmentsize') : max_local %]
<tr class="attachment_data">
  <th><label for="data">Файл</label>:</th>
  <td>
    <em>Въведете пътя до файла на компютъра ви</em> (или
    <a id="attachment_data_controller" href="javascript:TUI_toggle_class('attachment_text_field');
                                             javascript:TUI_toggle_class('attachment_data')"
    >пуснете текст като приставка
    <input type="file" id="data" name="data" size="50" onchange="DataFieldHandler()">
    <br><em>(Ограничение на размера на файла: [% max_limit FILTER html %] <abbr title="Кило Байти">КБ</abbr>)</em>
  </td>
</tr>
<tr class="attachment_text_field">
  <th><label for="attach_text">Файл</label>:</th>
  <td>
    <em>Пуснете текст който да се добави като приставка</em> (или
    <a id="attachment_text_field_controller" href="javascript:TUI_toggle_class('attachment_text_field');
                                                   javascript:TUI_toggle_class('attachment_data')"
    >прикачете файл</a>).<br>
    <textarea id="attach_text" name="attach_text" cols="80" rows="15"
              onkeyup="TextFieldHandler()" onblur="TextFieldHandler()"></textarea>
  </td>
</tr>
<tr>
  <th><label for="description">Описание</label>:</th>
  <td>
    <em>Опишете приставката кратко.</em><br>
    <input type="text" id="description" name="description" class="required"
           size="60" maxlength="200">
  </td>
</tr>
<tr[% ' class="expert_fields"' UNLESS bug.id %]>
  <th>Тип на съдържанието:</th>
  <td>
    <em>Ако приставката е кръпка, отметнете кутията по-долу.</em><br>
    <input type="checkbox" id="ispatch" name="ispatch" value="1"
           onchange="setContentTypeDisabledState(this.form);">
    <label for="ispatch">patch</label><br><br>
    [%# Reset this whenever the page loads so that the JS state is up to date %]
    <script type="text/javascript">
      YAHOO.util.Event.onDOMReady(function() {
          bz_fireEvent(document.getElementById('ispatch'), 'change');
      });
    </script>

    <em>Иначе, изберете метод за определяне на типа на съдържанието.</em><br>
    <input type="radio" id="autodetect"
           name="contenttypemethod" value="autodetect" checked="checked">
      <label for="autodetect">автоматично откриване</label><br>
    <input type="radio" id="list"
           name="contenttypemethod" value="list">
      <label for="list">избор от списък</label>:
      <select name="contenttypeselection" id="contenttypeselection"
              onchange="this.form.contenttypemethod[1].checked = true;">
        [% PROCESS content_types %]
      </select><br>
    <input type="radio" id="manual"
                 name="contenttypemethod" value="manual">
      <label for="manual">ръчно въвеждане</label>:
      <input type="text" name="contenttypeentry" id="contenttypeentry"
             size="30" maxlength="200"
             onchange="if (this.value) this.form.contenttypemethod[2].checked = true;">
  </td>
</tr>
<tr class="expert_fields">
  <td> </td>
  <td>
    [% IF flag_types && flag_types.size > 0 %]
      [% PROCESS "flag/list.html.tmpl" %]<br>
    [% END %]
  </td>
</tr>

[% BLOCK content_types %]
  [% mimetypes = [{type => "text/plain", desc => "обикновен текст"},
                  {type => "text/html",  desc => "HTML изходен код"},
                  {type => "application/xml", desc => "XML изходен код"},
                  {type => "image/gif",  desc => "GIF изображение"},
                  {type => "image/jpeg", desc => "JPEG изображение"},
                  {type => "image/png",  desc => "PNG изображение"},
                  {type => "application/pdf", desc => "PDF документ"},
                  {type => "application/octet-stream", desc => "двоичен файл"}]
  %]
  [% Hook.process("mimetypes", "attachment/createformcontents.html.tmpl") %]

  [% FOREACH m = mimetypes %]
    <option value="[% m.type FILTER html %]">[% m.desc FILTER html %] ([% m.type FILTER html %])</option>
  [% END %]
[% END %]
