[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Myk Melez <myk@mozilla.org>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  #%]

[% PROCESS global/variables.none.tmpl %]

[%# Define strings that will serve as the title and header of this page %]
[% title = BLOCK %]
  Подробности за приставка [% attachment.id %] към [% terms.Bug %] [%+ attachment.bug_id %]
[% END %]
[% header = BLOCK %]
  Подробности за приставка [% attachment.id %] към
  [%+ "$terms.Bug ${attachment.bug_id}" FILTER bug_link(attachment.bug_id) FILTER none %]
[% END %]
[% subheader = BLOCK %][% attachment.bug.short_desc FILTER html %][% END %]

[% PROCESS global/header.html.tmpl
  title = title
  header = header
  subheader = subheader
  doc_section = "attachments.html"
  javascript_urls = ['js/attachment.js']
  style_urls = ['skins/standard/create_attachment.css']
%]

[%# No need to display the Diff button and iframe if the attachment is not a patch. %]
[% use_patchviewer = (feature_enabled('patch_viewer') && attachment.ispatch) %]
[% can_edit = attachment.validate_can_edit %]
[% editable_or_hide = can_edit ? "" : " bz_hidden_option" %]

<form method="post" action="attachment.cgi" onsubmit="normalizeComments();">
  <input type="hidden" name="id" value="[% attachment.id %]">
  <input type="hidden" name="action" value="update">
  <input type="hidden" name="contenttypemethod" value="manual">
  <input type="hidden" name="delta_ts" value="[% attachment.modification_time FILTER html %]">
  [% IF user.id %]
    <input type="hidden" name="token" value="[% issue_hash_token([attachment.id, attachment.modification_time]) FILTER html %]">
  [% END %]

  <table class="attachment_info" width="100%">

    <tr>
      <td id="attachment_attributes">
        <div id="attachment_description">
          <label for="description">Описание:</label>
          [% INCLUDE global/textarea.html.tmpl
            id             = 'description'
            name           = 'description'
            minrows        = 3
            cols           = 25
            wrap           = 'soft'
            classes        = 'block' _ editable_or_hide
            defaultcontent = attachment.description
          %]
          [% IF !can_edit %]
            [%+ attachment.description FILTER wrap_comment(25) FILTER html %]
          [% END %]
        </div>

        [% IF attachment.isurl %]
            <input type="hidden" name="filename"
                   value="[% attachment.filename FILTER html %]">
            <input type="hidden" name="contenttypeentry"
                   value="[% attachment.contenttype FILTER html %]">
        [% ELSE %]
          <div id="attachment_filename">
            <label for="filename">Име на файл:</label>
            <input type="text" size="20"  class="block[% editable_or_hide %]"
                   id="filename" name="filename"
                   value="[% attachment.filename FILTER html %]">
            [% IF !can_edit %]
              [%+ attachment.filename FILTER truncate(25) FILTER html %]
            [% END %]
          </div>

          <div id="attachment_mimetype">
            <label for="contenttypeentry"><abbr lang="en" title="Multipurpose Internet Mail Extensions">MIME</abbr> Тип:</label>
            <input type="text" size="20" class="block[% editable_or_hide %]"
                   id="contenttypeentry" name="contenttypeentry"
                   value="[% attachment.contenttype FILTER html %]">
            [% IF !can_edit %]
              [%+ attachment.contenttype FILTER truncate(25) FILTER html %]
            [% END %]
          </div>

          <div id="attachment_size">
            <span class="label">Размер:</span>
            [% IF attachment.datasize %]
              [%+ attachment.datasize FILTER unitconvert %]
            [% ELSE %]
              <em>изтрита</em>
            [% END %]
          </div>

          <div id="attachment_creator">
            <span class="label">Създател:</span>
            [%+ INCLUDE global/user.html.tmpl who = attachment.attacher %]
          </div>

          <div id="attachment_ispatch">
            <input type="checkbox" id="ispatch" name="ispatch" value="1"
                   [%+ IF !can_edit %]class="bz_hidden_option"[% END %]
                   [%+ 'checked="checked"' IF attachment.ispatch %]>
            [% IF can_edit %]
              <label for="ispatch">кръпка</label>
            [% ELSE %]
              <span class="label">Е кръпка:</span>
              [%+ attachment.ispatch ? "да" : "не" %]
            [% END %]
          </div>
        [% END %]

        <div id="attachment_isobsolete">
          <input type="checkbox" id="isobsolete" name="isobsolete" value="1"
                 [%+ IF !can_edit %]class="bz_hidden_option"[% END %]
                 [%+ 'checked="checked"' IF attachment.isobsolete %]>
          [% IF can_edit %]
            <label for="isobsolete">остаряла</label>
          [% ELSE %]
            <span class="label">Е остаряла:</span>
            [%+ attachment.isobsolete ? "да" : "не" %]
          [% END %]
        </div>

        [% IF user.is_insider %]
          <div id="attachment_isprivate">
            <input type="checkbox" id="isprivate" name="isprivate" value="1"
                   [%+ IF !can_edit %]class="bz_hidden_option"[% END %]
                   [%+ 'checked="checked"' IF attachment.isprivate %]>
            [% IF can_edit %]
              <label for="isprivate">частна (видима само за
                <strong>[% Param('insidergroup') FILTER html %]</strong>)
              </label>
            [% ELSE %]
              <span class="label">Е частна:</span>
              [%+ attachment.isprivate ? "да" : "не" %]
            [% END %]
          </div>
        [% END %]

        [% IF attachment.flag_types.size > 0 %]
          <div id="attachment_flags">
            [% PROCESS "flag/list.html.tmpl" bug_id = attachment.bug_id
                                             attach_id = attachment.id
                                             flag_types = attachment.flag_types
                                             read_only_flags = !can_edit
            %]
          </div>
        [% END %]

        [% IF user.id %]
          <div id="smallCommentFrame">
            <label for="comment">Коментар (към [% terms.bug %]):</label>
            [% INCLUDE global/textarea.html.tmpl
              id      = 'comment'
              name    = 'comment'
              minrows = 5
              cols    = 25
              wrap    = 'soft'
              classes = 'block'
            %]
          </div>

          <input type="submit" value="Предаване" id="update"><br><br>
        [% END %]
      </td>

      [% IF !attachment.datasize %]
        <td width="75%"><b>Съдържанието на приставката беше изтрито.</b></td>
      [% ELSIF attachment.isurl %]
        <td width="75%">
          <a href="[% attachment.data FILTER html %]">
            [% IF attachment.datasize < 120 %]
              [% attachment.data FILTER html %]
            [% ELSE %]
              [% attachment.data FILTER truncate(80) FILTER html %]
              &nbsp;...
              [% attachment.data.match(".*(.{20})$").0 FILTER html %]
            [% END %]
          </a>
        </td>
      [% ELSIF !Param("allow_attachment_display") %]
        <td id="view_disabled" width="50%">
          <p><b>
            Приставката не е видима в браузъра ви поради ограничения
            свързани със сигурността разрешени от [% terms.Bugzilla %].
          </b></p>
          <p><b>
            За да видите приставката, трябва първо да
            <a href="attachment.cgi?id=[% attachment.id %]">я изтеглите</a>.
          </b></p>
        </td>
      [% ELSIF attachment.is_viewable %]
        <td width="75%">
          [% INCLUDE global/textarea.html.tmpl
            id      = 'editFrame'
            name    = 'comment'
            style   = 'height: 400px; width: 100%; display: none'
            minrows = 10
            cols    = 80
            wrap    = 'soft'
            defaultcontent = (attachment.contenttype.match('^text\/')) ?
                               attachment.data.replace('(.*\n|.+)', '>$1') : undef
          %]
          <iframe id="viewFrame" src="attachment.cgi?id=[% attachment.id %]" style="height: 400px; width: 100%;">
            <b>Не можете да видите приставката докато преглеждате подробностите ѝ, защото браузъра ви не поддържа вградени рамки.
            <a href="attachment.cgi?id=[% attachment.id %]">Преглед на прставката на отделна страница</a>.</b>
          </iframe>
          <script type="text/javascript">
            <!--
            var patchviewerinstalled = 0;
            var attachment_id = [% attachment.id %];
            if (typeof document.getElementById == "function") {
[% IF use_patchviewer %]
              var patchviewerinstalled = 1;
              document.write('<iframe id="viewDiffFrame" style="height: 400px; width: 100%; display: none;"><\/iframe>');
[% END %]
              document.write('<button type="button" id="editButton" onclick="editAsComment(patchviewerinstalled);">Редактиране на приставката като коментар<\/button>');
              document.write('<button type="button" id="undoEditButton" onclick="undoEditAsComment(patchviewerinstalled);" style="display: none;">Отмяна на редакцията като коментар<\/button>');
              document.write('<button type="button" id="redoEditButton" onclick="redoEditAsComment(patchviewerinstalled);" style="display: none;">Връщане на редакацията като коментар<\/button>');
[% IF use_patchviewer %]
              document.write('<button type="button" id="viewDiffButton" onclick="viewDiff(attachment_id, patchviewerinstalled);">Преглед на приставката като разлики<\/button>');
[% END %]
              document.write('<button type="button" id="viewRawButton" onclick="viewRaw(patchviewerinstalled);" style="display: none;">Преглед на необработената приставка<\/button>');
            }
            //-->
          </script>
        </td>
      [% ELSE %]
        <td id="noview" width="50%">
          <p><b>
            Приставката не е видима във вашия браузър, защото нейния <abbr lang="en" title="Multi-purpose Internet Mail Extensions">MIME</abbr> тип
            ([% attachment.contenttype FILTER html %]) не е един от тези, които той
            може да покаже.
          </b></p>
          <p><b>
            <a href="attachment.cgi?id=[% attachment.id %]">Изтегляне на приставката</a>.
          </b></p>
        </td>
      [% END %]
    </tr>
  </table>
</form>

<div id="attachment_actions">
  <span class="label">Действия:</span>
  <a href="attachment.cgi?id=[% attachment.id %]">Преглед</a>
  [% IF use_patchviewer %]
    | <a href="attachment.cgi?id=[% attachment.id %]&amp;action=diff">Сравняване</a>
  [% END %]
  [% IF Param("allow_attachment_deletion")
        && user.in_group('admin')
        && attachment.datasize > 0 %]
    | <a href="attachment.cgi?id=[% attachment.id %]&amp;action=delete">Изтриване</a>
  [% END %]
</div>

<div id="attachment_list">
  Приставки към [% "$terms.bug ${attachment.bug_id}" FILTER bug_link(attachment.bug_id) FILTER none %]:
  [% FOREACH a = attachments %]
    [% IF a == attachment.id %]
      [%+ a %]
    [% ELSE %]
      <a href="attachment.cgi?id=[% a %]&amp;action=edit">[% a %]</a>
    [% END %]
    [% " |" UNLESS loop.last() %]
  [% END %]
</div>

[% Hook.process('end') %]

[% PROCESS global/footer.html.tmpl %]
