[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # operations: array; bug activity since the user last displayed the attachment form,
  #   used by bug/activity/table.html.tmpl to display recent changes that will
  #   be overwritten if the user submits these changes.  See that template
  #   for further documentation.
  # attachment: object; the attachment being changed.
  #%]

[%# The global Bugzilla->cgi object is used to obtain form variable values. %]
[% USE Bugzilla %]
[% cgi = Bugzilla.cgi %]

[% PROCESS global/header.html.tmpl title = "Сблъскване във въздуха!" %]

<h1>Установено сблъскване във въздуха!</h1>

<p>
  Някой друг е направил промени по
  <a href="attachment.cgi?id=[% attachment.id %]&amp;action=edit">приставка [% attachment.id %]</a>
  на [% "$terms.bug $attachment.bug_id" FILTER bug_link(attachment.bug_id) FILTER none %]
  по същото време по което и вие. Направените промени са:
</p>

<p>
  [% PROCESS "bug/activity/table.html.tmpl" incomplete_data=0 %]
</p>

[% IF cgi.param("comment") %]
<p>
  Вашия коментар беше:<br>
  <blockquote><pre class="bz_comment_text">
    [% cgi.param("comment") FILTER html %]
  </pre></blockquote>
</p>
[% END %]

<p>
Имате следните възможности:
</p>

<ul>
  <li>
    <form method="post" action="attachment.cgi">
      [% PROCESS "global/hidden-fields.html.tmpl" exclude="^Bugzilla_(login|password)$" %]
      <input type="submit" id="process" value="Предаване на промените ми въпреки това">
        Това ще предизвика презаписването на всички промени по-горе.
    </form>
  </li>
  <li>
    Отхвърляне на промените ми и
    <a href="attachment.cgi?id=[% attachment.id %]&amp;action=edit">връщане към
    приставка [% attachment.id %]</a>
  </li>
</ul>

[% PROCESS global/footer.html.tmpl %]
