[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]
[%
   title = "Местене на $terms.bug"
   desc = "Задаване на параметри за местене на $terms.bugs към/от друга инсталация"
%]

[% param_descs = {

  "move-to-url" => 
    "Адреса на базата към която разрешавме някои от нашите $terms.bugs да"
    _ " бъдат местени.",

  "move-to-address" => 
    "За местене на ${terms.bugs}, се изпраща поща до целевата база данни."
    _ " Това е пощенския адрес който тази база данни използва, за да слуша"
    _ " за входящи ${terms.bugs}.",

  movers => 
    "Списък на хора с разрешение да местят $terms.bugs ",

} %]
