[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #%]

[% PROCESS global/variables.none.tmpl %]

[% IF bug_list && bug_list.size > 0 %]
  [% this_bug_idx = lsearch(bug_list, bug.bug_id) %]
  <b>[% terms.Bug %] списък:</b>
  [% IF this_bug_idx != -1 %]
    ([% this_bug_idx + 1 %] от [% bug_list.size %])
  [% END %]

[% IF this_bug_idx != -1 %]
  <a href="show_bug.cgi?id=[% bug_list.first %]">Първи</a>
  <a href="show_bug.cgi?id=[% bug_list.last %]">Последен</a>
[% END %]

  [% IF bug.bug_id %]
    [% IF this_bug_idx != -1 %]
      [% IF this_bug_idx > 0 %]
        [% prev_bug = this_bug_idx - 1 %]
        <a href="show_bug.cgi?id=[% bug_list.$prev_bug %]">Предходен</a>
      [% ELSE %]
        <i><font color="#777777">Предходен</font></i>
      [% END %]

      [% IF this_bug_idx + 1 < bug_list.size %]
        [% next_bug = this_bug_idx + 1 %]
        <a href="show_bug.cgi?id=[% bug_list.$next_bug %]">Следващ</a>
      [% ELSE %]
        <i><font color="#777777">Следващ</font></i>
      [% END %]
    [% ELSE %]
      (Този [% terms.bug %] не е в последните ви резултати от търсене)
    [% END %]
  [% ELSE %]
    &nbsp;&nbsp;
  [% END %]

  &nbsp;&nbsp;<a href="buglist.cgi?regetlastlist=1">Показване на последните резултати от търсене</a>
[% ELSE %]
  [%# Either !bug_list || bug_list.size <= 0 %]
  [%# With no list, don't show link to search results %]
  <i><font color="#777777">Първи</font></i>
  <i><font color="#777777">Последен</font></i>
  <i><font color="#777777">Предходен</font></i>
  <i><font color="#777777">Следващ</font></i>
  &nbsp;&nbsp;
  <i><font color="#777777">Не са налични резултати от търсене</font></i>
[% END %]
